/*************************************************************************/
/* ClinicalTrialSearchString_structure.css                               */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/
@import "CdrCommonSchema_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*    { white-space: nowrap;
       text-align: left;
       margin-left: 10px;
       margin-top: 0px;
       margin-bottom: 0px;
       font-family: Arial, sans-serif;
       font-size: 10pt; 
       font-style: normal;
       font-weight: bold;
       color: black; }

/* top-level elements */

$DOCUMENT > * 
     { margin-left: 0px;  }

$PROCINS 
     { color: white;
       font-weight: normal;
       background-color: white;}


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
ClinicalTrialSearchString,
     { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */

ClinicalTrialSearchString :before { content: "ClinicalTrialSearchString "; }
Description               :before { content: "Description "; }
EnteredBy                 :before { content: "Entered By "; }
EntryDate                 :before { content: "Entry Date "; }
SearchString              :before { content: "Search String "; }
Use                       :before { content: "Use "; }


/***************************************************************************/
/*                         BORDER CONTROL                                  */
/***************************************************************************/

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
ClinicalTrialSearchString:before,
Description         :before,
EnteredBy           :before,
EntryDate           :before,
SearchString        :before,
Use                 :before,
     { color: black; 
       background-color: white; }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */

ClinicalTrialSearchString,
CdrDocCtl,
DocId,
Description,
EnteredBy,
EntryDate,
SearchString,
Use
     { text-indent: 0pt; }


/***************************************************************************/
/*                              HIDE TEXT                                  */
/***************************************************************************/
ClinicalTrialSearchString,
CdrDocCtl,
DocId,
Description,
EnteredBy,
EntryDate,
SearchString,
Use,
     { color: white;
       background-color: white; }
