/*************************************************************************/
/*                                                                       */
/*     CommonProtocolInfo_structure.css                                  */
/*                                                                       */
/*     v. 2.3                                                            */
/*     3/19/02  by ebator                                                */
/*     Changed "sans serif" to sans-serif                                */
/*                                                                       */
/*     v. 2.2                                                            */
/*     02/22/02  by ebator                                               */
/*     Syntax in Default Properties modified to work with XMetaL 3       */
/*                                                                       */
/*     v. 2.1                                                            */
/*     1/7/02   by ebator                                                */
/*     Schema changes from 12/21/01 added                                */
/*                                                                       */
/*     v. 2.0                                                            */
/*     12/11/01  by ebator                                               */
/*     CdrCommonSchema_structure.css imported in doc-specific css        */
/*                                                                       */
/*     v. 1.0                                                            */
/*     12/05/01  by ebator                                               */
/*     Based on the 11/13/01 CommonProtocolInfo schema                   */
/*     Imports the CdrCommonSchema_structure.css elements                */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*  { white-space: nowrap;
     text-align: left;
     margin-left: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
     font-family: Arial, sans-serif;
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: black; }

/* top-level elements */

$DOCUMENT > *

     { margin-left: 0px;  }

$PROCINS

     { color: white;
       font-weight: normal;
       background-color: white;}

OutOfScopeProtocol,

     { background-color: white; }



/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
AgeText,
AmendmentDate,
AmendmentID,
AmendmentSource,
AmendmentStatus,
ArmOrGroup,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupLink,
ArmOrGroupType,
ArmsOrGroups,
ChangeType,
Citation,
CitationSource,
Comment,
ProtocolProcessingDetails>Comment, 
Condition,
DateCompleted,
DatedAction,
DateReceived,
Diagnosis,
DiseaseCharacteristics,
DosageForm,
DoseSchedule,
Eligibility,
EligibilityText,
EndDateTime,
EndPoints,
EnteredBy,
EntryDate,
EntryCriteria,
ExclusionCriteria,
ExpectedEnrollment,
GeneralEligibilityCriteria,
Gender,
Gene,
HealthyVolunteers,
HighAge,
IDType,
IDString,
InScopeDocID,
Intervention,
InterventionDescription,
InterventionNameLink,
InterventionType,
LowAge,
Objectives,
OtherID,
Outcome,
Outline,
Patient,
PatientCharacteristics,
PrimaryID,
PriorConcurrentTherapy,
ProcessingDate,
ProcessingStatus,
Professional,
ProtocolAmendment,
ProtocolAmendmentInformation,
ProjectedAccrual,
ProtocolAbstract,
ProtocolDesign,
ProtocolDetail,
ProtocolIDs,
ProtocolPhase,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
ProtocolTitle,
PublishedResults,
Purpose,
Rationale,
RelatedCitation,
RelatedProtocols,
RelatedPublications,
RelatedWebsites,
SourceWebsite,
SpecialStudyParameters,
StartDateTime,
Stratification,
StudyFocus,
StudyCategoryName,
StudyCategoryType,
StudyCategory,
StudyType,
TitleType,
TreatmentIntervention,
User,
   { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
AgeText                   :before { content: "Age Criteria (Text) "; }
AmendmentID               :before { content: "Amendment ID ";  }
AmendmentDate             :before { content: "Amendment Date ";  }
AmendmentSource           :before { content: "Source "; }
AmendmentStatus           :before { content: "Amendment Status "; }
ArmOrGroup                :before { content: "Arm or Group"; }
ArmOrGroupDescription     :before { content: "Description"; }
ArmOrGroupLabel           :before { content: "Label"; }
ArmOrGroupLink            :before { content: "Arm or Group Label"; }
ArmOrGroupType            :before { content: "Type"; }
ArmsOrGroups              :before { content: "ARMS OR GROUPS"; }
ChangeType                :before { content: "Change Type ";  }
Citation                  :before { content: "Published Citation ";  }
CitationSource            :before { content: "Citation Source";  }
Comment                   :before { content: "Comments "; }
ProtocolProcessingDetails>Comment
                          :before { content: "Comments "; }
Condition                 :before { content: "Condition ";  }
DateCompleted             :before { content: "Date Completed ";  }
DatedAction               :before { content: "DATED ACTION "; }
DateReceived              :before { content: "Date Received "; }
Diagnosis                 :before { content: "Diagnosis "; }
DiseaseCharacteristics    :before { content: "Disease Characteristics "; }
DosageForm                :before { content: "Dosage Form "; }
DoseSchedule              :before { content: "Dose Schedule";  }
Eligibility               :before { content: "ELIGIBILITY CRITERIA"; }
EligibilityText           :before { content: "Eligibility "; }
EndDateTime               :before { content: "End Date";  }
EndPoints                 :before { content: "End Points ";  }
EnteredBy                 :before { content: "Entered By "; }
EntryDate                 :before { content: "Entry Date "; }
EntryCriteria             :before { content: "Entry Criteria "; }
ExclusionCriteria         :before { content: "Exclusion Criteria "; }
ExpectedEnrollment        :before { content: "Expected Enrollment "; }
Gender                    :before { content: "Gender ";  }
Gene                      :before { content: "Gene ";  }
GeneralEligibilityCriteria:before { content: "General Eligibility Criteria "; }
HealthyVolunteers         :before { content: "Healthy Volunteers? "; }
HighAge                   :before { content: "Upper Age Limit "; }
IDString                  :before { content: "ID Number "; }
IDType                    :before { content: "Other ID Type "; }
InScopeDocID              :before { content: "InScopeDoc ID "; }
Intervention              :before { content: "INTERVENTION "; }
InterventionDescription   :before { content: "Intervention Description"; }
InterventionNameLink      :before { content: "Intervention Name "; }
InterventionType          :before { content: "Intervention Type "; }
LowAge                    :before { content: "Lower Age Limit "; }
Objectives                :before { content: "Objectives "; }
OtherID                   :before { content: "OTHER ID"; }
Outcome                   :before { content: "Outcome "; }
Outline                   :before { content: "Outline "; }
MissingRequiredInformation
                          :before { content: "MISSING REQUIRED INFORMATION"; }
MissingInformation        :before { content: "Missing Info"; }
Patient                   :before { content: "PATIENT ABSTRACT"; }
PatientCharacteristics    :before { content: "Patient Characteristics "; }
PrimaryID                 :before { content: "PRIMARY ID "; }
PrimaryID > IDString      :before { content: "ID Number "; }
PrimaryID > Comment       :before { content: "Comments ";  }
PriorConcurrentTherapy    :before { content: "Prior Concurrent Therapy "; }
ProcessingDate            :before { content: "Processing Date"; }
ProcessingStatus          :before { content: "Processing Status"; }
ProcessingStatuses        :before { content: "STATUSES"; }
ProcessingStatusInfo      :before { content: "STATUS INFO"; }
Professional              :before { content: "PROFESSIONAL ABSTRACT"; }
ProjectedAccrual          :before { content: "Projected Accrual "; }
ProtocolAbstract          :before { content: "Protocol Abstracts "; }
ProtocolAmendment         :before { content: "Amendment "; }
ProtocolAmendmentInformation
                          :before { content: "PROTOCOL AMENDMENTS"; }
ProtocolDesign            :before { content: "Protocol Design "; }
ProtocolDetail            :before { content: "PROTOCOL DETAILS"; }
ProtocolIDs               :before { content: "PROTOCOL IDS "; }
ProtocolPhase             :before { content: "Protocol Phase "; }
ProtocolProcessingDetails :before { content: "PROTOCOL PROCESSING DETAILS "; }
ProtocolRelatedLinks      :before { content: "PROTOCOL RELATED LINKS "; }
ProtocolTitle[Type="Original"]
                          :before { content: "ORIGINAL TITLE "; }
ProtocolTitle[Type="Professional"]
                          :before { content: "PROFESSIONAL TITLE"; }
ProtocolTitle[Type="Patient"]
                          :before { content: "PATIENT TITLE "; }
ProtocolTitle             :before { content: "PROTOCOL TITLE"; }
PublishedResults          :before { content: "PUBLISHED RESULTS ";}
Purpose                   :before { content: "Purpose "; }
Rationale                 :before { content: "Rationale "; }
RelatedCitation           :before { content: "Related Citation ";  }
RelatedDocuments          :before { content: "RELATED DOCUMENTS"; }
RelatedProtocols          :before { content: "Related Protocols ";  }
RelatedPublications       :before { content: "RELATED PUBLICATIONS "; }
RelatedWebsites           :before { content: "Related Websites ";   }
SourceWebsite             :before { content: "Source Website "; }
SpecialStudyParameters    :before { content: "Special Study Parameters "; }
StartDateTime             :before { content: "Start Date";  }
Stratification            :before { content: "Stratification ";  }
StudyFocus                :before { content: "Study Focus ";  }
StudyCategory             :before { content: "STUDY CATEGORY "; }
StudyCategoryName         :before { content: "Study Category Name "; }
StudyCategoryType         :before { content: "Study Category Type "; }
StudyType                 :before { content: "Study Type "; }
SupplementaryInfoLink     :before { content: "Supplementary Info Link"; }
TitleType                 :before { content: "Title Type "; }
TreatmentIntervention     :before { content: "Treatment Intervention "; }
User                      :before { content: "User Name"; }


/***************************************************************************/
/*                  TAG PROPERTIES FOR SECTION HEADINGS                    */
/***************************************************************************/
DatedAction                       :before,
Eligibility                       :before,
Intervention                      :before,
OtherID                           :before,
Patient                           :before,
PrimaryID                         :before,
Professional                      :before,
ProtocolAbstract                  :before,
ProtocolAmendment                 :before,
ProtocolAmendmentInformation      :before,
ProtocolDetail                    :before,
ProtocolIDs                       :before,
ProtocolIDString                  :before,
ProtocolProcessingDetails         :before,
ProtocolRelatedLinks              :before,
ProtocolSpecialCategory           :before,
PublishedResults                  :before,
RelatedPublications               :before,
StudyCategory                     :before,
TitleType                         :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
ActionDate                        :before,
ActionDescription                 :before,
AgeText                           :before,
AmendmentDate                     :before,
AmendmentID                       :before,
AmendmentSource                   :before,
AmendmentStatus                   :before,
Comment                           :before,
ProtocolProcessingDetails>Comment :before,
DateCompleted                     :before,
DateReceived                      :before,
DiseaseCharacteristics            :before,
DosageForm                        :before,
DoseSchedule                      :before,
EligibilityText                   :before,
EndDateTime                       :before,
EndPoints                         :before,
EnteredBy                         :before,
EntryDate                         :before,
EntryCriteria                     :before,
Gender                            :before,
GeneralEligibilityCriteria        :before,
HighAge                           :before,
IDString                          :before,
LowAge                            :before,
Objectives                        :before,
Outcome                           :before,
Outline                           :before,
PatientCharacteristics            :before,
PrimaryID > IDString              :before,
PriorConcurrentTherapy            :before,
ProcessingDate                    :before,
ProjectedAccrual                  :before,
ProtocolTitle                     :before,
Purpose                           :before,
Rationale                         :before,
RelatedWebsites                   :before,
SpecialStudyParameters            :before,
StartDateTime                     :before,
Stratification                    :before,
StudyCategoryName                 :before,
StudyFocus                        :before,
TreatmentIntervention             :before,
User                              :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
ChangeType                        :before,
Citation                          :before,
CitationSource                    :before,
Condition                         :before,
DatedAction                       :before,
Diagnosis                         :before,
ExclusionCriteria                 :before,
ExpectedEnrollment                :before,
Gene                              :before,
HealthyVolunteers                 :before,
IDType                            :before,
InScopeDocID                      :before,
InterventionNameLink              :before,
InterventionType                  :before,
ProtocolDesign                    :before,
ProtocolPhase                     :before,
ProcessingStatus                  :before,
PublishedResults                  :before,
RelatedCitation                   :before,
RelatedProtocols                  :before,
RelatedPublications               :before,
SourceWebsite                     :before,
SpecialCategory                   :before,
StudyCategoryType                 :before,
StudyCategoryName                 :before,
StudyType                         :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                           BORDER CONTROL                                */
/***************************************************************************/
Eligibility,
Professional,
ProtocolAbstract>Patient,
ProtocolAbstract>Professional,
ProtocolAmendmentInformation,
ProtocolDetail,
ProtocolIDs,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
ProtocolSpecialCategory,
PublishedResults,
RelatedDocuments,
RelatedPublications,
ProtocolTitle,
   { border: none;  }


/***************************************************************************/
/*                             HIDE TEXT                                   */
/***************************************************************************/
ActionDate,
ActionDescription,
AgeText,
AmendmentDate,
AmendmentID,
AmendmentSource,
AmendmentStatus,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupLink,
ArmOrGroupType,
ChangeType,
Citation,
CitationSource,
Comment,
ProtocolProcessingDetails>Comment, 
Condition,
DateCompleted,
DateReceived,
Diagnosis,
DiseaseCharacteristics,
DosageForm,
Dose,
Eligibility,
EligibilityText,
EndDateTime,
EndPoints,
EnteredBy,
EntryDate,
EntryCriteria,
ExclusionCriteria,
ExpectedEnrollment,
Gender,
Gene,
GeneralEligibilityCriteria,
HealthyVolunteers,
HighAge,
IDString,
IDType,
InScopeDocID,
Intervention,
InterventionDescription,
InterventionNameLink,
InterventionType,
LowAge,
Objectives,
OtherID,
Outcome,
Outline,
Patient,
PatientCharacteristics,
PrimaryID,
PriorConcurrentTherapy,
ProcessingDate,
ProcessingStatus,
Professional,
ProtocolAbstract,
ProtocolAmendmentInformation,
ProtocolDesign,
ProtocolDetail,
ProtocolIDs,
ProtocolPhase,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
ProtocolTitle,
PublishedResults,
Purpose,
Rationale,
RelatedCitation,
RelatedProtocols,
RelatedWebsites,
RelatedPublications,
SourceWebsite,
SpecialStudyParameters,
StartDateTime,
Stratification,
StudyFocus,
StudyCategoryName,
StudyCategoryType,
StudyCategory,
StudyType,
TitleType,
TreatmentIntervention,
User,
   {  color: white;
      background-color: white;  }


/* Blue = Administrative Information                                       */

ArmOrGroupDescription             :before,
ArmOrGroupLabel                   :before,
ArmOrGroupLink                    :before,
ArmOrGroupType                    :before,
ProtocolProcessingDetails>Comment :before,
DatedAction,
ProcessingDate                    :before,
ProcessingStatus                  :before,
ProtocolProcessingDetails,
     { background-color: white; }

/* Green = Scientific Information                                        */

ActionDate                        :before,
ActionDescription                 :before,
AgeText                           :before,
AmendmentDate                     :before,
AmendmentID                       :before,
AmendmentSource                   :before,
AmendmentStatus                   :before,
ChangeType                        :before,
Citation                          :before,
CitationSource                    :before,
Eligibility>Comment               :before,
Patient>Comment                   :before,
Professional>Comment              :before,
ProcessingStatusInfo>Comment      :before,
ProtocolAmendment>Comment         :before,
ProtocolAmendmentInformation>DatedAction>Comment:before,
ProtocolDetail>StudyCategory>Comment:before,
ProtocolIDs>OtherID>Comment       :before,
ProtocolIDs>PrimaryID>Comment     :before,
ProtocolProcessingDetails>Comment :before,
ProtocolRelatedLinks>Comment      :before,
PublishedResults>Comment          :before,
RelatedPublications>Comment       :before,
Condition                         :before,
DatedAction,
ProtocolAmendment>DateCompleted   :before,
ProtocolAmendment>DateReceived    :before,
CurrentProtocolStatus             :before,
Diagnosis                         :before,
DiseaseCharacteristics,
DocId                             :before,
DocTitle                          :before,
DosageForm                        :before,
DoseSchedule                      :before,
Eligibility,
EligibilityText,
EndDateTime                       :before,
EndPoints,
Enteredby                         :before,
EntryDate                         :before,
EntryCriteria,
ExclusionCriteria                 :before,
Form,
Gender                            :before,
Gene                              :before,
GeneralEligibilityCriteria,
HealthyVolunteers                 :before,
HighAge                           :before,
IDString                          :before,
IDType                            :before,
Intervention,
InterventionDescription           :before,
InterventionType                  :before,
InterventionNameLink              :before,
LowAge                            :before,
MissingInformation                :before,
Objectives,
Outcome                           :before,
Outline,
ProtocolAbstract,
ProtocolAbstract>Patient,
PatientCharacteristics,
PriorConcurrentTherapy,
ProcessingDate                    :before,
ProcessingStatus                  :before,
ProjectedAccrual,
ProtocolAbstract>Professional,
ProtocolAmendment,
ProtocolAmendmentInformation,
ProtocolDetail,
ProtocolIDs,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
ProtocolRelatedLinks              :before,
ProtocolSpecificContact,
ProtocolSpecificContact           :before,
PublishedResults,
PublishedResults                  :before,
Purpose,
Rationale,
RelatedCitation                   :before,
RelatedDocuments,
RelatedProtocols                  :before,
RelatedPublications,
RelatedPublications               :before,
RelatedWebsites                   :before,
SourceWebsite                     :before,
SpecialStudyParameters            :before,
StartDate                         :before,
StartDateTime                     :before,
Stratification,
StudyCategory,
StudyCategoryName                 :before,
StudyCategoryType                 :before,
StudyFocus                        :before,
StudyType                         :before,
SupplementaryInfoLink             :before,
TreatmentIntervention,
ProtocolIDs                       :before,
TitleType                         :before,
User                              :before,
     { background-color: white; }



/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */

ActionDate,
ActionDescription,
AgeText,
AmendmentID,
AmendmentDate,
AmendmentSource,
AmendmentStatus,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupLink,
ArmOrGroupType,
ChangeType,
Citation,
CitationSource,
ProtocolProcessingDetails>Comment,  
ProcessingStatusInfo>Comment,
DatedAction>Comment,
Eligibility>Comment,
ProtocolAmendment>Comment,
ProtocolDetail>StudyCategory>Comment,
ProtocolIDs>OtherID>Comment,
ProtocolIDs>PrimaryID>Comment,
ProtocolRelatedLinks>Comment,
ProtocolSpecialCategory>Comment,
PublishedResults>Comment,
RelatedPublications>Comment,
Condition,
Date,
ProtocolAmendmentInformation>DatedAction>ActionDescription,
ProtocolAmendmentInformation>DatedAction>ActionDate,
ProtocolAmendmentInformation>DatedAction>Commment,
ProtocolAmendment>DateCompleted,
DateLastModified,
ProtocolAmendment>DateReceived,
Diagnosis,
DocId,
DocTitle,
DoseSchedule,
EndDateTime,
EnteredBy,
EntryDate,
ExclusionCriteria,
ExpectedEnrollment,
Gender,
Gene,
HealthyVolunteers,
HighAge,
IDString,
IDType,     
InScopeDocID,
InterventionDescription,
InterventionNameLink,
InterventionType,
LowAge,
MissingInformation,
PdqKey,
ProcessingDate,
ProcessingStatus,
ProtocolAmendment,
ProtocolDesign,
ProtocolPhase,
RelatedCitation,
RelatedProtocols,
RelatedWebsites,
SourceWebsite,
SpecialCategory,
StartDateTime,
StudyCategoryType,
StudyCategoryName,
StudyFocus,
StudyType,
SupplementaryInfoLink,
TitleType,
User,
     { text-indent: 0pt; }


