/*************************************************************************/
/* Style sheets for new document type for ClinicalTrials.gov documents.  */
/*************************************************************************/

/*************************************************************************/ 
/*                     DEFAULT PROPERTIES                                */ 
/*************************************************************************/ 
  
@import "CdrCommonSchema.css";
@import "CommonProtocolInfo.css";

$DOCUMENT
  {  font-family: Arial, sans-serif;       
     font-size: 12pt;
     margin-top: 5px;
     margin-left: 5px;  
     color: black;        }

$COMMENT 
  {  display: block;
     color: purple;
     white-space: pre;  }

$PROCINS 
  {  color: blue;
     background-color: white;  }
/*
*/

/*************************************************************************/
/*                           BLOCK ELEMENTS                              */
/*************************************************************************/
Affiliation,
AgeText,
ArmOrGroup,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType
ArmsOrGroups,
BiospecDescription,
BiospecRetention,
BriefSummary,
BriefTitle,
City,
Comment,
Collaborator,
Condition,
Contact,
ContactBackup,
Country,
CTAcronym,
CTAuthority,
CTCitation,
CTCondition,
CTCriteria,
CTEligibility,
CTEnrollment,
CTExpectedEnrollment,
CTGender,
CTGovIndexing,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
CTGovOwnershipTransferInfo,
CTGovOwnerOrganization,
CTGovProtocol,
CTIntervention,
CTInterventionDescription,
CTInterventionName,
CTInterventionOtherName,
CTInterventionType,
CTKeyword,
CTMaximumAge,
CTMinimumAge,
CTNumberOfArms,
CTNumberOfGroups,
CTOutcome,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTOutcomes,
CTOversightInfo,
CTReference,
CTResultsReference,
CTRPContact,
CTRPFacility,
CTRPLocation,
CTRPInfo,
CTRPInvestigator,
CTRPOrgName,
CTRPOverallOfficial,
CTRPStatus,
CTSamplingMethod,
CTSource,
CTStudyDesign,
CTStudyPop,
CTStudyType,
Date,
DetailedDescription,
Diagnosis,
DownloadDate,
Eligibility,
Email,
EndDate,
EnteredBy,
EntryDate,
ExclusionCriteria,
Facility,
FirstReceivedDate,
FundingInfo,
Gene,
GivenName,
GrantContractNo,
HasDMC,
HealthyVolunteers,
HighAge,
IDInfo,
IDType,
Intervention,
InterventionNameLink,
InterventionType,
Investigator,
ItemizedList,
LastChangedDate,
LeadSponsor,
LinkText,
/* ListItem, */
Location,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
Name,
NIHGrantContract,
NIHGrantContractType,
OfficialTitle,
OrgStudyID,
OtherGrantContractInfo,
OtherID,
OverallContact,
OverallContactBackup,
OverallOfficial,
OverallStatus,
PDQAdminInfo,
PDQIndexing,
PDQOrganization,
PDQPerson,
PDQProtocolIDs,
PDQSponsorship,
Para,
Phase,
Phone,
PhoneExt,
PMID,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
PrimaryCompletionDate,
PrimaryID,
ProcessingEndDateTime,
ProcessingStartDateTime,
ProfessionalSuffix,
ProtocolDesign,
ProtocolRelatedLinks,
ProtocolSpecialCategory,
PRSUserName,
ReasonStopped,
RelatedWebsites,
RequiredHeader,
Role,
SecondaryID,
SpecialCategory,
Sponsors,
StartDate,
Status,
StudyCategory,
StudyCategoryName,
StudyCategoryType,
StudyType,
Surname,
URL,
VerificationDate
    { display: block; }


/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

ArmOrGroup                        :before { content: "ARM OR GROUP & +"; }
ArmOrGroupDescription             :before { content: "Description &: "; }
ArmOrGroupLabel                   :before { content: "Label & +: "; }
ArmOrGroupType                    :before { content: "Type *: "; }
ArmsOrGroups                      :before { content: "ARMS OR GROUPS & @"; }
BiospecDescription                :before { content: "Biospec Description &: "; }
BiospecRetention                  :before { content: "Biospec Retention &: "; }
BriefTitle                        :before { content: "BRIEF TITLE *: \A"; }
Collaborator                      :before { content: "Collaborator & + @: "; }
PDQEligibility>Comment            :before { content: "Comments &: "; }
CTAcronym                         :before { content: "CT Acronym & +: "; }
CTAuthority                       :before { content: "CT Authority & +: "; }
CTCitation                        :before { content: "CT Citation &: "; }
CTCriteria                        :before { content: "CRITERIA *"; }
CTEnrollment                      :before { content: "CT Enrollment & @: "; }
CTGovOwnershipTransferContactLog  :before { content: "CTGOV TRANSFER CONTACT LOG &"; }
CTGovOwnershipTransferContactResponse
                                  :before { content: "Contact Response *: "; }
CTGovOwnershipTransferDate        :before { content: "Transfer Date *: "; }
CTGovOwnershipTransferInfo        :before { content: "CTGOV TRANSFER INFO &"; }
CTGovOwnerOrganization            :before { content: "Owner Organization *:"; }
Date                              :before { content: "Date *: "; }
CTOversightInfo                   :before { content: "CT OVERSIGHT INFO &"; }
CTNumberOfGroups                  :before { content: "CT No. of Groups &: "; }
CTNumberOfArms                    :before { content: "CT No. of Arms &: "; }
CTOutcome                         :before { content: "CT OUTCOME * + @"; }
CTOutcomeMeasure                  :before { content: "Measure *: "; }
CTOutcomeTimeFrame                :before { content: "Time Frame &: "; }
CTOutcomes                        :before { content: "CT OUTCOMES &"; }
CTOutcomeSafetyIssue              :before { content: "Safety Issue &: "; }
CTReference                       :before { content: "REFERENCE & +: "; }
CTResultsReference                :before { content: "RESULTS REFERENCE & +: "; }
CTRPContact                       :before { content: "CONTACT &"; }
CTRPFacility                      :before { content: "FACILITY * @ "; }
CTRPLocation                      :before { content: "CTRP LOCATION & +"; }
CTRPInfo                          :before { content: "CTRP INFO &"; }
CTRPInvestigator                  :before { content: "INVESTIGATOR & +"; }
CTRPOrgName                       :before { content: "Org Name *: "; }
CTRPOverallOfficial               :before { content: "OVERALL OFFICIAL *"; }
CTRPStatus                        :before { content: "Status *: "; }
CTSamplingMethod                  :before { content: "Sampling Method &: "; }
CTSource                          :before { content: "CT Source &: "; }
CTStudyPop                        :before { content: "STUDY POP &"; }
CTStudyType                       :before { content: "CT Study Type &: "; }
DownloadDate                      :before { content: "Download Date *: "; }
FirstReceivedDate                 :before { content: "First Received Date &: "; }
FundingInfo                       :before { content: "FUNDING INFO &"; }
GivenName                         :before { content: "Given Name: "; }
GrantContractNo                   :before { content: "Contract No *: "; }
HasDMC                            :before { content: "Has DMC &: "; }
IDInfo                            :before { content: "ID INFORMATION * "; }
LeadSponsor                       :before { content: "Lead Sponsor & @: "; }
LinkText                          :before { content: "Link Text *: "; }
MiddleInitial                     :before { content: "Middle Initial: "; }
NCT_Alias                         :before { content: "NCT_Alias & +: "; }
NCTID                             :before { content: "NCTID *: "; }
NIHGrantContract                  :before { content: "NIH GRANT CONTRACT &"; }
NIHGrantContractType              :before { content: "Contract Type *:"; }
OrgStudyID                        :before { content: "Org Study ID *: "; }
OtherGrantContractInfo            :before { content: "OTHER CONTRACT INFO & +: "; }
OverallContact                    :before { content: "OVERALL CONTACT &"; }
OverallOfficial                   :before { content: "OVERALL OFFICIAL & +"; }
OverallContactBackup              :before { content: "OV. CONT. BACKUP &"; }
PDQAdminInfo                      :before { content: "PDQ ADMIN INFO &"; }
PDQOrganization                   :before { content: "PDQ Org * @: "; }
PDQProtocolIDs IDType             :before { content: "ID Type *: "; }
PDQProtocolIDs IDString           :before { content: "ID *: "; }
PDQSponsorship                    :before { content: "PDQ Sponsorship &: "; }
PDQIndexing                       :before { content: "PDQ INDEXING * "; }
PDQPerson                         :before { content: "PDQ Person & @: "; }
PDQProtocolIDs                    :before { content: "PROTOCOL IDS &"; }
PMID                              :before { content: "PMID &: "; }
ProcessingEndDateTime             :before { content: "End Date &: "; }
ProcessingStartDateTime           :before { content: "Start Date &: "; }
PrimaryCompletionDate             :before { content: "Primary Compl. Date &: "; }
ProtocolRelatedLinks              :before { content: "PROTOCOL RELATED LINKS &"; }
ProtocolSpecialCategory           :before { content: "PROTOCOL SPECIAL CATEGORY &"; }
PRSUserName                       :before { content: "PRS User Name *:"; }
ReasonStopped                     :before { content: "Reason Stopped &: "; }
RelatedWebsites                   :before { content: "Related Website * + @: "; }
SecondaryID                       :before { content: "Secondary ID & +: "; }
SpecialCategory                   :before { content: "Special Category *: "; }
Sponsors                          :before { content: "SPONSORS *"; }
Surname                           :before { content: "Surname &: "; }
URL                               :before { content: "URL *: "; }
OfficialTitle                     :before { content: "OFFICIAL TITLE &: \A"; }
RequiredHeader                    :before { content: "REQUIRED HEADER * "; }


ProfessionalSuffix                :before { content: "Professional Suffix &: "; }
PhoneExt                          :before { content: "Phone Extension &: "; }

OverallStatus                     :before { content: "Overall Status *: "; }
StartDate                         :before { content: "Start Date &: "; }
EndDate                           :before { content: "End Date &: "; }
Phase                             :before { content: "Phase * +: "; }

Location                          :before { content: "LOCATION * +"; }
Facility>Name                     :before { content: "Facility Name & @: "; }
PostalAddress                     :before { content: "ADDRESS *"; }
City                              :before { content: "City &: "; }
PoliticalSubUnit_State            :before { content: "Pol Unit/St @: "; }
Country                           :before { content: "Country &: "; }
PostalCode_ZIP                    :before { content: "Postal Code &: "; }
Status                            :before { content: "Status *: "; }

BriefSummary                      :before { content: "BRIEF SUMMARY *"; }
DetailedDescription               :before { content: "DETAILED DESCRIPTION &"; }

CTGovIndexing                     :before { content: "CTGOV INDEXING &"; }
CTStudyDesign                     :before { content: "Study Design &: "; }
CTCondition                       :before { content: "Condition & +: "; }
CTIntervention                    :before { content: "INTERVENTION & +"; }
CTInterventionType                :before { content: "Type *: "; }
CTInterventionName                :before { content: "Name *: "; }
CTInterventionOtherName           :before { content: "Other Name & +: "; }
CTInterventionDescription         :before { content: "Description &: "; }
CTKeyword                         :before { content: "Keyword & +: "; }

CTEligibility                     :before { content: "CTGOV ELIGIBILITY &"; }
CTExpectedEnrollment              :before { content: "Expected Enrollment &: "; }
CTGender                          :before { content: "Gender &: "; }
CTMinimumAge                      :before { content: "Minimum Age &: "; }
CTMaximumAge                      :before { content: "Maximum Age &: "; }

Contact                           :before { content: "CONTACT & + @"; }
ContactBackup                     :before { content: "CONTACT BACKUP & @"; }
Investigator                      :before { content: "INVESTIGATOR & + @"; }
Affiliation                       :before { content: "Affiliation &: "; }
Role                              :before { content: "Role &: "; }
StudyType                         :before { content: "Study Type *: "; }
StudyCategory                     :before { content: "STUDY CATEGORY * +"; }
StudyCategoryType                 :before { content: "Study Category Type *: "; }
StudyCategoryName                 :before { content: "Study Category Name *: "; }
Intervention                      :before { content: "INTERVENTION & +"; }
InterventionType                  :before { content: "Intervention Type * @: "; }
InterventionNameLink              :before { content: "Intervention Name & + @: "; }
ProtocolDesign                    :before { content: "Protocol Design & +: "; }
Condition                         :before { content: "Condition & + @: "; }
Gene                              :before { content: "Gene & + @: "; }
Eligibility                       :before { content: "ELIGIBILITY CRITERIA * "; }
HealthyVolunteers                 :before { content: "Healthy Volunteers? &: "; }
LowAge                            :before { content: "Low Age *: "; }
HighAge                           :before { content: "High Age *: "; }
AgeText                           :before { content: "Age Criteria (Text) *: "; }
Diagnosis                         :before { content: "Diagnosis & + @: "; }
ExclusionCriteria                 :before { content: "Exclusion Criteria & + @: "; }
EnteredBy                         :before { content: "Entered By *: "; }
ProtocolProcessingDetails > EnteredBy                         
                                  :before { content: "Entered By &: "; }
EntryDate                         :before { content: "Entry Date *: "; }
VerificationDate                  :before { content: "Verification Date *: "; }
LastChangedDate                   :before { content: "Last Changed Date &: "; }

/***************************************************************************/ 
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */ 
/***************************************************************************/ 
Affiliation                       :before,
AgeText                           :before,
ArmOrGroup                        :before,
ArmOrGroupDescription             :before,
ArmOrGroupLabel                   :before,
ArmOrGroupType                    :before,
ArmsOrGroups                      :before,
BiospecDescription                :before,
BiospecRetention                  :before,
BriefSummary                      :before,
City                              :before,
Collaborator                      :before,
Comment                           :before,
Condition                         :before,
Contact                           :before,
ContactBackup                     :before,
Country                           :before,
CTAcronym                         :before,
CTAuthority                       :before,
CTCitation                        :before,
CTCondition                       :before,
CTCriteria                        :before,
CTEligibility                     :before,
CTEnrollment                      :before,
CTExpectedEnrollment              :before,
CTGender                          :before,
CTGovIndexing                     :before,
CTGovProtocol                     :before,
CTIntervention                    :before,
CTInterventionDescription         :before,
CTInterventionName                :before,
CTInterventionOtherName           :before,
CTInterventionType                :before,
CTKeyword                         :before,
CTMaximumAge                      :before,
CTMinimumAge                      :before,
CTNumberOfArms                    :before,
CTNumberOfGroups                  :before,
CTOutcome                         :before,
CTOutcomeMeasure                  :before,
CTOutcomeSafetyIssue              :before,
CTOutcomeTimeFrame                :before,
CTOutcomes                        :before,
CTOversightInfo                   :before,
CTReference                       :before,
CTResultsReference                :before,
CTRPContact                       :before,
CTRPFacility                      :before,
CTRPLocation                      :before,
CTRPInfo                          :before,
CTRPInvestigator                  :before,
CTRPOrgName                       :before,
CTRPOverallOfficial               :before,
CTRPStatus                        :before,
CTSamplingMethod                  :before,
CTSource                          :before,
CTStudyDesign                     :before,
CTStudyPop                        :before,
CTStudyType                       :before,
DetailedDescription               :before,
Diagnosis                         :before,
DownloadDate                      :before,
Eligibility                       :before,
EndDate                           :before,
EnteredBy                         :before,
EntryDate                         :before,
ExclusionCriteria                 :before,
FirstReceivedDate                 :before,
Gene                              :before,
GivenName                         :before,
HasDMC                            :before,
HealthyVolunteers                 :before,
HighAge                           :before,
IDInfo                            :before,
Intervention                      :before,
InterventionNameLink              :before,
InterventionType                  :before,
Investigator                      :before,
LastChangedDate                   :before,
LeadSponsor                       :before,
LinkText                          :before,
Location                          :before,
LowAge                            :before,
MiddleInitial                     :before,
NCT_Alias                         :before,
NCTID                             :before,
Facility>Name                     :before,
OrgStudyID                        :before,
OverallContact                    :before,
OverallContactBackup              :before,
OverallOfficial                   :before,
OverallStatus                     :before,
PDQIndexing                       :before,
PDQOrganization                   :before,
PDQPerson                         :before,
PDQSponsorship                    :before,
Phase                             :before,
PhoneExt                          :before,
PMID                              :before,
PoliticalSubUnit_State            :before,
PostalAddress                     :before,
PostalCode_ZIP                    :before,
PrimaryCompletionDate             :before,
ProcessingEndDateTime             :before,
ProcessingStartDateTime           :before,
ProfessionalSuffix                :before,
ProtocolDesign                    :before,
ProtocolRelatedLinks              :before,
ReasonStopped                     :before,
RelatedWebsites                   :before,
RequiredHeader                    :before,
Role                              :before,
SecondaryID                       :before,
Sponsors                          :before,
StartDate                         :before,
Status                            :before,
StudyCategory                     :before,
StudyCategoryName                 :before,
StudyCategoryType                 :before,
StudyType                         :before,
Surname                           :before,
URL                               :before,
VerificationDate                  :before,
PDQAdminInfo                      :before,
PDQProtocolIDs                    :before,
FundingInfo                       :before,
NIHGrantContract                  :before,
NIHGrantContractType              :before,
GrantContractNo                   :before,
OtherGrantContractInfo            :before,
CTGovOwnershipTransferContactLog  :before,
CTGovOwnershipTransferContactResponse 
                                  :before,
CTGovOwnershipTransferDate        :before,
Date                              :before,
CTGovOwnershipTransferInfo        :before,
CTGovOwnerOrganization            :before,
PRSUserName                       :before,
ProtocolSpecialCategory           :before,
SpecialCategory                   :before
    { font-weight: bold; 
      color: black;  }


/***************************************************************************/ 
/*                    BORDERED ELEMENTS AND SECTIONS                       */
/***************************************************************************/
Phone 
    { margin-top: 0em; }
Para  
    { margin-bottom: 1em; }

IDInfo,
RequiredHeader,
PDQIndexing
    { margin-bottom: 4pt; }

BriefTitle,
CTRPInfo,
CTRPStatus,
OfficialTitle
    { margin-top: 1em; 
      margin-bottom: 1em; }

BiospecRetention,
Contact,
ContactBackup,
CTCriteria,
CTGovIndexing,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferInfo,
CTIntervention,
CTNumberOfArms,
CTReference,
CTResultsReference,
CTRPContact,
CTRPInfo Role,
CTRPInvestigator,
CTRPLocation,
CTStudyDesign,
CTSamplingMethod,
CTStudyPop,
Eligibility,
FundingInfo,
Intervention,
Investigator,
LastChangedDate
Facility>Name,
OverallOfficial,
OverallContact,
OverallContactBackup,
OverallStatus,
PDQSponsorship,
Phase,
PostalAddress,
ProtocolSpecialCategory,
Location>Status,
StudyCategory,
VerificationDate
    { margin-top: 1em; }

CTRPOverallOfficial
    { margin-top: 0.5em; 
      margin-bottom: 1em; }

CTRPOverallOfficial PDQPerson
    { margin-top: 0.2em; }

ArmsOrGroups,
BriefSummary,
CTOutcomes,
CTEligibility,
CTGovIndexing,
CTOversightInfo,
CTRPInfo,
DetailedDescription,
IDInfo,
Location,
PDQAdminInfo,
PDQIndexing,
Sponsors,
RequiredHeader
    { border: solid; 
      border-color: gray;
      border-width: thin;
      margin-top: 1em;  }


ProtocolLeadOrg + ProtocolLeadOrg
	{ margin-top: 3em; }

CTIntervention
    { margin-bottom: 2em; }

/***************************************************************************/
/*                  MARGINS FOR ALIGNING TAGS AND TEXT                     */
/***************************************************************************/
DownloadDate                     
                            { margin-left: 110pt; 
                              text-indent: -103.5pt; }
LinkText                         
                            { margin-left: 110pt; 
                              text-indent:  -68.0pt; }
URL                              
                            { margin-left: 110pt; 
                              text-indent:  -41.0pt; }

/*  CTRP Info Elements  */
/*  =================== */
CTRPFacility                { margin-left:   30pt; }

CTRPOrgName                 { margin-left:   100pt; 
                              text-indent:  -73pt; }

CTRPInfo PDQPerson
                            { margin-left: 100pt;
                              text-indent:-106pt; }

PDQOrganization             { margin-left:   100pt; 
                              text-indent:  -81pt; }

CTRPStatus                  { margin-left:   30pt; }

CTRPContact                 { margin-left:   30pt; }

CTRPInvestigator            { margin-left:   30pt; }

CTRPInfo GivenName               
                            { margin-left: 100pt; 
                              text-indent:  -77pt; }
CTRPInfo MiddleInitial               
                            { margin-left: 100pt; 
                              text-indent:  -79pt; }
CTRPInfo Surname               
                            { margin-left: 100pt; 
                              text-indent:  -72pt; }

CTRPInfo Role               
                            { margin-left: 100pt; 
                              text-indent:  -46.5pt; }

CTRPInfo Street               
                            { margin-left:  70pt; 
                              text-indent:  -64pt; }

CTRPInfo City               
                            { margin-left:  70pt; 
                              text-indent:  -43pt; }

CTRPInfo PoliticalSubUnit_State               
                            { margin-left:  70pt; 
                              text-indent:  -83pt; }

CTRPInfo Country               
                            { margin-left:  70pt; 
                              text-indent:  -77pt; }

CTRPInfo PostalCode_ZIP               
                            { margin-left:  70pt; 
                              text-indent:  -90pt; }

CTRPOverallOfficial         { margin-left:   30pt; }

CTRPLocation                { margin-left:   30pt; }

CTSource                         
                            { margin-left: 110pt; 
                              text-indent:  -81.0pt; }

OrgStudyID                       
                            { margin-left: 110pt; 
                              text-indent:  -89.0pt; }
SecondaryID                      
                            { margin-left: 110pt; 
                              text-indent: -107.0pt; }
NCT_Alias                        
                            { margin-left: 110pt; 
                              text-indent:  -90.0pt; }
NCTID                            
                            { margin-left: 110pt; 
                              text-indent:  -53.0pt; }
CTAcronym                         
                            { margin-left: 110pt; 
                              text-indent:  -101.0pt; }

PDQSponsorship                   
                            { margin-left: 135pt; 
                              text-indent: -123.5pt; }
LeadSponsor                      
                            { margin-left: 135pt; 
                              text-indent: -116.0pt; }
Collaborator                     
                            { margin-left: 135pt; 
                              text-indent: -116.5pt; }
Sponsors GivenName               
                            { margin-left: 135pt; 
                              text-indent:  -89.5pt; }
Sponsors MiddleInitial           
                            { margin-left: 135pt; 
                              text-indent:  -90.5pt; }
Sponsors Surname                 
                            { margin-left: 135pt; 
                              text-indent:  -72.0pt; }
Sponsors ProfessionalSuffix      
                            { margin-left: 135pt; 
                              text-indent: -128.0pt; }
Sponsors Phone                   
                            { margin-left: 135pt; 
                              text-indent:  -73.0pt; }
Sponsors PhoneExt                
                            { margin-left: 135pt; 
                              text-indent: -118.5pt; }
Sponsors Email                   
                            { margin-left: 135pt; 
                              text-indent:  -67.0pt; }
Sponsors Role                    
                            { margin-left: 135pt; 
                              text-indent:  -46.5pt; }
Sponsors Affiliation             
                            { margin-left: 135pt; 
                              text-indent:  -73.5pt; }

OverallStatus                    
                            { margin-left: 135pt; 
                              text-indent:  -95.0pt; }
ReasonStopped                    
                            { margin-left: 135pt; 
                              text-indent:-116pt; }
StartDate                        
                            { margin-left: 135pt; 
                              text-indent:-76.5pt; }
EndDate                          
                            { margin-left: 135pt; 
                              text-indent:-72.5pt; }
PrimaryCompletionDate                          
                            { margin-left: 135pt; 
                              text-indent:-137pt; }

Phase                            
                            { margin-left: 135pt; 
                              text-indent:  -61.5pt; }

CTStudyType                            
                            { margin-left: 135pt; 
                              text-indent:-105pt; }

CTStudyDesign                    
                            { margin-left: 100pt; 
                              text-indent:  -97.5pt; }
CTCondition                      
                            { margin-left: 100pt; 
                              text-indent:  -86.5pt; }
CTInterventionType               
                            { margin-left: 100pt; 
                              text-indent:  -44.5pt; }
CTInterventionName               
                            { margin-left: 100pt; 
                              text-indent:  -49.0pt; }
CTInterventionOtherName               
                            { margin-left: 100pt; 
                              text-indent:  -97.5pt; }
CTInterventionDescription        
                            { margin-left: 100pt; 
                              text-indent:  -86.0pt; }
CTIntervention > ArmOrGroupLabel    
                            { margin-left: 100pt; 
                              text-indent:  -61.5pt; }

CTKeyword
                            { margin-left: 100pt; 
                              text-indent:  -82pt; }
CTSamplingMethod             
                            { margin-left: 150pt; 
                              text-indent: -120pt; }
CTExpectedEnrollment             
                            { margin-left: 150pt; 
                              text-indent: -139.5pt; }
CTGender                         
                            { margin-left: 150pt; 
                              text-indent:  -62.0pt; }
CTMinimumAge                     
                            { margin-left: 150pt; 
                              text-indent:  -97.5pt; }
CTMaximumAge                     
                            { margin-left: 150pt; 
                              text-indent: -100.5pt; }

Facility Name                    
                            { margin-left: 135pt; 
                              text-indent: -111.5pt; }

PostalAddress               { margin-left:  30pt; }
Facility City                    
                            { margin-left: 105pt; 
                              text-indent:  -42.5pt; }
Facility PoliticalSubUnit_State  
                            { margin-left: 105pt; 
                              text-indent:  -83.0pt; }
Facility Country                 
                            { margin-left: 105pt; 
                              text-indent:  -77.0pt; }
Facility PostalCode_ZIP          
                            { margin-left: 105pt; 
                              text-indent:  -90.0pt; }

Status                           
                            { margin-left: 135pt; 
                              text-indent:  -52.5pt; }
Role                             
                            { margin-left: 135pt; 
                              text-indent:  -46.5pt; }

Location GivenName               
                            { margin-left: 135pt; 
                              text-indent:  -89.5pt; }
Location MiddleInitial           
                            { margin-left: 135pt; 
                              text-indent:  -90.5pt; }
Location Surname                 
                            { margin-left: 135pt; 
                              text-indent:  -72.0pt; }
Location ProfessionalSuffix      
                            { margin-left: 135pt; 
                              text-indent: -128.0pt; }
Location Phone                   
                            { margin-left: 135pt; 
                              text-indent:  -73.0pt; }
Location PhoneExt                
                            { margin-left: 135pt; 
                              text-indent: -118.5pt; }
Location Email                   
                            { margin-left: 135pt; 
                              text-indent:  -67.0pt; }

PDQPerson
                            { margin-left: 135pt;
                              text-indent: -105.5pt; }

StudyType                        
                            { margin-left: 150pt; 
                              text-indent:  -81.0pt; }
StudyCategoryType                
                            { margin-left: 150pt; 
                              text-indent: -136.5pt; }
StudyCategoryName                
                            { margin-left: 150pt; 
                              text-indent: -141.2pt; }
InterventionType                 
                            { margin-left: 150pt; 
                              text-indent: -130.5pt; }
InterventionNameLink             
                            { margin-left: 150pt; 
                              text-indent: -149.0pt; }
ProtocolDesign                   
                            { margin-left: 150pt; 
                              text-indent: -122.0pt; }
Condition                        
                            { margin-left: 150pt; 
                              text-indent: -101.0pt; }
Gene                             
                            { margin-left: 150pt; 
                              text-indent:  -75.0pt; }
HealthyVolunteers                
                            { margin-left: 150pt; 
                              text-indent: -136.5pt; }
LowAge                           
                            { margin-left: 150pt; 
                              text-indent:  -66.0pt; }
HighAge                          
                            { margin-left: 150pt; 
                              text-indent:  -68.5pt; }
AgeText                          
                            { margin-left: 150pt; 
                              text-indent: -118.0pt; }
Diagnosis                        
                            { margin-left: 150pt; 
                              text-indent: -103.0pt; }
ExclusionCriteria                
                            { margin-left: 150pt; 
                              text-indent: -146.0pt; }
EnteredBy                        
                            { margin-left: 150pt; 
                              text-indent:  -79.5pt; }
EntryDate                        
                            { margin-left: 150pt; 
                              text-indent:  -76.0pt; }

VerificationDate                 
                            { margin-left: 135pt; 
                              text-indent: -109.5pt; }
LastChangedDate                  
                            { margin-left: 135pt; 
                              text-indent: -130pt; }
FirstReceivedDate                  
                            { margin-left: 135pt; 
                              text-indent: -131pt; }

CTAuthority                  
                            { margin-left: 135pt;
                              text-indent:-102pt; }
HasDMC                  
                            { margin-left: 135pt;
                              text-indent: -73.5pt; }

CTOutcome, ArmOrGroup                  
                            { margin-left: 20pt; }

CTOutcomeMeasure                  
                            { margin-left: 115pt;
                              text-indent: -64.5pt; }
CTOutcomeTimeFrame                  
                            { margin-left: 115pt;
                              text-indent: -87pt; }
CTOutcomeSafetyIssue                  
                            { margin-left: 115pt;
                              text-indent: -90pt; }

CTNumberOfArms                  
                            { margin-left: 135pt;
                              text-indent:-106.5pt; }
CTNumberOfGroups                  
                            { margin-left: 135pt;
                              text-indent:-119pt; }
CTEnrollment                  
                            { margin-left: 135pt;
                              text-indent:-117pt; }

BiospecRetention                  
                            { margin-left: 135pt;
                              text-indent:-126pt; }
RelatedWebsites                  
                            { margin-left: 135pt;
                              text-indent:-133pt; }

CTCitation                  
                            { margin-left: 135pt;
                              text-indent: -84pt; }
PMID                  
                            { margin-left: 135pt;
                              text-indent: -50pt; }

ProtocolProcessingDetails > ProcessingStatus
                            { margin-left: 135pt;
                              text-indent:-130.5pt; }
ProtocolProcessingDetails > EnteredBy
                            { margin-left: 135pt;
                              text-indent: -84pt; }
ProcessingEndDateTime     
                            { margin-left: 135pt;
                              text-indent: -73pt; }
ProcessingStartDateTime     
                            { margin-left: 135pt;
                              text-indent: -76.5pt; }
ProtocolProcessingDetails > ProcessingDate
                            { margin-left: 135pt;
                              text-indent:-115pt; }
ProtocolProcessingDetails > Comment
                            { margin-left: 135pt;
                              text-indent: -82.5pt; }
Eligibility > Comment
                            { margin-left: 150pt; 
                              text-indent: -82.5pt; }

PDQProtocolIDs              { margin-left: 30pt; }
PrimaryID, OtherID          { margin-left: 30pt; }
IDString                    { margin-left: 90pt; 
                              text-indent:-28pt; }
IDType                      { margin-left: 90pt; 
                              text-indent:-59pt; }
PDQProtocolIDs Comment      { margin-left: 90pt; 
                              text-indent:-82.5pt; }

FundingInfo                 { margin-left: 30pt; }
NIHGrantContract            { margin-left: 30pt; }
NIHGrantContractType        { margin-left: 90pt; 
                              text-indent:-94pt; }
GrantContractNo             { margin-left: 90pt;
                              text-indent:-85pt; }

OtherGrantContractInfo      { margin-left: 30pt; }

CTGovOwnershipTransferContactLog
                            { margin-left:  30pt; }
CTGovOwnershipTransferContactResponse
                            { margin-left: 120pt;
                              text-indent:-122pt; }
Date                        { margin-left: 120pt;
                              text-indent: -42pt; }

CTGovOwnershipTransferInfo  { margin-left:  30pt; }
CTGovOwnerOrganization      { margin-left: 120pt; 
                              text-indent:-127pt; }
PRSUserName                 { margin-left: 120pt; 
                              text-indent:-104pt; }
CTGovOwnershipTransferDate  { margin-left: 120pt; 
                              text-indent: -93pt; }

ProtocolSpecialCategory     { margin-left:  30pt; }
SpecialCategory             { margin-left: 120pt; 
                              text-indent:-113pt; }

ArmOrGroupDescription       { margin-left: 110pt; 
                              text-indent: -86pt; }

/***************************************************************************/
/*             Margin-bottom for simulated text boxes                      */
/***************************************************************************/
Affiliation,
AgeText,
City, 
Collaborator,
Comment,
Condition,
Country,
CTAcronym,
CTAuthority,
CTCondition,
CTEnrollment,
CTExpectedEnrollment,
CTGender,
CTInterventionDescription,
CTInterventionName,
CTInterventionOtherName,
CTInterventionType,
CTKeyword,
CTMinimumAge,
CTMaximumAge,
CTNumberOfArms,
CTNumberOfGroups,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTSource,
CTStudyDesign,
Diagnosis,
DownloadDate,
Email,
EnteredBy,
EntryDate,
EndDate,
ExclusionCriteria,
Gene,
GivenName,
HasDMC,
HealthyVolunteers,
HighAge,
InterventionNameLink,
InterventionType,
LastChangedDate,
LeadSponsor,
LinkText,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
OrgStudyID,
OverallStatus,
PDQOrganization,
PDQPerson,
PDQSponsorship,
PDQAdminInfo,
PDQProtocolIDs,
Phase,
Phone,
PhoneExt,
PoliticalSubUnit_State,
PostalCode_ZIP,
PrimaryCompletionDate,
ProfessionalSuffix,
ProcessingEndDateTime,
ProcessingStartDateTime,
ProtocolDesign,
ReasonStopped,
Role,
SecondaryID,
StartDate,
Status,
StudyType,
StudyCategoryName,
StudyCategoryType,
Surname,
URL,
VerificationDate,
FundingInfo,
NIHGrantContract,
NIHGrantContractType,
GrantContractNo,
OtherGrantContractInfo,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
Date,
CTGovOwnershipTransferInfo,
CTGovOwnerOrganization,
PRSUserName,
ProtocolSpecialCategory,
SpecialCategory
	{ margin-bottom: 4pt; }


/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 
Affiliation,
AgeText,
ArmsOrGroups,
BriefSummary,
BriefTitle,
CTAcronym,
CTAuthority,
CTCondition,
CTEligibility,
CTExpectedEnrollment,
CTGender,
CTGovIndexing,
CTGovProtocol,
CTIntervention,
CTInterventionDescription,
CTInterventionName,
CTInterventionOtherName,
CTInterventionType,
CTKeyword,
CTMaximumAge,
CTMinimumAge,
CTOutcomes,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTRPContact,
CTRPFacility,
CTRPLocation,
CTRPInfo,
CTRPInvestigator,
CTRPOrgName,
CTRPOverallOfficial,
CTRPStatus,
CTSamplingMethod,
CTSource,
CTStudyDesign,
City,
Collaborator,
Comment,
EnteredBy,
EntryDate,
Condition,
Contact,
ContactBackup,
Country,
DetailedDescription,
Diagnosis,
DownloadDate,
Eligibility,
Email,
EndDate,
ExclusionCriteria,
Facility,
Gene,
GivenName,
HasDMC,
HealthyVolunteers,
HighAge,
IDInfo,
Intervention,
InterventionNameLink,
InterventionType,
Investigator,
ItemizedList,
LastChangedDate,
LeadSponsor,
LinkText,
ListItem,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
Name,
OfficialTitle,
OrgStudyID,
OverallContact,
OverallContactBackup,
OverallOfficial,
OverallStatus,
PDQIndexing,
PDQOrganization,
PDQPerson,
PDQSponsorship,
Para,
Phase,
Phone,
PhoneExt,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
ProcessingEndDateTime,
ProcessingStartDateTime,
ProfessionalSuffix,
ProtocolDesign,
Role,
SecondaryID,
Sponsors,
StartDate,
Status,
StudyCategory,
StudyCategoryName,
StudyCategoryType,
StudyType,
Surname,
URL,
VerificationDate,
DownloadDate,
LinkText,
OrgStudyID,
SecondaryID,
NCT_Alias,
NCTID,
VerificationDate,
LastChangedDate
NIHGrantContract,
NIHGrantContractType,
GrantContractNo,
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
Date,
CTGovOwnerOrganization,
PRSUserName,
SpecialCategory
    { background-color: white; }


/* Blue = Administrative Information                                       */
Affiliation                  :before,
Collaborator                 :before,
Contact,
ContactBackup,
CTAcronym                    :before,
CTAuthority                  :before,
CTOversightInfo,
CTSource                     :before,
DownloadDate                 :before,
ProtocolProcessingDetails > EnteredBy
                             :before,
Facility,
GivenName                    :before,
HasDMC                       :before,
IDInfo,
Investigator,
LeadSponsor                  :before,
LinkText                     :before,
Location,
MiddleInitial                :before,
Name                         :before,
NCT_Alias                    :before,
NCTID                        :before,
OrgStudyID                   :before,
OverallOfficial,
OverallContact,
OverallContactBackup,
OverallOfficial              :before,
OverallContact               :before,
OverallContactBackup         :before,
PDQPerson                    :before,
PDQSponsorship               :before,
PhoneExt                     :before,
PostalAddress,
ProcessingEndDateTime        :before,
ProcessingStartDateTime      :before,
ProfessionalSuffix           :before,
Role                         :before,
RequiredHeader,
SecondaryID                  :before,
Sponsors,
Sponsors                     :before,
Surname                      :before,
Status                       :before,
URL                          :before
    { background-color: #CCCCFF; }  /*light blue*/


/* Purple = CTRP Information                                               */
CTRPLocation City            :before,
CTRPLocation Country         :before,
CTRPContact,
CTRPFacility,
CTRPInfo,
CTRPInvestigator,
CTRPLocation,
CTRPOrgName                  :before,
CTRPOverallOfficial,
CTRPStatus                   :before,
CTRPLocation City            :before,
CTRPLocation Country         :before,
CTRPLocation Email           :before,
CTRPLocation Fax             :before,
CTRPLocation GivenName       :before,
CTRPLocation MiddleInitial   :before,
CTRPLocation PDQOrganization :before,
CTRPLocation PDQPerson       :before,
CTRPLocation Phone           :before,
CTRPLocation PoliticalSubUnit_State          
                             :before,
CTRPLocation PostalAddress,
CTRPLocation PostalCode_ZIP  :before,
CTRPLocation Role            :before,
CTRPLocation Street          :before,
CTRPLocation Surname         :before,
CTRPOverallOfficial City            :before,
CTRPOverallOfficial Country         :before,
CTRPOverallOfficial Email           :before,
CTRPOverallOfficial Fax             :before,
CTRPOverallOfficial GivenName       :before,
CTRPOverallOfficial MiddleInitial   :before,
CTRPOverallOfficial PDQOrganization :before,
CTRPOverallOfficial PDQPerson       :before,
CTRPOverallOfficial Phone           :before,
CTRPOverallOfficial PoliticalSubUnit_State          
                                    :before,
CTRPOverallOfficial PostalAddress,
CTRPOverallOfficial PostalCode_ZIP  :before,
CTRPOverallOfficial Role            :before,
CTRPOverallOfficial Street          :before,
CTRPOverallOfficial Surname         :before
    { background-color: #436EEE; }  /*royal blue*/
    /* { background-color: #E6CDFF; }  light blue*/


/* *********************************************************************** */
/*            Label color for elements on white background                 */
/* *********************************************************************** */
BiospecDescription           :before,
BiospecRetention             :before,
BriefTitle                   :before,
CTCitation                   :before,
CTEnrollment                 :before,
CTNumberOfArms               :before,
CTNumberOfGroups             :before,
CTReference                  :before,
CTResultsReference           :before,
CTStudyType                  :before,
EndDate                      :before,
FirstReceivedDate            :before,
LastChangedDate              :before,
OfficialTitle                :before,
OverallStatus                :before,
Phase                        :before,
PMID                         :before,
PrimaryCompletionDate        :before,
ReasonStopped                :before,
StartDate                    :before,
VerificationDate             :before
    { font-weight: bold; 
      color: navy; }


/* Green = Scientific Information                                   	   */
ArmsOrGroups,
BriefSummary,
Condition                    :before,
DetailedDescription,
CTGovIndexing,
CTStudyDesign                :before,
CTCondition                  :before,
CTIntervention,
CTInterventionDescription    :before,
CTInterventionType           :before,
CTInterventionName           :before,
CTInterventionOtherName      :before,
CTKeyword                    :before,
CTEligibility,
CTCriteria,
CTExpectedEnrollment         :before,
CTGender                     :before,
CTMinimumAge                 :before,
CTMaximumAge                 :before,
CTOutcomeMeasure             :before,
CTOutcomeSafetyIssue         :before,
CTOutcomeTimeFrame           :before,
CTOutcomes,
CTSamplingMethod             :before,
CTStudyPop,
StudyType                    :before,
StudyCategory                :before,
StudyCategoryType            :before,
StudyCategoryName            :before,
Intervention                 :before,
InterventionType             :before,
InterventionNameLink         :before,
ProtocolDesign               :before,
PDQIndexing,
Gene                         :before,
Intervention,
StudyCategory,
Eligibility,
HealthyVolunteers            :before,
LowAge                       :before,
HighAge                      :before,
AgeText                      :before,
Diagnosis                    :before,
ExclusionCriteria            :before,
Comment                      :before,
EnteredBy                    :before,
EntryDate                    :before
	{ background-color: #CCFFCC; }  /*light green*/

PDQAdminInfo,
PrimaryID > Comment               :before,
OtherID   > Comment               :before,
PrimaryID,
OtherID,
IDType                            :before,
IDString                          :before,
FundingInfo,
NIHGrantContract,
NIHGrantContractType              :before,
GrantContractNo                   :before,
OtherGrantContractInfo,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse 
                                  :before,
CTGovOwnershipTransferDate        :before,
Date                              :before,
CTGovOwnerOrganization            :before,
PRSUserName                       :before,
SpecialCategory                   :before
    { background-color: #FFCC66; }  /*light purple*/

Foobar    
    { font-weight: bold; 
      color: green; }

/* Override common css, which formats elements of this name as inline markup */
InterventionNameLink 
    { text-decoration: none; 
      color: black; }

ItemizedList      
    { margin-left: 50pt; }
ListItem 
    { display: list-item; 
      list-style-type: disc; 
      margin-left: 0pt; }
