/*
 * $Id: CTGovProtocol_structure.css,v 1.8 2009-03-05 19:47:44 venglisc Exp $
 *
 * Style sheets for new document type for ClinicalTrials.gov documents.
 *
 */


@import "CdrCommonSchema_structure.css"; 
@import "CommonProtocolInfo_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*	{ white-space: nowrap;
	  text-align: left;
	  margin-left: 10px;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  font-family: Arial, sans-serif;
	  font-size: 10pt; 
	  font-style: normal;
	  font-weight: bold;
	  color: black; }

/* top-level elements */

$DOCUMENT > * 

     { margin-left: 0px;  }

$PROCINS 

     { color: white;
       font-weight: normal;
       background-color: white;}

InScopeProtocol,

	{ background-color: white; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
Affiliation,
AgeText,
ArmOrGroup,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType,
ArmsOrGroups,
BiospecDescription,
BiospecRetention,
BriefSummary,
BriefTitle,
City,
Collaborator,
Comment,
Condition,
Contact,
ContactBackup,
Country,
CTAcronym,
CTAuthority,
CTCitation,
CTCondition,
CTCriteria,
CTEligibility,
CTEnrollment,
CTExpectedEnrollment,
CTGender,
CTGovIndexing,
CTGovOwnerOrganization,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
CTGovOwnershipTransferInfo,
CTGovProtocol,
CTIntervention,
CTInterventionName,
CTInterventionType,
CTMaximumAge,
CTMinimumAge,
CTNumberOfArms,
CTNumberOfGroups,
CTOutcome,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTOutcomes,
CTOversightInfo,
CTReference,
CTSamplingMethod,
CTSource,
CTStudyDesign,
CTStudyPop,
CTStudyType,
Date,
DetailedDescription,
Diagnosis,
DownloadDate,
Eligibility,
Email,
EndDate,
EnteredBy,
EntryDate,
ExclusionCriteria,
Facility,
FirstReceivedDate,
FundingInfo,
Gene,
GivenName,
GrantContractNo,
GrantContractType,
HasDMC,
HealthyVolunteers,
HighAge,
IDInfo,
Intervention,
InterventionNameLink,
InterventionType,
Investigator,
ItemizedList,
LastChangedDate,
LeadSponsor,
LinkText,
ListItem,
Location,
LowAge,
MiddleInitial,
Name,
NCT_Alias,
NCTID,
NIHGrantContract,
NIHGrantContractType,
OfficialTitle,
OrgStudyID,
OtherGrantContractInfo,
OverallContact,
OverallContactBackup,
OverallOfficial,
OverallStatus,
PDQIndexing,
PDQAdminInfo,
PDQPerson,
PDQProtocolIDs,
PDQSponsorship,
Para,
Phase,
Phone,
PhoneExt,
PMID,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
PrimaryCompletionDate,
ProcessingEndDateTime,
ProcessingStartDateTime,
ProfessionalSuffix,
ProtocolDesign,
ProtocolRelatedLinks,
ProtocolSpecialCategory,
PRSUserName,
ReasonStopped,
RelatedWebsites,
RequiredHeader,
Role,
SecondaryID,
SpecialCategory,
Sponsors,
StartDate,
Status,
StudyCategory,
StudyCategoryName,
StudyCategoryType,
StudyType,
Surname,
URL,
VerificationDate
    { display: block; 
      text-indent: 0pt; 
      color: white; 
      background-color: white;
      border: none; }


Affiliation                  :before,
AgeText                      :before,
ArmOrGroup                   :before,
ArmOrGroupDescription        :before,
ArmOrGroupLabel              :before,
ArmOrGroupType               :before,
ArmsOrGroups                 :before,
BiospecDescription           :before,
BiospecRetention             :before,
BriefSummary                 :before,
BriefTitle                   :before,
City                         :before,
Collaborator                 :before,
Comment                      :before,
Condition                    :before,
Contact                      :before,
ContactBackup                :before,
Country                      :before,
CTAcronym                    :before,
CTAuthority                  :before,
CTCitation                   :before,
CTCondition                  :before,
CTCriteria                   :before,
CTEligibility                :before,
CTEnrollment                 :before,
CTExpectedEnrollment         :before,
CTGender                     :before,
CTGovIndexing                :before,
CTGovOwnershipTransferContactResponse
                             :before,
CTGovOwnershipTransferDate   :before,
CTGovOwnerOrganization       :before,
CTGovProtocol                :before,
CTIntervention               :before,
CTInterventionName           :before,
CTInterventionType           :before,
CTMaximumAge                 :before,
CTMinimumAge                 :before,
CTNumberOfArms               :before,
CTNumberOfGroups             :before,
CTOutcome                    :before,
CTOutcomeMeasure             :before,
CTOutcomeSafetyIssue         :before,
CTOutcomeTimeFrame           :before,
CTOutcomes                   :before,
CTOversightInfo              :before,
CTReference                  :before,
CTResultsReference           :before,
CTSamplingMethod             :before,
CTSource                     :before,
CTStudyDesign                :before,
CTStudyPop                   :before,
CTStudyType                  :before,
Date                         :before,
DetailedDescription          :before,
Diagnosis                    :before,
DownloadDate                 :before,
Eligibility                  :before,
Email                        :before,
EndDate                      :before,
EnteredBy                    :before,
EntryDate                    :before,
ExclusionCriteria            :before,
Facility                     :before,
FirstReceivedDate            :before,
Gene                         :before,
GivenName                    :before,
GrantContractNo              :before,
HasDMC                       :before,
HealthyVolunteers            :before,
HighAge                      :before,
IDInfo                       :before,
Intervention                 :before,
InterventionNameLink         :before,
InterventionType             :before,
Investigator                 :before,
ItemizedList                 :before,
LastChangedDate              :before,
LeadSponsor                  :before,
LinkText                     :before,
ListItem                     :before,
Location                     :before,
LowAge                       :before,
MiddleInitial                :before,
Name                         :before,
NCT_Alias                    :before,
NCTID                        :before,
NIHGrantContractType         :before,
OfficialTitle                :before,
OrgStudyID                   :before,
OverallContact               :before,
OverallContactBackup         :before,
OverallOfficial              :before,
OverallStatus                :before,
PDQIndexing                  :before,
PDQPerson                    :before,
PDQSponsorship               :before,
Para                         :before,
Phase                        :before,
Phone                        :before,
PhoneExt                     :before,
PMID                         :before,
PoliticalSubUnit_State       :before,
PostalAddress                :before,
PostalCode_ZIP               :before,
PrimaryCompletionDate        :before,
ProcessingEndDateTime        :before,
ProcessingStartDateTime      :before,
ProfessionalSuffix           :before,
ProtocolDesign               :before,
ProtocolRelatedLinks         :before,
PRSUserName                  :before,
ReasonStopped                :before,
RelatedWebsites              :before,
RequiredHeader               :before,
Role                         :before,
SecondaryID                  :before,
SpecialCategory              :before,
Sponsors                     :before,
StartDate                    :before,
Status                       :before,
StudyCategory                :before,
StudyCategoryName            :before,
StudyCategoryType            :before,
StudyType                    :before,
Surname                      :before,
URL                          :before,
VerificationDate             :before
    { color: black; 
      background-color: white; }


/***************************************************************************/ 
/*                      BEFORE AND AFTER TAGS                              */ 
/***************************************************************************/ 
/* CDR Doc Control   */
CdrDocCtl                         :before { content: "CDR DOC CONTROL"; }
DocId                             :before { content: "Doc ID"; }
DocTitle                          :before { content: "Doc Title"; }

Affiliation                       :before { content: "Affiliation"; }
AgeText                           :before { content: "Age Text"; }
ArmOrGroup                        :before { content: "ARM OR GROUP"; }
ArmOrGroupDescription             :before { content: "Description"; }
ArmOrGroupLabel                   :before { content: "Label"; }
ArmOrGroupType                    :before { content: "Type"; }
ArmsOrGroups                      :before { content: "ARMS OR GROUPS"; }
BiospecDescription                :before { content: "Biospec Description"; }
BiospecRetention                  :before { content: "Biospec Retention"; }
BriefSummary                      :before { content: "BRIEF SUMMARY"; }
BriefTitle                        :before { content: "Brief Title"; }
City                              :before { content: "City"; }
Collaborator                      :before { content: "Collaborator"; }
Comment                           :before { content: "Comment"; }
Condition                         :before { content: "Condition"; }
Contact                           :before { content: "CONTACT"; }
ContactBackup                     :before { content: "CONTACT BACKUP"; }
Country                           :before { content: "Country"; }
CTAcronym                         :before { content: "CT Acronym"; }
CTAuthority                       :before { content: "CT Authority"; }
CTCitation                        :before { content: "CT Citation"; }
CTCondition                       :before { content: "Condition"; }
CTCriteria                        :before { content: "CRITERIA"; }
CTEligibility                     :before { content: "ELIGIBILITY"; }
CTEnrollment                      :before { content: "CT Enrollment"; }
CTExpectedEnrollment              :before { content: "Expected Enrollment"; }
CTGender                          :before { content: "Gender"; }
CTGovIndexing                     :before { content: "CTGOV INDEXING"; }
CTGovOwnershipTransferContactLog  :before { content: "CTGOV TRANSFER CONTACT LOG"; }
CTGovOwnershipTransferContactResponse
                                  :before { content: "Contact Response"; }
CTGovOwnershipTransferDate        :before { content: "Transfer Date"; }
CTGovOwnershipTransferInfo        :before { content: "CTGOV TRANSFER INFO"; }
CTGovOwnerOrganization            :before { content: "Owner Organization"; }
CTGovProtocol                     :before { content: "CTGOVPROTOCOL"; }
CTNumberOfGroups                  :before { content: "CT No. of Groups"; }
CTNumberOfArms                    :before { content: "CT No. of Arms"; }
CTOutcome                         :before { content: "CT OUTCOME"; }
CTOutcomeMeasure                  :before { content: "Measure"; }
CTOutcomeTimeFrame                :before { content: "Time Frame"; }
CTOutcomes                        :before { content: "CT OUTCOMES"; }
CTOutcomeSafetyIssue              :before { content: "Safety Issue"; }
CTOversightInfo                   :before { content: "CT OVERSIGHT INFO"; }
CTReference                       :before { content: "REFERENCE"; }
CTResultsReference                :before { content: "RESULTS REFERENCE"; }
CTSamplingMethod                  :before { content: "Sampling Method"; }
CTStudyPop                        :before { content: "STUDY POP"; }
CTStudyType                       :before { content: "CT Study Type"; }
CTIntervention                    :before { content: "INTERVENTION"; }
CTInterventionName                :before { content: "Intervention Name"; }
CTInterventionType                :before { content: "Intervention Type"; }
CTMaximumAge                      :before { content: "Maximum Age"; }
CTMinimumAge                      :before { content: "Minimum Age"; }
CTStudyDesign                     :before { content: "Study Design"; }
Date                              :before { content: "Date"; }
DetailedDescription               :before { content: "DETAILED DESCRIPTION"; }
Diagnosis                         :before { content: "Diagnosis"; }
DownloadDate                      :before { content: "Download Date"; }
Eligibility                       :before { content: "ELIGIBILITY"; }
Email                             :before { content: "Email"; }
EndDate                           :before { content: "End Date"; }
EnteredBy                         :before { content: "Entered By"; }
EntryDate                         :before { content: "Entered Date"; }
ExclusionCriteria                 :before { content: "Exclusion Criteria"; }
Facility                          :before { content: "FACILITY"; }
FirstReceivedDate                 :before { content: "First Received Date"; }
FundingInfo                       :before { content: "FUNDING INFO"; }
Gene                              :before { content: "Gene"; }
GivenName                         :before { content: "Given Name"; }
GrantContractNo                   :before { content: "Contract No"; }
HasDMC                            :before { content: "Has DMC"; }
HealthyVolunteers                 :before { content: "Healthy Volunteers"; }
HighAge                           :before { content: "High Age"; }
IDInfo                            :before { content: "ID INFO"; }
Intervention                      :before { content: "INTERVENTION"; }
InterventionNameLink              :before { content: "Intervention Name"; }
InterventionType                  :before { content: "Intervention Type"; }
Investigator                      :before { content: "INVESTIGATOR"; }
ItemizedList                      :before { content: "..Itemized List"; }
LastChangedDate                   :before { content: "Last Changed Date"; }
LeadSponsor                       :before { content: "Lead Sponsor"; }
LinkText                          :before { content: "Link Text"; }
Location                          :before { content: counter(Loc) ". LOCATION"; }
LowAge                            :before { content: "Low Age"; }
MiddleInitial                     :before { content: "Middle Initial"; }
NCT_Alias                         :before { content: "NCT_Alias"; }
NCTID                             :before { content: "NCTID"; }
NIHGrantContract                  :before { content: "NIH GRANT CONTRACT"; }
NIHGrantContractType              :before { content: "Contract Type"; }
Name                              :before { content: "Name"; }
OfficialTitle                     :before { content: "Official Title"; }
OrgStudyID                        :before { content: "Org Study ID"; }
OtherGrantContractInfo            :before { content: "OTHER CONTRACT INFO"; }
OverallContact                    :before { content: "OVERALL CONTACT"; }
OverallContactBackup              :before { content: "OVERALL CONTACT BACKUP"; }
OverallOfficial                   :before { content: "OVERALL OFFICIAL"; }
OverallStatus                     :before { content: "Overall Status"; }
PDQAdminInfo                      :before { content: "PDQ ADMIN INFO"; }
PDQIndexing                       :before { content: "PDQ INDEXING"; }
PDQSponsorship                    :before { content: "PDQ Sponsorship"; }
PDQPerson                         :before { content: "PDQ Person"; }
PDQProtocolIDs                    :before { content: "PROTOCOL IDS"; }
PMID                              :before { content: "PMID"; }
PrimaryCompletionDate             :before { content: "Primary Compl. Date"; }
ProtocolSpecialCategory           :before { content: "PROTOCOL SPECIAL CATEGORY"; }
PRSUserName                       :before { content: "PRS User Name"; }
ProcessingEndDateTime             :before { content: "End Date"; }
ProcessingStartDateTime           :before { content: "Start Date"; }
ProtocolRelatedLinks              :before { content: "PROTOCOL RELATED LINKS"; }
ReasonStopped                     :before { content: "Reason Stopped"; }
RelatedWebsites                   :before { content: "Related Website"; }
Phase                             :before { content: "Phase"; }
Phone                             :before { content: "Phone"; }
PhoneExt                          :before { content: "Phone Ext"; }
PoliticalSubUnit_State            :before { content: "Polit Unit/State"; }
PostalAddress                     :before { content: "POSTAL ADDRESS"; }
PostalCode_ZIP                    :before { content: "Postal Code"; }
ProfessionalSuffix                :before { content: "Prof'l Suffix"; }
ProtocolDesign                    :before { content: "Protocol Design"; }
RequiredHeader                    :before { content: "REQUIRED HEADER"; }
Role                              :before { content: "Role"; }
SecondaryID                       :before { content: "Secondary ID"; }
SpecialCategory                   :before { content: "Special Category"; }
Sponsors                          :before { content: "SPONSORS"; }
StartDate                         :before { content: "Start Date"; }
Status                            :before { content: "Status"; }
StudyCategory                     :before { content: "STUDY CATEGORY"; }
StudyCategoryName                 :before { content: "Study Category Name"; }
StudyCategoryType                 :before { content: "Study Category Type"; }
StudyType                         :before { content: "Study Type"; }
Surname                           :before { content: "Surname"; }
URL                               :before { content: "URL"; }
VerificationDate                  :before { content: "Verification Date"; }



/***************************************************************************/ 
/*                     NON-DISPLAY ELEMENTS                                */ 
/***************************************************************************/ 
  

Para, ListItem

     { display:  none;   }



/***************************************************************************/ 
/*                     COUNTER DEFINITIONS                                 */ 
/***************************************************************************/ 
  

Location,
  
     { counter-increment: Loc;  }
