/*************************************************************************/
/* 	DrugInformationSummary.css                                           */
/*                                                                       */
/*      v. 1.0                                                           */
/*      2004-11-10 by Volker Englisch                                    */
/*      Based on the new Media schema                                    */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT
     { font-family: Arial, sans-serif;
       font-size: 12pt;
       margin-top: 5px;
       margin-left: 5px;
       color:black;         }

$COMMENT
     { display: block;
       color: purple;
       white-space: pre; }

$PROCINS
     { color: blue;
       background-color: white; }

DrugInformationSummary,
     { background-color: #CCCCFF;
       text-decoration: none;
       color: black; }

/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Audience,
ApprovedIndication,
DrugInformationSummary>Comment,
DrugReference>Comment,
ProcessingStatus>Comment,
ComprehensiveReviewDate,
DateLastModified,
Description,
DrugInfoMetaData,
DrugInfoType,
DrugReference,
DrugReferenceDescription,
DrugReferenceLink,
DrugReferencePostedDate,
DrugReferenceType,
EnteredBy,
EntryDate,
FDAApproved,
GlossaryLink,
Manufacturer,
Title,
StatusDate,
SummarySection,
SummarySection>Para,
SummarySection>ItemizedList,
SummarySection>OrderedList,
ProcessingStatus,
ProcessingStatusValue,
RefDescription,
RefLink,
ReviewStatus,
TerminologyLink,
URL,
    { display: block; }



/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* Container elements are displayed in ALL CAPS */
/* * = Required field */
/* & = Optional element */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */


Audience                 :before, { content: "Audience *: "; }
ApprovedIndication       :before, { content: "Appr Indication & +: "; }
DrugInformationSummary>Comment :before, { content: "Comments &: "; }
DrugReference>Comment    :before, { content: "Comments & +: "; }
ProcessingStatus>Comment :before, { content: "Comments & +: "; }
ComprehensiveReviewDate  :before, { content: "Review Date & @: "; }
DateLastModified         :before, { content: "Date Last Modified &: "; }
Description              :before, { content: "Description *: "; }
DrugInfoMetaData         :before, { content: "DRUG INFO META DATA *"; }
DrugInfoType             :before, { content: "Drug Info Type *: "; }
DrugReference            :before, { content: "DRUG REFERENCE & +"; }
DrugReferenceDescription :before, { content: "Description * @: "; }
DrugReferenceLink        :before, { content: "Link * @: "; }
DrugReferencePostedDate  :before, { content: "Posted Date &: "; }
DrugReferenceType        :before, { content: "Type *: "; }
EnteredBy                :before, { content: "Entered By *: "; }
EntryDate                :before, { content: "Entry Date *: "; }
FDAApproved              :before, { content: "FDA Approved *: "; }
GlossaryLink             :before, { content: "Glossary Link * @: "; }
Manufacturer             :before, { content: "Manufacturer & @: "; }
StatusDate               :before, { content: "Status Date *: "; }
SummarySection           :before, { content: "Drug Info Summary *: "; }
DrugInformationSummary>Title
                         :before, { content: "Title *: "; }
ProcessingStatus         :before, { content: "PROCESSING STATUS BLOCK & +"; }
ProcessingStatusValue    :before, { content: "Status Value *: "; }
RefDescription           :before, { content: "Ref Description *: "; }
RefLink                  :before, { content: "Ref Link *: "; }
ReviewStatus             :before, { content: "Review Status &: "; }
TerminologyLink          :before, { content: "Term Link * @: "; }
URL                      :before, { content: "URL * @: "; }


/***************************************************************************/
/*                         BORDERED SECTIONS                               */
/***************************************************************************/
MediaContent
   { border: solid;
     border-width: thin;
     border-color: black;
     margin-top: 1em;
     margin-bottom: 6pt; }

/*
ProcessingStatus
   { border-bottom: solid;
     border-width: 2pt;
     border-color: black;
     margin-top: 1em;
     margin-bottom: 6pt; }
*/


/***************************************************************************/
/*             TAG PROPERTIES FOR TEXT INPUT AND CONTAINER FIELDS          */
/***************************************************************************/
Audience                 :before,
ApprovedIndication       :before,
Comment                  :before,
ComprehensiveReviewDate  :before,
DateLastModified         :before,
Description              :before,
DrugInfoMetaData         :before,
DrugInfoType             :before,
DrugReference            :before,
DrugReferenceDescription :before,
DrugReferenceLink        :before,
DrugReferencePostedDate  :before,
DrugReferenceType        :before,
EnteredBy                :before,
EntryDate                :before,
FDAApproved              :before,
GlossaryLink             :before,
Manufacturer             :before,
Title                    :before,
ProcessingStatus         :before,
ProcessingStatusValue    :before,
ResponseToComment        :before,
ReviewStatus             :before,
RefDescription           :before,
RefLink                  :before,
StatusDate               :before,
SummarySection           :before,
TerminologyLink          :before,
URL                      :before,
   {  font-weight: bold;
      color: black;  }


Row>entry>ResponseToComment,
ListItem>ResponseToComment,
Para>ResponseToComment
   { font-style: italic;
     background-color: green;
     color: white; }

Row>entry>Comment,
ListItem>Comment,
Para>Comment 
   { font-style: italic;
     background-color: green;
     color: white; }

Row>entry>Comment        :before,
ListItem>Comment         :before,
Para>Comment             :before
   { color: white;
     background-color: green;
     content: "Comment: "; }

Row>entry>ResponseToComment
                         :before,
ListItem>ResponseToComment:before,
Para>ResponseToComment   :before
   { color: white;
     background-color: green;
     content: "Response: "; }

/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

Audience,
                        { margin-left: 130pt;
                          text-indent: -70pt; }
ApprovedIndication,
                        { margin-left: 130pt;
                          text-indent: -117pt; }
Caption
                        { margin-left: 130pt;
                          text-indent: -75pt; }
ComprehensiveReviewDate
                        { margin-left: 130pt;
                          text-indent: -106.5pt; }
DateLastModified,
                        { margin-left: 130pt;
                          text-indent: -126pt; }
DrugInformationSummary>Comment,
                        { margin-left: 130pt;
                          text-indent: -82.5pt; }
DrugReference>Comment,
                        { margin-left: 130pt;
                          text-indent: -92pt; }
ProcessingStatus>Comment,
                        { margin-left: 0pt;
                          text-indent: -92pt; }
Description,
                        { margin-left: 130pt;
                          text-indent: -82pt; }
DrugInfoType,
                        { margin-left: 130pt;
                          text-indent: -100.5pt; }
DrugInformationSummary>Title,
                        { margin-left: 130pt;
                          text-indent: -40pt; }
DrugReferenceDescription,
                        { margin-left: 130pt;
                          text-indent: -97pt; }
DrugReferenceLink,
                        { margin-left: 130pt;
                          text-indent: -55.5pt; }
DrugReferencePostedDate,
                        { margin-left: 130pt;
                          text-indent: -90pt; }
DrugReferenceType,
                        { margin-left: 130pt;
                          text-indent: -44pt; }
EnteredBy,
                        { margin-left: 130pt;
                          text-indent: -79.5pt; }
ProcessingStatus>EnteredBy,
                        { margin-left: 0pt;
                          text-indent: -40.pt; }
EntryDate,
                        { margin-left: 130pt;
                          text-indent: -76pt; }
FDAApproved,
                        { margin-left: 130pt;
                          text-indent: -100pt; }
GlossaryLink,
                        { margin-left: 130pt;
                          text-indent: -109.5pt; }
Manufacturer,
                        { margin-left: 130pt;
                          text-indent: -111pt; }
MediaID
                        { margin-left: 130pt;
                          text-indent: -79.5pt; }
SpecificMediaCaption
                        { margin-left: 130pt;
                          text-indent: -65pt; }
SpecificMediaTitle
                        { margin-left: 130pt;
                          text-indent: -44pt; }
SpecificVideoPresentationTemplate
                        { margin-left: 130pt;
                          text-indent: -63pt; }
SummarySection>Para,
                        { margin-left: 130pt; }

SummarySection>ItemizedList,
                        { margin-left: 130pt; }

SummarySection>OrderedList,
                        { margin-left: 130pt; }

ProcessingStatus,
                        { margin-left: 130pt;
                          text-indent: -125.5pt; }
ProcessingStatusValue,
                        { margin-left: 0pt;
                          text-indent: -88pt; }
RefDescription,
                        { margin-left: 70pt;
                          text-indent: -104pt; }
RefLink,
                        { margin-left: 70pt;
                          text-indent: -63pt; }
ReviewStatus,
                        { margin-left: 130pt;
                          text-indent: -103pt; }
StatusDate,
                        { margin-left: 0pt;
                          text-indent: -82pt; }
TerminologyLink,
                        { margin-left: 130pt;
                          text-indent: -88pt; }
URL,
                        { margin-left: 130pt;
                          text-indent: -56pt; }
VideoID
                        { margin-left: 130pt;
                          text-indent: -79pt; }



/***************************************************************************/
/*                     MARGINS BETWEEN TEXT ELEMENTS                       */
/***************************************************************************/
Audience,
ApprovedIndication,
ComprehensiveReviewDate,
DateLastModified,
Description,
DrugInfoType,
DrugReferenceDescription,
DrugReferenceLink,
DrugReferencePostedDate,
DrugReferenceType,
EnteredBy,
EntryDate,
FDAApproved,
GlossaryLink,
Manufacturer,
ProcessingStatusValue,
RefDescription,
RefLink,
ReviewStatus,
TerminologyLink,
URL,
	{ margin-bottom: 4pt; }


DrugReferenceLink,
ProcessingStatus>EnteredBy
    { margin-top: 4pt; }


EnteredBy,
    { margin-top: 20pt; }

ProcessingStatus
	{ margin-top: 10pt; }


DrugInfoMetaData,
DrugReference,
DrugInformationSummary>SummarySection,
ProcessingStatus,
Title,
	{ margin-bottom: 10pt; }


SummarySection>Title,
    { font-size  : 16pt;
      font-weight: bold;
      margin-top : 10pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
/* Background color for Fields (Do not include Container Elements here */
Audience,
ApprovedIndication,
Comment,
ComprehensiveReviewDate,
DateLastModified,
Description,
DrugInfoType,
DrugReferenceDescription,
DrugReferenceLink,
DrugReferencePostedDate,
DrugReferenceType,
EnteredBy,
ProcessingStatus>EnteredBy,
EntryDate,
FDAApproved,
GlossaryLink,
Manufacturer,
Title,
Para,
ItemizedList,
OrderedList,
ProcessingStatusValue,
RefDescription,
RefLink,
ReviewStatus,
StatusDate,
TerminologyLink,
URL,
   { background-color: white; }


/* Background color for Text Labels */
Audience                 :before,
ApprovedIndication       :before,
Comment                  :before,
ComprehensiveReviewDate  :before,
DateLastModified         :before,
Description              :before,
DrugInfoMetaData         :before,
DrugInfoType             :before,
DrugReferenceDescription :before,
DrugReferenceLink        :before,
DrugReferencePostedDate  :before,
DrugReferenceType        :before,
EnteredBy                :before,
ProcessingStatus>EnteredBy
                         :before,
EntryDate                :before,
FDAApproved              :before,
GlossaryLink             :before,
Manufacturer             :before,
Title                    :before,
ProcessingStatus         :before,
ProcessingStatusValue    :before,
RefDescription           :before,
RefLink                  :before,
ReviewStatus             :before,
SummarySection           :before,
StatusDate               :before,
TerminologyLink          :before,
URL                      :before,
   { background-color: #CCCCFF; }
