/*************************************************************************/
/*      GlossaryTermConcept.css                                          */
/*                                                                       */
/*      v. 1.0                                                           */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      color: black;
      margin-top: 5px;
      margin-left: 5px; }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      font-weight: normal;
      background-color: white; }

GlossaryTermConcept,
    { background-color: #CCCCFF;
      text-decoration: none;
      color: black; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Audience,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
GlossaryTerm,
NCIThesaurusID,
PdqKey,
PDQTerm,
ProcessingStatus,
ProcessingStatuses,
ProcessingStatusValue,
PronunciationResource,
RelatedInformation,
RelatedDrugSummaryLink,
RelatedExternalRef,
RelatedGlossaryTermNameLink,
RelatedSummaryRef,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TranslatedTermDefinition,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Audience                     :before { content: "Audience * +: "; }
Comment                      :before { content: "Comments & + @: "; }
DateLastModified             :before { content: "Last Modified &: "; }
DateLastReviewed             :before { content: "Last Reviewed &: "; }
DefinitionResource           :before { content: "Def Resource & +: "; }
DefinitionStatus             :before { content: "Def Status &: "; }
Dictionary                   :before { content: "Dictionary & +: "; }
NCIThesaurusID               :before { content: "NCI Thesaurus ID &: "; }
PdqKey                       :before { content: "PDQ Key &: "; }
PDQTerm                      :before { content: "PDQ Term &: "; }
PlaceHolder                  :before { content: "["attr(name)"]"; }
ProcessingStatuses           :before { content: "PROCESSING STATUSES &"; }
ProcessingStatusValue        :before { content: "Status * +: "; }
PronunciationResource        :before { content: "Pron Resource & +: "; }
RelatedInformation           :before { content: "RELATED INFORMATION &"; }
RelatedDrugSummaryLink       :before { content: "Rel Drug Link & + @: "; }
RelatedExternalRef           :before { content: "Rel Ext Ref & + @: "; }
RelatedGlossaryTermNameLink  :before { content: "Rel Gloss Link & + @: "; }
RelatedSummaryRef            :before { content: "Rel Sum Ref & + @: "; }
ReplacementText              :before { content: "Replacemnt Txt & + @: "; }
ReplacementText              :after  { content: " ["attr(name)"]"; }
StatusDate                   :before { content: "Status Date &: "; }
TranslatedTermDefinition     :before { content: "TRANSLATED DEFINITION ["attr(language)"] * +"; }
TranslatedTermDefinition>DefinitionText       
                             :before { content: "Definition *: "; }
TranslatedStatus             :before { content: "Def Status &: "; }
TranslatedStatusDate         :before { content: "Status Date *: "; }
TermDefinition>TranslatedStatusDate                      
                             :before { content: "Status Date &: "; }
TranslatedTermDefinition>TranslatedStatusDate                      
                             :before { content: "Status Date &: "; }
TermDefinition               :before { content: "TERM DEFINITION * +"; }
TermDefinition>DefinitionText       
                             :before { content: "Term Definition *: "; }
TermName                     :before { content: "Term Name *: "; }
TermPronunciation            :before { content: "Pronunciation &: "; }
TermSource                   :before { content: "Term Source *: "; }
TermStatus                   :before { content: "Term Status *: "; }
TermType                     :before { content: "Term Type * +: "; }
TranslationResource          :before { content: "Trans Resource & +: "; }



/***************************************************************************/
/*                     SECTION TITLES AND BORDERS                          */
/***************************************************************************/
MediaLink,
ProcessingStatuses,
TranslatedTermDefinition,
TermDefinition,
TermSource,
    { margin-top: 1em; }

MediaLink,
ProcessingStatus,
ProcessingStatuses,
    { margin-bottom: 1em; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Audience                     :before,
Comment                      :before,
DateLastModified             :before,
DateLastReviewed             :before,
DefinitionResource           :before,
DefinitionStatus             :before,
DefinitionText               :before,
Dictionary                   :before,
NCIThesaurusID               :before,
PDQTerm                      :before,
ProcessingStatuses           :before,
ProcessingStatusValue        :before,
PronunciationResource        :before,
RelatedInformation           :before,
RelatedDrugSummaryLink       :before,
RelatedExternalRef           :before,
RelatedSummaryRef            :before,
RelatedGlossaryTermNameLink  :before,
ReplacementText              :before,
StatusDate                   :before,
TranslatedStatus             :before,
TranslatedStatusDate         :before,
TranslatedTermDefinition     :before,
TermDefinition               :before,
TermName                     :before,
TermPronunciation            :before,
TranslationResource          :before,
    { font-weight: bold;
      color: black; }

ReplacementText              :after,
    { font-weight: bold;
      color: teal; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
TermDefinition,
ProcessingStatuses,
RelatedInformation,
TranslatedTermDefinition,
    { border: solid;
      border-color: black;
      border-width: thin;
      margin-top: 1em;
      margin-bottom: 6pt; }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
PdqKey:before,
TermSource:before,
TermStatus:before,
TermType:before,
    {  font-weight: bold;
       color: black; }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = SpanishTermName                       */

Audience                     { margin-left: 135pt;
                               text-indent: -79.5pt; }
Comment,                     { margin-left: 135pt;
                               text-indent: -107pt; }
DateLastModified,            { margin-left: 135pt;
                               text-indent: -97pt; }
DateLastReviewed,            { margin-left: 135pt;
                               text-indent: -104pt; }
DefinitionResource           { margin-left: 135pt;
                               text-indent: -108pt; }
DefinitionStatus             { margin-left: 135pt;
                               text-indent: -79.5pt; }
Dictionary                   { margin-left: 135pt;
                               text-indent: -88.5pt; }
NCIThesaurusID,              { margin-left: 135pt;
                               text-indent: -118pt; }
/* 
ProcessingStatus             { margin-left: 135pt; }
ProcessingStatusValue        { margin-left:   0pt;
                               text-indent: -62pt; }
ProcessingStatus > Comment   { margin-left:   0pt;
                               text-indent:-107pt; }
*/
ProcessingStatus             { margin-left:  20pt; }
ProcessingStatusValue        { margin-left:  20pt; }

ProcessingStatus Comment     { margin-left:   0pt; 
                               text-indent:   0pt; }
ProcessingStatus  Comment    { margin-left:  20pt; }

PronunciationResource,       { margin-left: 135pt;
                               text-indent: -116.5pt; }
PdqKey,                      { margin-left: 135pt;
                               text-indent: -71pt; }
PDQTerm,                     { margin-left: 135pt;
                               text-indent: -79pt; }
ReplacementText,             { margin-left: 135pt;
                               text-indent: -134pt; }
RelatedDrugSummaryLink,      { margin-left: 135pt;
                               text-indent: -120pt; }
RelatedExternalRef,          { margin-left: 135pt;
                               text-indent: -105pt; }
RelatedSummaryRef,           { margin-left: 135pt;
                               text-indent: -112.5pt; }
RelatedGlossaryTermNameLink, { margin-left: 135pt;
                               text-indent: -124.5pt; }
StatusDate                   { margin-left: 135pt;
                               text-indent: -86pt; }
TermName,                    { margin-left: 135pt;
                               text-indent: -81pt; }
TermPronunciation,           { margin-left: 135pt;
                               text-indent: -101pt; }
TermSource,                  { margin-left: 135pt;
                               text-indent: -89pt; }
TermType,                    { margin-left: 135pt;
                               text-indent: -86pt; }
TermStatus,                  { margin-left: 135pt;
                               text-indent: -85pt; }
TermDefinition>DefinitionText,          
                             { margin-left: 135pt;
                               text-indent: -102.5pt; }
TranslationResource          { margin-left: 135pt;
                               text-indent: -121.5pt; }
TranslatedTermDefinition>DateLastModified, 
                             { margin-left: 135pt;
                               text-indent: -97pt; }
TranslatedTermDefinition>DefinitionText,   
                             { margin-left: 135pt;
                               text-indent: -70.5pt; }
TranslatedStatus             { margin-left: 135pt;
                               text-indent: -79.5pt; }
TranslatedStatusDate,        { margin-left: 135pt;
                               text-indent: -86pt; }




/* ******************************************************* */
/* Section Heading Margins                                 */
/* ******************************************************* */
TermName,
    { margin-top: 1em; }


/* ******************************************************* */
/* Margin-bottom to simulate a text box                    */
/* ******************************************************* */
Audience,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
NCIThesaurusID,
PdqKey, 
PDQTerm,
ProcessingStatusValue,
PronunciationResource,
RelatedDrugSummaryLink,
RelatedExternalRef, 
RelatedSummaryRef,
RelatedGlossaryTermNameLink,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TranslatedTermDefinition,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { margin-bottom: 4pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
Audience,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
NCIThesaurusID,
PdqKey, 
PDQTerm,
ProcessingStatusValue,
PronunciationResource,
RelatedDrugSummaryLink,
RelatedExternalRef,
RelatedGlossaryTermNameLink,
RelatedSummaryRef,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { background-color: white; }


Comment                      :before,
DateLastModified             :before,
DateLastReviewed             :before,
DefinitionResource           :before,
NCIThesaurusID               :before,
PdqKey                       :before, 
PDQTerm                      :before,
ProcessingStatusValue        :before,
PronunciationResource        :before,
RelatedDrugSummaryLink       :before,
RelatedExternalRef           :before,
RelatedGlossaryTermNameLink  :before,
RelatedSummaryRef            :before,
ReplacementText              :before,
StatusDate                   :before,
TranslatedStatus             :before,
TranslatedStatusDate         :before,
TermName                     :before,
TermPronunciation            :before,
TermSource                   :before,
TermStatus                   :before,
TermType                     :before,
TranslationResource          :before,
    { background-color: #CCCCFF; }  /* light blue */


TermDefinition,
TermDefinition *:before
    { background-color: #FFCC99; }  /* brown */

TranslatedTermDefinition,
TranslatedTermDefinition *:before,
    { background-color: #99FFFF; }  /* another light-blue */


/* Need to reset the Inline elements */
PlaceHolder                  :before,
    { background-color: white;  
      font-weight: bold;
      color: teal; }
