/*************************************************************************/
/*      GlossaryTerm_structure.css                                       */
/*                                                                       */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/*************************************************************************/
/*                     DEFAULT PROPERTIES                                */
/*************************************************************************/

@import "CdrCommonSchema_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*   { white-space: nowrap;
      text-align: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold;
      color: black; }

/* top-level elements */

$DOCUMENT > *
    { margin-left: 0px;  }

$PROCINS
    { color: white;
      font-weight: normal;
      background-color: white;}

GlossaryTermName
    { background-color: white;
      text-decoration: none;
      color: black;  }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Comment,
DateLastModified,
GlossaryTerm,
ProcessingStatuses,
ProcessingStatus,
ProcessingStatusValue,
PronunciationResource,
TermName,
TermPronunciation
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
Comment                      :before { content: "Comments"; }
DateLastModified             :before { content: "Last Modified"; }
GlossaryTermConcept          :before { content: "Glossary Concept"; }
ProcessingStatus             :before { content: "Processing Status"; }
ProcessingStatuses           :before { content: "PROCESSING STATUSES"; }
ProcessingStatusValue        :before { content: "Status"; }
PronunciationResource        :before { content: "Pronunciation Resource"; }
ReplacementText              :before { content: "Replacement Text"; }
TermName                     :before { content: "TERM NAME"; }
TermNameStatus               :before { content: "Term Status"; }
TermNameStatusDate           :before { content: "Term Status Date"; }
TermNameString               :before { content: "Term String "; }
TermNameSource               :before { content: "Source"; }
TermNameSourceVerification   :before { content: "Source Verification"; }
TermNameVerificationResource :before { content: "Verification Resource"; }
TermPronunciation            :before { content: "Term Pronunciation"; }
TranslatedName               :before { content: "TRANSLATED NAME ["attr(language)"]"; }
TranslationResource          :before { content: "Translation Resource"; }
TranslatedNameStatus         :before { content: "Translated Name Status"; }
TranslatedNameStatusDate     :before { content: "Translated Name Status Date"; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
GlossaryTerm                 :before
    { color: black; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Comment                      :before,
TermName                     :before,
TermPronunciation            :before
    { font-weight: bold;
      color: black;  }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
TermSource                   :before,
TermStatus                   :before,
TermType                     :before
    { font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */

Comment,
DateLastModified,
GlossaryTermConcept,
ReplacementText,
ProcessingStatusValue,
PronunciationResource,
TermNameStatus,
TermNameStatusDate,
TermNameString,
TermNameSource,
TermNameSourceVerification,
TermNameVerificationResource,
TermPronunciation,
TranslationResource,
TranslatedNameStatus,
TranslatedNameStatusDate
    { text-indent: 0pt; }


/***************************************************************************/
/*                              HIDE TEXT                                  */
/***************************************************************************/
Comment,
DateLastModified,
GlossaryTermConcept,
ProcessingStatusValue,
PronunciationResource,
ReplacementText,
TermName,
TermNameStatus,
TermNameStatusDate,
TermNameString,
TermNameSource,
TermNameSourceVerification,
TermNameVerificationResource,
TermPronunciation,
TranslationResource,
TranslatedName,
TranslatedNameStatus,
TranslatedNameStatusDate
    { color: white;
      background-color: white; }


Comment                      :before,
DateLastModified             :before,
GlossaryTermConcept          :before,
ProcessingStatusValue        :before,
PronunciationResource        :before,
ReplacementText              :before,
TermName                     :before,
TermNameStatus               :before,
TermNameStatusDate           :before,
TermNameString               :before,
TermNameSource               :before,
TermNameSourceVerification   :before,
TermNameVerificationResource :before,
TermPronunciation            :before,
TranslationResource          :before,
TranslatedName               :before,
TranslatedNameStatus         :before,
TranslatedNameStatusDate     :before
    { background-color: white; }
