/*************************************************************************/
/*      GlossaryTermName.css                                             */
/*                                                                       */
/*      v. 1.0                                                           */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      color: black;
      margin-top: 5px;
      margin-left: 5px; }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      font-weight: normal;
      background-color: white; }

GlossaryTermName,
    { background-color: #CCCCFF;
      text-decoration: none;
      color: black; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Comment,
DateLastModified,
GlossaryTermConcept,
ProcessingStatuses,
ProcessingStatus,
ProcessingStatusValue,
PronunciationResource,
ReplacementText,
TermName,
TermNameStatus,
TermNameStatusDate,
TermNameString,
TermNameSource,
TermNameSourceVerification,
TermNameVerificationResource,
TermPronunciation,
TranslatedName,
TranslationResource,
TranslatedNameStatus,
TranslatedNameStatusDate,
     { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Comment                      :before { content: "Comments & + @: "; }
DateLastModified             :before { content: "Last Modified &: "; }
GlossaryTermConcept          :before { content: "Glossary Concept * @: "; }
ProcessingStatuses           :before { content: "PROCESSING STATUSES &"; }
ProcessingStatusValue        :before { content: "Status * +: "; }
PronunciationResource        :before { content: "Pron Resource & +: "; }
ReplacementText              :before { content: "Replacemnt Txt & + @: "; }
ReplacementText              :after  { content: " ["attr(name)"]"; }
TermName                     :before { content: "TERM NAME * + @"; }
TermNameStatus               :before { content: "Term Status &: "; }
TermNameStatusDate           :before { content: "Status Date &: "; }
TermNameString               :before { content: "Term String * @: "; }
TermNameSource               :before { content: "Source &: "; }
TermNameSourceVerification   :before { content: "Source Verificatn & +: "; }
TermNameVerificationResource :before { content: "Verif. Resource & +: "; }
TermPronunciation            :before { content: "Pronunciation &: "; }
TranslatedName               :before { content: "TRANSLATED NAME ["attr(language)"] & + @"; }
TranslationResource          :before { content: "Transl. Resrc & +: "; }
TranslatedNameStatus         :before { content: "Transl. Status *: "; }
TranslatedNameStatusDate     :before { content: "Transl. Status Date &: "; }


/***************************************************************************/
/*                     SECTION TITLES AND BORDERS                          */
/***************************************************************************/
DateLastModified,
DateLastReviewed,
ProcessingStatuses,
     { margin-top: 1em }

ProcessingStatus,
ProcessingStatuses,
     { margin-bottom: 1em; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Comment                      :before,
DateLastModified             :before,
GlossaryTermConcept          :before,
ProcessingStatuses           :before,
ProcessingStatusValue        :before,
PronunciationResource        :before,
ReplacementText              :before,
TermName                     :before,
TermNameStatus               :before,
TermNameStatusDate           :before,
TermNameString               :before,
TermNameSource               :before,
TermNameSourceVerification   :before,
TermNameVerificationResource :before,
TermPronunciation            :before,
TranslatedName               :before,
TranslationResource          :before,
TranslatedNameStatus         :before,
TranslatedNameStatusDate     :before,
     { font-weight: bold;
       color: black; }

ReplacementText              :after,
    { font-weight: bold;
      color: teal; }



/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = SpanishTermName                       */

Comment,                     { margin-left: 130pt;
                               text-indent: -107pt; }
GlossaryTermConcept,         { margin-left: 130pt;
                               text-indent: -133.5pt; }
ReplacementText,             { margin-left: 130pt;
                               text-indent: -134pt; }
ProcessingStatus             { margin-left:  20pt; }
ProcessingStatusValue        { margin-left:  20pt; }

ProcessingStatus Comment     { margin-left:   0pt;
                               text-indent:   0pt; }
ProcessingStatus Comment     { margin-left:  20pt; }

PronunciationResource,       { margin-left: 130pt;
                               text-indent: -116.5pt; }
TermNameStatus,              { margin-left: 130pt;
                               text-indent: -89pt; }
TermNameStatusDate,          { margin-left: 130pt;
                               text-indent: -86pt; }
TermNameString,              { margin-left: 130pt;
                               text-indent: -97.5pt; }
TermNameSource,              { margin-left: 130pt;
                               text-indent: -61.5pt; }
TermNameSourceVerification,  { margin-left: 130pt;
                               text-indent: -128.5pt; }
TermNameVerificationResource,{ margin-left: 130pt;
                               text-indent: -118pt; }
TermPronunciation,           { margin-left: 130pt;
                               text-indent: -101pt; }
TermSource,                  { margin-left: 130pt;
                               text-indent: -89pt; }
TermType,                    { margin-left: 130pt;
                               text-indent: -86pt; }
TranslationResource,         { margin-left: 130pt;
                               text-indent: -106pt; }
TranslatedNameStatus,        { margin-left: 130pt;
                               text-indent: -94.5pt; }
TranslatedNameStatusDate,    { margin-left: 130pt;
                               text-indent: -128.5pt; }
DateLastModified,            { margin-left: 130pt;
                               text-indent: -97pt; }


/* Section Heading Margins                                 */
/***************************************************************************/
/*                              MARGINS                                    */
/***************************************************************************/
GlossaryTermConcept,
TermName,
TranslatedName,
     { margin-top: 1.5em; }

GlossaryTermConcept,
     { margin-bottom: 1em; }



TermNameString,
    { margin-top: 4pt; }

/* ******************************************************* */
/* Margin-bottom to simulate a text box                    */
/* ******************************************************* */
Comment,
DateLastModified,
ProcessingStatusValue,
PronunciationResource,
ReplacementText,
TermNameStatus,
TermNameStatusDate,
TermNameString,
TermNameSource,
TermNameSourceVerification,
TermNameVerificationResource,
TermPronunciation,
TranslationResource,
TranslatedNameStatus,
TranslatedNameStatusDate,
     { margin-bottom: 4pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
Comment,
DateLastModified,
GlossaryTermConcept,
ProcessingStatusValue,
PronunciationResource,
ReplacementText,
TermNameStatus,
TermNameStatusDate,
TermNameSource,
TermNameSourceVerification,
TermNameVerificationResource,
TermNameString,
TermPronunciation,
TranslationResource,
TranslatedNameStatus,
TranslatedNameStatusDate,
     { background-color: white; }


Comment                      :before,
DateLastModified             :before,
GlossaryTermConcept          :before,
ProcessingStatusValue        :before,
PronunciationResource        :before,
ReplacementText              :before,
TermName                     :before,
TermNameStatus               :before,
TermNameStatusDate           :before,
TermPronunciation            :before,
TermNameSource               :before,
TermNameSourceVerification   :before,
TermNameVerificationResource :before,
TermNameString               :before,
TranslationResource          :before,
TranslatedNameStatus         :before,
TranslatedNameStatusDate     :before,
     { background-color: #CCCCFF; }  /* light blue */

TermName,
TermName                                    :before,
TermName                                   *:before,
TermNameStatus                              :before,
TermNameStatusDate                          :before,
     { background-color: #FFCC99; }   /* brown */

TranslatedName,
TranslatedName               :before,
TranslatedName              *:before,
     { background-color: #99FFFF; }   /* another light-blue */
