/*************************************************************************/
/*      GlossaryTermConcept_structure.css                                */
/*                                                                       */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*   { white-space: nowrap;
      text-align: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold;
      color: black; }

/* top-level elements */

$DOCUMENT > *
    { margin-left: 0px;  }

$PROCINS
    { color: white;
      font-weight: normal;
      background-color: white;}

GlossaryTermConcept
    { background-color: white;
      text-decoration: none;
      color: black;  }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Audience,
Caption,
Comment,
DateLastModified,
DateLastReviewed,
GlossaryTerm,
DefinitionResource,
DefinitionStatus,
EmbeddedVideo,
TranslatedStatus,
DefinitionText,
Dictionary,
MediaID,
MediaLink,
PdqKey,
ReplacementText,
ProcessingStatuses,
ProcessingStatus,
ProcessingStatusValue,
PronunciationResource,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
StatusDate,
TranslatedStatusDate,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
VideoID
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
Audience                     :before { content: "Audience"; }
Dictionary                   :before { content: "Dictionary"; }
Comment                      :before { content: "Comments"; }
DateLastModified             :before { content: "Last Modified"; }
DateLastReviewed             :before { content: "Last Reviewed"; }
DefinitionResource           :before { content: "Definition Resource"; }
DefinitionStatus             :before { content: "Definition Status"; }
EmbeddedVideo                :before { content: "VIDEOLINK"; }
GlossaryTerm                 :before { content: "GLOSSARY TERM"; }
MediaLink                    :before { content: "MEDIALINK"; }
NCIThesaurusID               :before { content: "NCI Thesaurus ID"; }
PdqKey                       :before { content: "PDQ Key"; }
PDQTerm                      :before { content: "PDQ Term"; }
ReplacementText              :before { content: "Replacement Text"; }
ProcessingStatus             :before { content: "Processing Status"; }
ProcessingStatuses           :before { content: "PROCESSING STATUSES"; }
ProcessingStatusValue        :before { content: "Status"; }
PronunciationResource        :before { content: "Pronunciation Resource"; }
RelatedInformation           :before { content: "RELATED INFORMATION"; }
RelatedDrugSummaryLink       :before { content: "Rel Drug Summary Link"; }
RelatedExternalRef           :before { content: "Rel External Ref"; }
RelatedGlossaryTermNameLink  :before { content: "Rel Glossary Link"; }
RelatedSummaryRef            :before { content: "Rel Summary Ref"; }
SpecificMediaCaption         :before { content: "Caption"; }
SpecificMediaTitle           :before { content: "Title"; }
SpecificVideoPresentationTemplate
                             :before { content: "Display"; }
StatusDate                   :before { content: "Status Date"; }
TranslatedTermDefinition     :before { content: "TRANSLATED DEFINITION"; }
TranslatedTermDefinition>DefinitionText
                             :before { content: "Translated Definition"; }
TermDefinition               :before { content: "TERM DEFINITION"; }
TermDefinition>DefinitionText
                             :before { content: "Term Definition "; }
TermName                     :before { content: "Term Name "; }
TermPronunciation            :before { content: "Term Pronunciation "; }
TermSource                   :before { content: "Term Source "; }
TermStatus                   :before { content: "Term Status "; }
TermType                     :before { content: "Term Type  "; }
TranslatedStatus             :before { content: "Translated Status"; }
TranslatedStatusDate         :before { content: "Translated Status Date"; }
TranslationResource          :before { content: "Translation Resource"; }
VideoID                      :before { content: "Video ID"; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
GlossaryTerm:before
    { color: black; }


/***************************************************************************/
/*                         BORDER CONTROL                                  */
/***************************************************************************/
ProcessingStatuses,
RelatedInformation,
TermDefinition,
TranslatedTermDefinition
    { border: none; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Comment             :before,
TranslatedStatus    :before,
DefinitionText      :before,
Audience            :before,
Dictionary          :before,
TranslatedStatusDate:before,
TermName            :before,
TermPronunciation   :before,
TranslationRecourse :before
    { font-weight: bold;
      color: black;  }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
TermSource          :before,
TermStatus          :before,
TermType            :before
    { font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */

Audience,
Comment,
DateLastModified,
DateLastReviewed,
GlossaryTerm,
DefinitionResource,
DefinitionStatus,
TranslatedStatus,
DefinitionText,
Dictionary,
NCIThesaurusID,
PdqKey,
PDQTerm,
ReplacementText,
ProcessingStatusValue,
PronunciationResource,
RelatedDrugSummaryLink,
RelatedExternalRef,
RelatedGlossaryTermNameLink,
RelatedSummaryRef,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
StatusDate,
TranslatedStatusDate,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
VideoID
    { text-indent: 0pt; }


/***************************************************************************/
/*                              HIDE TEXT                                  */
/***************************************************************************/
Audience,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
EmbeddedVideo,
TranslatedStatus,
GlossaryTerm,
DefinitionText,
Dictionary,
NCIThesaurusID,
PdqKey,
PDQTerm,
ReplacementText,
ProcessingStatusValue,
PronunciationResource,
RelatedDrugSummaryLink,
RelatedExternalRef,
RelatedGlossaryTermNameLink,
RelatedSummaryRef,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
StatusDate,
TranslatedStatusDate,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslatedTermDefinition,
TranslationResource,
VideoID
    { color: white;
      background-color: white; }


Audience                    :before,
Comment                     :before,
DateLastModified            :before,
DateLastReviewed            :before,
DefinitionResource          :before,
DefinitionStatus            :before,
EmbeddedVideo               :before,
TranslatedStatus            :before,
GlossaryTerm                :before,
DefinitionText              :before,
Dictionary                  :before,
NCIThesaurusID              :before,
PdqKey                      :before,
PDQTerm                     :before,
ReplacementText             :before,
ProcessingStatusValue       :before,
PronunciationResource       :before,
RelatedDrugSummaryLink      :before,
RelatedExternalRef          :before,
RelatedGlossaryTermNameLink :before,
RelatedSummaryRef           :before,
SpecificMediaCaption        :before,
SpecificMediaTitle          :before,
SpecificVideoPresentationTemplate
                            :before,
StatusDate                  :before,
TranslatedTermDefinition    :before,
TranslatedStatusDate        :before,
TermName                    :before,
TermPronunciation           :before,
TermSource                  :before,
TermStatus                  :before,
TermType                    :before,
TranslationResource         :before,
VideoID                     :before
    { background-color: white; }
