/*************************************************************************/
/*      License.css                                                      */
/*      ===========                                                      */
/*      2008-11-28:  Volker Englisch                                     */
/*                                                                       */
/*************************************************************************/
/*************************************************************************/
/*                    DEFAULT PROPERTIES                                 */
/*************************************************************************/
@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      margin-top: 5px;
      margin-left: 5px;
      color: black;          }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      background-color: white; }

Licensee
    { background-color: #CCCCFF;  }

/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
AccountBlocked,
AlternateName,
ApplicationInformation,
Audience,
Audiences,
Comment,
ContactDetail,
ContactName,
ContactPerson,
ContactPersons,
ContactRole,
ContentTranslation,
DateLastModified,
Display,
DisplayOfSummaries,
DistributionMethod,
DistributionMethods,
DocType,
ExternalGmailAddress,
FormerName,
FtpInformation,
InterestedDocTypes,
LicenseeDepartment,
LicenseeInformation,
LicenseeNameInformation,
LicenseeStatus,
LicenseeStatusDates,
LicenseeType,
OfficialName,
OrganizationType,
OtherNames,
Password,
ProductionActivation,
ProductionInactivation,
SecondaryUserName,
TestActivation,
TestExtension,
TestInactivation,
UsageDescription,
UserName
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

AccountBlocked         :before { content: "Account Blocked *: "; }
ApplicationInformation :before { content: "APPLICATION INFORMATION *"; }
Audiences              :before { content: "AUDIENCES &: "; }
Audience               :before { content: "- "; }
Comment                :before { content: "Comment &: "; }
ContactDetail          :before { content: "CONTACT DETAIL &"; }
ContactName            :before { content: "Name *: "; }
ContactPerson          :before { content: "CONTACT PERSON & @"; }
ContactPerson[Type="P"]:before { content: "CONTACT PERSON & @ (Primary)"; }
ContactPerson[Type="S"]:before { content: "CONTACT PERSON & @ (Secondary)"; }
ContactPerson[Type="I"]:before { content: "CONTACT PERSON & @ (Internal)"; }
ContactPerson[Type="D"]:before { content: "CONTACT PERSON & @ (Deleted)"; }
ContactPersons         :before { content: "CONTACT PERSONS * +"; }
ContactRole            :before { content: "Role + &: "; }
ContentTranslation     :before { content: "Translation + &: "; }
DateLastModified       :before { content: "Date Last Modified &: "; }
Display                :before { Content: "Display + &: "; }
DisplayOfSummaries     :before { Content: "DISPLAY OF SUMMARIES &"; }
DistributionMethod     :before { content: "- "; }
DistributionMethods    :before { content: "DISTRIBUTION METHODS * "; }
DocType                :before { content: "Doc Type + &: "; }
ExternalGmailAddress   :before { content: "External Email &: "; }
FtpInformation         :before { content: "FTP INFORMATION &: "; }
InterestedDocTypes     :before { Content: "DOC TYPES &"; }
LicenseeDepartment     :before { content: "Department &: "; }
LicenseeInformation    :before { content: "LICENSEE INFORMATION *"; }
LicenseeNameInformation:before { content: "LICENSEE NAME INFORMATION &: "; }
LicenseeStatus         :before { content: "Status &: "; }
LicenseeStatusDates    :before { content: "STATUS DATES &: "; }
LicenseeType           :before { content: "Licensee Type &: "; }
ApplicationInformation>Name
                       :before { content: "Application Info &: "; }
OfficialName>Name      :before { content: "Official Name *: "; }
AlternateName>Name     :before { content: "Alternate Name & +: "; }
FormerName>Name        :before { content: "Former Name & +: "; }
OrganizationType       :before { content: "Org Type &: "; }
Password               :before { content: "Password &: "; }
/* Overwriting style from CdrCommon.css for PostalAddress */
PostalAddress          :before { content: "POSTAL ADDRESS & @"; }
PostalAddress[AddressType="US"]
                       :before { content: "POSTAL ADDRESS & @ (US)"; }
PostalAddress[AddressType="Non-US"]
                       :before { content: "POSTAL ADDRESS & @ (Non-US)"; }
ProductionActivation   :before { content: "Prod Activation &: "; }
ProductionInactivation :before { content: "Prod Inactivation &: "; }
SecondaryUserName      :before { content: "2nd User Name &: "; }
TestActivation         :before { content: "Test Activation *: "; }
TestExtension          :before { content: "Test Extension &: "; }
TestInactivation       :before { content: "Test Inactivation &: "; }
UsageDescription       :before { Content: "Usage Description &: "; }
UserName               :before { content: "User Name &: "; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
ApplicationInformation,
ContactDetail,
ContactPerson,
ContactPersons,
DisplayOfSummaries,
FtpInformation,
InterestedDocTypes,
LicenseeInformation,
LicenseeNameInformation,
LicenseeStatusDates,
OfficicalName,
OtherNames,
Statistics
    { margin-bottom: 1em;  }

ApplicationInformation>Audiences,
ContactDetail,
DisplayOfSummaries,
InterestedDocTypes,
LicenseeStatusDates,
LicenseeType,
Statistics
    { margin-top: 1em;  }


/***************************************************************************/
/*                         BORDERED SECTIONS                               */
/***************************************************************************/
ApplicationInformation,
ContactPersons,
FtpInformation,
LicenseeInformation
    { border: solid;
      border-color: black;
      border-width: thin;
      margin-top: 1em;
      margin-bottom: 6pt; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
AccountBlocked         :before,
AlternateName          :before,
ApplicationInformation :before,
Audience               :before,
Audiences              :before,
Comment                :before,
ContactDetail          :before,
ContactName            :before,
ContactPerson          :before,
ContactPersons         :before,
ContactRole            :before,
ContentTranslation     :before,
DateLastModified       :before,
Display                :before,
DisplayOfSummaries     :before,
DistributionMethod     :before,
DistributionMethods    :before,
DocType                :before,
ExternalGmailAddress   :before,
FormerName             :before,
FtpInformation         :before,
InterestedDocTypes     :before,
LicenseeDepartment     :before,
LicenseeInformation    :before,
LicenseeNameInformation:before,
LicenseeStatus         :before,
LicenseeStatusDates    :before,
LicenseeType           :before,
Name                   :before,
OfficialName           :before,
OrganizationType       :before,
OtherNames             :before,
Password               :before,
ProductionActivation   :before,
ProductionInactivation :before,
SecondaryUserName      :before,
TestActivation         :before,
TestExtension          :before,
TestInactivation       :before,
UsageDescription       :before,
UserName               :before
    {  font-weight: bold;
       color: black;       }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
/* some properties don't get applied on the first element in a list        */
Verified:before
    {  font-weight: bold;
       color: black;  }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */
/* Key element for length = GenerationSuffix    */

/* LicenseeInformation Group */
LicenseeNameInformation
    { margin-left: 30pt; }
  Comment
    { margin-left: 100pt;
      text-indent: -76pt; }
  OfficialName
    { margin-left: 100pt;
      text-indent: -91pt; }
  AlternateName
    { margin-left: 100pt;
      text-indent:-117pt; }
  FormerName
    { margin-left: 100pt;
      text-indent:-107pt; }

LicenseeDepartment
    { margin-left: 130pt;
      text-indent: -87pt; }
LicenseeStatus
    { margin-left: 130pt;
      text-indent: -57pt; }
LicenseeType
    { margin-left: 130pt;
      text-indent:-103.5pt; }
ContentTranslation
    { margin-left: 130pt;
      text-indent: -93pt; }
UsageDescription
    { margin-left: 130pt;
      text-indent:-125pt; }
InterestedDocTypes
    { margin-left: 30pt; }
DocType
    { margin-left: 100pt;
      text-indent:-84pt; }
DisplayOfSummaries
    { margin-left: 30pt; }
Display
    { margin-left: 100pt;
      text-indent:-73pt; }

LicenseeStatusDates
    { margin-left: 30pt; }
  ProductionActivation
    { margin-left: 100pt;
      text-indent:-108pt; }
  ProductionInactivation
    { margin-left: 100pt;
      text-indent:-117pt; }
  TestActivation
    { margin-left: 100pt;
      text-indent:-100.5pt; }
  TestExtension
    { margin-left: 100pt;
      text-indent:-106pt; }
  TestInactivation
    { margin-left: 100pt;
      text-indent:-114pt; }

  UserName
    { margin-left: 130pt;
      text-indent: -83pt; }
  SecondaryUserName
    { margin-left: 130pt;
      text-indent: -109pt; }
  ExternalGmailAddress
    { margin-left: 130pt;
      text-indent: -103pt; }
  Password
    { margin-left: 130pt;
      text-indent: -78pt; }
  AccountBlocked
    { margin-left: 130pt;
      text-indent:-114pt; }

/* Technical Contacts Group */
ContactDetail,  ContactPerson
    { margin-left:  30pt; }
  ContactName
    { margin-left: 100pt;
      text-indent: -49pt; }
  ContactRole
    { margin-left: 100pt;
      text-indent: -57pt; }

/* Technical Contacts Group */
ApplicationInformation
    { margin-left:   0pt; }

  DistributionMethods, Audiences, PostalAddress
    { text-indent:  30pt; }

  PostallAddress *
    { text-indent: -30pt; }

    DistributionMethod, Audience
    { margin-left: 130pt;
      text-indent: -7.5pt; }

/* Misc Info Group */
Status
    { margin-left: 130pt; }

DateLastModified
    { margin-left: 130pt;
      text-indent:-126pt; }

OrganizationType
    { margin-left: 130pt;
      text-indent: -73pt; }



/* Separate each line to make it look like a text box  */

AccountBlocked,
AlternateName,
Audience,
Comment,
ContactName,
ContactRole,
ContentTranslation,
DateLastModified,
Display,
DistributionMethod,
DocType,
ExternalGmailAddress,
FormerName,
LicenseeDepartment,
LicenseeInformation,
LicenseeStatus,
LicenseeType,
OfficialName,
OrganizationType,
Password,
ProductionActivation,
ProductionInactivation,
SecondaryUserName,
TestActivation,
TestExtension,
TestInactivation,
UsageDescription,
UserName,
Web
    { margin-bottom: 4pt; }



/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
AccountBlocked,
AlternateName,
Audience,
Comment,
ContactName,
ContactRole,
ContentTranslation,
DateLastModified,
Display,
DistributionMethod,
DocType,
ExternalGmailAddress,
FormerName,
LicenseeDepartment,
LicenseeStatus,
LicenseeType,
Name,
OfficialName,
OrganizationType,
Password,
SecondaryUserName,
UserName,
ProductionActivation,
ProductionInactivation,
TestActivation,
TestExtension,
TestInactivation,
UsageDescription,
Web
    { background-color: white; }

AccountBlocked         :before,
AlternateName          :before,
ApplicationInformation :before,
Audience               :before,
Comment                :before,
ContactName            :before,
ContactRole            :before,
ContentTranslation     :before,
DateLastModified       :before,
Display                :before,
DistributionMethod     :before,
DocType                :before,
ExternalGmailAddress   :before,
LicenseeDepartment     :before,
LicenseeStatus         :before,
LicenseeType           :before,
Name                   :before,
OfficialName           :before,
OrganizationType       :before,
Password               :before,
UserName               :before,
ProductionActivation   :before,
ProductionInactivation :before,
SecondaryUserName      :before,
TestActivation         :before,
TestExtension          :before,
TestInactivation       :before,
UsageDescription       :before,
Web                    :before
    { background-color: #CCCCFF; }
