/*************************************************************************/
/*      Mailer_structure.css                                             */
/*                                                                       */
/*      v. 2.4                                                           */
/*      10/31/02  by ebator                                              */
/*      Schema changes: MailerAddress elements, RemailerFor              */
/*                                                                       */
/*      v. 2.3                                                           */
/*      6/20/02  by ebator                                               */
/*      Added RemailerFor element                                        */
/*                                                                       */
/*      v. 2.2                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 2.1                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/*      v. 2.0                                                           */
/*      12/06-11/01  by ebator                                           */
/*      Edited to import common schema elements                          */
/*                                                                       */
/*      v. 1.0                                                           */
/*      12/04-05/01 by ebator                                            */
/*      Based on the Mailer schema dated 10/05/01.                       */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/
@import "CdrCommonSchema_structure.css";

@sq-plus-minus;
/* @sq-structure-view-icons; */
/* @sq-start-only-tags;      */

*   { white-space: nowrap;
      text-align: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold;
      color: black; }

/* top-level elements */

$DOCUMENT > *
    { margin-left: 0px;  }

$PROCINS
    { color: white;
      font-weight: normal;
      background-color: white;}

Mailer
    { background-color: white; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Address,
AddressLine,
CallLog,
ChangesCategory,
Comment,
MailerAddress>Country,
Deadline,
Document,
JobId,
Mailer,
MailerAddress,
MailerResponse,
PostalCode,
ProtocolOrg,
Received,
Recipient,
RemailerFor,
Resolution,
Response,
Sent,
Type
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
Address                  :before { content: "ADDRESS "; }
AddressLine              :before { content: "Address Line "; }
ChangesCategory          :before { content: "Changes Category "; }
CallLog                  :before { content: "CALL LOG"; }
Comment                  :before { content: "Comments "; }
MailerAddress>Country    :before { content: "Country "; }
Deadline                 :before { content: "Deadline "; }
Document                 :before { content: "Document "; }
JobId                    :before { content: "Job ID "; }
Mailer                   :before { content: "MAILER "; }
MailerAddress            :before { content: "MAILER ADDRESS "; }
MailerResponse           :before { content: "Mailer Response "; }
PostalCode               :before { content: "Postal Code "; }
ProtocolOrg              :before { content: "Protocol Org "; }
Received                 :before { content: "Received "; }
Recipient                :before { content: "Recipient "; }
RemailerFor              :before { content: "Remailer For "; }
Resolution               :before { content: "Resolution"; }
Response                 :before { content: "RESPONSE "; }
Sent                     :before { content: "Sent "; }
Type                     :before { content: "Type "; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
Address                  :before,
MailerAddress            :before
    { color: black;
      font-family: Arial, "sans serif";
      font-size: 10pt;
      font-weight: bold;    }


/***************************************************************************/
/*                         BORDER CONTROL                                  */
/***************************************************************************/
Address,
MailerAddress,
Response
    { border: none;  }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
AddressLine              :before,
Comment                  :before,
MailerAddress>Country    :before,
Deadline                 :before,
Document                 :before,
JobId                    :before,
PostalCode               :before,
ProtocolOrg              :before,
Received                 :before,
Recipient                :before,
RemailerFor              :before,
Resolution               :before,
Response                 :before,
Sent                     :before
    { color:  black;
      font-family: Arial, "sans serif";
      font-size: 10pt;
      font-weight: bold;    }


/***************************************************************************/
/*      TAG PROPERTIES FOR EMUMERATED VALUE AND PICKLIST FIELDS            */
/***************************************************************************/
ChangesCategory          :before,
Type                     :before
    { font-weight: bold;
      font-family: Arial, "sans serif";
      font-size: 10pt;
      color: black;      }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */
Address,
AddressLine,
ChangesCategory,
Comment,
Country,
MailerAddress>Country,
Deadline,
Document,
JobId,
MailerResponse,
PostalCode,
ProtocolOrg,
Received,
Recipient,
RemailerFor,
Resolution,
Response,
Sent,
Type
    { text-indent: 0pt; }


/***************************************************************************/
/*                              HIDE TEXT                                  */
/***************************************************************************/
Address,
AddressLine,
ChangesCategory,
Comment,
MailerAddress>Country,
Deadline,
Document,
JobId,
MailerResponse,
PostalCode,
ProtocolOrg,
Received,
Recipient,
RemailerFor,
Resolution,
Response,
Sent,
Type
    { color: white;
      background-color: white; }

Address,
Address                  :before,
AddressLine,
AddressLine              :before,
ChangesCategory          :before,
Comment                  :before,
Country                  :before,
MailerAddress>Country    :before,
Deadline                 :before,
Document                 :before,
JobId                    :before,
MailerAddress,
MailerAddress            :before,
MailerResponse           :before,
PostalAddress,
ProtocolOrg              :before,
PostalAddress            :before,
PostalCode               :before,
Received                 :before,
Recipient                :before,
RemailerFor              :before,
Resolution               :before,
Response                 :before,
Sent                     :before,
Type                     :before
    { background-color: white; }
