/*************************************************************************/
/* 	Media.css                                                            */
/*                                                                       */
/*      v. 1.0                                                           */
/*      2004-11-10 by Volker Englisch                                    */
/*      Based on the new Media schema                                    */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@import "CdrCommonSchema_structure.css";
 
@sq-plus-minus;
 
/* @sq-structure-view-icons; */
 
/* @sq-start-only-tags;      */
 
*   { white-space: nowrap;
      text-align: left;   
      margin-left: 10px;  
      margin-top: 0px;    
      margin-bottom: 0px; 
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold; 
      color: black; }    
                                                                 
      /* top-level elements */
      
$DOCUMENT > *
                                                           
     { margin-left: 0px;  }
                                                                     
$PROCINS
                                                                
     { color: white;
       font-weight: normal;
       background-color: white;} 


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
Acknowledgement,
AlternativeText,
ApprovedUse,
Audience,
Color,
Captions,
Categories,
Category,
CitationLink,
Comment,
ContentDescriptions,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DerivationMethod,
DefaultVideoPresentationTemplate,
DerivedFrom,
Diagnoses,
Diagnosis,
DocTitle,
ExternalRef,
FromCdrMedia,
FromExternalFile,
FromMethod,
FromObject,
Glossary,
HeightPixels,
HostingID,
ImageData,
ImageDimensions,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
Media,
MediaCaption,
MediaContent,
MediaLanguage,
MediaSource,
MediaTitle,
MinWidthPixels,
OriginalSource,
PhysicalMedia,
PermissionInformation,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
PublisherPermissionText,
ProcessingStatus,
ProcessingStatusDate,
ProcessingStatuses,
ProcessingStatusValue,
ProposedUse,
RunSeconds,
RelatedDocuments,
RequestedBy,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
SoundData,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
Topics,
TranslationOf,
VideoData,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
    { display: block; }



/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 
Acknowledgement           :before { content: "Acknowledgement "; }
AlternativeText           :before { content: "Alternative Text "; }
Audience                  :before { content: "Audience "; }
Color                     :before { content: "Color "; }
Captions                  :before { content: "CAPTIONS "; }
Categories                :before { content: "CATEGORIES "; }
Category                  :before { content: "Category "; }
CitationLink              :before { content: "Citation "; }
Comment                   :before { content: "Comments "; }
ContentDescriptions       :before { content: "CONTENT DESCRIPTIONS "; }
ContentDescription        :before { content: "Content Description "; }
Creator                   :before { content: "Creator "; }
DateCreated               :before { content: "Date Created "; }
DateLastModified          :before { content: "Last Modified "; }
DefaultVideoPresentationTemplate
                          :before { content: "Display "; }
DerivedFrom               :before { content: "DERIVED FROM "; }
Diagnoses                 :before { content: "DIAGNOSES "; }
Diagnosis                 :before { content: "Diagnosis "; }
DocTitle                  :before { content: "Doc Title "; }
ProcessingStatus>EnteredBy:before,
                                  { content: "Entered By "; }
ExternalRef               :before { content: "ExternalRef "; }
FromCdrMedia              :before { content: "FROM CDR MEDIA "; }
FromExternalFile          :before { content: "From External File "; }
FromMethod                :before { content: "From Method "; }
FromObject                :before { content: "FROM OBJECT "; }
Glossary                  :before { content: "Glossary "; }
HeightPixels              :before { content: "Height (Pixels) "; }
HostingID                 :before { content: "Hosting ID "; }
ImageData                 :before { content: "IMAGE DATA ";}
ImageDimensions           :before { content: "IMAGE DIMENSIONS "; }
ImageType                 :before { content: "Image Type "; }
ImageEncoding             :before { content: "Image Encoding "; }
Inlined                   :before { content: "Inlined "; }
Labeled                   :before { content: "Labeled "; }
LabelName                 :before { content: "Label Name "; }
Language                  :before { content: "Language "; }
Media                     :before { content: "Media "; }
MediaCaption              :before { content: "Caption "; }
MediaContent              :before { content: "MEDIA CONTENT "; }
MediaLanguage             :before { content: "Media Language "; }
MediaSource               :before { content: "MEDIA SOURCE "; }
MediaTitle                :before { content: "MediaTitle "; }
MinWidthPixels            :before { content: "MinWidth (Pixels) "; }
OriginalSource            :before { content: "ORIGINAL SOURCE "; }
PermissionInformation     :before { content: "PERMISSION INFORMATION"; }
PermissionRequested       :before { content: "Requested"; }
PermissionRequestDate     :before { content: "Req. Date"; }
PermissionResponse        :before { content: "Response"; }
PermissionResponseDate    :before { content: "Resp. Date"; }
PermissionExpirationDate  :before { content: "Expiration"; }
ApprovedUse               :before { content: "APPROVED USE"; }
SpanishTranslationPermissionRequested 
                          :before { content: "Spn Permission Req"; }
SpanishTranslationPermissionResponse 
                          :before { content: "Spn Permission Resp"; }
PublisherPermissionText   :before { content: "Publisher Txt"; }
PhysicalMedia             :before { content: "PHYSICAL MEDIA "; }
ProcessingStatus          :before { content: "PROCESSING STATUS "; }
ProcessingStatusDate      :before { content: "Status Date"; }
ProcessingStatuses        :before { content: "PROCESSING STATUSES "; }
ProcessingStatusValue     :before { content: "Status Value"; }
ProposedUse               :before { content: "PROPOSED USE "; }
RelatedDocuments          :before { content: "RELATED DOCUMENTS"; }
RequestedBy               :before { content: "Requested By"; }
RunSeconds                :before { content: "Run (sec) "; }
SoundData                 :before { content: "Sound Data "; }
SoundEncoding             :before { content: "Sound Encoding "; }
SoundType                 :before { content: "Sound Type "; }
SourceFilename            :before { content: "Source Filename "; }
SourcePublication         :before { content: "Source Publication "; }
Summary                   :before { content: "Summary "; }
SupplementaryInfoLink     :before { content: "Supplementary Info Link "; }
TextDateCreated           :before { content: "Text Date Created "; }
Topic                     :before { content: "Topic "; }
Topics                    :before { content: "TOPICS "; }
TranslationOf             :before { content: "Translation of"; }
VideoData                 :before { content: "Video Data "; }
VideoEncoding             :before { content: "Video Encoding "; }
VideoHosting              :before { content: "Video Hosting "; }
VideoType                 :before { content: "Video Type "; }
WidthPixels               :before { content: "Width (Pixels) "; }



/***************************************************************************/
/*                      DOCUMENT TITLE AND ID                              */
/***************************************************************************/
MediaSource, 
MediaContent,
PhysicalMedia, 
ProcessingStatuses,
RelatedDocuments,
       { border: none;   }
        

/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
Captions                               :before,
Categories                             :before,
ContentDescriptions                    :before,
DerivedFrom                            :before,
Diagnoses                              :before,
FromObject                             :before,
ImageData                              :before,
ImageDimensions                        :before,
Media                                  :before,
MediaContent                           :before,
MediaSource                            :before,
OriginalSource                         :before,
PhysicalMedia                          :before,
ProcessingStatus                       :before,
ProcessingStatuses                     :before,
ProposedUse                            :before,
Topics                                 :before,
   { color: black;
     font-size: 10pt; }



/***************************************************************************/ 
/*             TAG PROPERTIES FOR TEXT INPUT AND CONTAINER FIELDS          */ 
/***************************************************************************/ 
Acknowledgement                        :before,
AlternativeText                        :before,
Audience                               :before,
Color                                  :before,
Captions                               :before,
Categories                             :before,
Category                               :before,
CitationLink                           :before,
Comment                                :before,
ContentDescriptions                    :before,
ContentDescription                     :before,
Creator                                :before,
DateCreated                            :before,
DateLastModified                       :before,
DerivationMethod                       :before,
DefaultVideoPresentation Template      :before,
DerivedFrom                            :before,
Diagnoses                              :before,
Diagnosis                              :before,
DocTitle                               :before,
ProcessingStatus>EnteredBy             :before,
ExternalRef                            :before,
FromCdrMedia                           :before,
FromExternalFile                       :before,
FromMethod                             :before,
FromObject                             :before,
Glossary                               :before,
HeightPixels                           :before,
HostingID                              :before,
ImageData                              :before,
ImageDimensions                        :before,
ImageType                              :before,
ImageEncoding                          :before,
Inlined                                :before,
Labeled                                :before,
LabelName                              :before,
Language                               :before,
Media                                  :before,
MediaCaption                           :before,
MediaContent                           :before,
MediaLanguage                          :before,
MediaSource                            :before,
MediaTitle                             :before,
MinWidthPixels                         :before,
OriginalSource                         :before,
PermissionInformation                  :before,
PermissionRequested                    :before,
PermissionRequestDate                  :before,
PermissionResponse                     :before,
PermissionResponseDate                 :before,
PermissionExpirationDate               :before,
ApprovedUse                            :before,
SpanishTranslationPermissionRequested  :before,
SpanishTranslationPermissionResponse   :before,
PublisherPermissionText                :before,
PhysicalMedia                          :before,
ProcessingStatusDate                   :before,
ProcessingStatusValue                  :before,
RelatedDocuments                       :before,
RequestedBy                            :before,
RunSeconds                             :before,
SoundData                              :before,
SoundEncoding                          :before,
SoundType                              :before,
SourceFilename                         :before,
SourcePublication                      :before,
Summary                                :before,
SupplementaryInfoLink                  :before,
TextDateCreated                        :before,
Topic                                  :before,
Topics                                 :before,
TranslationOf                          :before,
VideoData                              :before,
VideoEncoding                          :before,
VideoHosting                           :before,
VideoType                              :before,
WidthPixels                            :before,
     { color: black;  
       background-color: white; }



/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Remove negative text-indent settings  */
Acknowledgement,
AlternativeText,
Audience,
Color,
Category,
CitationLink,
Comment,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DefaultVideoPresentationTemplate,
DerivationMethod,
Diagnosis,
DocTitle,
ExternalRef,
FromCdrMedia,
FromExternalFile,
FromMethod,
ProcessingStatus>EnteredBy,
Glossary,
HeightPixels,
HostingID,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
MediaCaption,
MediaLanguage,
MediaTitle,	
MinWidthPixels,
OriginalSource,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
ApprovedUse,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
PublisherPermissionText,
ProcessingStatusDate,
ProcessingStatusValue,
RequestedBy,
RunSeconds,
SoundData,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
TranslationOf,
VideoData,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
     { text-indent: 0pt; }


/***************************************************************************/
/*                            HIDE TEXT                                    */
/***************************************************************************/
Acknowledgement,
AlternativeText,
Audience,
Color,
Category,
CitationLink,
Comment,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DefaultVideoPresentationTemplate,
DerivationMethod,
Diagnosis,
DocTitle,
ProcessingStatus>EnteredBy,
ExternalRef,
Glossary,
FromCdrMedia,
FromExternalFile,
FromMethod,
HeightPixels,
HostingID,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
MediaCaption,
MediaLanguage,
MediaTitle,	
MinWidthPixels,
OriginalSource,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
ApprovedUse,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
PublisherPermissionText,
ProcessingStatusDate,
ProcessingStatusValue,
RequestedBy,
RunSeconds,
SoundData,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
TranslationOf,
VideoData,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
     { color: white;
       background-color: white; }
/*       background-color: green; } */


/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 
/* Background color for Fields (Do not include Container Elements here */
AlternativeText                        :before,
Audience                               :before,
Color                                  :before,
Category                               :before,
CitationLink                           :before,
Comment                                :before,
ContentDescription                     :before,
Creator                                :before,
DateCreated                            :before,
DateLastModified                       :before,
DefaultVideoPresentationTemplate       :before,
DerivationMethod                       :before,
Diagnosis                              :before,
DocTitle                               :before,
FromCdrMedia                           :before,
FromExternalFile                       :before,
FromMethod                             :before,
Glossary,
ProcessingStatusDate,
ProcessingStatusValue,
Summary,
HeightPixels                           :before,
HostingID                              :before,
ImageType                              :before,
ImageEncoding                          :before,
Inlined                                :before,
Labeled                                :before,
LabelName                              :before,
Language                               :before,
MediaCaption                           :before,
MediaLanguage                          :before,
MediaTitle                             :before,
MinWidthPixels                         :before,
OriginalSource                         :before,
PermissionRequested                    :before,
PermissionRequestDate                  :before,
PermissionResponse                     :before,
PermissionResponseDate                 :before,
PermissionExpirationDate               :before,
ApprovedUse                            :before,
SpanishTranslationPermissionRequested  :before,
SpanishTranslationPermissionResponse   :before,
PublisherPermissionText                :before,
PhysicalMedia                          :before,
RequestedBy                            :before,
RunSeconds                             :before,
SoundData                              :before,
SoundEncoding                          :before,
SoundType                              :before,
SourceFilename                         :before,
SourcePublication                      :before,
TextDateCreated                        :before,
Topic                                  :before,
VideoData                              :before,
VideoEncoding                          :before,
VideoHosting                           :before,
VideoType                              :before,
WidthPixels                            :before,
   { background-color: white; }


Acknowledgement,
AlternativeText,
Audience,
Color,
Captions,
Categories,
Category,
CitationLink,
Comment,
ContentDescriptions,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DefaultVideoPresentationTemplate,
DerivationMethod,
DerivedFrom,
Diagnoses,
Diagnosis,
DocTitle,
FromCdrMedia,
FromExternalFile,
FromMethod,
FromObject,
HeightPixels,
HostingID,
ImageData,
ImageDimensions,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
Media,
MediaCaption,
MediaContent,
MediaLanguage,
MediaSource,
MediaTitle,
MinWidthPixels,
OriginalSource,
PhysicalMedia,
RequestedBy,
RunSeconds,
SoundData,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
TextDateCreated,
Topic,
Topics,
VideoData,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
   { background-color: white; }
