/*************************************************************************/
/* 	Media.css                                                            */
/*                                                                       */
/*      v. 1.0                                                           */
/*      2004-11-10 by Volker Englisch                                    */
/*      Based on the new Media schema                                    */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@import "CdrCommonSchema.css";

$DOCUMENT 
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      margin-top: 5px;
      margin-left: 5px;
      color:black;         }

$COMMENT 
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS 
    { color: blue;
      background-color: white; }

Media,
    { background-color: #CCCCFF; 
      text-decoration: none;    
      color: black; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
Acknowledgement,
AlternativeText,
ApprovedUse,
Audience,
Color,
Captions,
Categories,
Category,
CitationLink,
Comment,
ContentDescriptions,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DefaultVideoPresentationTemplate,
DerivationMethod,
DerivedFrom,
Diagnoses,
Diagnosis,
DocTitle,
ProcessingStatus>EnteredBy,
ExternalRef,
FromCdrMedia,
FromExternalFile,
FromMethod,
FromObject,
Glossary,
HeightPixels,
HostingID,
ImageData,
ImageDimensions,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
Media,
MediaCaption,
MediaContent,
MediaLanguage,
MediaSource,
MediaTitle,
MinWidthPixels,
OriginalSource,
PermissionInformation,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
PhysicalMedia,
ProposedUse,
ProcessingStatus,
ProcessingStatusDate,
ProcessingStatuses,
ProcessingStatusValue,
PublisherPermissionText,
RelatedDocuments,
RunSeconds,
SoundData,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
Topics,
TranslationOf,
VideoData,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
    { display: block; }


/***************************************************************************/ 
/* Redefine CitationLink which is by default an inline element             */ 
/***************************************************************************/ 
CitationLink             :before
    { text-decoration: none; }
CitationLink,
ExternalRef
    { text-decoration: none; }

/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 
/* Container elements are displayed in ALL CAPS */
/* * = Required field */
/* & = Optional element */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */

Acknowledgement           :before { content: "Acknowledgemnt &: ";}
AlternativeText           :before { content: "Alternative Text *: "; }
Audience                  :before { content: "Audience *: ";}
Color                     :before { content: "Color *: ";}
Captions                  :before { content: "CAPTIONS & ";}
Categories                :before { content: "CATEGORIES * ";}
Category                  :before { content: "Category * +: ";}
CitationLink              :before { content: "Citation & + @: ";}
Comment                   :before { content: "Comments &: "; }
ContentDescriptions       :before { content: "CONTENT DESCRIPTIONS * ";}
ContentDescription        :before { content: "Cont. Descr. * + @: ";}
Creator                   :before { content: "Creator &: ";}
DateCreated               :before { content: "Date Created &: ";}
DateLastModified          :before { content: "Last Modified &: ";}
DefaultVideoPresentationTemplate
                          :before { content: "Display &: ";}
DerivedFrom               :before { content: "DERIVED FROM * + ";}
Diagnoses                 :before { content: "DIAGNOSES & ";}
Diagnosis                 :before { content: "Diagnosis * +: ";}
DocTitle                  :before { content: "Doc Title: "; }
EnteredBy                 :before { content: "Entered By *: ";}
ExternalRef               :before { content: "ExternalRef & + @: ";}
FromCdrMedia              :before { content: "FROM CDR MEDIA * ";}
FromExternalFile          :before { content: "From External File *: ";}
FromMethod                :before { content: "From Method & @: ";}
FromObject                :before { content: "FROM OBJECT * ";}
Glossary                  :before { content: "Glossary * @: ";}
HeightPixels              :before { content: "Height (Pixels) *: ";}
HostingID                 :before { content: "Hosting ID *: ";}
ImageData                 :before { content: "IMAGE DATA * ";}
ImageDimensions           :before { content: "IMAGE DIMENSIONS & ";}
ImageType                 :before { content: "Image Type *: ";}
ImageEncoding             :before { content: "Image Encoding *: ";}
Inlined                   :before { content: "Inlined &: ";}
Labeled                   :before { content: "Labeled *: ";}
LabelName                 :before { content: "Label Name & +: ";}
Language                  :before { content: "Language *: ";}
MediaCaption              :before { content: "Caption * + @: "; }
MediaContent              :before { content: "MEDIA CONTENT * "; }
MediaLanguage             :before { content: "Media Language &: ";}
MediaSource               :before { content: "MEDIA SOURCE & "; }
MediaTitle                :before { content: "MediaTitle *: "; }
MinWidthPixels            :before { content: "MinWidth (Pixels) &: ";}
OriginalSource            :before { content: "ORIGINAL SOURCE * ";}
PhysicalMedia             :before { content: "PHYSICAL MEDIA * "; }
ProcessingStatus          :before { content: "PROCESSING STATUS * + ";}
ProcessingStatusDate      :before { content: "Status Date *: ";}
ProcessingStatuses        :before { content: "PROCESSING STATUSES & ";}
ProcessingStatusValue     :before { content: "Status Value *: ";}
ProposedUse               :before { content: "PROPOSED USE & + ";}
RelatedDocuments          :before { content: "RELATED DOCUMENTS &";}
RunSeconds                :before { content: "Run (sec) &: ";}
SoundData                 :before { content: "SOUND DATA * ";}
SoundEncoding             :before { content: "Sound Encoding *: ";}
SoundType                 :before { content: "Sound Type *: ";}
SourceFilename            :before { content: "Source Filename &: ";}
SourcePublication         :before { content: "Src Publication &: ";}
Summary                   :before { content: "Summary * @: ";}
SupplementaryInfoLink     :before { content: "Sup Info Link * + @: ";}
TextDateCreated           :before { content: "Txt Date Created &: ";}
Topic                     :before { content: "Topic * +: ";}
Topics                    :before { content: "TOPICS & ";}
TranslationOf             :before { content: "Translation of & @: ";},
VideoData                 :before { content: "VIDEO DATA * ";}
VideoEncoding             :before { content: "Video Encoding *: ";}
VideoHosting              :before { content: "Video Hosting *: ";}
VideoType                 :before { content: "Video Type *: ";}
WidthPixels               :before { content: "Width (Pixels) *: ";}
PermissionInformation     :before { content: "PERMISSION INFORMATION &";}
PermissionRequested       :before { content: "Requested &: ";}
PermissionRequestDate     :before { content: "Req. Date &: ";}
PermissionResponse        :before { content: "Response &: ";}
PermissionResponseDate    :before { content: "Resp. Date &: ";}
PermissionExpirationDate  :before { content: "Expiration &: ";}
ApprovedUse               :before { content: "APPROVED USE & ";}
SpanishTranslationPermissionRequested 
                          :before { content: "Spn Perm Req &: ";}
SpanishTranslationPermissionResponse 
                          :before { content: "Spn Perm Resp &: ";}
PublisherPermissionText   :before { content: "Publisher Txt &: ";}


/***************************************************************************/ 
/*                         BORDERED SECTIONS                               */
/***************************************************************************/
MediaContent, 
MediaSource, 
PhysicalMedia,
ProcessingStatuses,
RelatedDocuments,
    { border: solid;
      border-width: thin; 
      border-color: black;
      margin-top: 1em;
      margin-bottom: 6pt; }


/***************************************************************************/ 
/*             TAG PROPERTIES FOR TEXT INPUT AND CONTAINER FIELDS          */ 
/***************************************************************************/ 
Acknowledgement                        :before,
AlternativeText                        :before,
Audience                               :before,
Color                                  :before,
Captions                               :before,
Categories                             :before,
Category                               :before,
CitationLink                           :before,
Comment                                :before,
ContentDescriptions                    :before,
ContentDescription                     :before,
Creator                                :before,
DateCreated                            :before,
DateLastModified                       :before,
DefaultVideoPresentationTemplate       :before,
DerivationMethod                       :before,
DerivedFrom                            :before,
Diagnoses                              :before,
Diagnosis                              :before,
DocTitle                               :before,
EnteredBy                              :before,
ExternalRef                            :before,
FromCdrMedia                           :before,
FromExternalFile                       :before,
FromMethod                             :before,
FromObject                             :before,
Glossary                               :before,
HeightPixels                           :before,
HostingID                              :before,
ImageData                              :before,
ImageDimensions                        :before,
ImageType                              :before,
ImageEncoding                          :before,
Inlined                                :before,
Labeled                                :before,
LabelName                              :before,
Language                               :before,
Media                                  :before,
MediaCaption                           :before,
MediaContent                           :before,
MediaLanguage                          :before,
MediaSource                            :before,
MediaTitle                             :before,
MinWidthPixels                         :before,
OriginalSource                         :before,
PermissionInformation                  :before,
PermissionRequested                    :before,
PermissionRequestDate                  :before,
PermissionResponse                     :before,
PermissionResponseDate                 :before,
PermissionExpirationDate               :before,
ApprovedUse                            :before,
SpanishTranslationPermissionRequested  :before,
SpanishTranslationPermissionResponse   :before,
PublisherPermissionText                :before,
PhysicalMedia                          :before,
ProcessingStatus                       :before,
ProcessingStatusDate                   :before,
ProcessingStatuses                     :before,
ProcessingStatusValue                  :before,
ProposedUse                            :before,
RelatedDocuments                       :before,
RunSeconds                             :before,
SoundData                              :before,
SoundEncoding                          :before,
SoundType                              :before,
SourceFilename                         :before,
SourcePublication                      :before,
Summary                                :before,
SupplementaryInfoLink                  :before,
TextDateCreated                        :before,
Topic                                  :before,
Topics                                 :before,
TranslationOf                          :before,
VideoData                              :before,
VideoEncoding                          :before,
VideoHosting                           :before,
VideoType                              :before,
WidthPixels                            :before
    {  font-weight: bold;
       color: black;  }



/***************************************************************************/ 
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */ 
/***************************************************************************/ 

/* Each tag is manually positioned to right-align                          */



/* Key element for length = PoliticalUnitAlternateName                     */

Acknowledgement,
                        { margin-left: 120pt;
                          text-indent: -120pt; }
AlternativeText,
                        { margin-left: 120pt; 
                          text-indent: -104pt; }
Color,
                        { margin-left: 120pt;
                          text-indent: -47.5pt; }
Category,
                        { margin-left: 120pt;
                          text-indent: -78pt; }
Comment,        
                        { margin-left: 120pt; 
                          text-indent: -82.5pt; }
ProcessingStatus>Comment,        
                        { margin-left: 110pt; 
                          text-indent: -82.5pt; }
ContentDescription,
                        { margin-left: 120pt;
                          text-indent: -111pt; }
Creator,
                        { margin-left: 120pt;
                          text-indent: -63pt; }
DateCreated,
                        { margin-left: 120pt;
                          text-indent: -94.5pt; }
DateLastModified,
                        { margin-left: 120pt;
                          text-indent: -97pt; }
DefaultVideoPresentationTemplate,
                        { margin-left: 120pt;
                          text-indent: -63pt; }
DerivationMethod,
                        { margin-left: 120pt;
                          text-indent: 0pt; }
Diagnosis,
                        { margin-left: 120pt;
                          text-indent: -83pt; }
DocTitle,
                        { margin-left: 120pt; 
                          text-indent: -100pt; }
ProcessingStatus>EnteredBy,
                        { margin-left: 110pt;
                          text-indent: -79.5pt; }
ExternalRef,
                        { margin-left: 120pt;
                          text-indent: -112pt; }
FromCdrMedia,
                        { margin-left: 120pt;
                          text-indent: -112.5pt; }

Caption                 { margin-left:  20pt;
                          text-indent: -75pt; }
MediaID                 { margin-left:  20pt;
                          text-indent: -79.5pt; }
FromExternalFile,
                        { margin-left: 120pt;
                          text-indent: -119pt; }
FromMethod,
                        { margin-left: 120pt;
                          text-indent: -111pt; }
Glossary,
                        { margin-left: 120pt;
                          text-indent: -82pt; }
HeightPixels,
                        { margin-left: 120pt;
                          text-indent: -98pt; }
HostingID,   
                        { margin-left: 120pt;
                          text-indent: -76pt; }
ImageType,
                        { margin-left: 120pt;
                          text-indent: -82pt; }
ImageEncoding,
                        { margin-left: 120pt;
                          text-indent: -109pt; }
Inlined,
                        { margin-left: 120pt;
                          text-indent: -58.5pt; }
Labeled,
                        { margin-left: 120pt;
                          text-indent: -61.5pt; }
LabelName,
                        { margin-left: 120pt;
                          text-indent: -97.5pt; }
Language,
                        { margin-left: 120pt;
                          text-indent: 0pt; }
MediaCaption,        
                        { margin-left: 120pt; 
                          text-indent: -85.5pt; }
MediaLanguage,
                        { margin-left: 120pt;
                          text-indent: -115pt; }
MediaTitle,
                        { margin-left: 120pt; 
                          text-indent: -73.5pt; }
MinWidthPixels,
                        { margin-left: 120pt;
                          text-indent: -118.5pt; }
ProcessingStatus,
                        { margin-left: 10pt; }
ProcessingStatusDate,
                        { margin-left: 110pt;
                          text-indent: -82pt; }
ProcessingStatusValue,
                        { margin-left: 110pt;
                          text-indent: -88pt; }
RunSeconds,
                        { margin-left: 120pt;
                          text-indent: -75pt; }
SoundEncoding,
                        { margin-left: 120pt;
                          text-indent: -112.5pt; }
SoundType,
                        { margin-left: 120pt;
                          text-indent: -85.5pt; }
SourceFilename,
                        { margin-left: 120pt;
                          text-indent: -116pt; }
SourcePublication,
                        { margin-left: 120pt;
                          text-indent: -107.5pt; }
Summary,
                        { margin-left: 120pt;
                          text-indent: -85.5pt; }
SupplementaryInfoLink,
                        { margin-left: 120pt;
                          text-indent: -116pt; }
TextDateCreated,
                        { margin-left: 120pt;
                          text-indent: -115.5pt; }
Topic,
                        { margin-left: 120pt;
                          text-indent: -57.5pt; }
TranslationOf
                        { margin-left: 120pt;
                          text-indent: -114pt; }
VideoEncoding,
                        { margin-left: 120pt;
                          text-indent: -107.5pt; }
VideoHosting, 
                        { margin-left: 120pt;
                          text-indent: -97pt; }
VideoType,
                        { margin-left: 120pt;
                          text-indent: -80pt; }
WidthPixels,
                        { margin-left: 120pt;
                          text-indent: -94pt; }

/*PermissionInformation
                        { margin-left: 120pt;
                          text-indent: -80pt; } */
PermissionRequested
                        { margin-left: 120pt;
                          text-indent: -82.5pt; }
PermissionRequestDate
                        { margin-left: 120pt;
                          text-indent: -76pt; }
PermissionResponse
                        { margin-left: 120pt;
                          text-indent: -79pt; }
PermissionResponseDate
                        { margin-left: 120pt;
                          text-indent: -82.5pt; }
PermissionExpirationDate
                        { margin-left: 120pt;
                          text-indent: -79pt; }
ApprovedUse
                        { margin-left: 20pt; }
                       /* text-indent: -90pt; } */
SpanishTranslationPermissionRequested
                        { margin-left: 120pt;
                          text-indent: -102.5pt; }
SpanishTranslationPermissionResponse
                        { margin-left: 120pt;
                          text-indent: -109pt; }
PublisherPermissionText
                        { margin-left: 120pt;
                          text-indent: -96pt; }
CitationLink
                        { margin-left: 120pt;
                          text-indent: -89pt; }

/***************************************************************************/ 
/*                     MARGINS BETWEEN TEXT ELEMENTS                       */ 
/***************************************************************************/ 
Acknowledgement,
AlternativeText,
Category,
CitationLink,
Color,
Comment,
ProcessingStatus>Comment,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DefaultVideoPresentationTemplate,
Diagnosis,
DocTitle,
ProcessingStatus>EnteredBy,
ExternalRef,
FromCdrMedia,
FromExternalFile,
FromMethod,
Glossary,
HeightPixels,
HostingID,
ImageType,
ImageEncoding, 
Labeled,
LabelName,
MediaCaption,
MediaLanguage,
MediaTitle,
MinWidthPixels,
ProcessingStatusDate,
ProcessingStatusValue,
RunSeconds,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
TranslationOf,
WidthPixels,
PermissionInformation,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
VideoEncoding,
VideoHosting,
VideoType,
ApprovedUse,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
PublisherPermissionText
	{ margin-bottom: 4pt; }


Captions,
Categories,
ContentDescriptions,
Diagnoses,
FromCdrMedia,
MediaContent,
MediaSource,
PhysicalMedia,
ProcessingStatus,
ProcessingStatuses,
ProposedUse,
RelatedDocuments,
Topics,
	{ margin-bottom: 10pt; }

ImageDimensions
    { margin-top: 10pt; }


/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 
/* Background color for Fields (Do not include Container Elements here */
Acknowledgement,
AlternativeText,
Audience,
Color,
Category,
CitationLink,
Comment,
ContentDescription,
Creator,
DateCreated,
DateLastModified,
DerivationMethod,
DefaultVideoPresentationTemplate,
Diagnosis,
DocTitle,
EnteredBy,
ExternalRef,
FromExternalFile,
FromMethod,
Glossary,
HeightPixels,
HostingID,
ImageType,
ImageEncoding,
Inlined,
Labeled,
LabelName,
Language,
MediaCaption,
MediaLanguage,
MediaTitle,
MinWidthPixels,
ProcessingStatusDate,
ProcessingStatusValue,
RunSeconds,
SoundEncoding,
SoundType,
SourceFilename,
SourcePublication,
Summary,
SupplementaryInfoLink,
TextDateCreated,
Topic,
TranslationOf,
VideoEncoding,
VideoHosting,
VideoType,
WidthPixels,
PermissionRequested,
PermissionRequestDate,
PermissionResponse,
PermissionResponseDate,
PermissionExpirationDate,
SpanishTranslationPermissionRequested,
SpanishTranslationPermissionResponse,
PublisherPermissionText
    { background-color: white; }


/* Background color for Text Labels */
Acknowledgement                        :before,
AlternativeText                        :before,
Audience                               :before,
Color                                  :before,
Captions                               :before, 
Categories                             :before,
Category                               :before,
CitationLink                           :before,
Comment                                :before,
ContentDescriptions                    :before,
ContentDescription                     :before,
Creator                                :before,
DateCreated                            :before,
DateLastModified                       :before,
DerivationMethod                       :before,
DefaultVideoPresentationTemplate       :before,
DerivedFrom                            :before,
Diagnoses                              :before,
Diagnosis                              :before,
DocTitle                               :before,
EnteredBy                              :before,
ExternalRef                            :before,
FromCdrMedia                           :before,
FromExternalFile                       :before,
FromMethod                             :before,
FromObject                             :before,
Glossary                               :before,
HeightPixels                           :before,
HostingID                              :before,
ImageData                              :before,
ImageDimensions                        :before,
ImageType                              :before,
ImageEncoding                          :before,
Inlined                                :before,
Labeled                                :before,
LabelName                              :before,
Language                               :before,
Media                                  :before,
MediaCaption                           :before,
MediaContent                           :before,
MediaLanguage                          :before,
MediaSource                            :before,
MediaTitle                             :before,
MinWidthPixels                         :before,
OriginalSource                         :before,
PhysicalMedia                          :before,
ProcessingStatusDate                   :before,
ProcessingStatusValue                  :before,
RunSeconds                             :before,
SoundData                              :before,
SoundEncoding                          :before,
SoundType                              :before,
SourceFilename                         :before,
SourcePublication                      :before,
Summary                                :before,
SupplementaryInfoLink                  :before,
TextDateCreated                        :before,
Topic                                  :before,
Topics                                 :before,
TranslationOf                          :before,
VideoData                              :before,
VideoEncoding                          :before,
VideoHosting                           :before,
VideoType                              :before,
WidthPixels                            :before,
PermissionInformation                  :before,
PermissionRequested                    :before,
PermissionRequestDate                  :before,
PermissionResponse                     :before,
PermissionResponseDate                 :before,
PermissionExpirationDate               :before,
ApprovedUse                            :before,
SpanishTranslationPermissionRequested  :before,
SpanishTranslationPermissionResponse   :before,
PublisherPermissionText                :before
    { background-color: #CCCCFF; }
