/**************************************************************************/
/*   Organization.css                                                     */
/*   ================                                                     */
/*                                                                        */
/*   Bug 4847  - Change CSS to accomodate new elements                    */
/*                                                                        */
/*      v. 3.8                                                            */
/*      5/16/02  by ebator                                                */
/*      Show PreviousLocation attribute on OrganizationLocation.          */
/*                                                                        */
/*      v. 3.7                                                            */
/*      5/14/02  by ebator                                                */
/*      ParentOrganization is optional; OrganizationLocation is multiply  */
/*      occurring.                                                        */
/*                                                                        */
/*      v. 3.6                                                            */
/*      4/03/02  by ebator                                                */
/*      Display the cdr:id attribute on Locations for CIPS Contact info   */
/*                                                                        */
/*      v. 3.5                                                            */
/*      3/19/02  by ebator                                                */
/*      Changed "sans serif" to sans-serif                                */
/*                                                                        */
/*      v. 3.4                                                            */
/*      1/22/02  by ebator                                                */
/*      User requests for tag and template changes                        */
/*                                                                        */
/*      v. 3.3                                                            */
/*      1/15/02  by ebator                                                */
/*      Added notations for required *, optional &, multiple +            */
/*                                                                        */
/*      v. 3.2                                                            */
/*      1/10/02   by ebator                                               */
/*      Changes based on user feedback to template and css                */
/*                                                                        */
/*      v. 3.1                                                            */
/*      12/17/01   by ebator                                              */
/*      Changes for a better template                                     */
/*                                                                        */
/*      v. 3.0                                                            */
/*      12/07-11/01   by ebator                                           */
/*      Edited to import common schema elements                           */
/*                                                                        */
/*      v. 2.3                                                            */
/*      12/06/01   by ebator                                              */
/*      Cosmetic changes and common schema changes                        */
/*                                                                        */
/*      v. 2.2                                                            */
/*      10/26/01   by ebator                                              */
/*      Schema changes from 10/22,14/01                                   */
/*                                                                        */
/*      v. 2.1                                                            */
/*      10/19/01   by ebator                                              */
/*      CDR Doc Control = blue                                            */
/*                                                                        */
/*      v. 2.0                                                            */
/*      10/17,18/01   by ebator                                           */
/*      Changes for Form model                                            */
/*                                                                        */
/*      v. 1.2                                                            */
/*      9/24/01   by ebator                                               */
/*      Common element styles added                                       */
/*                                                                        */
/*      v. 1.1                                                            */
/*      9/8/01   by ebator                                                */
/*      Schema changes; +, *, @; borders                                  */
/*                                                                        */
/*      v. 1.0                                                            */
/*      8/1/01 2:30 PM   by ebator                                        */
/*      This draft is based on the DTD generated 7/31/01.                 */
/*      Unaddressed: CdrCallingID, CIPSContact NMTOKEN,                   */
/*      "hidden" attributes that don't appear in the CSS,                 */
/*      org links filled in with dummy data,                              */
/*      required * and multiple + elements                                */
/**************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT

     { font-family: Arial, sans-serif;
       font-size: 12pt;
       margin-top: 5px;
       margin-left: 5px;
       color:black;         }

$COMMENT

     { display: block;
       color: purple;
       white-space: pre; }

$PROCINS

     { color: blue;
       background-color: white; }

Organization,

     { background-color: #CCCCFF; }


/**************************************************************************/
/*                           BLOCK ELEMENTS                               */
/**************************************************************************/
URI, /* First element in the list is not working */
AdvisoryBoardFor,
AffiliateMemberOf,
AlternateName,
FormerName,
BoardManager,
BoardManagerPhone,
BoardManagerEmail,
BoardMeeting,
BoardMeetings,
BoardMeetingDates,
BoardNameTranslation,
CCOP,
CIPSContact,
CIPSContactPerson,
ClinicalTrialsOfficeContact,
ClinicalTrialsOfficeContactEmail,
ClinicalTrialsOfficeContactName,
ClinicalTrialsOfficeContactPhone,
Comment,
CooperativeGroup,
CurrentStatus,
Date,
DateLastModified,
DayTime,
IncludeInDirectory,
Location,
LOESummary,
MainMember,
MainMemberOf,
MeetingDate,
MeetingTime,
MemberOfAdHocGroup,
MemberOfCCOP,
MemberOfCooperativeGroups,
MemberOfProfessionalOrganization,
Name,
OfficialName,
OrganizationAdministrativeInformation,
OrganizationAffiliations,
OrganizationDetails,
OrganizationLocation,
OrganizationLocations,
OrganizationNameInformation,
OrganizationParent,
OrganizationType,
ParentOrganization,
PdqKey,
PersonAssigned,
PDQBoardInformation,
PreferredDirectoryContactMode,
PreferredProtocolContactMode,
PreferredProtocolOrganization,
ProtocolIDAcronym,
ProtocolParticipation,
Public,
ResearchBaseFor,
ShortName,
ShowReviewerInfo,
Status,
Type,
Year
    { display: block; }


/**************************************************************************/
/*                       BEFORE AND AFTER TAGS                            */
/**************************************************************************/
/* * = Required field                */
/* + = Multiply-occurring field      */
/* @ = Attribute assigned to element */
/* & = Optional element              */

AdvisoryBoardFor     :before { content: "AdvBoardFor & @: "; }
AffiliateMemberOf    :before { content: "AFFILIATE MEMBER OF & +"; }
AlternateName        :before { content: "Alternate Name & +: "; }
BoardManager         :before { content: "Manager *: "; }
BoardManagerPhone    :before { content: "Phone * @: "; }
BoardManagerEmail    :before { content: "Email * @: "; }
BoardMeeting[ReasonCanceled]
                     :before { content: "BOARD MEETING * + (Canceled)"; }
BoardMeeting         :before { content: "BOARD MEETING * +"; }
BoardMeetings        :before { content: "BOARD MEETINGS &"; }
BoardMeetingDates    :before { content: "MEETING DATE(s) * +"; }
BoardNameTranslation :before { content: "Board Name Transl. &: "; }
DayTime              :before { content: "Time *: "; }
FormerName           :before { content: "Former Name & +: "; }
CCOP                 :before { content: "CCOP * @: "; }
CIPSContact          :before { content: "CIPS Contact *: "; }
CIPSContactPerson    :before { content: "CIPS Contact Person & @: "; }
ClinicalTrialsOfficeContact        
                     :before { content: "CLINICAL TRIAL OFFICE CONTACT & @"; }
ClinicalTrialsOfficeContactEmail
                     :before { content: "Email & @: "; }
ClinicalTrialsOfficeContactName
                     :before { content: "Name &: "; }
ClinicalTrialsOfficeContactPhone
                     :before { content: "Phone * + @: "; }
Comment              :before { content: "Comments &: "; }
CooperativeGroup     :before { content: "Cooperative Group * @: "; }
CurrentStatus        :before { content: "Current Status *: "; }
Date                 :before { content: "Date * +: "; }
DateLastModified     :before { content: "Last Modified &: "; }
IncludeInDirectory   :before { content: "Include in Directory? *: "; }
Location             :before { content: "LOCATION [" attr(cdr\:id) "]"; }
LOESummary           :before { content: "LOE Summary * @: "; }
MainMember           :before { content: "Main Member & @: "; }
MainMemberOf         :before { content: "MAIN MEMBER OF & +"; }
MediaLink            :before { content: "Media & + @: "; }
MeetingDate          :before { content: "Date * +: "; }
MeetingDate[WebEx="Yes"]:after
                             { content: " (WebEx)"; }
MeetingTime          :before { content: "Time * +: "; }
MemberOfAdHocGroup   :before { content: "Member Ad-Hoc Grp & + @: "; }
MemberOfCCOP[CCOPMemberType="Component"]        
                     :before { content: "MEMBER OF CCOP [COMPONENT] & @"; }
MemberOfCCOP[CCOPMemberType="Affiliate"]          
                     :before { content: "MEMBER OF CCOP [AFFILIATE] & @"; }
MemberOfCCOP                 { content: "MEMBER OF CCOP & @"; }
MemberOfCooperativeGroups    { content: "Member of Cooperative Groups & +: "; }
MemberOfProfessionalOrganization           
                     :before { content: "Member Prof Org & +: "; }
OfficialName > Name  :before { content: "Official Name * @: "; }
OrganizationAdministrativeInformation       
                     :before { content: "ADMINISTRATIVE INFORMATION * + @"; }
OrganizationAffiliations           
                     :before { content: "AFFILIATIONS &"; }
OrganizationDetails  :before { content: "ORGANIZATION DETAILS *"; }
OrganizationLocation :before { content: "ORGANIZATION LOCATION * + @"; }
OrganizationLocation[PreviousLocation="Yes"]       
                 :before { content: "ORGANIZATION LOCATION [Previous] * + @"; }
OrganizationLocations:before { content: "ORGANIZATION LOCATIONS *"; }
OrganizationNameInformation           
                     :before { content: "ORGANIZATION NAME INFORMATION *"; }
OrganizationType     :before { content: "Organization Type * + @: " }
OrganizationType[Public="No"]:after    
                             { content: " (Not public) "; }
OrganizationType:after       { content: " (Public) "; }
ParentOrganization   :before { content: "Parent Org & @: "; }
PDQBoardInformation  :before { content: "PDQ BOARD INFORMATION &"; }
PdqKey               :before { content: "PDQ Key &: "; }
PersonAssigned       :before { content: "Person Assigned: "; }
PreferredDirectoryContactMode           
                     :before { content: "Preferred Dir Contact &: "; }
PreferredProtocolContactMode           
                     :before { content: "Preferred Prot Contact &: "; }
PreferredProtocolOrganization           
                     :before { content: "Preferd Protocol Org & @: "; }
ProtocolIDAcronym    :before { content: "Protocol ID Acronym & +: "; }
ProtocolParticipation:before { content: "Protocol Participation? *: "; }
ResearchBaseFor      :before { content: "Research Base For & + @: "; }
ShortName > Name     :before { content: "Short Name & + @: "; }
ShowReviewerInfo     :before { content: "Show Reviewer Info? *:"; }
Status               :before { content: "STATUS *"; }
Year                 :before { content: "Year *: "; }


/**************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                */
/**************************************************************************/
AdvisoryBoardFor     :before,
AffiliateMemberOf    :before,
BoardManager         :before,
BoardManagerPhone    :before,
BoardManagerEmail    :before,
BoardMeeting         :before,
BoardMeetings        :before,
BoardMeetingDates    :before,
BoardNameTranslation :before,
ClinicalTrialsOfficeContact
                     :before,
Date                 :before,
DayTime              :before,
Location             :before,
LOESummary           :before,
MainMemberOf         :before,
MediaID              :before,
MediaLink            :before,
MeetingDate          :before,
MeetingTime          :before,
OrganizationAdministrativeInformation
                     :before,
OrganizationAffiliations
                     :before,
OrganizationDetails  :before,
OrganizationLocation :before,
OrganizationLocations:before,
OrganizationNameInformation
                     :before,
PDQBoardInformation  :before,
ShowReviewerInfo     :before,
Status               :before,
Year                 :before
    { font-weight: bold;
      color: black;        }


OrganizationNameInformation:before,
    { margin-bottom: 1em;  }


AffiliateMemberOf,
MainMemberOf,
OrganizationAdministrativeInformation,
    {  margin-top: .5em;
    margin-bottom: .5em;   }


PDQBoardInformation,
BoardMeetingDates,
BoardMeetings,
    {  margin-top: 1em;
    margin-bottom: 1em;   }


BoardMeeting,
CIPSContactPerson,
ClinicalTrialsOfficeContact,
ClinicalTrialsOfficeContactName,
CurrentStatus,
MediaLink,
MemberOfCCOP,
OfficialName,
OrganizationDetails > Comment,
OrganizationLocation,
OrganizationParent,
PreferredProtocolOrganization,
ProtocolIDAcronym,
ResearchBaseFor,
    { margin-top: .5em;  }


MemberOfAdHocGroup,
ParentOrganization,
PreferredProtocolContactMode,
    { margin-top: 1em;   }


CIPSContact,
DateLastModified,
OrganizationType,
    { margin-top: 1.5em; }


/**************************************************************************/
/*                         BORDERED SECTIONS                              */
/**************************************************************************/
ClinicalTrialsOfficeContact,
OrganizationAffiliations,
OrganizationDetails,
OrganizationLocation,
PDQBoardInformation,
Status,
   { border: solid;
     border-width: thin;
     border-color: black;
     margin-top: 1em;
     margin-bottom: 6pt; }


/**************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS               */
/**************************************************************************/
AlternateName                     :before,
FormerName                        :before,
ClinicalTrialsOfficeContactEmail  :before,
ClinicalTrialsOfficeContactName   :before,
ClinicalTrialsOfficeContactPhone  :before,
CIPSContact                       :before,
Comment                           :before,
Date                              :before,
DateLastModified                  :before,
MeetingDate                       :before,
MeetingTime                       :before,
PersonAssigned                    :before,
OfficialName > Name               :before,
ParentOrganization                :before,
ProtocolIDAcronym                 :before,
ShortName > Name                  :before,
   {  font-weight: bold;
      color: black;  }


/**************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS       */
/**************************************************************************/
CCOP                              :before,
CIPSContactPerson                 :before,
CooperativeGroup                  :before,
CurrentStatus                     :before,
IncludeInDirectory                :before,
MeetingDate[WebEx="Yes"]          :after,
MainMember                        :before,
MemberOfAdHocGroup                :before,
MemberOfCCOP                      :before,
MemberOfProfessionalOrganization  :before,
OrganizationType                  :before,
OrganizationType[Public="No"]     :after,
OrganizationType                  :after,
PdqKey                            :before,
PreferredDirectoryContactMode     :before,
PreferredProtocolContactMode      :before,
PreferredProtocolOrganization     :before,
ProtocolParticipation             :before,
ResearchBaseFor                   :before,
   {  font-weight: bold;
      color: black;  }


/**************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                 */
/**************************************************************************/
/* Each tag is manually positioned to right-align                         */

/* Key element for length = AlternateName    */

OfficialName > Name,                   { margin-left: 120pt;
                                         text-indent: -105pt; }
ShortName > Name,                      { margin-left: 120pt;
                                         text-indent: -112pt; }
AlternateName,                         { margin-left: 120pt;
                                         text-indent: -116pt; }
FormerName,                            { margin-left: 120pt;
                                         text-indent: -107pt; }
OrganizationNameInformation>Comment,   { margin-left: 120pt;
                                         text-indent: -82pt; }
ParentOrganization,                    { margin-left: 120pt;
                                         text-indent: -96pt; }
OrganizationParent>Comment,            { margin-left: 120pt;
                                         text-indent: -82pt; }


/* Key element for length = CIPSContactPerson     */

CIPSContactPerson,                     { margin-left: 160pt;
                                         text-indent: -155pt; }
IncludeInDirectory,                    { margin-left: 160pt;
                                         text-indent: -133.5pt; }
OrganizationAdministrativeInformation > Date,    
                                       { margin-left: 160pt;
                                         text-indent: -41.5pt; }
PreferredDirectoryContactMode,         { margin-left: 160pt;
                                         text-indent: -140pt; }
PreferredProtocolContactMode,          { margin-left: 160pt;
                                         text-indent: -147.5pt; }
OrganizationAdministrativeInformation > Comment,
                                       { margin-left: 160pt;
                                         text-indent: -82pt; }
OrganizationDetails > Comment,         { margin-left: 160pt;
                                         text-indent: -82pt; }


/* Key element for length = PoliticalSubUnit_State    */

CIPSContact,                           { margin-left: 100pt;
                                         text-indent: -91.5pt; }
OrganizationLocations > Comment,       { margin-left: 100pt;
                                         text-indent: -82pt; }


/* Key element for length = MemberOfAdHocGroup    */

ResearchBaseFor,                       { margin-left: 160pt;
                                         text-indent: -154pt; }
MemberOfProfessionalOrganization,      { margin-left: 160pt;
                                         text-indent: -126pt; }
CCOP,                                  { margin-left: 160pt;
                                         text-indent: -65pt; }
MemberOfAdHocGroup,                    { margin-left: 160pt;
                                         text-indent: -160pt; }
CooperativeGroup,                      { margin-left: 160pt;
                                         text-indent: -139pt; }
ProtocolParticipation,                 { margin-left: 160pt;
                                         text-indent: -146pt; }
MainMember,                            { margin-left: 160pt;
                                         text-indent: -110pt; }


/* Key element for length = PreferredProtocolOrganization    */

ProtocolIDAcronym,                     { margin-left: 160pt;
                                         text-indent: -148pt; }

PreferredProtocolOrganization,         { margin-left: 160pt;
                                         text-indent: -152pt; }
OrganizationType,                      { margin-left: 160pt;
                                         text-indent: -145pt; }

CurrentStatus,                         { margin-left: 100pt;
                                         text-indent: -98.5pt; }
Status>Comment,                        { margin-left: 100pt;
                                         text-indent: -82pt; }
        

/* Key element for length = DateLastModified    */

DateLastModified,                      { margin-left: 100pt;
                                         text-indent: -96pt; }
PdqKey,                                { margin-left: 100pt;
                                         text-indent: -71pt; }


ClinicalTrialsOfficeContactEmail       { margin-left: 110pt; 
                                         text-indent: -96pt; }
ClinicalTrialsOfficeContactPhone       { margin-left: 110pt; 
                                         text-indent: -107pt; }
ClinicalTrialsOfficeContactName        { margin-left: 110pt; 
                                         text-indent: -82.5pt; }

AdvisoryBoardFor                       { margin-left: 160pt; 
                                         text-indent: -112.5pt; }
BoardManager                           { margin-left: 160pt; 
                                         text-indent: -65pt; }
BoardManagerPhone                      { margin-left: 160pt; 
                                         text-indent: -68pt; }
BoardManagerEmail                      { margin-left: 160pt; 
                                         text-indent: -62pt; }
BoardNameTranslation                   { margin-left: 160pt; 
                                         text-indent:-133.5pt; }
LOESummary                             { margin-left: 160pt; 
                                         text-indent: -113pt; }
ShowReviewerInfo                       { margin-left: 160pt; 
                                         text-indent: -134pt; }
DayTime                                { margin-left: 100pt; 
                                         text-indent: -43.5pt; }
BoardMeetings                          { margin-left:  30pt; }
BoardMeeting                           { margin-left:  30pt; }
BoardMeetingDates > Year               { margin-left: 100pt; 
                                         text-indent: -41.5pt; }
BoardMeeting > MeetingDate             { margin-left: 100pt; 
                                         text-indent: -51.5pt; }
BoardMeeting > MeetingTime             { margin-left: 100pt; 
                                         text-indent: -53pt; }
BoardMeeting > MediaLink               { margin-left: 100pt;
                                         text-indent: -79pt; }


/**************************************************************************/
/* Margin-bottom to simulate a text box                                   */
/**************************************************************************/
AdvisoryBoardFor,
AffiliateMemberOf,
AlternateName,
BoardManager,
BoardManagerPhone,
BoardManagerEmail,
BoardNameTranslation,
DayTime,
FormerName,
CCOP,
CIPSContact,
CIPSContactPerson,
ClinicalTrialsOfficeContactEmail,
ClinicalTrialsOfficeContactName,
ClinicalTrialsOfficeContactPhone,
Comment,
CooperativeGroup,
CurrentStatus,
Date,
DateLastModified,
IncludeInDirectory,
Location,
LOESummary,
MainMember,
MainMemberOf,
MeetingDate,
MeetingTime,
MemberOfAdHocGroup,
MemberOfCCOP,
MemberOfCooperativeGroups,
MemberOfProfessionalOrganization,
Name,
OfficialName,
OrganizationAdministrativeInformation,
OrganizationAffiliations,
OrganizationDetails,
OrganizationLocation,
OrganizationLocations,
OrganizationNameInformation,
OrganizationParent,
OrganizationType,
ParentOrganization,
PdqKey,
PersonAssigned,
PreferredDirectoryContactMode,
PreferredProtocolContactMode,
PreferredProtocolOrganization,
ProtocolIDAcronym,
ProtocolParticipation,
Public,
ResearchBaseFor,
ShortName,
ShowReviewerInfo,
Status,
Year
    { margin-bottom: 4pt; }


CCOP,
CooperativeGroup,
IncludeInDirectory
    { margin-top: 4pt; }


/**************************************************************************/
/*                               COLOR                                    */
/**************************************************************************/
/*                      Text Element Color                                */
/**************************************************************************/
AdvisoryBoardFor,
AlternateName,
BoardManager,
BoardManagerPhone,
BoardManagerEmail,
BoardNameTranslation,
DayTime,
FormerName,
CCOP,
CIPSContact,
CIPSContactPerson,
ClinicalTrialsOfficeContact,
ClinicalTrialsOfficeContactEmail,
ClinicalTrialsOfficeContactName,
ClinicalTrialsOfficeContactPhone,
Comment,
CooperativeGroup,
CurrentStatus,
Date,
DateLastModified,
IncludeInDirectory,
Location,
LOESummary,
MainMember,
MediaID,
MeetingDate,
MeetingTime,
MemberOfAdHocGroup,
MemberOfCCOP,
MemberOfCooperativeGroups,
MemberOfProfessionalOrganization,
Name,
OrganizationAdministrativeInformation,
OrganizationAffiliations,
OrganizationDetails,
OrganizationLocations,
OrganizationParent,
OrganizationType,
ParentOrganization,
PdqKey,
PersonAssigned,
PreferredDirectoryContactMode,
PreferredProtocolContactMode,
PreferredProtocolOrganization,
ProtocolIDAcronym,
ProtocolParticipation,
Public,
ResearchBaseFor,
ShowReviewerInfo,
Status,
Year
    { background-color: white; }


/**************************************************************************/
/*                     Label Background Color                             */
/**************************************************************************/
AdvisoryBoardFor                  :before,
AffiliateMemberOf,
AlternateName                     :before,
BoardManager                      :before,
BoardManagerPhone                 :before,
BoardManagerEmail                 :before,
BoardMeetingDates                 :before,
BoardNameTranslation              :before,
DayTime                           :before,
FormerName                        :before,
CCOP                              :before,
CIPSContact                       :before,
CIPSContactPerson                 :before,
ClinicalTrialsOfficeContact,
ClinicalTrialsOfficeContactEmail  :before,
ClinicalTrialsOfficeContactName   :before,
ClinicalTrialsOfficeContactPhone  :before,
Comment                           :before,
CooperativeGroup                  :before,
CurrentStatus                     :before,
Date                              :before,
DateLastModified                  :before,
IncludeInDirectory                :before,
Location,
Location                          :before,
LOESummary                        :before,
MainMember                        :before,
MainMemberOf,
MediaID                           :before,
MediaLink                         :before,
MeetingDate                       :before,
MeetingTime                       :before,
MemberOfAdHocGroup                :before,
MemberOfCCOP,
MemberOfCCOP                      :before,
MemberOfCooperativeGroups,
MemberOfCooperativeGroups         :before,
MemberOfProfessionalOrganization  :before,
Name                              :before,
OfficialName,
OfficialName                      :before,
OrganizationAdministrativeInformation,
OrganizationAdministrativeInformation:before,
OrganizationAffiliations,
OrganizationDetails,
OrganzationLocation,
OrganizationLocation              :before,
OrganizationLocations,
OrganizationNameInformation       :before,
OrganizationParent,
OrganizationType                  :before,
ParentOrganization                :before,
PdqKey                            :before,
PersonAssigned                    :before,
PreferredDirectoryContactMode     :before,
PreferredProtocolContactMode      :before,
PreferredProtocolOrganization     :before,
ProtocolIDAcronym                 :before,
ProtocolParticipation             :before,
Public                            :before,
ResearchBaseFor                   :before,
ShortName,
ShortName                         :before,
ShowReviewerInfo                  :before,
Status,
Year                              :before
    { background-color: #CCCCFF; }
