/*************************************************************************/
/*  PDQBoardMemberInfo.css                                               */
/*  v. 1.0                                                               */
/*      3/2/2004 cburg                                                   */
/*                                                                       */
/* BZIssue::4853 - Changes to CSS/Template in PDQ Board Member Info      */
/* BZIssue::4985 - [Summaries] Add Govt Employee Element to PDQ Board    */
/*                 Member Document                                       */
/*                                                                       */
/*************************************************************************/
/*************************************************************************/
/*                     DEFAULT PROPERTIES                                */
/*************************************************************************/
@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      margin-top: 5px;
      margin-left: 5px;
      color: black; }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      background-color: white; }

PDQBoardMemberInfo
    { background-color: #CCCCFF; }


/*************************************************************************/
/*                           BLOCK ELEMENTS                              */
/*************************************************************************/
Affiliation,
AffiliationName,
AffiliationPlace,
Affiliations,
AreaOfExpertise,
AssistantEmail,
AssistantFax,
AssistantName,
AssistantPhone,
BoardContactEmail,
BoardContactFax,
BoardContactOrganizationName,
BoardContactPhone,
BoardContactPostalAddress,
BoardMemberAssistant,
BoardMemberContact,
BoardMemberContactMode,
BoardMemberName,
BoardMembershipDetails,
BoardName,
Comment,
DatedAction>Comment,
ConflictOfInterestFormSigned,
Country,
CurrentMember,
Date,
DatedAction,
DateSigned,
EditorInChief>TermStartDate,
EditorInChief>TermEndDate,
GovernmentEmployee,
InvitationDate,
PDQBoardMemberInfo
PersonContactID,
MemberOfSubgroup,
RecommendedBy,
ResponseDate,
ResponseToInvitation,
SpecificBoardMemberContact,
TermEndDate,
TermEndReason,
TerminationDate,
TerminationReason,
TermRenewalFrequency,
TermStartDate,
TransferFromBoard
    { display: block; }


/*************************************************************************/
/*                       BEFORE AND AFTER TAGS                           */
/*************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Affiliation                  :before { content: "AFFILIATION * + @"; }
Affiliation[Usage]           :before { content: "AFFILIATION * + @ (" attr(Usage) ")"; }
AffiliationName              :before { content: "Name & +:"; }
AffiliationPlace             :before { content: "Place &:"; }
Affiliations                 :before { content: "AFFILIATIONS &"; }
AreaComment                  :before { content: "Comment &: "; }
AreaOfExpertise              :before { content: "Area of Expertise &: "; }
AssistantEmail               :before { content: "Email & @: "; }
AssistantEmail[Public="No"]  :after  { content: " (Not Public) "; }
AssistantEmail               :after  { content: " (Public) "; }
AssistantFax                 :before { content: "Fax &: "; }
AssistantName                :before { content: "Name *: "; }
AssistantPhone               :before { content: "Phone @: "; }
AssistantPhone[Public="No"]  :after  { content: " (Not Public) "; }
AssistantPhone               :after  { content: " (Public) "; }
BoardContactEmail            :before { content: "Email & @: "; }
BoardContactEmail[Public="No"]:after { content: " (Not Public) "; }
BoardContactEmail            :after  { content: " (Public) "; }
BoardContactFax              :before { content: "Fax &: "; }
BoardContactOrganizationName :before { content: "B C Org Name &: "; }
BoardContactPhone            :before { content: "Phone * @: "; }
BoardContactPhone[Public="No"]:after { content: " (Not Public) "; }
BoardContactPhone            :after  { content: " (Public) "; }
BoardContactPostalAddress    :before { content: "Board Contact Postal Address *";}
BoardMemberAssistant         :before { content: "BOARD MEMBER ASSISTANT & "; }
BoardMemberContact           :before { content: "BOARD MEMBER CONTACT  * "; }
BoardMemberContactMode       :before { content: "Contact Mode *: "; }
BoardMemberName              :before { content: "Board Member Name *: "; }
BoardMembershipDetails       :before { content: "BOARD MEMBERSHIP DETAILS &  + "; }
BoardName                    :before { content: "Board Name *: "; }
Comment                      :before { content: "Comments &: "; }
ConflictOfInterestFormSigned :before { content: "C I Form Signed &: "; }
BoardContactPostalAddress>Country:before {content:"Country * @: " ;}
CurrentMember                :before { content: "Current Member *: ";}
DateSigned                   :before { content: "Date Signed &: ";}
EditorInChief                :before { content: "Editor In Chief &  ";}
EditorInChief>TermEndDate    :before { content: "Term End Date &: ";}
EditorInChief>TermStartDate  :before { content: "Term Start Date *: ";}
GovernmentEmployee           :before { content: "Govt Employee *: "; }
InvitationDate               :before { content: "Invitation Date *: "}
PersonContactID              :before { content: "Person Cont ID *: ";}
MemberOfSubgroup             :before { content: "Member Subgroup &: ";}
RecommendedBy                :before { content: "Recommended By &: "; }
ResponseDate                 :before { content: "Response Date &: "; }
ResponseToInvitation         :before { content: "Resp To Invitation *: "; }
SpecificBoardMemberContact   :before { content: "SPECIFIC BOARD MEMBER CONTACT * "; }
TerminationDate              :before { content: "Termination Date &: "; }
TerminationReason            :before { content: "Termination Reason &: "; }
TermRenewalFrequency         :before { content: "Term Renew Freq &: "; }
TermStartDate                :before { content: "Term Start Date &: "; }
TransferFromBoard            :before { content: "Transfer from Board &: "; }

/*
SpecificBoardMemberContact
   { border: solid;
     border-color: black;
     border-width: thin;
     margin-top: 1em;
     margin-bottom: 6pt; }
*/
/*************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS               */
/*************************************************************************/
BoardMemberAssistant              :before,
BoardMemberContact                :before,
BoardMembershipDetails            :before,
BoardMemberName                   :before,
EditorInChief                     :before,
SpecificBoardMemberContact        :before
    { font-weight: bold;
      font-size: 12pt;
      color: black; }

BoardMemberAssistant              :before,
BoardMembershipDetails            :before,
SpecificBoardMemberContact        :before
    { margin-bottom: 1em; }


AssistantName,
BoardContactOrganizationName,
BoardName,
ConflictOfInterestFormSigned,
EditorInChief>TermStartDate,
PersonContactID
    { margin-top: .5em;  }

AreaOfExpertise
         { margin-top: 1em; }


Affiliation,
AssistantPhone,
BoardContactPhone
    { margin-top: 1em; }


/*************************************************************************/
/*                         BORDERED SECTIONS                             */
/*************************************************************************/
Affiliations                      :before,
BoardMemberAssistant              :before,
BoardMembershipDetails            :before,
SpecificBoardMemberContact        :before
    { font-weight: bold;
      font-size: 12pt;
      color: black; }

Affiliations,
BoardMemberAssistant,
BoardMembershipDetails,
SpecificBoardMemberContact
    { border: solid;
      border-color: black;
      border-width: thin;
      margin-top: 1em;
      margin-bottom: 6pt; }

DatedAction
    { border: none; }


/*************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS              */
/*************************************************************************/
Affiliation                       :before,
AffiliationName                   :before,
AffiliationPlace                  :before,
AreaOfExpertise                   :before,
AssistantEmail                    :before,
AssistantEmail                    :after,
AssistantFax                      :before,
AssistantName                     :before,
AssistantPhone                    :before,
AssistantPhone                    :after,
BoardContactEmail                 :before,
BoardContactEmail                 :after,
BoardContactFax                   :before,
BoardContactOrganizationName      :before,
BoardContactPhone                 :before,
BoardContactPhone                 :after,
BoardContactPostalAddress         :before,
BoardContactPostalAddress>Country :before,
BoardMemberAssistant              :before,
BoardMemberContact                :before,
BoardMemberContactMode            :before,
BoardMemberName                   :before,
BoardName                         :before,
Comment                           :before,
ConflictOfInterestFormSigned      :before,
CurrentMember                     :before,
DateSigned                        :before,
EditorInChief                     :before,
EditorInChief>TermEndDate         :before,
EditorInChief>TermStartDate       :before,
GovernmentEmployee                :before,
InvitationDate                    :before,
PDQBoardMemberInfo                :before,
PersonContactID                   :before,
MemberOfSubgroup                  :before,
RecommendedBy                     :before,
ResponseDate                      :before,
ResponseToInvitation              :before,
SpecificBoardMemberContact        :before,
TermEndDate                       :before,
TermEndReason                     :before,
TerminationDate                   :before,
TerminationReason                 :before,
TermRenewalFrequency              :before,
TermStartDate                     :before,
TransferFromBoard                 :before
    { font-weight: bold;
      color: black; }


/*************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS      */
/*************************************************************************/
/* some properties don't get applied on the first element in a list      */
BoardMemberContactMode            :before,
ResponseToInvitation              :before,
TermRenewalFrequency              :before,
TermEndReason                     :before,
TerminationReason                 :before,
AreaOfExpertise                   :before
    { font-weight: bold;
      color: black; }


/*************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                */
/*************************************************************************/
/* Each tag is manually positioned to right-align                        */

Affiliation
         { text-indent:  30pt; }
AffiliationName
         { margin-left: 100pt;
           text-indent: -60pt; }
AffiliationPlace
         { margin-left: 100pt;
           text-indent: -48.5pt; }

/* Contact Information */
BoardMemberName
         { margin-left:  88pt;
           text-indent: -88.5pt; }
BoardMemberContactMode
         { margin-left: 100pt;
           text-indent: -98pt; }
PersonContactID
         { margin-left: 100pt;
           text-indent: -106pt; }
GovernmentEmployee
         { margin-left: 100pt;
           text-indent: -106pt; }

/*  Board Member Assistant     */
AssistantEmail
         { margin-left: 100pt;
           text-indent: -67pt; }
AssistantFax
         { margin-left: 100pt;
           text-indent: -41.5pt; }
AssistantName
         { margin-left: 100pt;
           text-indent: -48pt; }
AssistantPhone
         { margin-left: 100pt;
           text-indent: -61pt; }
BoardContactEmail
         { margin-left: 100pt;
           text-indent: -67pt; }
BoardContactFax
         { margin-left: 100pt;
           text-indent: -44.5pt; }
BoardContactPhone
         { margin-left: 100pt;
           text-indent: -67.5pt; }
BoardContactPostalAddress>Country
         { margin-left: 100pt;
           text-indent: -77pt; }
PostalCode_Zip
         { margin-left: 100pt;
           text-indent: -99.5pt; }

/* Board Membership Details */
AreaOfExpertise
         { margin-left: 135pt;
           text-indent: -118.5pt; }
BoardName
         { margin-left: 135pt;
           text-indent: -87pt; }
CurrentMember
         { margin-left: 135pt;
           text-indent: -108pt; }
EditorInChief>TermEndDate
         { margin-left: 135pt;
           text-indent: -108.5pt; }
EditorInChief>TermStartDate
         { margin-left: 135pt;
           text-indent: -107pt; }
InvitationDate
         { margin-left: 135pt;
           text-indent: -97.5pt; }
MemberOfSubgroup
         { margin-left: 135pt;
           text-indent: -127pt; }
RecommendedBy
         { margin-left: 135pt;
           text-indent: -126pt; }
ResponseDate
         { margin-left: 135pt;
           text-indent: -108pt; }
ResponseToInvitation
         { margin-left: 135pt;
           text-indent: -119.5pt; }
TermRenewalFrequency
         { margin-left: 135pt;
           text-indent: -121.5pt; }
TerminationDate
         { margin-left: 135pt;
           text-indent: -118pt; }
TerminationReason
         { margin-left: 135pt;
           text-indent: -136pt; }
TermStartDate
         { margin-left: 135pt;
           text-indent: -108.5pt; }
TransferFromBoard
         { margin-left: 135pt;
           text-indent: -135.5pt; }

/*  Dated Action  */
ActionDate
         { margin-left: 135pt;
           text-indent: -40.5pt; }
ActionDescription
         { margin-left: 135pt;
           text-indent: -55pt; }
DatedAction>Comment
         { margin-left: 135pt;
           text-indent: -81pt; }
ConflictOfInterestFormSigned
         { margin-left: 135pt;
           text-indent: -112pt; }
DateSigned
         { margin-left: 135pt;
           text-indent: -90pt; }
Comment
         { margin-left: 135pt;
           text-indent: -82.5pt; }
BoardMemberAssistant > Comment
         { margin-left: 100pt;
           text-indent: -82.5pt; }



/* Separate each line to make it look like a text box  */
Affiliation,
AffiliationName,
AffiliationPlace,
Affiliations,
AreaOfExpertise,
AssistantEmail,
AssistantFax,
AssistantName,
AssistantPhone,
BoardContactEmail,
BoardContactFax,
BoardContactOrganizationName,
BoardContactPhone,
BoardContactPostalAddress,
BoardMemberAssistant,
BoardMemberContact,
BoardMemberContactMode,
BoardMemberName,
BoardMembershipDetails,
BoardName,
Comment,
ConflictOfInterestFormSigned,
Country,
CurrentMember,
DateSigned,
GovernmentEmployee,
InvitationDate,
PDQBoardMemberInfo
PersonContactID,
MemberOfSubgroup,
RecommendedBy,
ResponseDate,
ResponseToInvitation,
SpecificBoardMemberContact,
TermEndDate,
TermEndReason,
TerminationDate,
TerminationReason,
TermRenewalFrequency,
TermStartDate,
TransferFromBoard
    { margin-bottom: 4pt; }


/*************************************************************************/
/*                               COLOR                                   */
/*************************************************************************/
AffiliationName,
AffiliationPlace,
AreaOfExpertise,
AssistantEmail,
AssistantFax,
AssistantName,
AssistantPhone,
BoardContactEmail,
BoardContactFax,
BoardContactOrganizationName,
BoardContactPhone,
/*BoardContactPostalAddress,*/
BoardContactPostalAddress>Country,
/*BoardMemberAssistant,*/
/*BoardMemberContact,*/
BoardMemberContactMode,
BoardMemberName,
/*BoardMembershipDetails,*/
BoardName,
Comment,
ConflictOfInterestFormSigned,
CurrentMember,
/*DatedAction,*/
DateSigned,
InvitationDate,
GovernmentEmployee,
PDQBoardMemberInfo
PersonContactID,
MemberOfSubgroup,
RecommendedBy,
ResponseDate,
ResponseToInvitation,
/*SpecificBoardMemberContact,*/
TermEndDate,
TermEndReason,
TerminationDate,
TerminationReason,
TermRenewalFrequency,
TermStartDate,
TransferFromBoard
    { background-color: white; }

Affiliation                       :before,
AffiliationName                   :before,
AffiliationPlace                  :before,
Affiliations                      :before,
AreaOfExpertise                   :before,
AssistantEmail                    :before,
AssistantFax                      :before,
AssistantName                     :before,
AssistantPhone                    :before,
BoardContactEmail                 :before,
BoardContactFax                   :before,
BoardContactOrganizationName      :before,
BoardContactPhone                 :before,
BoardContactPostalAddress         :before,
BoardContactPostalAddress>Country :before,
BoardMemberAssistant              :before,
BoardMemberContact                :before,
BoardMemberContactMode            :before,
BoardMemberName                   :before,
BoardMembershipDetails            :before,
BoardName                         :before,
Comment                           :before,
ConflictOfInterestFormSigned      :before,
Country                           :before,
CurrentMember                     :before,
DatedAction                       :before,
DateSigned                        :before,
GovernmentEmployee                :before,
InvitationDate                    :before,
PersonContactID                   :before,
MemberOfSubgroup                  :before,
RecommendedBy                     :before,
ResponseDate                      :before,
ResponseToInvitation              :before,
SpecificBoardMemberContact        :before,
TermEndDate                       :before,
TermEndReason                     :before,
TerminationDate                   :before,
TerminationReason                 :before,
TermRenewalFrequency              :before,
TermStartDate                     :before,
TransferFromBoard                 :before
    { background-color: #CCCCFF; }
