/*************************************************************************/
/*      PublishingSystem_structure.css                                   */
/*                                                                       */
/*      v. 1.3                                                           */
/*      11/12/02 by ebator                                               */
/*      Added Subdirectory; formatted SubsetFilterName                   */
/*                                                                       */
/*      v. 1.2                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 1.1                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/*      v. 1.0                                                           */
/*      1/15/02  by ebator                                               */
/*      Based on the 1/15/02 dtd                                         */
/*      Imports CdrCommonSchema.css for CdrDocCtl information            */
/*                                                                       */
/*************************************************************************/
/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/
@import "CdrCommonSchema_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*   { white-space: nowrap;
      text-align: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold;
      color: black; }

/* top-level elements */

$DOCUMENT > *
    { margin-left: 0px;  }

$PROCINS
    { color: white;
       font-weight: normal;
       background-color: white;}

PublishingSystem,
    { background-color: white;
       text-decoration: none;
       color: black;  }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
CdrDocCtl,
DocId,
DocTitle,
Doctype,
MaxErrors,
OptionName,
OptionValue,
ParmInfo,
ParmInfoHelp,
ParmInfoName,
ParmInfoMethod,
ParmInfoPattern,
ParmInfoSet,
ParmInfoValidValues,
ParmInfoValidValue,
ParmName,
ParmValue,
PerDoctypeErrorThresholds,
PerDoctypeErrorThreshold,
ProcessScript,
PublishingSystem,
SpecificationName,
Subdirectory,
SubsetActionName,
SubsetDescription,
SubsetFilter,
SubsetFilterId,
SubsetFilterName,
SubsetFilterParm,
SubsetFilters,
SubsetName,
SubsetOption,
SubsetOptions,
SubsetParameter,
SubsetParameters,
SubsetSelection,
SubsetSpecification,
SubsetSpecifications,
SubsetSQL,
SubsetXQL,
SystemDescription,
SystemName,
SystemSubset,
UserSelect,
UserSelectDoctype
   { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Doctype             :before { content: "Doctype "; }
MaxErrors           :before { content: "Max Errors "; }
OptionName          :before { content: "Option "; }
OptionValue         :before { content: "Option Value "; }
ParmInfo            :before { content: "PARM INFO: "; }
ParmInfoHelp        :before { content: "Help "; }
ParmInfoName        :before { content: "Name "; }
ParmInfoMethod      :before { content: "Method "; }
ParmInfoPattern     :before { content: "Pattern "; }
ParmInfoSet         :before { content: "PARAMETER INFO "; }
ParmInfoValidValues :before { content: "VALID VALUES "; }
ParmInfoValidValue  :before { content: "Value "; }
ParmName            :before { content: "Parameter "; }
ParmValue           :before { content: "Parm Value "; }
PerDoctypeErrorThreshold:before
                            { content: "Max Errors "; }
PerDoctypeErrorThresholds:before
                            { content: "MAX ERRORS PER DOCTYPE"; }
ProcessScript       :before { content: "Proc Script "; }
PublishingSystem    :before { content: "PUBLISHING SYSTEM "; }
SpecificationName   :before { content: "Spec Name "; }
Subdirectory        :before { content: "Subdirectory "; }
SubsetActionName    :before { content: "Subset Action "; }
SubsetDescription   :before { content: "Description "; }
SubsetFilter        :before { content: "Subset Filter "; }
SubsetFilterId      :before { content: "Filter ID "; }
SubsetFilterName    :before { content: "Filter Name "; }
SubsetFilterParm    :before { content: "Filter Parameter "; }
SubsetFilters       :before { content: "Subset Filters "; }
SubsetName          :before { content: "Subset "; }
SubsetOption        :before { content: "Subset Option "; }
SubsetOptions       :before { content: "SUBSET OPTIONS "; }
SubsetParameter     :before { content: "Subset Parameter "; }
SubsetParameters    :before { content: "SUBSET PARAMETERS "; }
SubsetSelection     :before { content: "Subset Selection "; }
SubsetSpecification :before { content: "SUBSET SPECIFICATION "; }
SubsetSpecifications:before { content: "SUBSET SPECIFICATIONS "; }
SubsetSQL           :before { content: "Subset SQL "; }
SubsetXQL           :before { content: "Subset XQL "; }
SystemDescription   :before { content: "System Description "; }
SystemName          :before { content: "System Name "; } *
SystemSubset        :before { content: "SYSTEM SUBSET  "; }
UserSelect          :before { content: "User Select "; }
UserSelectDoctype   :before { content: "Doc Type "; }


/***************************************************************************/
/*                         BORDERED SECTIONS                               */
/***************************************************************************/
ParmInfoSet,
SystemSubset
   { border: none;  }


/***************************************************************************/
/*                         TAG PROPERTIES FOR HEADINGS                     */
/***************************************************************************/
ParmInfo              :before,
ParmInfoSet           :before,
ParmInfoValidValues   :before,
PublishingSystem      :before,
Subdirectory          :before,
SubsetFilters         :before,
SubsetOptions         :before,
SubsetParameters      :before,
SubsetSpecifications  :before
   { font-weight: bold;
     color: black;  }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/

Doctype               :before,
MaxErrors             :before,
OptionName            :before,
OptionValue           :before,
ParmInfoHelp          :before,
ParmInfoName          :before,
ParmInfoMethod        :before,
ParmInfoPattern       :before,
ParmInfoValidValue    :before,
ParmName              :before,
ParmValue             :before,
PerDoctypeErrorThreshold
                      :before,
ProcessScript         :before,
SpecificationName     :before,
SubsetActionName      :before,
SubsetDescription     :before,
SubsetFilter          :before,
SubsetFilterId        :before,
SubsetFilterName      :before,
SubsetFilterParm      :before,
SubsetName            :before,
SubsetOption          :before,
SubsetParameter       :before,
SubsetSelection       :before,
SubsetSpecification   :before,
SubsetSQL             :before,
SubsetXQL             :before,
SystemDescription     :before,
SystemName            :before,
SystemSubset          :before,
UserSelect            :before,
UserSelectDoctype     :before
   { font-weight: bold;
     color: black;  }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/

/* Remove negative text-indent settings  */

Doctype,
MaxErrors,
SystemName,
SystemDescription,
SubsetName,
SubsetDescription,
ParmInfoHelp,
ParmInfoName,
ParmInfoMethod,
ParmInfoPattern,
ParmInfoValidValues,
ParmInfoValidValue,
ParmName,
ParmValue,
SpecificationName,
SubsetActionName,
ProcessScript,
UserSelectDoctype,
SubsetSQL,
SubsetXQL,
SubsetFilterId,
SubsetFilterName,
Subdirectory,
OptionName,
OptionValue
   { text-indent: 0pt; }


/***************************************************************************/
/*                               HIDE TEXT                                 */
/***************************************************************************/

Doctype,
MaxErrors,
OptionName,
OptionValue,
ParmInfoHelp,
ParmInfoName,
ParmInfoMethod,
ParmInfoPattern,
ParmInfoValidValue,
ParmName,
ParmValue,
ProcessScript,
SpecificationName,
Subdirectory,
SubsetActionName,
SubsetDescription,
SubsetFilterId,
SubsetFilterName,
SubsetName,
SubsetSQL,
SubsetXQL,
SystemDescription,
SystemName,
UserSelect,
UserSelectDoctype
   { color: white;
     background-color: white; }


Doctype              :before,
MaxErrors            :before,
OptionName           :before,
OptionValue          :before,
ParmInfo             :before,
ParmInfoHelp         :before,
ParmInfoName         :before,
ParmInfoMethod       :before,
ParmInfoPattern      :before,
ParmInfoSet          :before,
ParmInfoValidValues  :before,
ParmInfoValidValue   :before,
ParmName             :before,
ParmValue            :before,
PerDoctypeErrorThreshold
                     :before,
ProcessScript        :before,
SpecificationName    :before,
Subdirectory         :before,
SubsetActionName     :before,
SubsetDescription    :before,
SubsetFilter         :before,
SubsetFilterId       :before,
SubsetFilterName     :before,
SubsetFilterParm     :before,
SubsetName           :before,
SubsetOption         :before,
SubsetParameter      :before,
SubsetSelection      :before,
SubsetSpecification  :before,
SubsetSQL            :before,
SubsetXQL            :before,
SystemDescription    :before,
SystemName           :before,
SystemSubset         :before,
UserSelect           :before,
UserSelectDoctype    :before
   { background-color: white; }
