/*************************************************************************/
/*      Summary_structure.css                                            */
/*                                                                       */
/*      BZIssue::4847 - Change CSS to accomodate new elements            */
/*                                                                       */
/*      v. 3.6                                                           */
/*      10/10/02  by ebator                                              */
/*      Added 4th and 5th level subsections                              */
/*      Removed sub-sub-sub prefix on MetaData, Diagnosis, SectionType   */
/*        since the sub-prefixes were getting cumbersome                 */
/*                                                                       */
/*      v. 3.5                                                           */
/*      7/23/02  by ebator                                               */
/*      Added PatientVersionOf element                                   */
/*                                                                       */
/*      v. 3.4                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 3.3                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/*      v. 3.2                                                           */
/*      12/20/01  by ebator                                              */
/*      Fix paragraph numbering for new SummarySection placement         */
/*                                                                       */
/*      v. 3.1                                                           */
/*      12/18/01  by ebator                                              */
/*      Italicize subsection titles per users' request                   */
/*                                                                       */
/*      v. 3.0                                                           */
/*      12/06-07/01  by ebator                                           */
/*      Edited to import common schema elements                          */
/*                                                                       */
/*      v. 2.7                                                           */
/*      12/05/01  by ebator                                              */
/*      Added TT to before text                                          */
/*                                                                       */
/*      v. 2.6                                                           */
/*      11/09/01  by ebator                                              */
/*      Template-related cosmetic changes                                */
/*      Fixed Table Title style, Table indent                            */
/*                                                                       */
/*      v. 2.5                                                           */
/*      10/31/01  by ebator                                              */
/*      Added counter support for paras; remove for sections             */
/*                                                                       */
/*      v. 2.4                                                           */
/*      10/26/01  by ebator                                              */
/*      Edited to match schema changes                                   */
/*                                                                       */
/*      v. 2.3                                                           */
/*      10/17/01  by ebator                                              */
/*      Adjusted pt. size on metadata elements                           */
/*                                                                       */
/*      v. 2.2                                                           */
/*      10/10/01  by ebator                                              */
/*      Changed style of TranslationOf:before                            */
/*                                                                       */
/*      v. 2.1                                                           */
/*      10/09/01  by ebator                                              */
/*      Removed indented subsequent lines on form elements               */
/*                                                                       */
/*      v. 2.0                                                           */
/*      10/04/01  by ebator                                              */
/*      Form changes per LG and AD                                       */
/*                                                                       */
/*      v. 1.4                                                           */
/*      10/02/01 by ebator                                               */
/*      Counter resets and increments must be in a certain order to      */
/*      work properly                                                    */
/*                                                                       */
/*      v. 1.3                                                           */
/*      9/18/01 by ebator                                                */
/*      Updated styles per conversation with Lakshmi, Ark, Jean, Ann     */
/*                                                                       */
/*      V 1.2                                                            */
/*      9/14/01    by ebator                                             */
/*      Changed Common Elements to Display:none, except for Para         */
/*      (tables, links, etc. don't appear on blank lines in structure)   */
/*                                                                       */
/*      v 1.1                                                            */
/*      2001/09/08 10:00 am  by ebator                                   */
/*      Based on the 9/7/2001 version of the summary.css                 */
/*      Added all common elements and $PROCINS to Hide Text list         */
/*                                                                       */
/*************************************************************************/
/*************************************************************************/
/*                     DEFAULT PROPERTIES                                */
/*************************************************************************/
@import "CdrCommonSchema_Structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*   { white-space: nowrap;
      text-align: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      font-style: normal;
      font-weight: bold;
      color: black; }

/* top-level elements */

$DOCUMENT > *
    { margin-left: 0px;  }

$PROCINS
    { color: white;
      font-weight: normal;
      background-color: white;}


/*************************************************************************/
/*                           BLOCK ELEMENTS                              */
/*************************************************************************/
AltTitle,
Board,
BoardMember,
Caption,
ChangeDate,
CodeSystem,
CodeSystemName,
Comment,
ComprehensiveReviewDate,
TypeOfSummaryChange > Comment,
Date,
DateLastModified,
DateOfEntry,
Diagnosis,
DiagnosisCode,
Drug,
EHRDiagnosisInformation,
EmbeddedVideo,
EnteredBy,
Intervention,
KeyPoint,
MainTopics,
MediaID,
MediaLink,
MobileURL,
PageTitle,
PageURL,
PatientVersionOf,
PDQBoard,
PdqKey,
PMID,
PurposeText,
QandADiv,
QandAEntry,
QandASet,
ReplacementFor,
SecondaryTopics,
SectMetaData,
SectionType,
Snippet,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
SummaryAbstract,
SummaryAbstract>Paragraph,
SummaryAudience,
SummaryDescription,
SummaryKeyWords,
SummaryKeyWords>SummaryKeyWord,
SummaryLanguage,
SummaryMetaData,
SummaryModuleLink,
SummarySection,
SummarySection>Comment,
SummarySection>ResponseToComment,
SummaryTitle,
SummaryType,
SummaryURL,
Term,
Title,
TranslationOf,
TypeOfChange,
TypeOfSummaryChange,
TypeOfSummaryChangeValue,
User,
WillReplace
    { display: block; }



/*************************************************************************/
/*                       BEFORE AND AFTER TAGS                           */
/*************************************************************************/
AltTitle                          :before { content: "Alternate Title"; }
Board                             :before { content: "Summary Board"; }
BoardMember                       :before { content: "Board Member"; }
Caption                           :before { content: "Caption"; }
ChangeDate                        :before { content: "Change Date"; }
CodeSystem                        :before { content: "CODE SYSTEM"; }
CodeSystemName                    :before { content: "Code System Name"; }
Comment                           :before { content: "Comment"; }
TypeOfSummaryChange > Comment     :before { content: "Comment"; }
ComprehensiveReviewDate
                                  :before { content: "Review Date"; }
Date                              :before { content: "Date"; }
DateLastModified                  :before { content: "Last Modified"; }
DateOfEntry                       :before { content: "Date of Entry"; }
Diagnosis                         :before { content: "Diagnosis"; }
DiagnosisCode                     :before { content: "Diagnosis Code"; }
Drug                              :before { content: "Drug"; }
EHRDiagnosisInformation           :before { content: "EHR DIAGNOSIS"; }
EmbeddedVideo                     :before { content: "VIDEOLINK"; }
EnteredBy                         :before { content: "Entered By"; }
FigureNumber                      :before { content: ""; }
Intervention                      :before { content: "Intervention"; }
KeyPoint                          :before { content: "Key Point"; }
MainTopics                        :before { content: "Main Topics"; }
MediaID                           :before { content: "Media ID"; }
MediaLink                         :before { content: "MEDIALINK"; }
MobileURL                         :before { content: "Mobile URL"; }
PageTitle                         :before { content: "Page Title"; }
PageURL                           :before { content: "Page URL"; }
Para                              :before { content: counter(para)". Paragraph"; }
SummarySection>SummarySection>Para
                                  :before { content: counter(subpara)". Subparagraph"; }
PatientVersionOf                  :before { content: "Patient Version Of"; }
PDQBoard                          :before { content: "PDQ Board"; }
PdqKey                            :before { content: "PDQ Key"; }
PMID                              :before { content: "PMID"; }
PurposeText                       :before { content: "Purpose Text"; }
QandASet                          :before { content: "Q&A Section"; }
QandADiv                          :before { content: "Q&A Sub-Section"; }
QandAEntry                        :before { content: counter(qanda)". Q&A Entry"; }
ReferencedFigureNumber            :before { content: ""; }
ReferencedTableNumber             :before { content: ""; }
SecondaryTopics                   :before { content: "Secondary Topics" }
SectMetaData                      :before { content: "Section Metadata"; }
SectionType                       :before { content: "Section Type"; }
Snippet                           :before { content: "Snippet"; }
SpecificMediaCaption              :before { content: "Caption"; }
SpecificMediaTitle                :before { content: "Title"; }
SpecificVideoPresentationTemplate :before { content: "Display"; }
Summary                           :before { content: "SUMMARY"; }
SummaryID                         :before { content: "Summary ID"; }
SummaryAbstract                   :before { content: "Summary Abstract"; }
SummaryAbstract>Para              :before { content: "Paragraph"; }
SummaryAudience                   :before { content: "Summary Audience"; }
SummaryDescription                :before { content: "Summary Description"; }
SummaryKeyWords                   :before { content: "Summary Keywords"; }
SummaryKeyWord                    :before { content: "Keyword"; }
SummaryLanguage                   :before { content: "Summary Language"; }
SummaryMetaData                   :before { content: "SUMMARY METADATA"; }
SummaryModuleLink                 :before { content: "Summary Module"; }
SummaryType                       :before { content: "Summary Type"; }
SummaryURL                        :before { content: "Summary URL"; }
SummarySection                    :before { content: "Section"; }
SummarySection>Comment
                                  :before { content: "Comment"; }
SummarySection>ResponseToComment
                                  :before { content: "Response"; }
SummarySection>SummarySection
                                  :before { content: "Sub-section"; }
SummarySection>SummarySection>SummarySection
                                  :before { content: "Sub-sub-section"; }
SummarySection>SummarySection>SummarySection>SummarySection
                                  :before { content: "Sub-sub-sub-section"; }
SummarySection>SummarySection>SummarySection>SummarySection>SummarySection
                                  :before { content: "Sub-sub-sub-sub-section"; }
SummaryTitle                      :before { content: "SUMMARY TITLE"; }
Term                              :before { content: "Term"; }
SummarySection>Title              :before { content: "Section Title"; }
SummarySection>SummarySection>Title
                                  :before { content: "Sub-section Title"; }
SummarySection>SummarySection>SummarySection>Title
                                  :before { content: "Sub-sub-section Title"; }
SummarySection>SummarySection>SummarySection>SummarySection>Title
                                  :before { content: "Sub-sub-sub-section Title"; }
SummarySection>SummarySection>SummarySection>SummarySection>SummarySection>Title
                                  :before { content: "Sub-sub-sub-sub-section Title"; }
TableNumber                       :before { content: ""; }
TranslationOf                     :before { content: "Translation Of"; }
TypeOfChange                      :before { content: "Change Type"; }
TypeOfSummaryChange               :before { content: "TYPE OF CHANGE"; }
TypeOfSummaryChangeValue          :before { content: "Type"; }
ReplacementFor                    :before { content: "Replacement For"; }
User                              :before { content: "User"; }
VideoID                           :before { content: "Video ID"; }
WillReplace                       :before { content: "Will Replace"; }


/*************************************************************************/
/*                     COUNTER DEFINITIONS                               */
/*************************************************************************/
SummarySection,
    { counter-reset: para; }

Para,
    { counter-increment: para; }

SummarySection>SummarySection,
    { counter-reset: subpara; }

SummarySection>SummarySection>Para,
    { counter-increment: subpara; }

QandADiv,
    { counter-reset: qanda; }

QandAEntry,
    { counter-increment: qanda; }


/*************************************************************************/
/*                             HEADINGS                                  */
/*************************************************************************/
MainTopics                        :before,
PDQBoard                          :before,
SecondaryTopics                   :before,
SectMetaData                      :before,
Summary                           :before,
SummaryMetaData                   :before,
SummaryTitle                      :before,
    { color: black;
      font-weight: bold; }

SummarySection                    :before,
    { color: navy;
      font-weight: bold; }

Board                             :before,
BoardMember                       :before,
MainTopics                        :before,
MobileURL                         :before,
PDQBoard                          :before,
PMID                              :before,
PurposeText                       :before,
SecondaryTopics                   :before,
SummaryAbstract                   :before,
SummaryAudience                   :before,
SummaryDescription                :before,
SummaryKeyWords                   :before,
SummaryLanguage                   :before,
SummaryType                       :before,
SummaryURL                        :before,
Term                              :before
    { font-size: 10pt; }

Comment                           :before,
SummarySection>Comment            :before,
SummarySection>ResponseToComment  :before,
ResponseToComment                 :before
    { color: black;
      background-color: white; }

SummarySection>SummarySection>Title:before,
SummarySection>SummarySection>Title,
    { font-style: italic; }


/*************************************************************************/
/*      TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS         */
/*************************************************************************/
Board                             :before,
BoardMember                       :before,
DateLastModified                  :before,
Diagnosis                         :before,
Drug                              :before,
Intervention                      :before,
MobileURL                         :before,
PatientVersionOf                  :before,
PdqKey                            :before,
PMID                              :before,
PurposeText                       :before,
SectionType                       :before,
SummaryAbstract                   :before,
SummaryAudience                   :before,
SummaryDescription                :before,
SummaryLanguage                   :before,
SummaryType                       :before,
SummaryURL                        :before,
Term                              :before,
TranslationOf                     :before,
TypeOfSummaryChange               :before,
TypeOfSummaryChanges              :before,
WillReplace                       :before
    { color: black;
      font-weight: bold; }


/*************************************************************************/
/*                 TAG PROPERTIES FOR TEXT INPUT FIELDS                  */
/*************************************************************************/
AltTitle                          :before,
Caption                           :before,
CodeSystem                        :before,
CodeSystemName                    :before,
ComprehensiveReviewDate           :before,
ChangeDate                        :before,
DiagnosisCode                     :before,
DateOfEntry                       :before,
TypeOfSummaryChange > Comment     :before,
TypeOfSummaryChange > Date        :before,
TypeOfSummaryChange > User        :before,
EHRDiagnosisInformation           :before,
EnteredBy                         :before,
DateLastModified                  :before,
KeyPoint                          :before,
MediaID                           :before,
PageTitle                         :before,
PageURL                           :before,
PatientVersionOf                  :before,
Snippet                           :before,
SpecificMediaCaption              :before,
SpecificMediaTitle                :before,
SpecificVideoPresentationTemplate :before,
SummaryAbstract>Para              :before,
SummaryKeyWords>SummaryKeyWord    :before,
SummarySection>Para               :before,
SummarySection>SummarySection>Para:before,
Title                             :before,
TranslationOf                     :before,
ReplacementFor                    :before,
TypeOfChange                      :before,
TypeOfSummaryChange               :before,
TypeOfSummaryChangeValue          :before,
VideoID                           :before,
WillReplace                       :before,
    { color: black;
      font-weight: bold;
      font-size: 10pt; }

Title,
    { color: black;
      font-weight: normal;  }


/*************************************************************************/
/*                            BORDER CONTROL                             */
/*************************************************************************/
EmbeddedVideo,
MediaLink,
SummaryMetaData,
TypeOfSummaryChange
    { border: none; }


/*************************************************************************/
/*                            HIDE TEXT                                  */
/*************************************************************************/
AltTitle,
Board,
BoardMember,
Caption,
ChangeDate,
CodeSystem,
CodeSystemName,
TypeOfSummaryChange > Comment,
Comment,
ComprehensiveReviewDate,
Date,
DateLastModified,
DateOfEntry,
Diagnosis,
DiagnosisCode,
Drug,
EHRDiagnosisInformation,
EnteredBy,
Intervention,
KeyPoint,
MainTopics,
MediaID,
MobileURL,
PageTitle,
PageURL,
PatientVersionOf,
PDQBoard,
PdqKey,
PMID,
PurposeText,
ReplacementFor,
ResponseToComment,
SecondaryTopics,
SectMetaData,
SectionTitle,
SectionType,
Snippet,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
StandardWording,
SummaryAbstract,
SummaryAudience,
SummaryDescription,
SummaryKeyWords>SummaryKeyWord,
SummaryLanguage,
SummaryMetaData,
SummaryModuleLink,
SummarySection>Title,
SummarySection>SummarySection,
SummarySection>SummarySection>Para,
SummaryTitle,
SummaryType,
SummaryURL,
Term,
/*Title, */
TranslationOf,
TypeOfChange,
TypeOfSummaryChange,
TypeOfSummaryChangeValue,
User,
VideoID,
WillReplace
    { color: white;
      background-color: white; }



/*************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                */
/*************************************************************************/
/* Remove negative text-indent settings  */



/*************************************************************************/
/*                            FORM CONTROL                               */
/*************************************************************************/
Board                             :before,
BoardMember                       :before,
ChangeDate                        :before,
CodeSystem                        :before,
CodeSystemName                    :before,
Comment                           :before,
Comment                           :after,
TypeOfSummaryChange > Comment     :before,
Date                              :before,
DateOfEntry                       :before,
DiagnosisCode                     :before,
EHRDiagnosisInformation           :before,
EnteredBy                         :before,
MainTopics                        :before,
MobileURL                         :before,
PageTitle                         :before,
PageURL                           :before,
PDQBoard                          :before,
PMID                              :before,
PurposeText                       :before,
SecondaryTopics                   :before,
Snippet                           :before,
Summary[SVPC="Yes"],
Summary[PartnerMergeSet="Yes"],
SummaryAbstract                   :before,
SummaryAbstract>Para              :before,
SummaryAudience                   :before,
SummaryDescription                :before,
SummaryKeyWords                   :before,
SummaryKeyWords>SummaryKeyWord    :before,
SummaryLanguage                   :before,
SummaryType                       :before,
SummaryURL                        :before,
MainTopics>Term                   :before,
SecondaryTopics>Term              :before,
TypeOfChange                      :before,
TypeOfSummaryChange               :before,
TypeOfSummaryChangeValue          :before,
User                              :before
    { background-color: white; }

Board,
BoardMember,
Caption,
ComprehensiveReviewDate,
ChangeDate,
CodeSystem,
CodeSystemName,
TypeOfSummaryChange > Comment,
Date,
DateLastModified,
DateOfEntry,
DiagnosisCode,
EHRDiagnosisInformation,
EnteredBy,
MainTopics>Term,
MediaID,
MobileURL,
PageTitle,
PageURL,
PatientVersionOf,
PMID,
PurposeText,
ReplacementFor,
Snippet,
SpecificMediaCaption,
SpecificMediaTitle,
SpecificVideoPresentationTemplate,
SummaryAbstract,
SummaryAbstract>Para,
SummaryAudience,
SummaryDescription,
SummaryKeyWords,
SummaryKeyWords>SummaryKeyWord,
SummaryLanguage,
SummaryType,
SummaryURL,
SecondaryTopics>Term,
TranslationOf,
TypeOfChange,
TypeOfSummaryChange,
TypeOfSummaryChangeValue,
User,
VideoID,
WillReplace
    { text-indent: 0pt; }


