/*
 * $Id: CdrCommonSchema.css,v 1.18 2008-10-16 19:12:59 venglisc Exp $
 *
 * $Log: not supported by cvs2svn $
 * Revision 1.17  2008/02/21 21:13:34  bkline
 * Added cdr:PrivateUseCharacter formatting.
 *
 * Revision 1.16  2007/01/11 22:52:36  venglisc
 * Adding formatting for ListTitle (bold, italic). (Bug 2849)
 *
 * Revision 1.15  2006/11/27 14:59:08  bkline
 * Added visible indication of blocked document (request #2730).
 *
 * Revision 1.14  2006/04/03 20:29:44  venglisc
 * Added missing space between Date element and flag. (Bug 2033)
 *
 * Revision 1.13  2005/08/10 18:33:43  venglisc
 * Modified the list to display as bulleted list if no Style attribute has
 * been entered. (Bug 1789)
 *
 * Revision 1.12  2005/07/28 14:24:46  venglisc
 * Added CSS for QandASet node plus some minor formatting changes. (Bug 1774)
 *
 * Revision 1.11  2005/01/05 00:17:16  venglisc
 * Updated CSS to handle new MediaLink, MediaRef and Caption elements.
 *
 * Revision 1.10  2004/09/09 17:25:25  bkline
 * Switched Comment colors back to white on green (request #1213).
 *
 * Revision 1.9  2004/08/17 12:03:30  bkline
 * Changed teal to green for proposed markup.
 *
 * Revision 1.8  2004/08/10 19:37:18  bkline
 * Fixed last change to apply to proposed markup instead of approved.
 *
 * Revision 1.7  2004/08/10 19:29:13  bkline
 * Made approved markup blue instead of red (request #1213).
 *
 * Revision 1.6  2003/08/14 21:57:50  bkline
 * Added handling for Compact='No' in ordered lists.
 *
 * Revision 1.5  2003/02/05 21:02:30  bkline
 * Implemented support for non-compact itemized lists (Bugzilla #544).
 *
 */

/*************************************************************************/
/*      CdrCommonSchema.css                                              */
/*                                                                       */
/*      v. 2.2                                                           */
/*      6/13/02  by ebator                                               */
/*      Table Footer set to Blue with borders                            */
/*      Test change                                                      */
/*                                                                       */
/*      v. 2.1                                                           */
/*      5/28/02  by ebator                                               */
/*      When a styled element is embedded within an Insertion or a       */
/*      Deletion, it takes on the style of the Insertion or Deletion.    */
/*                                                                       */
/*      v. 2.0                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 1.9                                                           */
/*      2/25/02  by ebator                                               */
/*      Changed color of ProtocolRef and ProtocolLink per users          */
/*                                                                       */
/*      v. 1.8                                                           */
/*      2/11/02  by ebator                                               */
/*      Set Table margin-left to match Para                              */
/*      Set display:block for Section, Title, AltTitle, KeyPoint         */
/*                                                                       */
/*      v. 1.7                                                           */
/*      1/15-16-17/02  by ebator                                         */
/*      Added notations for required *, optional &, multiple +           */
/*                                                                       */
/*      v. 1.6                                                           */
/*      1/10/02  by ebator                                               */
/*      Country required; city optional                                  */
/*                                                                       */
/*      v. 1.5                                                           */
/*      1/9/02  by ebator                                                */
/*      Added ContactName                                                */
/*                                                                       */
/*      v. 1.4                                                           */
/*      1/8/02  by ebator                                                */
/*      Added style for ProtocolLink                                     */
/*                                                                       */
/*      v. 1.3                                                           */
/*      1/2/02  by ebator                                                */
/*      Changed Glossary links from fuschia to blue                      */
/*                                                                       */
/*      v. 1.2                                                           */
/*      12/19/01  by ebator                                              */
/*      Added style for ListTitle                                        */
/*                                                                       */
/*      v. 1.1                                                           */
/*      12/12/01  by ebator                                              */
/*      Qualified PostalAddress>Country vs. Country doctype              */
/*                                                                       */
/*      v. 1.0                                                           */
/*      12/06-11/01  by ebator                                           */
/*      CSS based on 12/05/01 schema; imported in each doctype.css       */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/
$DOCUMENT
     { font-family: Arial, sans-serif;
       font-size: 12pt;
       color: black;
       margin-top: 5px;
       margin-left: 5px; }

$COMMENT
     { display: block;
       color: purple;
       white-space: pre; }

$PROCINS
     { color: navy;
       font-weight: normal;
       background-color: white; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
ActionDate,
ActionDescription,
AltTitle,
Answer,
CdrDocCtl,
City,
CitySuffix,
ContactName,
PostalAddress>Country,
DatedAction,
DocId,
DocTitle,
Email,
entry,
Fax,
Head,
ItemizedList,
KeyPoint,
ListItem,
ListTitle,
LiteralLayout,
MarkedUpTitle,
Multimedia,
OrderedList,
Para,
Phone,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
QandADiv,
QandAEntry,
QandASet,
Question,
ReplacementText,
Row,
Section,
Section>Title,
Street,
Table,
TBody,
TFoot,
TGroup,
Title,
TollFreePhone,
TT,
WebSite,
     { display: block; }


/***************************************************************************/
/*                           INLINE ELEMENTS                               */
/***************************************************************************/
CitationLink,
CitationRef,
CitationReference,
Comment,
Deletion,
DrugName,
DrugSummaryRef,
Emphasis,
ExternalLink,
ExternalRef,
ForeignWord,
GeneName,
GlossaryTerm,
GlossaryTermLink,
GlossaryTermRef,
Insertion,
InterventionName,
LOEFragmentLink,
LOEFragmentRef,
LOELink,
LOERef,
LOEReference,
MediaRef,
Note,
PlaceHolder,
ProtocolLink,
ProtocolRef,
ProtocolReference,
Quote,
ScientificName,
Strong,
Subscript,
SummaryFragmentLink,
SummaryFragmentRef,
SummaryLink,
SummaryRef,
Superscript,
cdr\:PrivateUseCharacter
     { display: inline; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */


/* CDR Doc Control  */

DocId:before                    { content: "Doc ID: "; }
DocTitle:before                 { content: "Doc Title: "; }

/* Added at Lakshmi's request (#2730) */
CdrDocCtl[blocked='Y'] DocId:after { content: " [BLOCKED]"; }
CdrDocCtl[blocked='Y'] DocId       { color: red; }


/* Contact Detail  */

City:before                     { content: "City &: "; }
CitySuffix:before               { content: "Suffix &: "; }
ContactName:before              { content: "Name & +: "; }
PostalAddress>Country:before    { content: "Country * @: "; }
Email:before                    { content: "Email & @: "; }
Email[Public="No"]:after        { content: " (Not public) "; }
Email:after                     { content: " (Public) "; }
Fax:before                      { content: "Fax &: "; }
Phone:before                    { content: "Phone & @: "; }
Phone[Public="No"]:after        { content: " (Not public) "; }
Phone:after                     { content: " (Public) "; }
PoliticalSubUnit_State:before   { content: "Pol Unit/St & @: "; }
PostalAddress:before            { content: "POSTAL ADDRESS & @"; }
PostalAddress[Public="No"]:before 
                                { content: "POSTAL ADDRESS (Not Public) & @"; }
PostalAddress:before            { content: "POSTAL ADDRESS (Public) & @"; }
PostalCode_ZIP:before           { content: "Postal Code &: "; }
Street:before                   { content: "Street & +: "; }
TollFreePhone:before            { content: "Toll Free &: "; }
WebSite:before                  { content: "Web Site & @: "; }

/*DatedAction   */

ActionDate:before               { content: "Date * : "; }
ActionDescription:before        { content: "Action * : "; }
DatedAction:before              { content: "DATED ACTION & +"; }
DatedAction>Comment:before      { content: "Comments &: "; }

/* Misc styles    */

CitationLink            :before { content: " [Citation] "; }
CitationReference       :before { content: " [Citation] ";}
Note                    :before { content: " [Note: "; }
Note                    :after  { content: "] "; }
ProtocolLink            :before { content: " [Protocol] "; }
ReplacementText         :before { content: "Repl. Text & + @:"; }
PlaceHolder             :before { content: "[" attr(name) "]"; }


/***************************************************************************/
/*                BORDERS, SECTIONS, AND FORM ALIGNMENT                    */
/***************************************************************************/
/* CDR Doc Control  */

CdrDocCtl,
     { border: solid;
       border-color: black;
       border-width: thin;
       margin-top: 1em;
       margin-bottom: 6pt;
       background-color: #CCCCFF; }

DocId:before,
DocTitle:before,
     { font-weight: bold;
       font-size: 12pt;
       color: black;
       background-color: #CCCCFF; }

DocId,
DocTitle,
     { font-weight: bold;
       color: blue;
       background-color: white; }

DocId,
     { margin-left: 58pt;
       text-indent: -46pt;
       margin-bottom: 4pt;
       margin-top: 4pt; }

DocTitle,
     { margin-left: 58pt;
       text-indent: -58pt;
       margin-bottom: 4pt; }

/* Contact Detail Form Definition  */

/* Key element for length = PoliticalSubUnit_State   */

ContactName,                    
     { margin-left: 100pt;
       text-indent: -62pt;}
Street,                    
     { margin-left: 100pt;
       text-indent: -63pt; }
City,                    
     { margin-left: 100pt;
       text-indent: -42pt; }
CitySuffix,                    
     { margin-left: 100pt;
       text-indent: -52.5pt; }
PoliticalSubUnit_State,                    
     { margin-left: 100pt;
       text-indent: -94.5pt; }
PostalAddress>Country,                    
     { margin-left: 100pt;
       text-indent: -76.5pt; }
PostalCode_ZIP,                    
     { margin-left: 100pt;
       text-indent: -89pt; }
Phone,                    
     { margin-left: 100pt;
       text-indent: -72pt; }
TollFreePhone,                    
     { margin-left: 100pt;
       text-indent: -69pt; }
Fax,                    
     { margin-left: 100pt;
       text-indent: -40.5pt; }
Email,                    
     { margin-left: 100pt;
       text-indent: -66pt; }
WebSite,                    
     { margin-left: 100pt;
       text-indent: -85pt; }

Question,
     { font-weight: bold;
       margin-top: .5em; }

Answer,
     { font-weight: normal;
       margin-top: .5em; }

ContactName,
Street,
     { margin-top: 4pt; }

City,
CitySuffix,
ContactName,
PostalAddress>Country,
Email,
Fax,
Phone,
PoliticalSubUnit_State,
PostalCode_ZIP,
QandAEntry,
Street,
TollFreePhone,
WebSite,
     { margin-bottom: 4pt;
       background-color: white; }

City:before,
CitySuffix:before,
ContactName:before,
PostalAddress>Country:before,
Email:before,
Fax:before,
Phone:before,
PoliticalSubUnit_State:before,
PostalCode_ZIP:before,
Street:before,
TollFreePhone:before,
WebSite:before,
     { background-color: #CCCCFF; }  /*light blue*/


/* Paragraphs       */

Para,
     { margin-left: 20pt;
       display: block;
       margin-top: .5em; }

/* Dated Actions Form Control   */

DatedAction,
     { border: solid;
       border-color: black;
       border-width: thin;
       margin-top: 1em;
       margin-bottom: 6pt; }

DatedAction:before,
     { font-weight: bold;
       font-size: 12pt;
       color: black; }

ActionDescription,
     { margin-top: .5em; }

/* Key element for length = Comment   */

ActionDescription,                    
     { margin-left: 100pt;
       text-indent: -54.5pt; }
ActionDate,                    
     { margin-left: 100pt;
       text-indent: -45pt; }
DatedAction>Comment,                    
     { margin-left: 100pt;
       text-indent: -82pt; }

DatedAction>ActionDate,
DatedAction>ActionDescription,
DatedAction>Comment,
     { margin-bottom: 4pt;
                    background-color: white; }

DatedAction>ActionDate:before,
DatedAction>ActionDescription:before,
DatedAction>Comment:before,
DatedAction,
     { background-color: #CCCCFF; }  /*light blue*/


/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
PostalAddress:before,
     { font-weight: bold;
       font-size: 12pt;
       color: black; }

PostalAddress,
     { margin-top: .5em;
       margin-bottom: .5em; }

Phone,
     { margin-top: 1.5em; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
ActionDate                   :before,
ActionDescription            :before,
City                         :before,
CitySuffix                   :before,
DatedAction>Comment          :before,
ContactName                  :before,
Email                        :before,
Email                        :after,
Fax                          :before,
Phone                        :before,
Phone                        :after,
PostalCode_ZIP               :before,
ReplacementText              :before,
Street                       :before,
TollFreePhone                :before,
WebSite                      :before,
     { font-weight: bold;
       color: black; }


/***************************************************************************/
/*      TAG PROPERTIES FOR EMUMERATED VALUE AND PICKLIST FIELDS            */
/***************************************************************************/
PostalAddress>Country:before,
PoliticalSubUnit_State:before,
     { font-weight: bold;
       color: black; }


/***************************************************************************/
/*                                LINKS                                    */
/***************************************************************************/
CitationLink,
CitationLink:before,
CitationRef,
CitationReference:before,
DrugSummaryRef,
ExternalRef,
GlossaryRef,
GlossaryTerm,
GlossaryTermLink,
GlossaryTermRef,
InterventionName,
LOEFragmentLink,
LOEFragmentRef,
LOELink,
LOERef,
LOEReference,
MediaRef,
SummaryFragmentLink,
SummaryFragmentRef,
SummaryLink,
SummaryRef,
     { text-decoration: underline;
       color: blue; }

ProtocolLink,
ProtocolRef,
ProtocolReference,
     { text-decoration: underline;
       color: purple; }


/***************************************************************************/
/*                            OTHER STYLE ELEMENTS                         */
/***************************************************************************/
/*       Inline style elements                                             */
DrugName,
Emphasis,
ForeignWord,
GeneName,
Note,
Quote,
ScientificName,
     { font-style: italic; }

Strong,
     { font-weight: bold; }

Subscript,
     { vertical-align: sub; }

Superscript,
     { vertical-align: super; }

Note,
Note:before,
Note:after,
     { font-size: 10pt;
       color: green; }


/*       Markup elements                                                   */
Deletion
     { text-decoration: line-through;
       color: red; }

Deletion[RevisionLevel='proposed']
     { text-decoration: line-through;
       color: green; }

Insertion
     { color: red; }

Insertion[RevisionLevel='proposed'] { color: green }

/*       Special case style elements                                       */

ListTitle,
     { font-weight: bold; 
       font-style:  italic; }
      
cdr\:PrivateUseCharacter { color: red; font-weight: bold; }

/***************************************************************************/
/*              STYLED ELEMENTS WITHIN INSERTION OR DELETION               */
/***************************************************************************/
Insertion>Caption,
Insertion>CitationLink,
Insertion>CitationLink:before,
Insertion>CitationRef,
Insertion>CitationReference:before,
Insertion>DrugSummaryRef,
Insertion>ExternalRef,
Insertion>GlossaryRef,
Insertion>GlossaryTerm,
Insertion>GlossaryTermLink,
Insertion>GlossaryTermRef,
Insertion>InterventionName,
Insertion>LOEFragmentLink,
Insertion>LOEFragmentRef,
Insertion>LOELink,
Insertion>LOERef,
Insertion>LOEReference,
Insertion>MediaCaption,
Insertion>MediaID,
Insertion>MediaRef,
Insertion>SummaryFragmentLink,
Insertion>SummaryFragmentRef,
Insertion>SummaryLink,
Insertion>SummaryRef,
     { text-decoration: underline;
       color: red; }

Insertion>ProtocolLink,
Insertion>ProtocolRef,
Insertion>ProtocolReference,
     { text-decoration: underline;
       color: red; }

Insertion>DrugName,
Insertion>Emphasis,
Insertion>ForeignWord,
Insertion>GeneName,
Insertion>Note,
Insertion>Quote,
Insertion>ScientificName,
     { font-style: italic;
       color: red; }

Insertion>Strong,
     { font-weight: bold;
       color: red; }

Insertion>Subscript,
     { vertical-align: sub;
       color: red; }

Insertion>Superscript,
     { vertical-align: super;
       color: red; }

Insertion>Note,
Insertion>Note:before,
Insertion>Note:after,
     { font-size: 10pt;
       color: red; }

Insertion>Question
     { font-weight: bold;
       color: red; }

Insertion>Answer
     { text-indent: 20pt;
       color: red; }

Insertion[RevisionLevel='proposed']>Caption,
Insertion[RevisionLevel='proposed']>CitationLink,
Insertion[RevisionLevel='proposed']>CitationLink:before,
Insertion[RevisionLevel='proposed']>CitationRef,
Insertion[RevisionLevel='proposed']>CitationReference:before,
Insertion[RevisionLevel='proposed']>DrugSummaryRef,
Insertion[RevisionLevel='proposed']>ExternalRef,
Insertion[RevisionLevel='proposed']>GlossaryRef,
Insertion[RevisionLevel='proposed']>GlossaryTerm,
Insertion[RevisionLevel='proposed']>GlossaryTermLink,
Insertion[RevisionLevel='proposed']>GlossaryTermRef,
Insertion[RevisionLevel='proposed']>InterventionName,
Insertion[RevisionLevel='proposed']>LOEFragmentLink,
Insertion[RevisionLevel='proposed']>LOEFragmentRef,
Insertion[RevisionLevel='proposed']>LOELink,
Insertion[RevisionLevel='proposed']>LOERef,
Insertion[RevisionLevel='proposed']>LOEReference,
Insertion[RevisionLevel='proposed']>MediaCaption,
Insertion[RevisionLevel='proposed']>MediaID,
Insertion[RevisionLevel='proposed']>MediaRef,
Insertion[RevisionLevel='proposed']>SummaryFragmentLink,
Insertion[RevisionLevel='proposed']>SummaryFragmentRef,
Insertion[RevisionLevel='proposed']>SummaryLink,
Insertion[RevisionLevel='proposed']>SummaryRef,
     { text-decoration: underline;
       color: green; }

Insertion[RevisionLevel='proposed']>ProtocolLink,
Insertion[RevisionLevel='proposed']>ProtocolRef,
Insertion[RevisionLevel='proposed']>ProtocolReference,
     { text-decoration: underline;
       color: green; }

Insertion[RevisionLevel='proposed']>DrugName,
Insertion[RevisionLevel='proposed']>Emphasis,
Insertion[RevisionLevel='proposed']>ForeignWord,
Insertion[RevisionLevel='proposed']>GeneName,
Insertion[RevisionLevel='proposed']>Note,
Insertion[RevisionLevel='proposed']>Quote,
Insertion[RevisionLevel='proposed']>ScientificName,
     { font-style: italic;
       color: green; }

Insertion[RevisionLevel='proposed']>Strong,
     { font-weight: bold;
       color: green; }

Insertion[RevisionLevel='proposed']>Subscript,
     { vertical-align: sub;
       color: green; }

Insertion[RevisionLevel='proposed']>Superscript,
     { vertical-align: super;
       color: green; }

Insertion[RevisionLevel='proposed']>Note,
Insertion[RevisionLevel='proposed']>Note:before,
Insertion[RevisionLevel='proposed']>Note:after,
     { font-size: 10pt;
       color: green; }

Insertion[RevisionLevel='proposed']>Question
     { font-weight: bold;
       color: green; }

Insertion[RevisionLevel='proposed']>Answer
     { text-indent: 20pt;
       color: green; }

Deletion>Caption,
Deletion>CitationLink,
Deletion>CitationLink:before,
Deletion>CitationRef,
Deletion>CitationReference:before,
Deletion>DrugSummaryRef,
Deletion>ExternalRef,
Deletion>GlossaryRef,
Deletion>GlossaryTerm,
Deletion>GlossaryTermLink,
Deletion>GlossaryTermRef,
Deletion>InterventionName,
Deletion>LOEFragmentLink,
Deletion>LOEFragmentRef,
Deletion>LOELink,
Deletion>LOERef,
Deletion>LOEReference,
Deletion>MediaCaption,
Deletion>MediaID,
Deletion>MediaRef,
Deletion>SummaryFragmentLink,
Deletion>SummaryFragmentRef,
Deletion>SummaryLink,
Deletion>SummaryRef,
     { text-decoration: underline;
       text-decoration: line-through;
       color: red; }

Deletion>ProtocolLink,
Deletion>ProtocolRef,
Deletion>ProtocolReference,
     { text-decoration: underline;
       text-decoration: line-through;
       color: red; }

Deletion>DrugName,
Deletion>Emphasis,
Deletion>ForeignWord,
Deletion>GeneName,
Deletion>Note,
Deletion>Quote,
Deletion>ScientificName,
     { font-style: italic;
       text-decoration: line-through;
       color: red; }

Deletion>Strong,
     { font-weight: bold;
       text-decoration: line-through;
       color: red; }

Deletion>Subscript,
     { vertical-align: sub;
       text-decoration: line-through;
       color: red; }

Deletion>Superscript,
     { vertical-align: super;
       text-decoration: line-through;
       color: red; }

Deletion>Note,
Deletion>Note:before,
Deletion>Note:after,
     { font-size: 10pt;
       text-decoration: line-through;
       color: red; }

Deletion>Question
     { font-weight: bold;
       text-decoration: line-through;
       color: red; }

Deletion>Answer
     { text-indent: 20pt;
       text-decoration: line-through;
       color: red; }

Deletion[RevisionLevel='proposed']>Caption,
Deletion[RevisionLevel='proposed']>CitationLink,
Deletion[RevisionLevel='proposed']>CitationLink:before,
Deletion[RevisionLevel='proposed']>CitationRef,
Deletion[RevisionLevel='proposed']>CitationReference:before,
Deletion[RevisionLevel='proposed']>DrugSummaryRef,
Deletion[RevisionLevel='proposed']>ExternalRef,
Deletion[RevisionLevel='proposed']>GlossaryRef,
Deletion[RevisionLevel='proposed']>GlossaryTerm,
Deletion[RevisionLevel='proposed']>GlossaryTermLink,
Deletion[RevisionLevel='proposed']>GlossaryTermRef,
Deletion[RevisionLevel='proposed']>InterventionName,
Deletion[RevisionLevel='proposed']>LOEFragmentLink,
Deletion[RevisionLevel='proposed']>LOEFragmentRef,
Deletion[RevisionLevel='proposed']>LOELink,
Deletion[RevisionLevel='proposed']>LOERef,
Deletion[RevisionLevel='proposed']>LOEReference,
Deletion[RevisionLevel='proposed']>MediaCaption,
Deletion[RevisionLevel='proposed']>MediaID,
Deletion[RevisionLevel='proposed']>MediaRef,
Deletion[RevisionLevel='proposed']>SummaryFragmentLink,
Deletion[RevisionLevel='proposed']>SummaryFragmentRef,
Deletion[RevisionLevel='proposed']>SummaryLink,
Deletion[RevisionLevel='proposed']>SummaryRef,
     { text-decoration: underline;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>ProtocolLink,
Deletion[RevisionLevel='proposed']>ProtocolRef,
Deletion[RevisionLevel='proposed']>ProtocolReference,
     { text-decoration: underline;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>DrugName,
Deletion[RevisionLevel='proposed']>Emphasis,
Deletion[RevisionLevel='proposed']>ForeignWord,
Deletion[RevisionLevel='proposed']>GeneName,
Deletion[RevisionLevel='proposed']>Note,
Deletion[RevisionLevel='proposed']>Quote,
Deletion[RevisionLevel='proposed']>ScientificName,
     { font-style: italic;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Strong,
     { font-weight: bold;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Subscript,
     { vertical-align: sub;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Superscript,
     { vertical-align: super;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Note,
Deletion[RevisionLevel='proposed']>Note:before,
Deletion[RevisionLevel='proposed']>Note:after,
     { font-size: 10pt;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Question
     { font-weight: bold;
       text-decoration: line-through;
       color: green; }

Deletion[RevisionLevel='proposed']>Answer
     { text-indent: 20pt;
       text-decoration: line-through;
       color: green; }


/***************************************************************************/
/*                       ITEMIZED LIST STYLES                              */
/***************************************************************************/
ItemizedList,
     { margin-bottom: 10pt;
       margin-top: 5pt;
       text-align: left;
       list-style-type: disc;
       list-style-position: outside; }

ItemizedList[Compact="No"] > ListItem 
     { margin-top: 17pt; }

ItemizedList[Style="simple"],
     { list-style-type: none; }

ItemizedList[Style="bullet"],
     { list-style-type: disc; }

ItemizedList[Style="dash"],
     { list-style-type: square; }

ListItem,
     { display: list-item;
       margin-left: 40pt; }

ListTitle,
     { margin-left: 20pt; }

/***************************************************************************/
/*                       ORDERED LIST STYLES                               */
/***************************************************************************/
OrderedList,
     { list-style-type: decimal;
       margin-bottom: 10pt;
       margin-top: 5pt;
       text-align: left;
       list-style-position: outside; }

OrderedList[Style="Arabic"]
     { list-style-type: decimal; }

OrderedList[Style="UAlpha"]
     { list-style-type: upper-alpha; }

OrderedList[Style="URoman"]
     { list-style-type: upper-roman; }

OrderedList[Style="LAlpha"]
     { list-style-type: lower-alpha; }

OrderedList[Style="LRoman"]
     { list-style-type: lower-roman; }

OrderedList[Compact="No"]>ListItem 
     { margin-top: 17pt; }


/***************************************************************************/
/*                       Q&A LIST STYLES                               */
/***************************************************************************/
QandADiv
     { margin-bottom:       10pt;
       margin-top:          5pt;
       text-align:          left; }

MarkedUpTitle
     { font-weight:         bold; 
       font-size:           12pt;
       color:               black;
       margin-top:          15pt;
       margin-bottom:       10pt; }

QandAEntry,
     { font-weight:         bold;
       list-style-type:     decimal;
       list-style-position: outside;
       display:             list-item;
       margin-left:         40pt; }


/***************************************************************************/
/*                               TABLES                                    */
/***************************************************************************/
LiteralLayout,
TT,

/*    78 character lines in sample data                                    */

     { font-family: "Courier";
       font-size: 10pt;
       white-space: pre;
       margin-top: .5em;
       margin-left: 5px; }

THead,
     { font-weight: bold; }
THead>Row>entry,
     { font-weight: bold; }

Table,
     { border-collapse: collapse;
       margin-left: 20pt;
       margin-top: .5em; }

TFoot>Row>entry,
     { color: blue;
       text-align: left;
       vertical-align: bottom; }

Table>Title,
     { color: black;
       font-size: 12pt;
       font-weight: bold; }

/* Added 2004-09-09 RMK at Sheri's request (#1213) */
Insertion[RevisionLevel='proposed'] Comment,
Deletion[RevisionLevel='proposed'] Comment
     { font-style: italic; 
       background-color: green; 
       color: white; }    


/***************************************************************************/
/*                MARGIN-BOTTOM TO SIMULATE TEXT BOX                       */
/***************************************************************************/
ReplacementText,
    { margin-bottom: 4pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
ReplacementText,
    { background-color: white; }



ReplacementText              :before,
    { background-color: #CCCCFF; }  /* light blue */


PlaceHolder,
    { color: teal;
      font-weight: bold;
      font-style: normal; }
