/*************************************************************************/
/*      CommonProtocolInfo.css                                           */
/*                                                                       */
/*      v. 1.6                                                           */
/*      8/29/02  by ebator                                               */
/*      ChangeType is multiply-occurring                                 */
/*                                                                       */
/*      v. 1.5                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 1.4                                                           */
/*      2/11/02  by ebator                                               */
/*      Set background-color:white for List entries, Table entries,      */
/*      LiteralLayout, Multimedia, Section entries                       */
/*      Indented Section to match Para only for Protocols                */
/*                                                                       */
/*      v. 1.3                                                           */
/*      1/15-16/02  by ebator                                            */
/*      Added notations for required *, optional &, multiple +           */
/*                                                                       */
/*      v. 1.2                                                           */
/*      1/7/02   by ebator                                               */
/*      Schema changes from 12/21/01 added                               */
/*                                                                       */
/*      v. 1.1                                                           */
/*      12/20/01   by ebator                                             */
/*      Schema changes from 12/18/01 added                               */
/*                                                                       */
/*      v. 1.0                                                           */
/*      12/10-11/01   by ebator                                          */
/*      Based on the 11/13/01 CommonProtocolInfo schema                  */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

$DOCUMENT
  {  font-family: Arial, sans-serif;
     font-size: 12pt;
     margin-top: 5px;
     margin-left: 5px;
     color: black;        }

$COMMENT
  {  display: block;
     color: purple;
     white-space: pre;  }

$PROCINS
  {  color: blue;
     background-color: white;  }

/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
AgeText,
AmendmentDate,
AmendmentID,
AmendmentSource,
AmendmentStatus,
ArmOrGroup,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType,
ArmsOrGroups,
ChangeType,
Citation,
CitationSource,
Comment,
Condition,
DateCompleted,
DatedAction,
DateReceived,
Diagnosis,
DiseaseCharacteristics,
DosageForm,
DoseSchedule,
Eligibility,
EligibilityText,
EndDateTime,
EndPoints,
EnteredBy,
EntryDate,
EntryCriteria,
ExclusionCriteria,
ExpectedEnrollment,
GeneralEligibilityCriteria,
Gene,
Gender,
HealthyVolunteers,
HighAge,
IDType,
IDString,
Intervention,
InterventionNameLink,
InterventionType,
LowAge,
MissingRequiredInformation,
MissingInformation,
Objectives,
OtherID,
Outcome,
Outline,
Patient,
PatientCharacteristics,
PrimaryID,
PriorConcurrentTherapy,
ProcessingDate,
ProcessingPriority,
ProcessingStatus,
ProcessingStatuses,
ProcessingStatusInfo,
Professional,
ProtocolAmendment,
ProtocolAmendmentInformation,
ProjectedAccrual,
ProtocolAbstract,
ProtocolDesign,
ProtocolDetail,
ProtocolIDs,
ProtocolPhase,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
ProtocolTitle,
PublishedResults,
Purpose,
Rationale,
RelatedCitation,
RelatedDocuments,
RelatedPublications,
RelatedProtocols,
RelatedWebsites,
SourceWebsite,
SpecialStudyParameters,
StartDateTime,
Stratification,
StudyFocus,
StudyCategoryName,
StudyCategoryType,
StudyCategory,
StudyType,
SupplementaryInfoLink,
TitleType,
TreatmentIntervention,
User,
WarehouseBoxNumber,
   { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* & = Optional element */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */

AgeText                 :before { content: "Age Criteria (Text) *: "; }
AmendmentDate           :before { content: "Amendment Date *: ";  }
AmendmentID             :before { content: "Amendment ID &: ";  }
AmendmentSource         :before { content: "Source *: "; }
AmendmentStatus         :before { content: "Amendment Status &: "; }
ArmOrGroup              :before { content: "Arm or Group * +: "; }
ArmOrGroupDescription   :before { content: "Description *: "; }
ArmOrGroupLabel         :before { content: "Label *: "; }
ArmOrGroupType          :before { content: "Type *: "; }
ArmsOrGroups            :before { content: "ARMS OR GROUPS &"; }
ChangeType              :before { content: "Change Type * +: ";  }
Citation                :before { content: "Published Citation * @: ";  }
CitationSource          :before { content: "Citation Source &: ";  }
Comment                 :before { content: "Comments &: "; }
Condition               :before { content: "Condition & + @: ";  }
DateCompleted           :before { content: "Date Completed *: ";  }
DatedAction             :before { content: "DATED ACTION *"; }
DateReceived            :before { content: "Date Received *: "; }
Diagnosis               :before { content: "Diagnosis & + @: "; }
DiseaseCharacteristics  :before { content: "Disease Characteristics *: "; }
DosageForm              :before { content: "Dosage Form &: "; }
DoseSchedule            :before { content: "Dose Schedule &: ";  }
Eligibility             :before { content: "ELIGIBILITY CRITERIA *"; }
EligibilityText         :before { content: "Eligibility *: "; }
EndDateTime             :before { content: "End Date &: ";  }
EndPoints               :before { content: "End Points &: ";  }
EnteredBy               :before { content: "Entered By *: "; }
PublishedResults>EnteredBy:before
                                { content: "Entered By &: "; }
RelatedPublications>EnteredBy:before
                                { content: "Entered By &: "; }
EntryCriteria           :before { content: "Entry Criteria *: "; }
EntryDate               :before { content: "Entry Date *: "; }
PublishedResults>EntryDate:before                
                                { content: "Entry Date &: "; }
RelatedPublications>EntryDate:before                
                                { content: "Entry Date &: "; }
ExclusionCriteria       :before { content: "Exclusion Criteria & + @: "; }
ExpectedEnrollment      :before { content: "Expected Enrollment &: "; }
Gene                    :before { content: "Gene & + @: ";  }
Gender                  :before { content: "Gender &: ";  }
GeneralEligibilityCriteria:before
                                { content: "General Eligibility Criteria &: "; }
HealthyVolunteers       :before { content: "Healthy Volunteers? &: "; }
HighAge                 :before { content: "Upper Age Limit *: "; }
IDString                :before { content: "ID Number *: "; }
IDType                  :before { content: "Other ID Type *: "; }
Intervention            :before { content: "INTERVENTION & +"; }
InterventionNameLink    :before { content: "Intervention Name & + @: "; }
InterventionType        :before { content: "Intervention Type * @: "; }
LowAge                  :before { content: "Lower Age Limit *: "; }
Objectives              :before { content: "Objectives *: "; }
OtherID                 :before { content: "OTHER ID & + "; }
Outcome                 :before { content: "Outcome & + @: "; }
Outline                 :before { content: "Outline *: "; }
MissingRequiredInformation
                        :before { content: "MISSING REQUIRED INFORMATION &"; }
MissingInformation      :before { content: "Missing Info * +: "; }
Patient                 :before { content: "PATIENT ABSTRACT *"; }
PatientCharacteristics  :before { content: "Patient Characteristics *: "; }
PrimaryID               :before { content: "PRIMARY ID *"; }
PrimaryID > IDString    :before { content: "Primary ID *: "; }
PriorConcurrentTherapy  :before { content: "Prior Concurrent Therapy &: "; }
ProcessingDate          :before { content: "Processing Date &: "; }
ProcessingPriority      :before { content: "Processing Priority & +: "; }
ProcessingStatus        :before { content: "Processing Status * +: "; }
ProcessingStatuses      :before { content: "STATUSES *"; }
ProcessingStatusInfo    :before { content: "STATUS INFO * +"; }
Professional            :before { content: "PROFESSIONAL ABSTRACT * "; }
ProjectedAccrual        :before { content: "Projected Accrual *: "; }
ProtocolAmendmentInformation:before
                                { content: "PROTOCOL AMENDMENTS *"; }
ProtocolDesign          :before { content: "Protocol Design *: "; }
ProtocolDetail          :before { content: "PROTOCOL DETAIL * +"; }
ProtocolIDs             :before { content: "PROTOCOL IDS * "; }
ProtocolPhase           :before { content: "Protocol Phase * +: "; }
ProtocolProcessingDetails:before
                                { content: "PROTOCOL PROCESSING DETAILS &"; }
ProtocolRelatedLinks    :before { content: "PROTOCOL RELATED LINKS &"; }
ProtocolTitle[Type="Original"]:before
                                { content: "ORIGINAL TITLE * + @: \A"; }
ProtocolTitle[Type="Professional"]:before
                                { content: "PROFESSIONAL TITLE * + @: \A"; }
ProtocolTitle[Type="Patient"]:before
                                { content: "PATIENT TITLE * + @: \A"; }
PublishedResults        :before { content: "PUBLISHED RESULTS & + "; }
Purpose                 :before { content: "Purpose *: "; }
Rationale               :before { content: "Rationale *: "; }
RelatedCitation         :before { content: "Related Citation * @: ";  }
RelatedDocuments        :before { content: "RELATED DOCUMENTS &"; }
RelatedProtocols        :before { content: "Related Protocols * + @: "; }
RelatedPublications     :before { content: "RELATED PUBLICATIONS & + "; }
RelatedWebsites         :before { content: "Related Web Sites * + @: "; }
StartDateTime           :before { content: "Start Date &: ";  }
SourceWebsite           :before { content: "Source Website & @: "; }
SpecialStudyParameters  :before { content: "Special Study Parameters &: "; }
Stratification          :before { content: "Stratification &: "; }
StudyCategory           :before { content: "STUDY CATEGORY * + "; }
StudyCategoryName       :before { content: "Study Category Name *: "; }
StudyCategoryType       :before { content: "Study Category Type *: "; }
StudyFocus              :before { content: "Study Focus & +: "; }
StudyType               :before { content: "Study Type *: "; }
SupplementaryInfoLink   :before { content: "Supp Info Link & * @: "; }
TreatmentIntervention   :before { content: "Treatment Intervention *: "; }
User                    :before { content: "User Name *: "; }
WarehouseBoxNumber      :before { content: "Warehouse Bx No &: "; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */
/***************************************************************************/
ArmOrGroup              :before,
ArmOrGroupDescription   :before,
ArmOrGroupLabel         :before,
ArmOrGroupType          :before,
ArmsOrGroups            :before,
DatedAction             :before,
Eligibility             :before,
Intervention            :before,
OtherID                 :before,
MissingRequiredInformation:before,
Patient                 :before,
PrimaryID               :before,
Professional            :before,
ProtocolAmendmentInformation:before,
ProtocolDetail          :before,
ProtocolIDs             :before,
ProtocolProcessingDetails:before,
ProtocolRelatedLinks    :before,
PublishedResults        :before,
RelatedPublications     :before,
StudyCategory           :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
AgeText                 :before,
AmendmentDate           :before,
AmendmentID             :before,
AmendmentSource         :before,
AmendmentStatus         :before,
CitationSource          :before,
Comment                 :before,
DateCompleted           :before,
DateReceived            :before,
DiseaseCharacteristics  :before,
DosageForm              :before,
DoseSchedule            :before,
EligibilityText         :before,
EndDateTime             :before,
EndPoints               :before,
EnteredBy               :before,
EntryDate               :before,
EntryCriteria           :before,
Gender                  :before,
GeneralEligibilityCriteria:before,
HighAge                 :before,
IDString                :before,
LowAge                  :before,
MissingInformation      :before,
Objectives              :before,
Outcome                 :before,
Outline                 :before,
PatientCharacteristics  :before,
PrimaryID > IDString    :before,
PriorConcurrentTherapy  :before,
ProcessingDate          :before,
ProcessingPriority      :before,
ProjectedAccrual        :before,
ProtocolTitle           :before,
Purpose                 :before,
Rationale               :before,
RelatedCitation         :before,
RelatedWebsites         :before,
SourceWebsite           :before,
SpecialStudyParameters  :before,
StartDateTime           :before,
Stratification          :before,
StudyFocus              :before,
StudyCategoryName       :before,
SupplementaryInfoLink   :before,
TreatmentIntervention   :before,
User                    :before,
WarehouseBoxNumber      :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
ChangeType              :before,
Citation                :before,
Condition               :before,
DatedAction             :before,
Diagnosis               :before,
ExclusionCriteria       :before,
Gene                    :before,
HealthyVolunteers       :before,
IDType                  :before,
InterventionNameLink    :before,
InterventionType        :before,
ProcessingStatus        :before,
ProcessingStatuses      :before,
ProcessingStatusInfo    :before,
PublishedResults        :before,
RelatedDocuments        :before,
RelatedProtocols        :before,
RelatedPublications     :before,
StudyCategoryType       :before,
StudyCategoryName       :before,
StudyType               :before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/
/*                           INDENTED ELEMENTS                             */
/***************************************************************************/
DiseaseCharacteristics,
GeneralEligibilityCriteria,
PatientCharacteristics,
PriorConcurrentTherapy,
   {  margin-left: 1em;  }

Section,
   { margin-left: 20pt;  }


/***************************************************************************/
/*                    BORDERED ELEMENTS AND SECTIONS                       */
/***************************************************************************/
Eligibility,
Professional,
ProtocolAbstract>Patient,
ProtocolAbstract>Professional,
ProtocolAmendmentInformation,
ProtocolDetail,
ProtocolIDs,
ProtocolProcessingDetails,
ProtocolRelatedLinks,
PublishedResults,
RelatedDocuments,
RelatedPublications,
   {  border: solid;
      border-color: gray;
      border-width: thin;
      margin-top: 1em;  }


AmendmentID,
DatedAction,
MissingRequiredInformation,
ProtocolPhase,
RelatedDocuments,
   {  margin-top: 1em;    }

StudyCategory>Comment,
Eligibility,
   {  margin-bottom: 1em;  }

ProtocolAmendmentInformation,
ProtocolProcessingDetails,
RelatedDocuments,
   {  margin-bottom: .5em;  }

ArmsOrGroups,
Intervention,
ProtocolTitle,
StudyCategory,
   { margin-top: 1em;
     margin-bottom: 1em;  }

ArmOrGroup,
  {  margin-bottom: 1em;  } 


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = IDType           */

IDstring,                       { margin-left: 95pt;
                                  text-indent: -74.5pt; }
ProtocolIDs>PrimaryID>Comment,  { margin-left: 95pt;
                                  text-indent: -82.5pt; }
IDType,                         { margin-left: 95pt;
                                  text-indent: -93.5pt; }
IDString,                       { margin-left: 95pt;
                                  text-indent: -75pt; }
ProtocolIDs>OtherID>IDString,   { margin-left: 95pt;
                                  text-indent: -76.5pt; }
ProtocolIDs>OtherID>Comment,    { margin-left: 95pt;
                                  text-indent: -82.5pt; }

/* Key element for length = AmendmentDate            */

AmendmentID,                    { margin-left: 130pt;
                                  text-indent: -104pt; }
AmendmentDate,                  { margin-left: 130pt;
                                  text-indent: -114pt; }
AmendmentSource,                { margin-left: 130pt;
                                  text-indent: -57pt; }
AmendmentStatus,                { margin-left: 130pt;
                                  text-indent: -129pt; }
ProtocolAmendment>DateReceived, { margin-left: 130pt;
                                  text-indent: -98pt; }
ProtocolAmendment>DateCompleted,{ margin-left: 130pt;
                                  text-indent: -107pt; }
ChangeType,                     { margin-left: 130pt;
                                  text-indent: -102pt; }
ProtocolAmendment>Comment,      { margin-left: 130pt;
                                  text-indent: -82.5pt; }
ProtocolAmendmentInformation>DatedAction,
                                { margin-left:  20pt; }
ProtocolAmendmentInformation>DatedAction>ActionDescription,
                                { margin-left: 110pt;
                                  text-indent: -55.5pt; }
ProtocolAmendmentInformation>DatedAction>ActionDate,
                                { margin-left: 110pt;
                                  text-indent: -42pt; }
ProtocolAmendmentInformation>DatedAction>Comment,
                                { margin-left: 110pt;
                                  text-indent: -82.5pt; }

Professional>Comment, Patient>Comment          
                                { margin-left: 90pt;
                                  text-indent: -82.5pt; }

/* Key element for length = StudyCategoryName           */

StudyType,                      { margin-left: 150pt;
                                  text-indent: -81pt; }
StudyCategoryType,              { margin-left: 150pt;
                                  text-indent: -136.5pt; }
StudyCategoryName,              { margin-left: 150pt;
                                  text-indent: -141pt; }
StudyFocus,                     { margin-left: 150pt;
                                  text-indent: -103pt; }
InterventionType,               { margin-left: 150pt;
                                  text-indent: -130.5pt; }
InterventionNameLink,           { margin-left: 150pt;
                                  text-indent: -149pt; }
Condition,                      { margin-left: 150pt;
                                  text-indent: -101pt; }
Gene,                           { margin-left: 150pt;
                                  text-indent: -75pt; }

/* Key element for length = ExclusionCriteria           */

HealthyVolunteers,              { margin-left: 150pt;
                                  text-indent: -136.5pt; }
LowAge,                         { margin-left: 150pt;
                                  text-indent: -108pt; }
HighAge,                        { margin-left: 150pt;
                                  text-indent: -107pt; }
AgeText,                        { margin-left: 150pt;
                                  text-indent: -118pt; }
Gender,                         { margin-left: 150pt;
                                  text-indent: -62pt; }
Diagnosis,                      { margin-left: 150pt;
                                  text-indent: -103pt; }
ExclusionCriteria,              { margin-left: 150pt;
                                  text-indent: -146pt; }

/* Key element for length = Citation           */

RelatedProtocols,               { margin-left: 150pt;
                                  text-indent: -142.5pt; }
RelatedWebsites,                { margin-left: 150pt;
                                  text-indent: -144pt; }
Citation,                       { margin-left: 150pt;
                                  text-indent: -136pt; }
CitationSource,                 { margin-left: 150pt;
                                  text-indent: -109pt; }
SourceWebsite,                  { margin-left: 150pt;
                                  text-indent: -125pt; }
RelatedCitation,                { margin-left: 150pt;
                                  text-indent: -121.5pt; }

/* Key element for length = ProtocolDesign           */

ProtocolPhase,                  { margin-left: 150pt;
                                  text-indent: -113.5pt; }
ExpectedEnrollment,             { margin-left: 150pt;
                                  text-indent: -139.5pt; }
ProtocolDesign,                 { margin-left: 150pt;
                                  text-indent: -117.5pt; }


ActionDescription,              { margin-left: 100pt;
                                  text-indent: -55.5pt; }
ActionDate,                     { margin-left: 100pt;
                                  text-indent: -42pt; }
DatedAction>Comment,            { margin-left: 100pt;
                                  text-indent: -82.5pt; }

/* Elements valid for multiple sections              */

Comment,                        { margin-left: 150pt;
                                  text-indent: -82.5pt; }
EnteredBy,                      { margin-left: 150pt;
                                  text-indent: -79.5pt; }
EntryDate,                      { margin-left: 150pt;
                                  text-indent: -76pt; }

/* Key element for length = ProcessingStatus */                                 
ProcessingStatuses,
                                { margin-left: 20pt; }
ProcessingStatusInfo,
                                { margin-left: 20pt; }
ProcessingStatus,
                                { margin-left: 150pt;
                                  text-indent: -130.5pt; }
ProcessingDate,
                                { margin-left: 150pt;
                                  text-indent: -115pt; }
ProcessingPriority,
                                { margin-left: 110pt;
                                  text-indent: -139.5pt; }
ProcessingStatusInfo>Comment,
                                { margin-left: 110pt;
                                  text-indent: -82.5pt; }
ProtocolProcessingDetails>EnteredBy,
                                { margin-left: 150pt;
                                  text-indent: -79.5pt; }
EndDateTime,
                                { margin-left: 110pt;
                                  text-indent: -73pt; }
StartDateTime,
                                { margin-left: 110pt;
                                  text-indent: -76.5pt; }
User,
                                { margin-left: 110pt;
                                  text-indent: -79pt; }
MissingRequiredInformation,
                                { margin-left: 20pt; }
MissingInformation,
                                { margin-left: 130pt;
                                  text-indent: -94.5pt; }
SupplementaryInfoLink,
                                { margin-left: 125pt;
                                  text-indent: -126pt; }
WarehouseBoxNumber,
                                { margin-left: 125pt;
                                  text-indent: -124pt; }

ArmOrGroupDescription           { margin-left: 110pt;
                                  text-indent: -82pt; }
ArmOrGroupLabel                 { margin-left: 110pt; 
                                  text-indent: -47pt; }
ArmOrGroupType                  { margin-left: 110pt;
                                  text-indent: -44pt; }

/* Margin-bottom for simulated text boxes                                  */
ActionDate,
ActionDescription,
AgeText,
AmendmentDate,
AmendmentID,
AmendmentSource,
AmendmentStatus,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType,
ChangeType,
Citation,
CitationSource,
Comment,
Condition,
DateCompleted,
DatedAction,
DateReceived,
Diagnosis,
DiseaseCharacteristics,
DosageForm,
DoseSchedule,
Eligibility,
EligibilityText,
EndDateTime,
EndPoints,
EnteredBy,
EntryDate,
EntryCriteria,
ExclusionCriteria,
ExpectedEnrollment,
GeneralEligibilityCriteria,
Gender,
Gene,
HealthyVolunteers,
HighAge,
IDString,
ProcessingDate,
ProcessingPriority,
ProcessingStatus,
ProtocolIDs>OtherID>IDType,
ProtocolProcessingDetails,
InterventionNameLink,
InterventionType,
LowAge,
MissingInformation,
Objectives,
OtherID,
OtherID>IDType,
Outcome,
Outline,
Patient,
PatientCharacteristics,
PrimaryID,
PriorConcurrentTherapy,
Professional,
ProtocolAmendmentInformation,
ProjectedAccrual,
ProtocolDesign,
ProtocolDetail,
ProtocolIDs,
ProtocolPhase, 
ProtocolRelatedLinks,
ProtocolTitle,
PublishedResults,
Purpose,
Rationale,
RelatedCitation,
RelatedDocuments,
RelatedProtocols,
RelatedPublications,
RelatedWebsites,
SourceWebsite,
SpecialStudyParameters,
StartDateTime,
Stratification,
StudyFocus,
StudyCategoryName,
StudyCategoryType,
StudyCategory,
StudyType,
SupplementaryInfoLink,
TitleType,
TreatmentIntervention,
User,
WarehouseBoxNumber,
           { margin-bottom: 4pt; }


Citation,
DiseaseCharacteristics,
HealthyVolunteers,
IDType,
InterventionType,
Objectives,
PrimaryID,
PrimaryID>IDString,
ProcessingStatus,
Rationale,
RelatedDocuments,
RelatedProtocols,
RelatedWebsites,
StudyCategoryType,
StudyType,
SupplementaryInfoLink,
           { margin-top: 4pt; }


Patient>EnteredBy,
Professional>EnteredBy,
ProtocolDetail>EnteredBy,
           { margin-top: 1em; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
ActionDate,
ActionDescription,
AgeText,
AmendmentDate,
AmendmentID,
AmendmentSource,
AmendmentStatus,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType,
ChangeType,
Citation,
CitationSource,
Comment,
Condition,
DateCompleted,
DatedAction,
DateReceived,
Diagnosis,
DiseaseCharacteristics,
Eligibility,
EligibilityText,
EndDateTime,
EnteredBy,
EntryDate,
EndPoints,
ExclusionCriteria,
ExpectedEnrollment,
Gender,
Gene,
GeneralEligibilityCriteria,
HealthyVolunteers,
HighAge,
IDString,
IDType,
InterventionNameLink,
InterventionType,
ListItem,
ListTitle,
LiteralLayout,
LowAge,
MissingInformation,
Multimedia,
Objectives,
Outcome,
Outline,
Para,
PatientCharacteristics,
ProcessingDate,                                                                 
ProcessingPriority,
ProcessingStatus,
ProjectedAccrual,
ProtocolAmendmentInformation,
ProtocolDesign,
ProtocolPhase,
ProtocolTitle,
Purpose,
Rationale,
RelatedCitation,
RelatedProtocols,
RelatedWebsites,
Section,
Section>AltTitle,
Section>KeyPoint,
Section>Title,
SourceWebsite,
StartDateTime,
Stratification,
StudyFocus,
StudyCategoryName,
StudyCategoryType,
StudyType,
SupplementaryInfoLink,
Table,
Table>Title,
TFoot>Row>entry,
TGroup,
THead,
THead>Row>entry,
TitleType,
TreatmentIntervention,
User,
WarehouseBoxNumber,
  {  background-color: white; }

/* *************************************************************************/
/* Blue = Administrative Information                                       */
/* *************************************************************************/
DatedAction,
ProcessingDate                  :before,
ProcessingStatus                :before,
Professional,
ProtocolProcessingDetails,
ProcessingStatusInfo>Comment    :before,
ProtocolProcessingDetails>Comment:before,
RelatedDocuments,
SupplementaryInfoLink           :before,
WarehouseBoxNumber              :before,
  {  background-color: #CCCCFF; }  /*light blue*/


/* *************************************************************************/
/* Green = Scientific Information                                          */
/* *************************************************************************/
ProtocolAmendmentInformation>DatedAction>ActionDescription:before,
ProtocolAmendmentInformation>DatedAction>ActionDate:before,
AgeText                         :before,
AmendmentDate                   :before,
AmendmentID                     :before,
AmendmentSource                 :before,
AmendmentStatus                 :before,
ArmOrGroupDescription           :before,
ArmOrGroupLabel                 :before,
ArmOrGroupType                  :before,
ChangeType                      :before,
Citation                        :before,
CitationSource                  :before,
Eligibility>Comment             :before,
Patient>Comment                 :before,
Professional>Comment            :before,
ProtocolAmendment>Comment       :before,
ProtocolAmendmentInformation>DatedAction>Comment:before,
ProtocolIDs>OtherID>Comment     :before,
ProtocolIDs>PrimaryID>Comment   :before,
ProtocolRelatedLinks>Comment    :before,
PublishedResults>Comment        :before,
RelatedPublications>Comment     :before,
StudyCategory>Comment           :before,
Condition                       :before,
ProtocolAmendmentInformation>DatedAction,
ProtocolAmendment>DateCompleted :before,
ProtocolAmendment>DateReceived  :before,
Diagnosis                       :before,
DiseaseCharacteristics,
DosageForm                      :before,
DoseSchedule                    :before,
Eligibility,
EligibilityText,
EndDateTime                     :before,
EndPoints,
EnteredBy                       :before,
EntryDate                       :before,
EntryCriteria,
ExclusionCriteria               :before,
Form,
Gender                          :before,
Gene                            :before,
GeneralEligibilityCriteria,
HealthyVolunteers               :before,
HighAge                         :before,
IDString                        :before,
IDType                          :before,
Intervention,
InterventionType                :before,
InterventionNameLink            :before,
LowAge                          :before,
MissingInformation              :before,
Objectives,
OtherID,
Outcome                         :before,
Outline,
ProtocolAbstract>Patient,
PatientCharacteristics,
PrimaryID,
PriorConcurrentTherapy,
ProcessingPriority              :before,
ProjectedAccrual,
ProtocolAbstract>Professional,
ProtocolAmendment,
ProtocolAmendmentInformation,
ProtocolDetail,
ProtocolIDs,
ProtocolRelatedLinks,
ProtocolRelatedLinks            :before,
PublishedResults,
PublishedResults                :before,
Purpose,
Rationale,
RelatedCitation                 :before,
RelatedProtocols                :before,
RelatedPublications,
RelatedWebsites                 :before,
SourceWebsite                   :before,
SpecialStudyParameters          :before,
StartDateTime                   :before,
Stratification,
StudyCategory,
StudyCategoryName               :before,
StudyCategoryType               :before,
StudyFocus                      :before,
StudyType                       :before,
TreatmentIntervention,
User                            :before,
  {  background-color: #CCFFCC; }  /*light green*/


ExpectedEnrollment              :before,
ProtocolDesign                  :before,
ProtocolPhase                   :before,
ProtocolTitle                   :before,
  {  font-weight: bold;
     color: green;      }

