/*************************************************************************/
/* $Id: CTGovProtocol.css,v 1.10 2009-03-05 19:47:44 venglisc Exp $       */
/*                                                                       */
/* $Log: not supported by cvs2svn $
/* Revision 1.9  2008/08/13 19:07:09  venglisc
/* Added formatting for new element NCT_Alias. (Bug 4233)
/*                                           */
/* Revision 1.8  2006/01/04 23:24:43  venglisc                           */
/* Moved ProtocolProcessingDetails section from InScopeProtocol to       */
/* CommonProtocolInfo style.                                             */
/* Included ProtocolProcessingDetails to CTGovProtocol style. (Bug 1937) */
/*                                                                       */
/* Revision 1.7  2004/10/08 02:33:27  ameyer                             */
/* Missed some InterventionName->...Link changes.  Now done.             */
/*                                                                       */
/* Revision 1.6  2004/08/05 22:53:57  ameyer                             */
/* Changed InterventionName to InterventionNameLink, mirroring schema    */
/* change.                                                               */
/*                                                                       */
/* Revision 1.5  2003/12/04 16:02:32  bkline                             */
/* Fixed typo in ELIGIBILITY prompt.                                     */
/*                                                                       */
/* Revision 1.4  2003/12/03 16:05:55  bkline                             */
/* Fixed bugs in support for Role and Affiliation elements.              */
/*                                                                       */
/* Revision 1.3  2003/11/19 16:27:05  bkline                             */
/* Added support for PDQPerson display.                                  */
/*                                                                       */
/* Revision 1.2  2003/11/12 21:21:16  bkline                             */
/* Added support for newly added elements EnteredBy, EntryDate, and      */
/* ProtocolDesign.                                                       */
/*                                                                       */
/* Revision 1.1  2003/10/28 13:12:55  bkline                             */
/* Style sheets for new document type for ClinicalTrials.gov documents.  */
/*                                                                       */
/*************************************************************************/

/*************************************************************************/ 
/*                     DEFAULT PROPERTIES                                */ 
/*************************************************************************/ 
  
@import "CdrCommonSchema.css";
@import "CommonProtocolInfo.css";

$DOCUMENT
  {  font-family: Arial, sans-serif;       
     font-size: 12pt;
     margin-top: 5px;
     margin-left: 5px;  
     color: black;        }

$COMMENT 
  {  display: block;
     color: purple;
     white-space: pre;  }

$PROCINS 
  {  color: blue;
     background-color: white;  }


/*************************************************************************/
/*                           BLOCK ELEMENTS                              */
/*************************************************************************/
Affiliation,
AgeText,
ArmOrGroup,
ArmOrGroupDescription,
ArmOrGroupLabel,
ArmOrGroupType
ArmsOrGroups,
BiospecDescription,
BiospecRetention,
BriefSummary,
BriefTitle,
City,
Collaborator,
Condition,
Contact,
ContactBackup,
Country,
CTAcronym,
CTAuthority,
CTCitation,
CTCondition,
CTCriteria,
CTEligibility,
CTEnrollment,
CTExpectedEnrollment,
CTGender,
CTGovIndexing,
CTGovProtocol,
CTIntervention,
CTInterventionName,
CTInterventionType,
CTMaximumAge,
CTMinimumAge,
CTNumberOfArms,
CTNumberOfGroups,
CTOutcome,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTOutcomes,
CTOversightInfo,
CTReference,
CTResultsReference,
CTSamplingMethod,
CTSource,
CTStudyDesign,
CTStudyPop,
CTStudyType,
DetailedDescription,
Diagnosis,
DownloadDate,
Eligibility,
Email,
EndDate,
EnteredBy,
EntryDate,
ExclusionCriteria,
Facility,
FirstReceivedDate,
Gene,
GivenName,
HasDMC,
HealthyVolunteers,
HighAge,
IDInfo,
Intervention,
InterventionNameLink,
InterventionType,
Investigator,
ItemizedList,
LastChangedDate,
LeadSponsor,
LinkText,
/* ListItem, */
Location,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
Name,
OfficialTitle,
OrgStudyID,
OverallContact,
OverallContactBackup,
OverallOfficial,
OverallStatus,
PDQIndexing,
PDQPerson,
PDQSponsorship,
Para,
Phase,
Phone,
PhoneExt,
PMID,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
PrimaryCompletionDate,
ProfessionalSuffix,
ProtocolDesign,
ProtocolRelatedLinks,
ReasonStopped,
RelatedWebsites,
RequiredHeader,
Role,
SecondaryID,
Sponsors,
StartDate,
Status,
StudyCategory,
StudyCategoryName,
StudyCategoryType,
StudyType,
Surname,
URL,
VerificationDate
    { display: block; }


/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

ArmOrGroup                        :before { content: "ARM OR GROUP & +"; }
ArmOrGroupDescription             :before { content: "Description *: "; }
ArmOrGroupLabel                   :before { content: "Label *: "; }
ArmOrGroupType                    :before { content: "Type *: "; }
ArmsOrGroups                      :before { content: "ARMS OR GROUPS & @"; }
BiospecDescription                :before { content: "Biospec Description &: "; }
BiospecRetention                  :before { content: "Biospec Retention &: "; }
BriefTitle                        :before { content: "BRIEF TITLE *: \A"; }
Collaborator                      :before { content: "Collaborator & + @: "; }
PDQEligibility>Comment            :before { content: "Comments &: "; }
CTAcronym                         :before { content: "CT Acronym & +: "; }
CTAuthority                       :before { content: "CT Authority & +: "; }
CTCitation                        :before { content: "CT Citation &: "; }
CTCriteria                        :before { content: "CRITERIA *"; }
CTEnrollment                      :before { content: "CT Enrollment & @: "; }
CTOversightInfo                   :before { content: "CT OVERSIGHT INFO &"; }
CTNumberOfGroups                  :before { content: "CT No. of Groups &: "; }
CTNumberOfArms                    :before { content: "CT No. of Arms &: "; }
CTOutcome                         :before { content: "CT OUTCOME & @"; }
CTOutcomeMeasure                  :before { content: "Measure *: "; }
CTOutcomeTimeFrame                :before { content: "Time Frame &: "; }
CTOutcomes                        :before { content: "CT OUTCOMES &"; }
CTOutcomeSafetyIssue              :before { content: "Safety Issue &: "; }
CTReference                       :before { content: "REFERENCE & +: "; }
CTResultsReference                :before { content: "RESULTS REFERENCE & +: "; }
CTSamplingMethod                  :before { content: "Sampling Method &: "; }
CTSource                          :before { content: "CT Source &: "; }
CTStudyPop                        :before { content: "STUDY POP &"; }
CTStudyType                       :before { content: "CT Study Type &: "; }
DownloadDate                      :before { content: "Download Date *: "; }
FirstReceivedDate                 :before { content: "First Received Date &: "; }
GivenName                         :before { content: "Given Name &: "; }
HasDMC                            :before { content: "Has DMC &: "; }
IDInfo                            :before { content: "ID INFORMATION * "; }
LeadSponsor                       :before { content: "Lead Sponsor & @: "; }
LinkText                          :before { content: "Link Text *: "; }
MiddleInitial                     :before { content: "Middle Initial &: "; }
NCT_Alias                         :before { content: "NCT_Alias & +: "; }
NCTID                             :before { content: "NCTID *: "; }
OrgStudyID                        :before { content: "Org Study ID *: "; }
OverallContact                    :before { content: "OVERALL CONTACT &"; }
OverallOfficial                   :before { content: "OVERALL OFFICIAL & +"; }
OverallContactBackup              :before { content: "OV. CONT. BACKUP &"; }
PDQSponsorship                    :before { content: "PDQ Sponsorship &: "; }
PMID                              :before { content: "PMID &: "; }
PrimaryCompletionDate             :before { content: "Primary Compl. Date &: "; }
ProtocolRelatedLinks              :before { content: "PROTOCOL RELATED LINKS &"; }
ReasonStopped                     :before { content: "Reason Stopped &: "; }
RelatedWebsites                   :before { content: "Related Website * + @: "; }
SecondaryID                       :before { content: "Secondary ID & +: "; }
Sponsors                          :before { content: "SPONSORS *"; }
Surname                           :before { content: "Surname *: "; }
URL                               :before { content: "URL *: "; }
OfficialTitle                     :before { content: "OFFICIAL TITLE &: \A"; }
RequiredHeader                    :before { content: "REQUIRED HEADER * "; }


ProfessionalSuffix                :before { content: "Professional Suffix &: "; }
PhoneExt                          :before { content: "Phone Extension &: "; }

OverallStatus                     :before { content: "Overall Status *: "; }
StartDate                         :before { content: "Start Date &: "; }
EndDate                           :before { content: "End Date &: "; }
Phase                             :before { content: "Phase * +: "; }

Location                          :before { content: "LOCATION * +"; }
Facility>Name                     :before { content: "Facility Name * @: "; }
PostalAddress                     :before { content: "ADDRESS *"; }
City                              :before { content: "City &: "; }
PoliticalSubUnit_State            :before { content: "Pol Unit/St @: "; }
Country                           :before { content: "Country &: "; }
PostalCode_ZIP                    :before { content: "Postal Code &: "; }
Status                            :before { content: "Status *: "; }

BriefSummary                      :before { content: "BRIEF SUMMARY *"; }
DetailedDescription               :before { content: "DETAILED DESCRIPTION &"; }

CTGovIndexing                     :before { content: "CTGOV INDEXING *"; }
CTStudyDesign                     :before { content: "Study Design *: "; }
CTCondition                       :before { content: "Condition & +: "; }
CTIntervention                    :before { content: "INTERVENTION & +"; }
CTInterventionType                :before { content: "Type *: "; }
CTInterventionName                :before { content: "Name *: "; }

CTEligibility                     :before { content: "CTGOV ELIGIBILITY &"; }
CTExpectedEnrollment              :before { content: "Expected Enrollment &: "; }
CTGender                          :before { content: "Gender *: "; }
CTMinimumAge                      :before { content: "Minimum Age *: "; }
CTMaximumAge                      :before { content: "Maximum Age *: "; }

Contact                           :before { content: "CONTACT & + @"; }
ContactBackup                     :before { content: "CONTACT BACKUP & @"; }
Investigator                      :before { content: "INVESTIGATOR & + @"; }
Affiliation                       :before { content: "Affiliation &: "; }
Role                              :before { content: "Role &: "; }
PDQPerson                         :before { content: "PDQ Person & @: "; }
PDQIndexing                       :before { content: "PDQ INDEXING * "; }
StudyType                         :before { content: "Study Type *: "; }
StudyCategory                     :before { content: "STUDY CATEGORY * +"; }
StudyCategoryType                 :before { content: "Study Category Type *: "; }
StudyCategoryName                 :before { content: "Study Category Name *: "; }
Intervention                      :before { content: "INTERVENTION & +"; }
InterventionType                  :before { content: "Intervention Type * @: "; }
InterventionNameLink              :before { content: "Intervention Name & + @: "; }
ProtocolDesign                    :before { content: "Protocol Design & +: "; }
Condition                         :before { content: "Condition & + @: "; }
Gene                              :before { content: "Gene & + @: "; }
Eligibility                       :before { content: "ELIGIBILITY CRITERIA * "; }
HealthyVolunteers                 :before { content: "Healthy Volunteers? &: "; }
LowAge                            :before { content: "Low Age &: "; }
HighAge                           :before { content: "High Age &: "; }
AgeText                           :before { content: "Age Criteria (Text) &: "; }
Diagnosis                         :before { content: "Diagnosis & + @: "; }
ExclusionCriteria                 :before { content: "Exclusion Criteria & + @: "; }
EnteredBy                         :before { content: "Entered By *: "; }
EntryDate                         :before { content: "Entry Date *: "; }
VerificationDate                  :before { content: "Verification Date *: "; }
LastChangedDate                   :before { content: "Last Changed Date &: "; }

/***************************************************************************/ 
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */ 
/***************************************************************************/ 
Affiliation                       :before,
AgeText                           :before,
ArmOrGroup                        :before,
ArmOrGroupDescription             :before,
ArmOrGroupLabel                   :before,
ArmOrGroupType                    :before,
ArmsOrGroups                      :before,
BiospecDescription                :before,
BiospecRetention                  :before,
BriefSummary                      :before,
City                              :before,
Collaborator                      :before,
Comment                           :before,
Condition                         :before,
Contact                           :before,
ContactBackup                     :before,
Country                           :before,
CTAcronym                         :before,
CTAuthority                       :before,
CTCitation                        :before,
CTCondition                       :before,
CTCriteria                        :before,
CTEligibility                     :before,
CTEnrollment                      :before,
CTExpectedEnrollment              :before,
CTGender                          :before,
CTGovIndexing                     :before,
CTGovProtocol                     :before,
CTIntervention                    :before,
CTInterventionName                :before,
CTInterventionType                :before,
CTMaximumAge                      :before,
CTMinimumAge                      :before,
CTNumberOfArms                    :before,
CTNumberOfGroups                  :before,
CTOutcome                         :before,
CTOutcomeMeasure                  :before,
CTOutcomeSafetyIssue              :before,
CTOutcomeTimeFrame                :before,
CTOutcomes                        :before,
CTOversightInfo                   :before,
CTReference                       :before,
CTResultsReference                :before,
CTSamplingMethod                  :before,
CTSource                          :before,
CTStudyDesign                     :before,
CTStudyPop                        :before,
CTStudyType                       :before,
DetailedDescription               :before,
Diagnosis                         :before,
DownloadDate                      :before,
Eligibility                       :before,
EndDate                           :before,
EnteredBy                         :before,
EntryDate                         :before,
ExclusionCriteria                 :before,
FirstReceivedDate                 :before,
Gene                              :before,
GivenName                         :before,
HasDMC                            :before,
HealthyVolunteers                 :before,
HighAge                           :before,
IDInfo                            :before,
Intervention                      :before,
InterventionNameLink              :before,
InterventionType                  :before,
Investigator                      :before,
LastChangedDate                   :before,
LeadSponsor                       :before,
LinkText                          :before,
Location                          :before,
LowAge                            :before,
MiddleInitial                     :before,
NCT_Alias                         :before,
NCTID                             :before,
Facility>Name                     :before,
OrgStudyID                        :before,
OverallContact                    :before,
OverallContactBackup              :before,
OverallOfficial                   :before,
OverallStatus                     :before,
PDQIndexing                       :before,
PDQPerson                         :before,
PDQSponsorship                    :before,
Phase                             :before,
PhoneExt                          :before,
PMID                              :before,
PoliticalSubUnit_State            :before,
PostalAddress                     :before,
PostalCode_ZIP                    :before,
PrimaryCompletionDate             :before,
ProfessionalSuffix                :before,
ProtocolDesign                    :before,
ProtocolRelatedLinks              :before,
ReasonStopped                     :before,
RelatedWebsites                   :before,
RequiredHeader                    :before,
Role                              :before,
SecondaryID                       :before,
Sponsors                          :before,
StartDate                         :before,
Status                            :before,
StudyCategory                     :before,
StudyCategoryName                 :before,
StudyCategoryType                 :before,
StudyType                         :before,
Surname                           :before,
URL                               :before,
VerificationDate                  :before,
    { font-weight: bold; 
      color: black;  }


/***************************************************************************/ 
/*                    BORDERED ELEMENTS AND SECTIONS                       */
/***************************************************************************/
Phone 
    { margin-top: 0em; }
Para  
    { margin-bottom: 1em; }

RequiredHeader,
IDInfo,
PDQIndexing,
    { margin-bottom: 4pt; }

BriefTitle,
OfficialTitle,
    { margin-top: 1em; 
      margin-bottom: 1em; }

BiospecRetention,
Contact,
ContactBackup,
CTCriteria,
CTGovIndexing,
CTIntervention,
CTNumberOfArms,
CTReference,
CTResultsReference,
CTStudyDesign,
CTSamplingMethod,
CTStudyPop,
Eligibility,
Intervention,
Investigator,
LastChangedDate
Facility>Name,
OverallOfficial,
OverallContact,
OverallContactBackup,
OverallStatus,
PDQSponsorship,
Phase,
PostalAddress,
Location>Status,
StudyCategory,
VerificationDate,
    { margin-top: 1em; }


ArmsOrGroups,
BriefSummary,
CTOutcomes,
CTEligibility,
CTGovIndexing,
CTOversightInfo,
DetailedDescription,
IDInfo,
Location,
PDQIndexing,
Sponsors,
RequiredHeader,
    { border: solid; 
      border-color: gray;
      border-width: thin;
      margin-top: 1em;  }


ProtocolLeadOrg + ProtocolLeadOrg,
	{ margin-top: 3em; }


/***************************************************************************/
/*                  MARGINS FOR ALIGNING TAGS AND TEXT                     */
/***************************************************************************/
DownloadDate                     
                            { margin-left: 110pt; 
                              text-indent: -103.5pt; }
LinkText                         
                            { margin-left: 110pt; 
                              text-indent:  -68.0pt; }
URL                              
                            { margin-left: 110pt; 
                              text-indent:  -41.0pt; }

OrgStudyID                       
                            { margin-left: 110pt; 
                              text-indent:  -89.0pt; }
SecondaryID                      
                            { margin-left: 110pt; 
                              text-indent: -108.0pt; }
NCT_Alias                        
                            { margin-left: 110pt; 
                              text-indent:  -90.0pt; }
NCTID                            
                            { margin-left: 110pt; 
                              text-indent:  -53.0pt; }

PDQSponsorship                   
                            { margin-left: 130pt; 
                              text-indent: -123.5pt; }
LeadSponsor                      
                            { margin-left: 130pt; 
                              text-indent: -116.0pt; }
Collaborator                     
                            { margin-left: 130pt; 
                              text-indent: -116.5pt; }
Sponsors GivenName               
                            { margin-left: 130pt; 
                              text-indent:  -89.5pt; }
Sponsors MiddleInitial           
                            { margin-left: 130pt; 
                              text-indent:  -90.5pt; }
Sponsors Surname                 
                            { margin-left: 130pt; 
                              text-indent:  -67.5pt; }
Sponsors ProfessionalSuffix      
                            { margin-left: 130pt; 
                              text-indent: -128.0pt; }
Sponsors Phone                   
                            { margin-left: 130pt; 
                              text-indent:  -73.0pt; }
Sponsors PhoneExt                
                            { margin-left: 130pt; 
                              text-indent: -118.5pt; }
Sponsors Email                   
                            { margin-left: 130pt; 
                              text-indent:  -67.0pt; }
Sponsors Role                    
                            { margin-left: 130pt; 
                              text-indent:  -46.5pt; }
Sponsors Affiliation             
                            { margin-left: 130pt; 
                              text-indent:  -73.5pt; }

OverallStatus                    
                            { margin-left: 135pt; 
                              text-indent:  -95.0pt; }
ReasonStopped                    
                            { margin-left: 135pt; 
                              text-indent:-116pt; }
StartDate                        
                            { margin-left: 135pt; 
                              text-indent:-76.5pt; }
EndDate                          
                            { margin-left: 135pt; 
                              text-indent:-72.5pt; }
PrimaryCompletionDate                          
                            { margin-left: 135pt; 
                              text-indent:-137pt; }

Phase                            
                            { margin-left: 135pt; 
                              text-indent:  -61.5pt; }

CTStudyType                            
                            { margin-left: 135pt; 
                              text-indent:-105pt; }

CTStudyDesign                    
                            { margin-left: 100pt; 
                              text-indent:  -93.0pt; }
CTCondition                      
                            { margin-left: 100pt; 
                              text-indent:  -86.5pt; }
CTInterventionType               
                            { margin-left: 100pt; 
                              text-indent:  -44.5pt; }
CTInterventionName               
                            { margin-left: 100pt; 
                              text-indent:  -49.0pt; }

CTSamplingMethod             
                            { margin-left: 150pt; 
                              text-indent: -120pt; }
CTExpectedEnrollment             
                            { margin-left: 150pt; 
                              text-indent: -139.5pt; }
CTGender                         
                            { margin-left: 150pt; 
                              text-indent:  -58.0pt; }
CTMinimumAge                     
                            { margin-left: 150pt; 
                              text-indent:  -93.0pt; }
CTMaximumAge                     
                            { margin-left: 150pt; 
                              text-indent:  -96.0pt; }

Facility Name                    
                            { margin-left: 135pt; 
                              text-indent: -107.0pt; }
Facility City                    
                            { margin-left: 135pt; 
                              text-indent:  -42.5pt; }
Facility PoliticalSubUnit_State  
                            { margin-left: 135pt; 
                              text-indent:  -83.0pt; }
Facility Country                 
                            { margin-left: 135pt; 
                              text-indent:  -77.0pt; }
Facility PostalCode_ZIP          
                            { margin-left: 135pt; 
                              text-indent:  -90.0pt; }

Status                           
                            { margin-left: 135pt; 
                              text-indent:  -52.5pt; }
Role                             
                            { margin-left: 135pt; 
                              text-indent:  -46.5pt; }

Location GivenName               
                            { margin-left: 135pt; 
                              text-indent:  -89.5pt; }
Location MiddleInitial           
                            { margin-left: 135pt; 
                              text-indent:  -90.5pt; }
Location Surname                 
                            { margin-left: 135pt; 
                              text-indent:  -67.5pt; }
Location ProfessionalSuffix      
                            { margin-left: 135pt; 
                              text-indent: -128.0pt; }
Location Phone                   
                            { margin-left: 135pt; 
                              text-indent:  -73.0pt; }
Location PhoneExt                
                            { margin-left: 135pt; 
                              text-indent: -118.5pt; }
Location Email                   
                            { margin-left: 135pt; 
                              text-indent:  -67.0pt; }

PDQPerson                        
                            { margin-left: 135pt; 
                              text-indent: -105.5pt; }

StudyType                        
                            { margin-left: 150pt; 
                              text-indent:  -81.0pt; }
StudyCategoryType                
                            { margin-left: 150pt; 
                              text-indent: -136.5pt; }
StudyCategoryName                
                            { margin-left: 150pt; 
                              text-indent: -141.2pt; }
InterventionType                 
                            { margin-left: 150pt; 
                              text-indent: -130.5pt; }
InterventionNameLink             
                            { margin-left: 150pt; 
                              text-indent: -149.0pt; }
ProtocolDesign                   
                            { margin-left: 150pt; 
                              text-indent: -122.0pt; }
Condition                        
                            { margin-left: 150pt; 
                              text-indent: -101.0pt; }
Gene                             
                            { margin-left: 150pt; 
                              text-indent:  -75.0pt; }
HealthyVolunteers                
                            { margin-left: 150pt; 
                              text-indent: -136.5pt; }
LowAge                           
                            { margin-left: 150pt; 
                              text-indent:  -70.5pt; }
HighAge                          
                            { margin-left: 150pt; 
                              text-indent:  -73.0pt; }
AgeText                          
                            { margin-left: 150pt; 
                              text-indent: -122.0pt; }
Diagnosis                        
                            { margin-left: 150pt; 
                              text-indent: -103.0pt; }
ExclusionCriteria                
                            { margin-left: 150pt; 
                              text-indent: -146.0pt; }
Comment                          
                            { margin-left: 150pt; 
                              text-indent:  -75.5pt; }
EnteredBy                        
                            { margin-left: 150pt; 
                              text-indent:  -79.5pt; }
EntryDate                        
                            { margin-left: 150pt; 
                              text-indent:  -76.0pt; }

VerificationDate                 
                            { margin-left: 135pt; 
                              text-indent: -109.5pt; }
LastChangedDate                  
                            { margin-left: 135pt; 
                              text-indent: -130pt; }
FirstReceivedDate                  
                            { margin-left: 135pt; 
                              text-indent: -131pt; }

CTAuthority                  
                            { margin-left: 135pt;
                              text-indent:-102pt; }
HasDMC                  
                            { margin-left: 135pt;
                              text-indent: -73.5pt; }

CTOutcome, ArmOrGroup                  
                            { margin-left: 20pt; }

CTOutcomeMeasure                  
                            { margin-left: 115pt;
                              text-indent: -64.5pt; }
CTOutcomeTimeFrame                  
                            { margin-left: 115pt;
                              text-indent: -87pt; }
CTOutcomeSafetyIssue                  
                            { margin-left: 115pt;
                              text-indent: -90pt; }

CTNumberOfArms                  
                            { margin-left: 135pt;
                              text-indent:-106.5pt; }
CTNumberOfGroups                  
                            { margin-left: 135pt;
                              text-indent:-119pt; }
CTEnrollment                  
                            { margin-left: 135pt;
                              text-indent:-117pt; }

BiospecRetention                  
                            { margin-left: 135pt;
                              text-indent:-126pt; }
RelatedWebsites                  
                            { margin-left: 135pt;
                              text-indent:-133pt; }

CTCitation                  
                            { margin-left: 135pt;
                              text-indent: -84pt; }
PMID                  
                            { margin-left: 135pt;
                              text-indent: -50pt; }

/***************************************************************************/
/*             Margin-bottom for simulated text boxes                      */
/***************************************************************************/
AgeText,
City, 
Collaborator,
Comment,
Condition,
Country,
CTAuthority,
CTCondition,
CTEnrollment,
CTExpectedEnrollment,
CTGender,
CTInterventionName,
CTInterventionType,
CTMinimumAge,
CTMaximumAge,
CTNumberOfArms,
CTNumberOfGroups,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTStudyDesign,
Diagnosis,
DownloadDate,
Email,
EnteredBy,
EntryDate,
EndDate,
ExclusionCriteria,
Gene,
GivenName,
HasDMC,
HealthyVolunteers,
HighAge,
InterventionNameLink,
InterventionType,
LastChangedDate,
LeadSponsor,
LinkText,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
OrgStudyID,
OverallStatus,
PDQPerson,
PDQSponsorship,
Phase,
Phone,
PhoneExt,
PoliticalSubUnit_State,
PostalCode_ZIP,
PrimaryCompletionDate,
ProfessionalSuffix,
ProtocolDesign,
ReasonStopped,
Role,
SecondaryID,
StartDate,
Status,
StudyType,
StudyCategoryName,
StudyCategoryType,
Surname,
URL,
VerificationDate,
	{ margin-bottom: 4pt; }


/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 
Affiliation,
AgeText,
ArmsOrGroups,
BriefSummary,
BriefTitle,
CTAuthority,
CTCondition,
CTEligibility,
CTExpectedEnrollment,
CTGender,
CTGovIndexing,
CTGovProtocol,
CTIntervention,
CTInterventionName,
CTInterventionType,
CTMaximumAge,
CTMinimumAge,
CTOutcomes,
CTOutcomeMeasure,
CTOutcomeSafetyIssue,
CTOutcomeTimeFrame,
CTSamplingMethod,
CTStudyDesign,
City,
Collaborator,
Comment,
EnteredBy,
EntryDate,
Condition,
Contact,
ContactBackup,
Country,
DetailedDescription,
Diagnosis,
DownloadDate,
Eligibility,
Email,
EndDate,
ExclusionCriteria,
Facility,
Gene,
GivenName,
HasDMC,
HealthyVolunteers,
HighAge,
IDInfo,
Intervention,
InterventionNameLink,
InterventionType,
Investigator,
ItemizedList,
LastChangedDate,
LeadSponsor,
LinkText,
ListItem,
LowAge,
MiddleInitial,
NCT_Alias,
NCTID,
Name,
OfficialTitle,
OrgStudyID,
OverallContact,
OverallContactBackup,
OverallOfficial,
OverallStatus,
PDQIndexing,
PDQPerson,
PDQSponsorship,
Para,
Phase,
Phone,
PhoneExt,
PoliticalSubUnit_State,
PostalAddress,
PostalCode_ZIP,
ProfessionalSuffix,
ProtocolDesign,
Role,
SecondaryID,
Sponsors,
StartDate,
Status,
StudyCategory,
StudyCategoryName,
StudyCategoryType,
StudyType,
Surname,
URL,
VerificationDate,
DownloadDate,
LinkText,
URL,
OrgStudyID,
SecondaryID,
NCT_Alias,
NCTID,
VerificationDate,
LastChangedDate
    { background-color: white; }


/* Blue = Administrative Information                                       */
Affiliation                  :before,
Collaborator                 :before,
Contact,
ContactBackup,
CTAuthority                  :before,
CTOversightInfo,
DownloadDate                 :before,
Facility,
GivenName                    :before,
HasDMC                       :before,
IDInfo,
Investigator,
LeadSponsor                  :before,
LinkText                     :before,
Location,
MiddleInitial                :before,
Name                         :before,
NCT_Alias                    :before,
NCTID                        :before,
OrgStudyID                   :before,
OverallOfficial,
OverallContact,
OverallContactBackup,
OverallOfficial              :before,
OverallContact               :before,
OverallContactBackup         :before,
PDQPerson                    :before,
PDQSponsorship               :before,
PhoneExt                     :before,
PostalAddress,
ProfessionalSuffix           :before,
Role                         :before,
RequiredHeader,
SecondaryID                  :before,
Sponsors,
Sponsors                     :before,
Surname                      :before,
Status                       :before,
URL                          :before,
    { background-color: #CCCCFF; }  /*light blue*/


/* *********************************************************************** */
/*            Label color for elements on white background                 */
/* *********************************************************************** */
BiospecDescription           :before,
BiospecRetention             :before,
BriefTitle                   :before,
CTCitation                   :before,
CTEnrollment                 :before,
CTNumberOfArms               :before,
CTNumberOfGroups             :before,
CTReference                  :before,
CTResultsReference           :before,
CTStudyType                  :before,
EndDate                      :before,
FirstReceivedDate            :before,
LastChangedDate              :before,
OfficialTitle                :before,
OverallStatus                :before,
Phase                        :before,
PMID                         :before,
PrimaryCompletionDate        :before,
ReasonStopped                :before,
StartDate                    :before,
VerificationDate             :before,
    { font-weight: bold; 
      color: navy; }


/* Green = Scientific Information                                   	   */
ArmsOrGroups,
BriefSummary,
Condition                    :before,
DetailedDescription,
CTGovIndexing,
CTStudyDesign                :before,
CTCondition                  :before,
CTIntervention,
CTInterventionType           :before,
CTInterventionName           :before,
CTEligibility,
CTCriteria,
CTExpectedEnrollment         :before,
CTGender                     :before,
CTMinimumAge                 :before,
CTMaximumAge                 :before,
CTOutcomeMeasure             :before,
CTOutcomeSafetyIssue         :before,
CTOutcomeTimeFrame           :before,
CTOutcomes,
CTSamplingMethod             :before,
CTStudyPop,
StudyType                    :before,
StudyCategory                :before,
StudyCategoryType            :before,
StudyCategoryName            :before,
Intervention                 :before,
InterventionType             :before,
InterventionNameLink         :before,
ProtocolDesign               :before,
PDQIndexing,
Gene                         :before,
Intervention,
StudyCategory,
Eligibility,
HealthyVolunteers            :before,
LowAge                       :before,
HighAge                      :before,
AgeText                      :before,
Diagnosis                    :before,
ExclusionCriteria            :before,
Comment                      :before,
EnteredBy                    :before,
EntryDate                    :before,
	{ background-color: #CCFFCC; }  /*light green*/

Foobar    
    { font-weight: bold; 
      color: green; }

/* Override common css, which formats elements of this name as inline markup */
InterventionNameLink 
    { text-decoration: none; 
      color: black; }

ItemizedList      
    { margin-left: 50pt; }
ListItem 
    { display: list-item; 
      list-style-type: disc; 
      margin-left: 0pt; }
