/*************************************************************************/
/* 	Documentation.css                                                */
/*                                                                       */
/*      v 1.3                                                            */
/*      02/14/02    by ebator                                            */
/*      Minor changes to tags                                            */
/*                                                                       */
/*      v 1.2                                                            */
/*      02/13/02    by ebator                                            */
/*      TopicRelationship tags updated                                   */
/*                                                                       */
/*      v 1.1                                                            */
/*      02/12/02    by ebator                                            */
/*      Margin-top for ListItem                                          */
/*                                                                       */
/*      v 1.0                                                            */
/*      02/11/02    by ebator                                            */
/*      Based on Summary.css                                             */
/*                                                                       */
/*************************************************************************/



/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@import "CdrCommonSchema.css";  


$DOCUMENT 

     { font-family: "Arial", sans serif;
       font-size: 12pt;
       color: black;
       margin-top: 5px;
       margin-left: 5px; }

$COMMENT 

     { display: block;
       color: purple;
       white-space: pre; }

$PROCINS 

     { color: navy;
       font-weight: normal;
       background-color: white; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
  

ActionDate,
ActionDescription,
Body,
Comment,
DatedAction,
DateLastModified,
DocType,
Documentation,
DocumentationTitle,
Example,
Function,
Metadata,
RelatedTopic,
RelatedTopicID,
Subject,
Tip,
TopicRelationship,
TopicSection,
TopicText,
TopicSectionTitle,


    { display: block; }


/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 

ActionDate:before			{ content: "Date: "; }
ActionDescription:before		{ content: "Action: "; }
Comment:before				{ content: "Comment: "; }
DatedAction:before			{ content: "DATED ACTION "; }
DateLastModified:before			{ content: "Last Modified: "; }
DocType:before				{ content: "Doc Type: "; }
Example:before				{ content: "Example: "; }
Function:before				{ content: "Function: "; }
Metadata:before				{ content: "METADATA "; }
RelatedTopic[RelationshipType="See Also"]:before	
					{ content: "See Also: "; }
RelatedTopic[RelationshipType="See"]:before	
					{ content: "See: "; }
RelatedTopic[RelationshipType="Broader"]:before	
					{ content: "Broader Topic: "; }
RelatedTopic[RelationshipType="Narrower"]:before	
					{ content: "Narrower Topic: "; }
Subject:before				{ content: "Keyword: "; }
Tip:before				{ content: "Tip: "; }


/***************************************************************************/ 
/*                      DOCUMENT, ID, AND SUMMARY META DATA                */ 
/***************************************************************************/ 


Metadata,

   { border: solid; 
     border-color: black;
     border-width: thin;
     margin-top: 1em;
     margin-bottom: 6pt; }

Metadata,

     { font-size: 12pt; }

DocType:before, 
Function:before, 
Subject:before,

     { font-weight: bold;
       font-size: 12pt;
       color: black; }


/***************************************************************************/ 
/*                      DOCUMENTATION TITLE                                */ 
/***************************************************************************/ 

DocumentationTitle,

     { font-size: 20pt;
       font-weight: bold;
       margin-top: 12pt; }


/***************************************************************************/ 
/*                TOPOIC SECTION TITLES, INDENTS, SUBSECTIONS              */ 
/***************************************************************************/ 


DateLastModified:before,

     { font-weight: bold;
       font-size: 12pt;
       color: black;  
       margin-top: 15pt;
       margin-bottom: 10pt; }

TopicSectionTitle,

     { font-weight: bold;
       font-size: 14pt;
       color: blue; }

TopicText>Para, 

     { margin-left: 20pt;
       margin-bottom: .5em; }

Example:before,
RelatedTopic:before,
Tip:before,

     { font-weight: bold;
       font-size: 12pt;
       color: blue; }

Metadata:before,

     { font-weight: bold; }

RelatedTopicID,

     { margin-left: 10pt; }

OrderedList>ListTitle,

     { font-weight: bold;
       font-size: 12pt;
       color: blue; }

/***************************************************************************/ 
/*                               TABLES                                    */ 
/***************************************************************************/ 


TopicText>Table, 

     { margin-left: 20pt;
       margin-bottom: .5em; }



/***************************************************************************/ 
/*                               FORM DATA                                 */ 
/***************************************************************************/ 


DocType:before,
Function:before,
Metadata,
Subject:before,

	{ background-color: #CCCCFF; }


DocType,
Function,
Subject,

	{ background-color: white; }


/* Key element for length = SummaryLanguage                               */

DocType,				{ margin-left: 80pt;
					  text-indent: -62pt; }
Function,				{ margin-left: 80pt; 
					  text-indent: -58.5pt;}
Subject,				{ margin-left: 80pt; 
					  text-indent: -59pt;}
ActionDescription,			{ margin-left: 80pt; 
					  text-indent: -44pt;}
ActionDate,				{ margin-left: 80pt; 
					  text-indent: -34pt;}

DocType,
Example,
Function,
Subject,
RelatedTopicID,
Tip,

	{ margin-bottom: 4pt; }

DateLastModified,
DocType,

	{ margin-top: 4pt; }

ListItem,

	{ margin-top: .5em; }