/*************************************************************************/
/* 	Documentation_structure.css                                      */
/*                                                                       */
/*      v 1.23                                                           */
/*      02/14/02    by ebator                                            */
/*      Minor changes to tags                                            */
/*                                                                       */
/*      v 1.2                                                            */
/*      02/13/02    by ebator                                            */
/*      TopicRelationship tags updated                                   */
/*                                                                       */
/*      v 1.1                                                            */
/*      02/12/02  by ebator                                              */
/*      Removed most tags in the structure view; included significant    */
/*        text instead; used display:none for user-irrelevant tags       */
/*                                                                       */
/*      v 1.0                                                            */
/*      02/11/02  by ebator                                              */
/*      Based on Summary_structure.css and Documentation.css             */
/*                                                                       */
/*************************************************************************/



/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@import "CdrCommonSchema_Structure.css";  

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

     { white-space: nowrap;
     text-align: left;
     margin-left: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
     font-family: Arial, "sans serif";
     font-size: 10pt;
     font-style: normal;
     font-weight: bold;
     color: black;        }

/* top-level elements */

$DOCUMENT > * 

     { margin-left: 0px;  }

$PROCINS 

     { color: white;
       font-weight: normal;
       background-color: white;}

/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
  

ActionDate,
ActionDescription,
Body,
Comment,
DatedAction,
DateLastModified,
DocType,
Documentation,
DocumentationTitle,
Example,
Function,
Metadata,
RelatedTopic,
RelatedTopicID,
Subject,
Tip,
TopicRelationship,
TopicSection,
TopicSectionTitle,
TopicText,

    { display: block; }



/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 


Body:before				{ content: "Body "; }
Comment:before				{ content: "Comment "; }
DateLastModified:before			{ content: "Last Modified "; }
DocType:before				{ content: "Doc Type: "; }
Documentation:before			{ content: "DOCUMENTATION "; }
DocumentationTitle:before		{ content: "TITLE: "; }
Example:before				{ content: "Example "; }
Function:before				{ content: "Function: "; }
Metadata:before				{ content: "METADATA "; }
Para:before				{ content: "Paragraph "; }
RelatedTopic[RelationshipType="See Also"]:before	
					{ content: "See Also: "; }
RelatedTopic[RelationshipType="See"]:before	
					{ content: "See: "; }
RelatedTopic[RelationshipType="Broader"]:before	
					{ content: "Broader Topic: "; }
RelatedTopic[RelationshipType="Narrower"]:before	
					{ content: "Narrower Topic: "; }
Subject:before				{ content: "Keyword: "; }
Tip:before				{ content: "Tip "; }
TopicRelationship:before		{ content: "Related Topics: "; }
TopicSection:before			{ content: "Section "; }
TopicText:before			{ content: "Text "; }



/***************************************************************************/ 
/*                             HEADINGS                                    */ 
/***************************************************************************/ 


Documentation:before,
Metadata:before,
Para:before,
RelatedTopic:before,
TopicRelationship:before,
TopicSection:before,

     { color: black; 
       font-weight: bold;
       font-size: 10pt; }

DocumentationTitle:before,

     { color: navy;
       font-weight: bold; }

DocType:before,
Function:before,
Subject:before,

	{ font-size: 10pt; }


/***************************************************************************/ 
/*                 TAG PROPERTIES FOR TEXT INPUT FIELDS                    */ 
/***************************************************************************/ 


DateLastModified:before,
Example:before,
Tip:before,
Example:before,
TopicText:before,

     { color: black; 
       font-weight: bold; 
       font-size: 10pt; }



/***************************************************************************/ 
/*                            BORDER CONTROL                               */ 
/***************************************************************************/ 


Metadata,

     { border: none; }



/***************************************************************************/ 
/*                            HIDE TEXT                                    */ 
/***************************************************************************/ 


ActionDate,
ActionDescription,
Comment,
DatedAction,
DateLastModified,
Documentation,
Example,
Metadata,
Tip,
TopicSection,
TopicText,

     { color: white;
       background-color: white; }

ActionDate,
ActionDescription,
Example,
Para,
ItemizedList,
OrderedList,
Tip,
TopicText,

     { display: none; }



/***************************************************************************/ 
/*                            DISPLAY TEXT                                 */ 
/***************************************************************************/ 

DocType,
DocumentationTitle,
Function,
RelatedTopicID,
Subject,
TopicSectionTitle,

     { color: navy;
       font-weight: bold; }


/***************************************************************************/ 
/*                            FORM CONTROL                                 */ 
/***************************************************************************/ 

DocType:before,
Function:before,
Subject:before,

	{ background-color: white; }


DocType,
Function,
Subject,

	{ text-indent: 0pt; }

