/*************************************************************************/
/* 	GeographicEntity_structure.css                                   */
/*                                                                       */
/*      v. 2.3                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/*      v. 2.2                                                           */
/*      10/26/01  by ebator                                              */
/*      Schema changes from 10/22,24/01                                  */
/*                                                                       */
/*      v. 2.1                                                           */
/*      10/19/01  by ebator                                              */
/*      Capped section heads                                             */
/*                                                                       */
/*      v. 2.0                                                           */
/*      10/17/01  by ebator                                              */
/*      Changes for the Form CSS model                                   */
/*                                                                       */
/*      v. 1.1                                                           */
/*      9/24/01  by ebator                                               */
/*      Make all tags black; display:none common elements                */
/*                                                                       */
/*      v. 1.0                                                           */
/*      9/10/01  by ebator                                               */
/*      Based on the 8/23/01 schema and the 9/10/01 CSS                  */
/*                                                                       */
/*                                                                       */
/*************************************************************************/



/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*	{ white-space: nowrap;
	  text-align: left;
	  margin-left: 10px;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  font-family: Arial, "sans serif";
	  font-size: 10pt; 
	  font-style: normal;
	  font-weight: bold;
	  color: black; }

/* top-level elements */

$DOCUMENT > * 

     { margin-left: 0px;  }

$PROCINS 

     { color: white;
       font-weight: normal;
       background-color: white;}

GeographicEntity,

     { background-color: white; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
  

CdrDocCtl,
CountryAlternateName,
CountryFullName,
CountryShortName,
DateLastModified,
DocId,
DocTitle,
GeographicEntity,
PdqKey,
PoliticalUnit,
PoliticalUnitAlternateName,
PoliticalUnitFullName,
PoliticalUnitShortName,

	{ display: block; }


/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 


CdrDocCtl:before			{ content: "CDR Doc Control "; }
CountryAlternateName:before		{ content: "Alternate Name "; }
CountryFullName:before			{ content: "Country Full Name "; }
CountryShortName:before			{ content: "Short Name "; }
DateLastModified:before			{ content: "Last Modified"; }
DocId:before				{ content: "Doc ID "; }
DocTitle:before				{ content: "Doc Title "; }
GeographicEntity:before			{ content: "GEOGRAPHIC ENTITY "; }
PdqKey:before				{ content: "PDQ Key"; }
PoliticalUnit:before			{ content: "POLITICAL UNIT"; }
PoliticalUnitAlternateName:before	{ content: "Alternate Name "; }
PoliticalUnitFullName:before		{ content: "Full Name "; }
PoliticalUnitShortName:before		{ content: "Short Name "; }


/***************************************************************************/ 
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */ 
/***************************************************************************/ 
  

CdrDocCtl:before,
GeographicEntity:before,
PoliticalUnit:before,

	{     color: black;      }
	 


/***************************************************************************/ 
/*                         BORDER CONTROL                                  */
/***************************************************************************/
  

CdrDocCtl,

     { border: none;  }


/***************************************************************************/ 
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */ 
/***************************************************************************/ 


CountryAlternateName:before,
CountryFullName:before,
CountryShortName:before,
DateLastModified:before,
PdqKey:before,
PoliticalUnitAlternateName:before,
PoliticalUnitFullName:before,
PoliticalUnitShortName:before,


   {  color: black;  }



/***************************************************************************/ 
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */ 
/***************************************************************************/ 

/* Remove negative text-indent settings  */

CdrDocCtl,
CountryAlternateName,
CountryFullName,
CountryShortName,
DateLastModified,
DocId,
DocTitle,
PdqKey,
PoliticalUnit,
PoliticalUnitAlternateName,
PoliticalUnitFullName,
PoliticalUnitShortName,

	{ text-indent: 0pt; }


/***************************************************************************/ 
/*                              HIDE TEXT                                  */ 
/***************************************************************************/ 
  

CdrDocCtl,
CountryAlternateName,
CountryFullName,
CountryShortName,
DateLastModified,
DocId,
DocTitle,
PdqKey,
PoliticalUnit,
PoliticalUnitAlternateName,
PoliticalUnitFullName,
PoliticalUnitShortName,

     { color: white;
       background-color: white; }

CdrDocCtl:before,
CountryAlternateName:before,
CountryFullName:before,
CountryShortName:before,
DateLastModified:before,
DocId:before,
DocTitle:before,
PdqKey:before,
PoliticalUnit:before,
PoliticalUnitAlternateName:before,
PoliticalUnitFullName:before,
PoliticalUnitShortName:before,

     { background-color: white; }


/* Common Elements  */

Insertion,
Deletion,

CdrHref,
CdrRef,
CitationLink,
DiagnosisLink,
ExternalLink,
GeographicEntityLink,
GlossaryLink,
OrganizationLink,
PersonLink,
PrimarySecondary,
ProtocolLink,
SummaryLink,
TerminologyLink,

CommonTextElements,
  Multimedia,
/*  Comment,   */

OtherPhraseElements,
  CitationReference,
  DrugName,
  ExternalLink,
  GlossaryTerm,
  InterventionName,
  LOEReference, 
  Note,
  ProtocolReference,
  Quote,
    QuoteAuthor,
    QuotedText,
    Source,
  SummaryReference,

ParaLevelElements,
  Contact,
  ItemizedList, 
    ListItem, 
    ListTitle,
  LiteralLayout,
  OrderedList, 
  Para,
  QandQSet,
    Answer,
    MarkedUpTitle,
    QandADiv,
    QandAEntry,
    Question,
  Table, 
    ColSpec,
    entry,
    Entry,
    InformalTable,
    Row, 
    SpanSpec,
    TBody, 
    TFoot, 
    TGroup, 
    THead, 
    THeadOrFoot,
    TitleAbbrev,

TitleMarkupElements,
  Emphasis,
  ForeignWord,
  GeneName,
  ScientificName,
  Strong,
  Subscript,
  Superscript,
  TT,

     { display: none; }



