/*************************************************************************/
/*      GlossaryTerm.css                                                 */
/*                                                                       */
/*      v. 3.4                                                           */
/*      6/11/02  by ebator                                               */
/*      Added Comment                                                    */
/*                                                                       */
/*      v. 3.3                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 3.2                                                           */
/*      1/15/02  by ebator                                               */
/*      Added notations for required *, optional &, multiple +           */
/*                                                                       */
/*      v. 3.1                                                           */
/*      12/20/01   by ebator                                             */
/*      Changes for 12/18/01 schema changes; frozen                      */
/*                                                                       */
/*      v. 3.0                                                           */
/*      12/06-07/01   by ebator                                          */
/*      Edited to import common schema elements                          */
/*                                                                       */
/*      v. 2.2                                                           */
/*      12/05/01   by ebator                                             */
/*      Schema changes from 2001/12/03                                   */
/*                                                                       */
/*      v. 2.1                                                           */
/*      10/26/01   by ebator                                             */
/*      Schema changes from 10/22,24/01                                  */
/*                                                                       */
/*      v. 2.0                                                           */
/*      10/19/01   by ebator                                             */
/*      Changes for Form model                                           */
/*                                                                       */
/*      v. 1.1                                                           */
/*      9/24/01   by ebator                                              */
/*      Common element styles added                                      */
/*                                                                       */
/*      v. 1.0                                                           */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      color: black;
      margin-top: 5px;
      margin-left: 5px; }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      font-weight: normal;
      background-color: white; }

GlossaryTerm,
    { background-color: #CCCCFF;
      text-decoration: none;
      color: black; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Audience,
Caption,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionText,
Dictionary,
GlossaryTerm,
MediaID,
MediaLink,
PdqKey,
SpanishTermDefinition,
SpanishTermName,
StatusDate,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
     { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Audience:before                 { content: "Audience * +: "; }
Caption:before                  { content: "Caption & +: "; }
Comment:before               { content: "Comments &: "; }
DateLastModified:before          { content: "Last Modified &: "; }
DateLastReviewed:before          { content: "Last Reviewed &: "; }
Dictionary:before               { content: "Dictionary & +: "; }
MediaID:before                  { content: "Media ID * @: "; }
MediaLink:before                { content: "MEDIA LINK & + @:"; }
PdqKey:before               { content: "PDQ Key &: "; }
SpanishTermDefinition:before    { content: "SPANISH DEFINITION & +:"; }
SpanishTermDefinition>DefinitionText:before
                                { content: "Span Definition *: "; }
SpanishTermName:before          { content: "Spanish Name &: "; }
StatusDate:before          { content: "Status Date *: "; }
TermDefinition:before           { content: "TERM DEFINITION * +:"; }
TermDefinition>DefinitionText:before
                                { content: "Term Definition *: "; }
TermName:before               { content: "Term Name *: "; }
TermPronunciation:before     { content: "Pronunciation &: "; }
TermSource:before          { content: "Term Source *: "; }
TermStatus:before          { content: "Term Status *: "; }
TermType:before               { content: "Term Type * +: "; }



/***************************************************************************/
/*                     SECTION TITLES AND BORDERS                          */
/***************************************************************************/
Audience,
DateLastModified,
DateLastReviewed,
Dictionary,
MediaLink,
SpanishTermDefinition,
SpanishTermName,
TermDefinition,
TermSource,
TermType,
     { margin-top: 1em }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Audience:before,
Caption:before,
Comment:before,
DateLastModified:before,
DateLastReviewed:before,
DefinitionText:before,
Dictionary:before,
MediaID:before,
MediaLink:before,
SpanishTermDefinition:before,
SpanishTermName:before,
StatusDate:before,
TermDefinition:before,
TermName:before,
TermPronunciation:before,
     { font-weight: bold;
       color: black; }


/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
TermDefinition,
SpanishTermDefinition,
    { border: solid;
      border-color: black;
      border-width: thin;
      margin-top: 1em;
      margin-bottom: 6pt; }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
PdqKey:before,
TermSource:before,
TermStatus:before,
TermType:before,
     {  font-weight: bold;
        color: black; }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = SpanishTermName                       */

Audience                                { margin-left: 125pt;
                                          text-indent: -79pt; }
Dictionary                              { margin-left: 125pt;
                                          text-indent: -88pt; }
Caption                                 { margin-left: 125pt;
                                          text-indent: -75pt; }
MediaID,                                { margin-left: 125pt;
                                          text-indent: -79.5pt; }
TermName,                               { margin-left: 125pt;
                                          text-indent: -80.5pt; }
TermPronunciation,                      { margin-left: 125pt;
                                          text-indent: -100.5pt; }
TermDefinition>DefinitionText,          { margin-left: 125pt;
                                          text-indent: -102pt; }
SpanishTermName,                        { margin-left: 125pt;
                                          text-indent: -103pt; }
SpanishTermDefinition>DefinitionText,   { margin-left: 125pt;
                                          text-indent: -103pt; }

/* Key element for length = TermSource                            */

TermSource,                             { margin-left: 85pt;
                                          text-indent: -88.5pt; }
TermType,                               { margin-left: 85pt;
                                          text-indent: -85.5pt; }
TermStatus,                             { margin-left: 85pt;
                                          text-indent: -84pt; }
StatusDate,                             { margin-left: 85pt;
                                          text-indent: -81pt; }

/* Key element for length = DateLastModified                       */

Comment,                                { margin-left: 100pt;
                                          text-indent: -82pt; }
DateLastModified,                       { margin-left: 100pt;
                                          text-indent: -96pt; }
DateLastReviewed,                       { margin-left: 100pt;
                                          text-indent: -103.5pt; }
PdqKey,                                 { margin-left: 100pt;
                                          text-indent: -71pt; }


/* Section Heading Margins                                 */

TermName,
     { margin-top: 1em; }


/* Margin-bottom to simulate a text box                                    */

Audience,
Comment,
DateLastModified,
DateLastReviewed,
Dictionary,
PdqKey,
MediaID,
SpanishTermDefinition,
SpanishTermName,
StatusDate,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
     { margin-bottom: 4pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
Audience,
Caption,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionText,
Dictionary,
MediaID,
PdqKey,
SpanishTermName,
StatusDate,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
     { background-color: white; }


Audience:before,
Caption:before,
Comment:before,
DateLastModified:before,
DateLastReviewed:before,
DefinitionText:before,
Dictionary:before,
MediaID:before,
PdqKey:before,
SpanishTermDefinition:before,
SpanishTermName:before,
StatusDate:before,
TermName:before,
TermPronunciation:before,
TermSource:before,
TermStatus:before,
TermType:before,
     { background-color: #CCCCFF; }  /* light blue */
