/*************************************************************************/
/*      GlossaryTermConcept.css                                          */
/*                                                                       */
/*      v. 1.0                                                           */
/*      9/14/01   by ebator                                              */
/*      Based on 9/5/01 schema                                           */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/

@import "CdrCommonSchema.css";

$DOCUMENT
    { font-family: Arial, sans-serif;
      font-size: 12pt;
      color: black;
      margin-top: 5px;
      margin-left: 5px; }

$COMMENT
    { display: block;
      color: purple;
      white-space: pre; }

$PROCINS
    { color: blue;
      font-weight: normal;
      background-color: white; }

GlossaryTermConcept,
    { background-color: #CCCCFF;
      text-decoration: none;
      color: black; }


/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
Audience,
Caption,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
GlossaryTerm,
MediaID,
MediaLink,
NCIThesaurusID,
PdqKey,
PDQTerm,
PronunciationResource,
RelatedInformation,
RelatedDrugSummaryRef,
RelatedExternalRef,
RelatedSummaryRef,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TranslatedTermDefinition,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */

Audience                     :before { content: "Audience * +: "; }
Caption                      :before { content: "Caption & +: "; }
Comment                      :before { content: "Comments & + @: "; }
DateLastModified             :before { content: "Last Modified &: "; }
DateLastReviewed             :before { content: "Last Reviewed &: "; }
DefinitionResource           :before { content: "Def Resource & +: "; }
DefinitionStatus             :before { content: "Def Status &: "; }
Dictionary                   :before { content: "Dictionary & +: "; }
MediaID                      :before { content: "Media ID * @: "; }
MediaLink                    :before { content: "MEDIA LINK & + @"; }
NCIThesaurusID               :before { content: "NCI Thesaurus ID &: "; }
PdqKey                       :before { content: "PDQ Key &: "; }
PDQTerm                      :before { content: "PDQ Term &: "; }
PlaceHolder                  :before { content: "["attr(name)"]"; }
PronunciationResource        :before { content: "Pron Resource & +: "; }
RelatedInformation           :before { content: "RELATED INFORMATION &"; }
RelatedDrugSummaryRef        :before { content: "Rel DrgSum Ref & + @: "; }
RelatedExternalRef           :before { content: "Rel Ext Ref & + @: "; }
RelatedSummaryRef            :before { content: "Rel Sum Ref & + @: "; }
ReplacementText              :before { content: "Replacemnt Txt & + @: "; }
ReplacementText              :after  { content: " ["attr(name)"]"; }
StatusDate                   :before { content: "Status Date &: "; }
TranslatedTermDefinition     :before { content: "TRANSLATED DEFINITION ["attr(language)"] * +"; }
TranslatedTermDefinition>DefinitionText       
                             :before { content: "Definition *: "; }
TranslatedStatus             :before { content: "Def Status &: "; }
TranslatedStatusDate         :before { content: "Status Date *: "; }
TermDefinition>TranslatedStatusDate                      
                             :before { content: "Status Date &: "; }
TranslatedTermDefinition>TranslatedStatusDate                      
                             :before { content: "Status Date &: "; }
TermDefinition               :before { content: "TERM DEFINITION * +"; }
TermDefinition>DefinitionText       
                             :before { content: "Term Definition *: "; }
TermName                     :before { content: "Term Name *: "; }
TermPronunciation            :before { content: "Pronunciation &: "; }
TermSource                   :before { content: "Term Source *: "; }
TermStatus                   :before { content: "Term Status *: "; }
TermType                     :before { content: "Term Type * +: "; }
TranslationResource          :before { content: "Trans Resource & +: "; }



/***************************************************************************/
/*                     SECTION TITLES AND BORDERS                          */
/***************************************************************************/
MediaLink,
TranslatedTermDefinition,
TermDefinition,
TermSource,
    { margin-top: 1em; }

MediaLink,
    { margin-bottom: 1em; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
Audience                     :before,
Caption                      :before,
Comment                      :before,
DateLastModified             :before,
DateLastReviewed             :before,
DefinitionResource           :before,
DefinitionStatus             :before,
DefinitionText               :before,
Dictionary                   :before,
MediaID                      :before,
MediaLink                    :before,
NCIThesaurusID               :before,
PDQTerm                      :before,
PronunciationResource        :before,
RelatedInformation           :before,
RelatedDrugSummaryRef        :before,
RelatedExternalRef           :before,
RelatedSummaryRef            :before,
ReplacementText              :before,
StatusDate                   :before,
TranslatedStatus             :before,
TranslatedStatusDate         :before,
TranslatedTermDefinition     :before,
TermDefinition               :before,
TermName                     :before,
TermPronunciation            :before,
TranslationResource          :before,
    { font-weight: bold;
      color: black; }

PlaceHolder                  :before,
    { font-weight: bold;
      color: teal; }
ReplacementText              :after,
    { font-weight: bold;
      color: teal; }

/***************************************************************************/
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */
/***************************************************************************/
TermDefinition,
RelatedInformation,
TranslatedTermDefinition,
    { border: solid;
      border-color: black;
      border-width: thin;
      margin-top: 1em;
      margin-bottom: 6pt; }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
PdqKey:before,
TermSource:before,
TermStatus:before,
TermType:before,
    {  font-weight: bold;
       color: black; }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = SpanishTermName                       */

Audience                     { margin-left: 135pt;
                               text-indent: -79.5pt; }
Caption                      { margin-left: 135pt;
                               text-indent: -75pt; }
Comment,                     { margin-left: 135pt;
                               text-indent: -107pt; }
DateLastModified,            { margin-left: 135pt;
                               text-indent: -97pt; }
DateLastReviewed,            { margin-left: 135pt;
                               text-indent: -104pt; }
DefinitionResource           { margin-left: 135pt;
                               text-indent: -108pt; }
DefinitionStatus             { margin-left: 135pt;
                               text-indent: -79.5pt; }
Dictionary                   { margin-left: 135pt;
                               text-indent: -88.5pt; }
MediaID,                     { margin-left: 135pt;
                               text-indent: -79.5pt; }
NCIThesaurusID,              { margin-left: 135pt;
                               text-indent: -118pt; }
PronunciationResource,       { margin-left: 135pt;
                               text-indent: -116.5pt; }
PdqKey,                      { margin-left: 135pt;
                               text-indent: -71pt; }
PDQTerm,                     { margin-left: 135pt;
                               text-indent: -79pt; }
ReplacementText,             { margin-left: 135pt;
                               text-indent: -134pt; }
RelatedDrugSummaryRef,       { margin-left: 135pt;
                               text-indent: -133.5pt; }
RelatedExternalRef,          { margin-left: 135pt;
                               text-indent: -105pt; }
RelatedSummaryRef,           { margin-left: 135pt;
                               text-indent: -112.5pt; }
StatusDate                   { margin-left: 135pt;
                               text-indent: -86pt; }
TermName,                    { margin-left: 135pt;
                               text-indent: -81pt; }
TermPronunciation,           { margin-left: 135pt;
                               text-indent: -101pt; }
TermSource,                  { margin-left: 135pt;
                               text-indent: -89pt; }
TermType,                    { margin-left: 135pt;
                               text-indent: -86pt; }
TermStatus,                  { margin-left: 135pt;
                               text-indent: -85pt; }
TermDefinition>DefinitionText,          
                             { margin-left: 135pt;
                               text-indent: -102.5pt; }
TranslationResource          { margin-left: 135pt;
                               text-indent: -121.5pt; }
TranslatedTermDefinition>DateLastModified, 
                             { margin-left: 135pt;
                               text-indent: -97pt; }
TranslatedTermDefinition>DefinitionText,   
                             { margin-left: 135pt;
                               text-indent: -70.5pt; }
TranslatedStatus             { margin-left: 135pt;
                               text-indent: -79.5pt; }
TranslatedStatusDate,        { margin-left: 135pt;
                               text-indent: -86pt; }




/* Section Heading Margins                                 */
/* ******************************************************* */
TermName,
    { margin-top: 1em; }


/* Margin-bottom to simulate a text box                    */
/* ******************************************************* */
Audience,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
MediaID,
NCIThesaurusID,
PdqKey, 
PDQTerm,
PronunciationResource,
RelatedDrugSummaryRef,
RelatedExternalRef, 
RelatedSummaryRef,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TranslatedTermDefinition,
TermDefinition,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { margin-bottom: 4pt; }


/***************************************************************************/
/*                               COLOR                                     */
/***************************************************************************/
Audience,
Caption,
Comment,
DateLastModified,
DateLastReviewed,
DefinitionResource,
DefinitionStatus,
DefinitionText,
Dictionary,
MediaID,
NCIThesaurusID,
PdqKey, 
PDQTerm,
PronunciationResource,
RelatedDrugSummaryRef,
RelatedExternalRef,
RelatedSummaryRef,
ReplacementText,
StatusDate,
TranslatedStatus,
TranslatedStatusDate,
TermName,
TermPronunciation,
TermSource,
TermStatus,
TermType,
TranslationResource,
    { background-color: white; }


Audience                     :before,
Caption                      :before,
Comment                      :before,
DateLastModified             :before,
DateLastReviewed             :before,
DefinitionResource           :before,
DefinitionStatus             :before,
DefinitionText               :before,
Dictionary                   :before,
MediaID                      :before,
NCIThesaurusID               :before,
PdqKey                       :before, 
PDQTerm                      :before,
PronunciationResource        :before,
RelatedDrugSummaryRef        :before,
RelatedExternalRef           :before,
RelatedSummaryRef            :before,
ReplacementText              :before,
StatusDate                   :before,
TranslatedStatus             :before,
TranslatedStatusDate         :before,
TranslatedTermDefinition     :before,
TermName                     :before,
TermPronunciation            :before,
TermSource                   :before,
TermStatus                   :before,
TermType                     :before,
TranslationResource          :before,
    { background-color: #CCCCFF; }  /* light blue */
