/*************************************************************************/
/*  InScopeProtocol.css                                                  */
/*                                                                       */
/*      v. 4.1                                                           */
/*      3/30/04  by Cburg                                                */
/*      Added data element UpdateMode                                    */
/*                                                                       */
/*      v. 4.0                                                           */
/*      9/24/02  by ebator                                               */
/*      LeadOrgPersonnel header was not showing up.  Don't know why,     */
/*      since I haven't changed that element.  Closed up line breaks     */
/*      on the Before text definitions for the element to fix it.        */
/*                                                                       */
/*      v. 3.9                                                           */
/*      8/22/02  by ebator                                               */
/*      Fixed ProtocolLeadOrg Header                                     */
/*      Increased white space between ProtocolLeadOrg boxes              */
/*                                                                       */
/*      v. 3.8                                                           */
/*      8/22/02  by ebator                                               */
/*      Aligned CurrentProtocolStatus                                    */
/*                                                                       */
/*      v. 3.7                                                           */
/*      8/20/02  by ebator                                               */
/*      Break up ProtocolAdminInfo bordered box group so that            */
/*         multiple occurrences of ProtocolLeadOrg are                   */
/*         more easily distinguished                                     */
/*                                                                       */
/*      v. 3.6                                                           */
/*      5/16/02  by ebator                                               */
/*      Show LeadOrgPersonnel Public attribute on template               */
/*                                                                       */
/*      v. 3.5                                                           */
/*      4/03/02  by ebator                                               */
/*      Display the cdr:id attribute on LeadOrgPersonnel for             */
/*         MailAbstractTo info                                           */
/*                                                                       */
/*      v. 3.4                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 3.3                                                           */
/*      2/19/02  by ebator                                               */
/*      User-requested changes                                           */
/*                                                                       */
/*      v. 3.2                                                           */
/*      1/16/02  by ebator                                               */
/*      Added notations for required *, optional &, multiple +           */
/*                                                                       */
/*      v. 3.1                                                           */
/*      1/7/02   by ebator                                               */
/*      Added 12/21/01 schema changes; frozen; changed Procins style     */
/*                                                                       */
/*      v. 3.0                                                           */
/*      12/10-11/01   by ebator                                          */
/*      Edits to import CommonProtocolInfo.css and                       */
/*      CdrCommonSchema.css                                              */
/*                                                                       */
/*      v. 2.1                                                           */
/*      12/05-06/01   by ebator                                          */
/*      Edits for schema changes from 11/13/01 and 12/03/01              */
/*                                                                       */
/*      v. 2.0                                                           */
/*      11/02-07/01  by ebator                                           */
/*      Changes for the Forms model; schema changes 8/31-11/2            */
/*                                                                       */
/*      v. 1.4                                                           */
/*      9/24/01  by ebator                                               */
/*      Added common styles                                              */
/*                                                                       */
/*      v. 1.3                                                           */
/*      9/10/01 by ebator                                                */
/*      Update to schema version 8/31/01                                 */
/*                                                                       */
/*      v. 1.2                                                           */
/*      8/2/01  by ebator                                                */
/*                                                                       */
/*      Revision F 8/02/2001 Typos, clean-up                             */
/*      Revision E 6/28/2001 PDQID, Comments, margin-bottom              */
/*      Revision D 6/21/2001 cleanup                                     */
/*      Revision C 6/18/2001 styles per LGrama requests                  */
/*      Revision B 5/22/2001 styles, BK additions                        */
/*      Revision A 5/17/2001 per LGrama requests                         */
/*                                                                       */
/*      v. 1.1  5/18/2001 by bkline                                      */
/*                                                                       */
/*************************************************************************/

/*************************************************************************/
/*                     DEFAULT PROPERTIES                                */
/*************************************************************************/

@import "CdrCommonSchema.css";
@import "CommonProtocolInfo.css"; 

$DOCUMENT
  {  font-family: Arial, sans-serif;       
     font-size: 12pt;
     margin-top: 5px;
     margin-left: 5px;  
     color: black;        }

$COMMENT 
  {  display: block;
     color: purple;
     white-space: pre;  }

$PROCINS 
  {  color: blue;
     background-color: white;  }



/***************************************************************************/
/*                           BLOCK ELEMENTS                                */
/***************************************************************************/
BlockedFromCTGov,
ClinicalTrialOffice,
CompletionDate,
ContactInformation, 
ExternalSiteAddress > Country,
CTGovDuplicate,
CTGovOwnerOrganization,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
CTGovOwnershipTransferInfo,
CurrentOrgStatus, 
CurrentProtocolStatus,
Date,
DateLastModified, 
DateSentForReview,
DateSubmissionComplete,
DelayedPosting,
DueDate,
ProtocolSource>DateReceived,
EnteredBy, 
EntryDate, 
ExternalID,
ExternalSite,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSiteContactName,
ExternalSiteContactPhone,
ExternalSiteContactTitle,
ExternalSiteName,
ExternalSiteOrg,
ExternalSiteOrgID,
ExternalSitePI,
ExternalSitePIID,
ExternalSitePIName,
ExternalSitePIPhone,
ExternalSiteRegDate,
ExternalSiteRegStatus,
ExternalSites,
FDAINDInfo,
FDARegulated,
FundingInfo, 
GenericPerson, 
GenericPersonContact, 
GrantContractNo,
INDGrantor,
INDNumber,
INDSerialNumber,
INDSubmissionDate,
InScopeProtocol, 
IRBInfo,
IRBApproved,
IRBApprovalForm,
LeadOrganizationID, 
LeadOrgPersonnel,
LeadOrgProtocolID, 
LeadOrgProtocolStatuses, 
LeadOrgRole, 
MergeByDate,
MailAbstractTo,   
NIHGrantContract, 
NIHGrantContractType,  
Organization,
OrgSite, 
OrgSiteContact, 
OrgSiteID, 
OrgSiteStatus, 
OrgStatus, 
OtherGrantContractInfo,  
OverallContact,
OversightInfo,
PdqKey, 
Person, 
PersonFirstName,
PersonLastName,
PersonMiddleName,
PersonRole, 
PersonSuffix,
PersonTitle, 
PreviousOrgStatus, 
PrivatePracticeSite, 
PrivatePracticeSiteID, 
PrivatePracticeSiteStatus,
ProcessingPriority,
ProtocolAdminInfo, 
ProtocolApproval, 
ProtocolLeadOrg, 
ProtocolSites,
ProtocolSource, 
ProtocolSources, 
ProtocolSpecialCategory, 
ProtocolSpecificContact, 
ProtocolSponsors, 
PRSUserName,
RegulatoryAuthority,
RegulatoryInformation,
ReimbursementApprovalType, 
ResponsibleOrganization,
ResponsibleParty,
ResponsiblePerson,
ReviewApprovalType, 
Reviewer,
ReviewStatus,
ReviewStatusDate,
Role, 
Section801,
SourceName, 
SourceWebsite,
SpecialCategory, 
SpecificEmail,
SpecificPerson, 
SpecificPhone,  
SponsorName, 
SubmissionMethod,
StartDate,
StatusDate, 
StatusName, 
SupplementaryInfoLink,
UpdateMode,
VerificationDate,
VerificationInfo,
VoluntaryReview,
WarehouseBoxNumber,
    { display: block; }


/***************************************************************************/
/*                       BEFORE AND AFTER TAGS                             */
/***************************************************************************/
/* * = Required element              */
/* & = Optional element              */
/* + = Multiply-occurring element    */
/* @ = Attribute assigned to element */

/* Template
:before
                { content: " : "; }
*/
BlockedFromCTGov                  :before { content: "Blocked From CTGov &"; }
ClinicalTrialOffice               :before { content: "Trial Office & @: "; }
DateSubmissionComplete            :before 
    { content: "Date Submission Cmpl &: "; }
LeadOrgProtocolStatuses>Comment   :before { content: "Comments &: "; }
ExternalSiteAddress > Country     :before { content: "Country : "; }
CompletionDate                    :before { content: "Compl Date &: "; }
CTGovDuplicate                    :before { content: "CTGov Duplicate & +: "; }
CTGovOwnershipTransferContactLog  :before { content: "CTOV OWNERSHIP TRANSFER CONTACT LOG &: "; }
CTGovOwnershipTransferContactResponse
                                  :before { content: "Contact Response *: "; }
CTGovOwnershipTransferDate        :before { content: "Transfer Date *: "; }
CTGovOwnershipTransferInfo        :before 
    { content: "CTGOV OWNERSHIP TRANSFER INFO &"; }
CTGovOwnerOrganization            :before { content: "Owner Organization *: "; }
CurrentOrgStatus                  :before { content: "Current Org Status *"; }
CurrentProtocolStatus             :before 
    { content: "Current Protocol Status *: "; }
Date                              :before { content: "Date *: "; }
DateLastModified                  :before { content: "Last Modified &: "; }
ProtocolSource>DateReceived       :before { content: "Date Received *: "; }
DelayedPosting                    :before { content: "Delayed Posting &: "; }
EnteredBy                         :before { content: "Entered By *: "; }
EntryDate                         :before { content: "Entry Date *: "; }
ExternalID                        :before { content: "Ext ID & + @: "; }
ExternalPersonName                :before 
    { content: "EXTERNAL PERSON NAME *: "; }
ExternalSites                     :before { content: "EXTERNAL SITES & + @: "; }
ExternalSite                      :before 
    { content: "EXTERNAL SITE (ES) * +: "; }
ExternalSiteContact               :before 
    { content: "EXTERNAL SITE CONTACT &: "; }
ExternalSiteContactName           :before 
    { content: "EXTERNAL SITE CONTACT NAME *: "; }
ExternalSiteContactTitle          :before { content: "ESC Title *: "; }
ExternalSiteContactPhone          :before { content: "ESC Phone & +: "; }
ExternalSiteName                  :before { content: "ES Name *: "; }
ExternalSiteOrg                   :before { content: "EXTERNAL SITE ORG *: "; }
ExternalSiteOrgID                 :before { content: "ES Org ID & @: "; }
ExternalSiteRegDate               :before { content: "ES RegDate *: "; }
ExternalSiteRegStatus             :before { content: "ES Reg Status &: "; }
ExternalSiteAddress               :before 
    { content: "EXTERNAL SITE ADDRESS *: "; }
ExternalSitePI                    :before { content: "EXTERNAL SITE PI *: "; }
ExternalSitePIID                  :before { content: "ES PI ID & @: "; }
ExternalSitePIName                :before { content: "ES PI Name *: "; }
ExternalSitePIPhone               :before { content: "ES PI Phone & +: "; }
ExternalSiteContact               :before 
    { content: "EXTERNAL SITE CONTACT &: "; }
FDAINDInfo                        :before { content: "FDA IND INFO & +"; }
FDARegulated                      :before { content: "FDA Regulated *: "; }
FundingInfo                       :before { content: "FUNDING INFORMATION &"; }
GenericPerson                     :before { content: "Generic Contact * +";  }
GenericPersonContact              :before 
    { content: "Generic Person Contact Information *: "; }
GrantContractNo                   :before 
    { content: "Grant Contract Number *: "; }
INDGrantor                        :before { content: "IND Grantor *: "; }
INDNumber                         :before { content: "IND Number *: "; }
INDSerialNumber                   :before { content: "IND Serial No &: "; }
INDSubmissionDate                 :before { content: "Submission Date &: "; }
LeadOrganizationID                :before { content: "Org Name * @: "; }
LeadOrgProtocolID                 :before { content: "Org Prot ID * +: "; }
LeadOrgRole                       :before { content: "Role *: "; }
LeadOrgPersonnel[Public="No"]     :before
    { content: "LEAD ORGANIZATION PERSONNEL (Not public) [" attr(cdr\:id) "] "; }
LeadOrgPersonnel                  :before
    { content: "LEAD ORGANIZATION PERSONNEL (Public) ["attr(cdr\:id) "] "; }
LeadOrgProtocolStatuses           :before
    { content: "LEAD ORGANIZATION PROTOCOL STATUSES *"; }
MergeByDate                       :before { content: "Merge by Date &: "; }
MailAbstractTo                    :before { content: "Mail Abstr To &: "; }
NIHGrantContract                  :before { content: "NIH GRANT CONTRACT & +"; }
NIHGrantContractType              :before 
    { content: "NIH Grant Contract Type *: ";  }
Organization                      :before { content: "Org Name * @: "; }
OrgSite[SuppressContactInformation='Yes']:before
    { content: "PARTICIPATING ORGANIZATION (suppress contact information) * + @"; } 
OrgSite                           :before
    { content: "PARTICIPATING ORGANIZATION * + @"; } 
OrgSiteContact                    :before { content: "Site Contact *: "; }
OrgSiteID                         :before { content: "Org Name * @: "; }
OrgSiteStatus                     :before { content: "Status *: "; }
OtherGrantContractInfo            :before 
    { content: "OTHER GRANT CONTRACT INFORMATION & +"; }
OverallContact                    :before { content: "OVERALL CONTACT & "; }
PdqKey                            :before { content: "PDQ Key &: "; }
Person                            :before { content: "Person * @: "; }
PersonFirstName                   :before { content: "First Name &: "; }
PersonLastName                    :before { content: "Last Name *: "; }
PersonMiddleName                  :before { content: "Middle Name &: "; }
PersonRole                        :before { content: "Role * +: "; }
PersonSuffix                      :before { content: "Person Suffix & +: "; }
PersonTitle                       :before { content: "Title *: ";  }
ResponsibleParty > PersonTitle    :before { content: "Person Title *: ";  }
PreviousOrgStatus                 :before 
    { content: "Previous Org Status & +"; }
PrivatePracticeSite[SuppressContactInformation='Yes'] :before
    { content: "PRIVATE PRACTICE SITE (suppress contact information)* + @"; }
PrivatePracticeSite               :before 
    { content: "PRIVATE PRACTICE SITE * + @"; }
PrivatePracticeSiteID             :before { content: "Site ID * @: "; }
PrivatePracticeSiteStatus         :before { content: "Site Status *: "; }
ProcessingPriority                :before 
    { content: "Processing Priority & +: "; }
ProtocolAdminInfo                 :before 
    { content: "ADMINISTRATIVE INFORMATION *"; }
ProtocolApproval                  :before { content: "PROTOCOL APPROVAL *"; }
ProtocolLeadOrg                   :before
    { content: "LEAD/SECONDARY LEAD ORGANIZATION * + @"; }
ProtocolSites[SuppressContactInformation='Yes']:before
    { content: "PROTOCOL SITES (suppress contact information) & "; }
ProtocolSites                     :before { content: "PROTOCOL SITES & "; }
ProtocolSource                    :before { content: "PROTOCOL SOURCE * +"; }
ProtocolSources                   :before { content: "PROTOCOL SOURCES *"; }
ProtocolSpecialCategory           :before 
    { content: "PROTOCOL SPECIAL CATEGORY & +"; }
ProtocolSpecificContact           :before 
    { content: "Protocol Specific Contact & @ "; }
ProtocolSponsors                  :before { content: "PROTOCOL SPONSORS &"; }
PRSUserName                       :before { content: "PRS User Name *: "; }
RelatedPublications               :before 
    { content: "RELATED PUBLICATIONS & +"; }
ReimbursementApprovalType         :before 
    { content: "Reimbursmnt Approval Type & +: "; }
ResponsibleOrganization
                                  :before { content: "RESPONSIBLE ORGANIZATION *: "; }
ResponsibleParty                  :before { content: "RESPONSIBLE PARTY *"; }
ResponsiblePerson
                                  :before { content: "RESPONSIBLE PERSON *: "; }
ReviewApprovalType                :before 
    { content: "Review Approval Type *: "; }
Role                              :before { content: "Role *: "; }
Section801                        :before { content: "Section 801 &: "; }
SourceName                        :before { content: "Source *: "; }
SourceWebsite                     :before { content: "Source Website & @: "; }
SpecialCategory                   :before { content: "Category *: "; }
OrgSiteContact>SpecificPerson     :before { content: "Specific Contact * +"; }
SpecificPhone                     :before { content: "Phone &: "; }
SpecificEmail                     :before    { content: "Email & @ : "; }
SpecificEmail[Public="No"]:after { content: " (Not public) "; }
SpecificEmail:after { content: " (Public) "; }
SponsorName                       :before { content: "Sponsor * +: ";  }
StatusDate                        :before { content: "Status Date *: "; }
StatusName                        :before { content: "Status *: "; }
SubmissionMethod                  :before { content: "Submission Method &: "; }
UpdateMode                        :before { content: "Updt Mode &+@: ";}
UpdateMode[MailerType="Protocol_SandP"]:after  
    { content: " (Protocol_SandP) ";}
UpdateMode[MailerType="Protocol_Abstract"]:after 
    { content: " (Protocol_Abstract) ";}
VoluntaryReview                   :before { content: "VOLUNTARY REVIEW & +"; }
ReviewStatus                      :before { content: "Review Status *: "; }
ReviewStatusDate                  :before { content: "Review Status Date *: "; }
Reviewer                          :before { content: "Reviewer * @: "; }
DateSentForReview                 :before { content: "Date Sent *: "; }
DueDate                           :before { content: "Due Date *: "; }
VoluntaryReview>Comment           :before { content: "Comments *: "; }
VoluntaryReview>EnteredBy         :before { content: "Entered By *: "; }
OversightInfo                     :before { content: "OVERSIGHT INFO &"; }
RegulatoryAuthority               :before 
    { content: "Regulatory Authority * +: "; }
RegulatoryInformation             :before { content: "REGULATORY INFO &"; }
IRBInfo                           :before { content: "IRB INFO *"; }
IRBApproved                       :before { content: "IRB Approved *: "; }
IRBApprovalForm                   :before { content: "IRB Approval Form &: "; }
StartDate                         :before { content: "Start Date & +: "; }
VerificationInfo                  :before { content: "VERIFICATION INFO &"; }
VerificationDate                  :before { content: "Verification Date *: "; }
VerificationInfo>Comment          :before { content: "Comments *: "; }
VerificationInfo>EnteredBy        :before { content: "Entered By *: "; }


/***************************************************************************/ 
/*       TAG PROPERTIES FOR SECTION HEADINGS AND TEXT INPUT Fields         */ 
/***************************************************************************/ 
CompletionDate                    :before,
CTGovDuplicate                    :before,
CurrentOrgStatus                  :before,
/* CurrentProtocolStatus:before, */
CTGovOwnerOrganization            :before,
CTGovOwnershipTransferContactLog  :before,
CTGovOwnershipTransferContactResponse     
                                  :before,
CTGovOwnershipTransferDate        :before,
CTGovOwnershipTransferInfo        :before,
Date                              :before,
DateSentForReview                 :before,
DateSubmissionComplete            :before,
DelayedPosting                    :before,
DueDate                           :before,
ExternalSiteAddress > Country     :before,
ExternalID                        :before,
ExternalSite                      :before,
ExternalSiteAddress               :before,
ExternalSiteContact               :before,
ExternalSiteContactName           :before,
ExternalSiteContactPhone          :before,
ExternalSiteContactTitle          :before,
ExternalSiteName                  :before,
ExternalSiteOrg                   :before,
ExternalSiteOrgID                 :before,
ExternalSitePI                    :before,
ExternalSitePIID                  :before,
ExternalSitePIName                :before,
ExternalSitePIPhone               :before,
ExternalSiteRegDate               :before,
ExternalSiteRegStatus             :before,
ExternalSites                     :before,
FDAINDInfo                        :before,
FDARegulated                      :before,
FundingInfo                       :before,
GenericPerson                     :before,
GenericPersonContact              :before,
IRBApprovalForm                   :before,
IRBApproved                       :before,
IRBInfo                           :before,
LeadOrgPersonnel                  :before,
LeadOrgProtocolStatuses           :before,
MergeByDate                       :before,
NIHGrantContract                  :before,
Organization                      :before,
OrgSite                           :before,
OrgSiteContact                    :before,
OrgSiteContact>SpecificPerson     :before,
OtherGrantContractInfo            :before,
OverallContact                    :before,
OversightInfo                     :before,
Person                            :before,
PersonFirstName                   :before,
PersonMiddleName                  :before,
PersonLastName                    :before,
PersonSuffix                      :before,
PreviousOrgStatus                 :before,
PrivatePracticeSite               :before,
ProcessingPriority                :before,
ProtocolAdminInfo                 :before,
ProtocolApproval                  :before,
ProtocolLeadOrg                   :before,
ProtocolSites                     :before,
ProtocolSource                    :before,
ProtocolSources                   :before,
ProtocolSpecialCategory           :before,
ProtocolSpecificContact           :before,
ProtocolSponsors                  :before,
PRSUserName                       :before,
RegulatoryAuthority               :before,
RegulatoryInformation             :before,
ResponsibleOrganization           :before,
ResponsibleParty                  :before,
ResponsiblePerson                 :before,
Reviewer                          :before,
ReviewStatus                      :before,
ReviewStatusDate                  :before,
Section801                        :before,
StartDate                         :before,
VerificationDate                  :before,
VerificationInfo                  :before,
VoluntaryReview                   :before,
  {  font-weight: bold;
     color: black;  }

BlockedFromCTGov                  :before,
  {  font-weight: bold;
     color: red;  }

LeadOrgProtocolStatuses > Comment :before,
DateLastModified                  :before,
ProtocolSource>DateReceived       :before,
EnteredBy                         :before,
EntryDate                         :before,
GrantContractNo                   :before,
INDGrantor                        :before,
INDNumber                         :before,
INDSerialNumber                   :before,
INDSubmissionDate                 :before,
LeadOrgProtocolID                 :before,
Organization                      :before,
PersonTitle                       :before,
SourceName                        :before,
SpecificEmail                     :after,
SpecificEmail                     :before,
SpecificPhone                     :before,
SponsorName                       :before,
StatusDate                        :before,
SubmissionMethod                  :before,
UpdateMode                        :before,
UpdateMode                        :after,
  {  font-weight: bold;
     color: black;  }


/***************************************************************************/
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */
/***************************************************************************/
ClinicalTrialOffice               :before,
LeadOrganizationID                :before,
LeadOrgRole                       :before,
MailAbstractTo                    :before,
NIHGrantContractType              :before,
OrgSiteID                         :before,
OrgSiteStatus                     :before,
PdqKey                            :before,
Person                            :before,
PersonRole                        :before,
PrivatePracticeSiteID             :before, 
PrivatePracticeSiteStatus         :before,
ReimbursementApprovalType         :before,
ReviewApprovalType                :before,
Role                              :before,
SpecialCategory                   :before,
StatusName                        :before,
  {  font-weight: bold;
     color: black;  }



/***************************************************************************/
/*                    BORDERED ELEMENTS AND SECTIONS                       */
/***************************************************************************/
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferInfo,
ExternalSites,
FDAINDInfo,
FundingInfo, 
/* ProtocolAdminInfo, */
OversightInfo,
ProtocolAdminInfo>DatedAction,
ProtocolApproval,
ProtocolLeadOrg,
ProtocolSources,
ProtocolSpecialCategory,
ProtocolSponsors,
RegulatoryInformation,
VerificationInfo,
#VoluntaryReview,
  {  border: solid; 
     border-color: gray;
     border-width: thin;
     margin-top: 1em;  }

ProtocolAmendmentInformation>DatedAction,
/* ProtocolAdminInfo>DatedAction, */
  {  border: none;     }

ClinicalTrialOffice,
CurrentProtocolStatus,
DateLastModified,
ExternalSite,
LeadOrgProtocolID,
MailAbstractTo,
PersonRole,
ProtocolLeadOrg,
ProtocolSites,
RegulatoryInformation,
OrgSite,
OverallContact,
PrivatePracticeSite,
  {  margin-top: 1em;    }

ProtocolApproval>Comment,
  {  margin-top: 2em;    }

CurrentOrgStatus,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSitePI,
GenericPerson,
LeadOrgPersonnel,
NIHGrantContract,
LeadOrgPersonnel>Person,
LeadOrgProtocolStatuses,
OtherGrantContractInfo,
OrgSiteContact,
ProtocolSource,
ProtocolSpecificContact,
ResponsibleParty,
SpecificPerson,
  {  margin-top: .5em;    }

CTGovOwnershipTransferContactLog,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSitePI,
FundingInfo,
PreviousOrgStatus, 
ProtocolApproval, 
ProtocolSponsors,
  {  margin-bottom: .5em;  }

ProtocolAdminInfo,
  {  margin-top: 1em;
     margin-bottom: 1em;  } 

ProtocolLeadOrg + ProtocolLeadOrg,
  {  margin-top: 3em; }


/***************************************************************************/
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */
/***************************************************************************/
/* Each tag is manually positioned to right-align                          */

/* Key element for length = NIHGrantContractType                           */
GrantContractNo,
                            { margin-left: 155pt; 
                              text-indent: -148.5pt; }
NIHGrantContractType,
                            { margin-left: 155pt; 
                              text-indent: -155pt; }
NIHGrantContract>Comment,
                            { margin-left: 155pt; 
                              text-indent: -82.5pt; }
OtherGrantContractInfo>Comment,
                            { margin-left: 155pt; 
                              text-indent: -82.5pt; }

/* Block for ProtocolSource elements                   */
ProtocolSource,
                            { margin-left:  40pt; }
SourceName,
                            { margin-left: 160pt; 
                              text-indent: -57pt; }
SubmissionMethod,
                            { margin-left: 160pt;
                              text-indent: -134pt; }
ProtocolSource>DateReceived,
                            { margin-left: 160pt; 
                              text-indent: -98pt; }
DateSubmissionComplete,
                            { margin-left: 160pt; 
                              text-indent: -150.5pt; }
MergeByDate,
                            { margin-left: 160pt; 
                              text-indent: -102pt; }
ProtocolSource>Comment,
                            { margin-left: 160pt;
                              text-indent: -82.5pt; }

/* Key element for length = ReimbursementApprovalType   */
ReviewApprovalType,
                            { margin-left: 200pt; 
                              text-indent: -144pt; }
ReimbursementApprovalType,
                            { margin-left: 200pt; 
                              text-indent: -193.5pt; }
ProtocolApproval>Comment,
                            { margin-left: 200pt; 
                              text-indent: -82.5pt; }

/* Block for VoluntaryReview elements                   */
VoluntaryReview,
                            { margin-left:  40pt; }
ReviewStatus,
                            { margin-left: 160pt; 
                              text-indent: -97.5pt; }
ReviewStatusDate,
                            { margin-left: 160pt; 
                              text-indent: -127pt; }
Reviewer,
                            { margin-left: 160pt; 
                              text-indent: -84pt; }
DateSentForReview,
                            { margin-left: 160pt; 
                              text-indent: -71.5pt; }
DueDate,
                            { margin-left: 160pt; 
                              text-indent: -68pt; }
VoluntaryReview>Comment,
                            { margin-left: 160pt; 
                              text-indent: -78pt; }
VoluntaryReview>EnteredBy,
                            { margin-left: 160pt; 
                              text-indent: -79.5pt; }

/* Block for OversightInfo elements                   */
RegulatoryAuthority,
                            { margin-left:  200pt; 
                              text-indent: -144pt; }
IRBInfo,
                            { margin-left:  40pt; }
IRBApproved,
                            { margin-left:  160pt; 
                              text-indent:  -96pt; }
IRBApprovalForm,
                            { margin-left:  160pt; 
                              text-indent: -129pt; }

/* Key element for length = AmendmentDate   */
SponsorName,
                            { margin-left: 90pt; 
                              text-indent: -75pt; }
ProtocolSponsors>Comment,
                            { margin-left: 90pt; 
                              text-indent: -82.5pt; }
SpecialCategory,
                            { margin-left: 100pt;
                              text-indent: -68pt; }
ProtocolSpecialCategory>Comment,
                            { margin-left: 100pt;
                              text-indent: -82.5pt; }

/* Key element for length = CurrentProtocolStatus */
CompletionDate,
                            { margin-left: 150pt;
                              text-indent: -87pt; } 
CurrentProtocolStatus,
                            { margin-left: 150pt;
                              text-indent: -151pt; } 
StartDate,
                            { margin-left: 150pt;
                              text-indent: -86.5pt; } 
LeadOrganizationID,
                            { margin-left: 100pt; 
                              text-indent: -88pt; }
LeadOrgRole,
                            { margin-left: 100pt; 
                              text-indent: -42pt; }
LeadOrgProtocolID,
                            { margin-left: 100pt; 
                              text-indent: -88.5pt; }
StatusName,
                            { margin-left: 100pt; 
                              text-indent: -52.5pt; }
StatusDate,
                            { margin-left: 100pt; 
                              text-indent: -82pt; }
LeadOrgProtocolStatuses>CurrentOrgStatus>Comment,
                              { margin-left: 100pt; 
                              text-indent: -82.5pt; }
LeadOrgProtocolStatuses>PreviousOrgStatus>Comment,
                              { margin-left: 100pt; 
                              text-indent: -82.5pt; }
LeadOrgProtocolStatuses>CurrentOrgStatus>EnteredBy,
                              { margin-left: 100pt; 
                              text-indent: -79.5pt; }
LeadOrgProtocolStatuses>CurrentOrgStatus>EntryDate,
                              { margin-left: 100pt; 
                              text-indent: -76pt; }
LeadOrgProtocolStatuses>PreviousOrgStatus>EnteredBy,
                              { margin-left: 100pt; 
                              text-indent: -79.5pt; }
LeadOrgProtocolStatuses>PreviousOrgStatus>EntryDate,
                              { margin-left: 100pt; 
                              text-indent: -76pt; }
PersonRole,
                            { margin-left: 100pt; 
                              text-indent: -52pt; }

/* Key element for length = OrgSiteID (130)  */
OrgSiteID,
                            { margin-left: 100pt;
                              text-indent: -88pt; }
OrgSiteStatus,
                            { margin-left: 100pt;
                              text-indent: -52.5pt;}
ClinicalTrialOffice   
                            { margin-left: 100pt; 
                              text-indent:  -96.0pt; }
Person                
                            { margin-left: 100pt; 
                              text-indent:  -72pt; }
Role                  
                            { margin-left: 100pt; 
                              text-indent:  -42pt; }
SpecificPhone         
                            { margin-left: 100pt; 
                              text-indent:  -58pt; }
SpecificEmail         
                            { margin-left: 100pt; 
                              text-indent:  -70pt; }
INDGrantor            
                            { margin-left: 130pt; 
                              text-indent:  -83.5pt; }
INDNumber             
                            { margin-left: 130pt; 
                              text-indent:  -85.5pt; }
INDSerialNumber       
                            { margin-left: 130pt; 
                              text-indent: -96.0pt; }
INDSubmissionDate    
                            { margin-left: 130pt; 
                              text-indent: -118.0pt; }

/* Key element for length = PoliticalSubUnit_State */
PersonTitle,
                            { margin-left: 100pt;
                              text-indent: -39pt; }
PrivatePracticeSiteID,
                            { margin-left: 100pt;  
                              text-indent: -66.5pt; }
PrivatePracticeSiteStatus,
                            { margin-left: 100pt;  
                              text-indent: -76.5pt; }
MailAbstractTo,
                            { margin-left: 100pt;
                              text-indent: -94.5pt; }
UpdateMode,
                            { margin-left: 100pt;
                              text-indent: -100pt; }


/* Elements for block VerificationInfo */
VerificationDate,
                            { margin-left: 140pt; 
                              text-indent: -109.5pt; }
VerificationInfo>Comment,
                            { margin-left: 140pt; 
                              text-indent: -78pt; }
VerificationInfo>EnteredBy,
                            { margin-left: 140pt; 
                              text-indent: -79.5pt; }

/* Key element for length = DateLastModified   */
DateLastModified,
                            { margin-left: 100pt;
                              text-indent: -96.5pt; }
PdqKey,
                            { margin-left: 100pt;
                              text-indent: -72pt; }

/* Key element for length = DateLastModified  */
ExternalSite,
                            { margin-left: 20pt; 
                              text-indent: 0pt; }
ExternalSiteOrg,
                            { margin-left: 0pt; 
                              text-indent: 0pt; }
ExternalSiteOrgID,
                            { margin-left: 100pt; 
                              text-indent: -91pt; }
ExternalSiteName,
                            { margin-left: 100pt; 
                              text-indent: -68.5pt; }
ExternalID,
                            { margin-left: 100pt; 
                              text-indent: -79pt; }
ExternalSiteRegDate,
                            { margin-left: 100pt; 
                              text-indent: -85pt; }
ExternalSiteRegStatus,
                            { margin-left: 100pt; 
                              text-indent: -103pt; }
ExternalSiteAddress,
                            { margin-left: 0pt; 
                              text-indent: 0pt; }
ExternalSiteAddress > Street,
                            { margin-left: 100pt; 
                              text-indent: -64pt; }
ExternalSiteAddress > City,
                            { margin-left: 100pt; 
                              text-indent: -43pt; }
ExternalSiteAddress > CitySuffix,
                            { margin-left: 100pt; 
                              text-indent: -53pt; }
ExternalSiteAddress > PoliticalSubUnit_State,
                            { margin-left: 100pt; 
                              text-indent: -95pt; }
ExternalSiteAddress > PostalCode_ZIP,
                            { margin-left: 100pt; 
                              text-indent: -90pt; }
ExternalSiteAddress > Country,
                            { margin-left: 100pt; 
                              text-indent: -57.5pt; }
ExternalSitePI,
                            { margin-left: 0pt; 
                              text-indent: 0pt; }
ExternalSitePIID,
                            { margin-left: 100pt; 
                              text-indent: -81pt; }
ExternalSitePIPhone,
                            { margin-left: 100pt; 
                              text-indent: -101pt; }
ExternalSiteContact,
                            { margin-left: 0pt; 
                              text-indent: 0pt; }
ExternalSiteContactName,
                            { margin-left: 0pt; 
                              text-indent: 0pt; }
PersonFirstName,
                            { margin-left: 100pt; 
                              text-indent: -82pt; }
PersonMiddleName,
                            { margin-left: 100pt; 
                              text-indent: -94pt; }
PersonLastName,
                            { margin-left: 100pt; 
                              text-indent: -76.5pt; }
PersonSuffix,
                            { margin-left: 100pt; 
                              text-indent: -107pt; }
ExternalSiteContactPhone,
                            { margin-left: 100pt; 
                              text-indent: -96pt; }
ExternalSiteContactTitle,
                            { margin-left: 100pt; 
                              text-indent: -68pt; }
ProcessingPriority,
                            { margin-left: 110pt; 
                              text-indent: -139.5pt; }

ProcessingStatus,
                            { margin-left: 110pt;
                              text-indent: -130.5pt; }

DelayedPosting              { margin-left:  160pt;
                              text-indent: -114pt; }
FDARegulated                { margin-left:  160pt;
                              text-indent: -102pt; }
ResponsibleParty            { margin-left:  160pt;
                              text-indent: -121pt; }
ResponsiblePerson           { margin-left:    0pt;
                              text-indent: -100pt; }
ResponsiblePerson       > Person,
                            { margin-left:    0pt;
                              text-indent:  -72pt; }
ResponsibleOrganization     { margin-left:    0pt;
                              text-indent: -100pt; }
ResponsibleOrganization > Organization,
                            { margin-left:    0pt;
                              text-indent:  -88pt; }
ResponsibleOrganization > PersonTitle,
                            { margin-left:    0pt;
                              text-indent:  -40pt; }
ResponsibleOrganization > SpecificPhone,
ResponsiblePerson       > SpecificPhone,
                            { margin-left:    0pt; 
                              text-indent:  -58pt; }
ResponsibleOrganization > SpecificEmail,
ResponsiblePerson       > SpecificEmail,
                            { margin-left:    0pt; 
                              text-indent:  -70pt; }
Section801                  { margin-left:  160pt;
                              text-indent:  -87pt; }

CTGovOwnerOrganization      { margin-left:  150pt; 
                              text-indent: -130pt; }
PRSUserName                 { margin-left:  150pt; 
                              text-indent: -107pt; }
CTGovOwnershipTransferDate  { margin-left:  150pt; 
                              text-indent:  -93pt; }
CTGovOwnershipTransferContactResponse
                            { margin-left:  160pt;
                              text-indent: -122pt; }
Date                        { margin-left:  160pt;
                              text-indent:  -42pt; }
CTGovOwnershipTransferContactLog>Comment,
                            { margin-left: 160pt;
                              text-indent: -82.5pt; }

/* Margin-bottom for simulated text boxes                                  */
ClinicalTrialOffice,
ExternalSiteAddress > Country,
LeadOrgProtocolStatuses > Comment, 
VerificationInfo > Comment, 
VoluntaryReview > Comment, 
CTGovOwnershipTransferContactResponse,
CTGovOwnershipTransferDate,
CTGovOwnershipTransferInfo,
CTGovOwnerOrganization,
CurrentOrgStatus, 
CurrentProtocolStatus,
Date,
DateLastModified, 
DateSentForReview,
DateSubmissionComplete,
DelayedPosting,
DueDate,
EnteredBy, 
VerificationInfo > EnteredBy, 
VoluntaryReview > EnteredBy, 
EntryDate, 
ExternalID,
ExternalSite,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSiteContactName,
ExternalSiteContactPhone,
ExternalSiteContactTitle,
ExternalSiteName,
ExternalSiteOrg,
ExternalSiteOrgID,
ExternalSitePI,
ExternalSitePIID,
ExternalSitePIName,
ExternalSitePIPhone,
ExternalSiteRegDate,
ExternalSiteRegStatus,
FDARegulated,
FundingInfo, 
GenericPerson, 
GenericPersonContact, 
GrantContractNo,
INDGrantor,
INDNumber,
INDSerialNumber,
INDSubmissionDate,
InScopeProtocol,  
IRBApprovalForm,
IRBApproved,
IRBInfo,
LeadOrganizationID, 
LeadOrgPersonnel,
LeadOrgProtocolID, 
LeadOrgProtocolStatuses, 
LeadOrgRole, 
MailAbstractTo, 
MergeByDate,
NIHGrantContract, 
NIHGrantContractType,  
Organization,
OrgSite, 
OrgSiteContact, 
OrgSiteID, 
OrgSiteStatus, 
OtherGrantContractInfo, 
PdqKey, 
Person, 
PersonFirstName,
PersonLastName,
PersonMiddleName,
PersonRole, 
PersonSuffix,
PersonTitle, 
PreviousOrgStatus, 
PrivatePracticeSiteID, 
PrivatePracticeSiteStatus,
ProcessingPriority,
ProtocolAdminInfo, 
ProtocolApproval, 
ProtocolLeadOrg, 
ProtocolPersonnel, 
ProtocolSites,
ProtocolSources, 
ProtocolSpecialCategory, 
ProtocolSpecificContact, 
ProtocolSponsors, 
PRSUserName,
RegulartoryAuthority,
ReimbursementApprovalType, 
ResponsibleOrganization,
ResponsibleParty,
ResponsiblePerson,
ReviewApprovalType, 
Reviewer,
ReviewStatus,
ReviewStatusDate,
Role, 
Section801,
SourceName, 
SpecialCategory, 
SpecificPerson,
SpecificEmail,
SpecificPhone,  
SponsorName, 
StatusDate, 
StatusName, 
SubmissionMethod,
UpdateMode,
VerificationDate,
  {  margin-bottom: 4pt; }


CompletionDate,
CTGovOwnershipTransferContactResponse,
CTGovOwnerOrganization,
CurrentProtocolStatus,
GrantContractNo,
INDGrantor,
LeadOrganizationID,
NIHGrantContractType,
Organization,
OrgSiteID,
Person,
PersonTitle,
PrivatePracticeSiteID,
ReviewApprovalType,
SpecialCategory,
SponsorName,
SourceName,
StartDate,
StatusName,
SubmissionMethod,
  {  margin-top: 4pt; }



/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 
ExternalSiteAddress > Country,
ClinicalTrialOffice,
CurrentProtocolStatus,
CTGovOwnershipTransferContactResponse,
CTGovOwnerOrganization,
CTGovOwnershipTransferDate,
Date,
DateLastModified, 
DateSentForReview,
DateSubmissionComplete,
DelayedPosting,
DueDate,
EnteredBy, 
EntryDate, 
ExternalID,
ExternalSite,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSiteContactName,
ExternalSiteContactPhone,
ExternalSiteContactTitle,
ExternalSiteName,
ExternalSiteOrg,
ExternalSiteOrgID,
ExternalSitePI,
ExternalSitePIID,
ExternalSitePIName,
ExternalSitePIPhone,
ExternalSiteRegDate,
ExternalSiteRegStatus,
FDARegulated,
GrantContractNo,
INDGrantor,
INDNumber,
INDSerialNumber,
INDSubmissionDate,
IRBApproved,
IRBApprovalForm,
IRBInfo,
InScopeProtocol,
LeadOrganizationID, 
LeadOrgProtocolID, 
LeadOrgRole,
MailAbstractTo,  
MergeByDate,
NIHGrantContractType,  
Organization,
OrgSiteID, 
OrgSiteStatus,
PdqKey, 
Person, 
PersonFirstName,
PersonLastName,
PersonMiddleName,
PersonRole, 
PersonSuffix,
PersonTitle, 
ProcessingPriority,
PrivatePracticeSiteID, 
PrivatePracticeSiteStatus,
ProtocolSpecificContact,
PRSUserName,
RegulatoryAuthority,
RegulatoryInformation,
ReimbursementApprovalType, 
ResponsibleOrganization,
ResponsibleParty,
ResponsiblePerson,
ReviewApprovalType, 
Reviewer,
ReviewStatus,
ReviewStatusDate,
Role, 
Section801,
SourceName, 
SpecialCategory,
SpecificEmail,
SpecificPhone,  
SponsorName, 
StatusDate, 
StatusName, 
SubmissionMethod,
UpdateMode,
VerificationDate,
  {  background-color: white; }


/* **********************************************************************/
/* Blue = Administrative Information                                    */
/* **********************************************************************/
ClinicalTrialOffice          :before,
CTGovOwnershipTransferContactLog,
CTGovOwnershipTransferContactResponse
                             :before,
CTGovOwnershipTransferInfo,
CTGovOwnershipTransferDate   :before,
CTGovOwnerOrganization       :before,
Date                         :before,
DateSentForReview            :before,
DateSubmissionComplete       :before,
DelayedPosting               :before,
DueDate                      :before,
EndDateTime                  :before,
CTGovOwnershipTransferContactLog>Comment 
                             :before,
CTGovOwnershipTransferInfo>Comment 
                             :before,
FundingInfo>NIHGrantContract>Comment 
                             :before,
FundingInfo>OtherGrantContractInfo>Comment 
                             :before,
LeadOrgProtocolStatuses>CurrentOrgStatus>Comment 
                             :before,
LeadOrgProtocolStatuses>PreviousOrgStatus>Comment 
                             :before,
ProtocolAdminInfo>Comment    :before,
ProtocolApproval>Comment     :before,
ProtocolSource>Comment       :before,
ProtocolSpecialCategory>Comment      
                             :before,
ProtocolSponsors>Comment     :before,
VerificationInfo>Comment     :before,
VoluntaryReview>Comment      :before,
/* CurrentProtocolStatus:before, */
ExternalSiteAddress > Country:before,
ProtocolSource>DateReceived  :before,
LeadOrgProtocolStatuses>CurrentOrgStatus>EnteredBy  
                             :before,
LeadOrgProtocolStatuses>PreviousOrgStatus>EnteredBy 
                             :before,
VerificationInfo>EnteredBy   :before,
VoluntaryReview>EnteredBy    :before,
LeadOrgProtocolStatuses>CurrentOrgStatus>EntryDate  :before,
LeadOrgProtocolStatuses>PreviousOrgStatus>EntryDate :before,
ProtocolProcessingDetails>EnteredBy  :before,
ExternalID                   :before,
ExternalSite,
ExternalSiteAddress,
ExternalSiteContact,
ExternalSiteContactName,
ExternalSiteContactPhone     :before,
ExternalSiteContactTitle     :before,
ExternalSiteName             :before,
ExternalSiteOrg,
ExternalSiteOrgID            :before,
ExternalSitePI,
ExternalSitePIID             :before,
ExternalSitePIName,
ExternalSitePIPhone          :before,
ExternalSiteRegDate          :before,
ExternalSiteRegStatus        :before,
ExternalSites,
FDAINDInfo,
FDARegulated                 :before,
FundingInfo, 
GrantContractNo              :before,
INDGrantor                   :before,
INDNumber                    :before,
INDSerialNumber              :before,
INDSubmissionDate            :before,
IRBApproved                  :before,
IRBApprovalForm              :before,
IRBInfo,
LeadOrganizationID           :before,
LeadOrgProtocolID            :before,
LeadOrgRole                  :before,
MailAbstractTo               :before,
MergeByDate                  :before,
MissingInformation           :before,
NIHGrantContractType         :before,
Organization                 :before,
OrgSiteID                    :before,
OrgSiteStatus                :before,
OversightInfo,
Person                       :before,
OrgSiteContact>SpecificPerson>Person :before,
PersonFirstName              :before,
PersonLastName               :before,
PersonMiddleName             :before,
PersonRole                   :before,
PersonSuffix                 :before,
PersonTitle                  :before,
PrivatePracticeSiteID        :before,
PrivatePracticeSiteStatus    :before,
/* ProtocolAdminInfo, */
ProcessingPriority           :before,
ProtocolApproval,
ProtocolLeadOrg,
ProtocolSources,
ProtocolSpecialCategory,
ProtocolSpecificContact,
ProtocolSponsors,
PRSUserName                  :before,
RegulatoryAuthority          :before,
RegulatoryInformation,
ReimbursementApprovalType    :before,
ResponsibleOrganization      :before,
ResponsibleOrganization,
ResponsibleParty,
ResponsiblePerson,
ReviewApprovalType           :before,
Reviewer                     :before,
ReviewStatus                 :before,
ReviewStatusDate             :before,
Role                         :before,
OrgSiteContact>SpecificPerson>Role   :before,
Section801                   :before,
SourceName                   :before,
SpecialCategory              :before,
SpecificEmail                :before,
SpecificPhone                :before,
SponsorName                  :before,
StartDateTime                :before,
StatusDate                   :before,
StatusName                   :before,
SubmissionMethod             :before,
UpdateMode                   :before,
User                         :before,
VerificationDate             :before,
VerificationInfo,
  {  background-color: #CCCCFF; }  /*light blue*/


CompletionDate               :before,
CurrentProtocolStatus        :before,
DateLastModified             :before,
PdqKey                       :before,
ProtocolAdminInfo            :before,
StartDate                    :before,
  {  font-weight: bold;
     color: navy;         }


/* Green = Scientific Information                                       */
/* **********************************************************************/
ProtocolAmendmentInformation>DatedAction>ActionDescription:before,
ProtocolAmendmentInformation>DatedAction>ActionDate:before,
ProtocolAmendment>Comment:before,
ProtocolAmendmentInformation>DatedAction,
ProtocolAmendmentInformation>DatedAction>Comment:before,

  {  background-color: #CCFFCC; }  /*light green*/

/* Sample for testing when we need to adjust elements on white background
DateLastModified:before,
PdqKey:before,
  {  background-color: yellow; }
DateLastModified,
PdqKey,
  {  background-color: red; }
*/
