/*************************************************************************/
/* 	PoliticalSubUnit.css                                             */
/*                                                                       */
/*      v. 2.2                                                           */
/*      1/15/02  by ebator                                               */
/*      Added notations for required *, optional &, multiple +           */
/*                                                                       */
/*      v. 2.1                                                           */
/*      12/17/01 by ebator                                               */
/*      Moved Country                                                    */
/*      Schema frozen                                                    */
/*                                                                       */
/*      v. 2.0                                                           */
/*      12/06-07/01 by ebator                                            */
/*      Edited to import the common schema elements                      */
/*                                                                       */
/*      v. 1.0                                                           */
/*      12/04/01 by ebator                                               */
/*      Based on the new PoliticalSubUnit schema dated 12/03/01.         */
/*                                                                       */
/*                                                                       */
/*************************************************************************/



/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 

@import "CdrCommonSchema.css";

$DOCUMENT 

     { font-family: "Arial", sans serif;
       font-size: 12pt;
       margin-top: 5px;
       margin-left: 5px;
       color:black;         }

$COMMENT 

     { display: block;
       color: purple;
       white-space: pre; }

$PROCINS 

     { color: blue;
       background-color: white; }

PoliticalSubUnit,

     { background-color: #CCCCFF; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
  

Country,
DateLastModified,
PdqKey,
PoliticalSubUnit,
PoliticalSubUnitAlternateName,
PoliticalSubUnitFullName,
PoliticalSubUnitShortName,

	{ display: block; }



/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 


/* * = Required field */
/* + = Multiply-occurring field */
/* @ = Attribute assigned to element */
/* & = Optional element */


Country:before				{ content: "Country * @: "; }
DateLastModified:before			{ content: "Last Modified &: "; }
PdqKey:before				{ content: "PDQ Key &: "; }
PoliticalSubUnitAlternateName:before	{ content: "Alternate Name & +: "; }
PoliticalSubUnitFullName:before		{ content: "Full Name* : "; }
PoliticalSubUnitShortName:before	{ content: "Short Name &: "; }



/***************************************************************************/ 
/*                         BORDERED SECTIONS                               */
/***************************************************************************/
 

/***************************************************************************/ 
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */ 
/***************************************************************************/ 


Country:before,
DateLastModified:before,
PdqKey:before,
PoliticalSubUnitAlternateName:before,
PoliticalSubUnitFullName:before,
PoliticalSubUnitShortName:before,


   {  font-weight: bold;
      color: black;  }



/***************************************************************************/ 
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */ 
/***************************************************************************/ 

/* Each tag is manually positioned to right-align                          */



/* Key element for length = PoliticalUnitAlternateName                     */

PoliticalSubUnitAlternateName,		{ margin-left: 120pt; 
					  text-indent: -116pt; }
PoliticalSubUnitFullName,		{ margin-left: 120pt; 
					  text-indent: -72pt; }
PoliticalSubUnitShortName,		{ margin-left: 120pt; 
					  text-indent: -87pt; }
Country,				{ margin-left: 120pt; 
					  text-indent: -76.5pt; }

/* Key element for length = DateLastModified				   */

DateLastModified,			{ margin-left: 100pt;
					  text-indent: -96pt; }
PdqKey,					{ margin-left: 100pt;
					  text-indent: -71pt; }

DateLastModified,
Country,
PdqKey,
PoliticalSubUnitAlternateName,
PoliticalSubUnitFullName,
PoliticalSubUnitShortName,

	{ margin-bottom: 4pt; }

PoliticalSubUnitFullName,

	{ margin-top: 8pt; }

Country,

	{ margin-top: 10pt; }

DateLastModified,

	{ margin-top: 2em; }


/***************************************************************************/ 
/*                               COLOR                                     */ 
/***************************************************************************/ 


DateLastModified,
Country,
PdqKey,
PoliticalSubUnitAlternateName,
PoliticalSubUnitFullName,
PoliticalSubUnitShortName,

	{ background-color: white; }


DateLastModified:before,
Country:before,
PdqKey:before,
PoliticalSubUnitAlternateName:before,
PoliticalSubUnitFullName:before,
PoliticalSubUnitShortName:before,

	{ background-color: #CCCCFF; }
