/*************************************************************************/
/*     ScientificProtocolInfo_structure.css                              */
/*                                                                       */
/*      v. 3.3                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 3.2                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/* 	    v. 3.1                                                           */
/*      1/7/02  by ebator                                                */
/* 	    Edited to accommodate 12/21/01 schema changes (Common)           */
/* 	                                                                     */
/* 	    v. 3.0                                                           */
/*      12/10-11/01  by ebator                                           */
/* 	    Edited to import CommonProtocolInfo_structure.css and            */
/*          CdrCommonSchema_structure.css                                */
/* 	                                                                     */
/* 	    v. 2.1                                                           */
/*      12/05/01  by ebator                                              */
/* 	    Edited for schema changes from 11/13/01                          */
/* 	                                                                     */
/* 	    v. 2.0                                                           */
/*      11/02-08/01  by ebator                                           */
/* 	    Changes for the Forms model; schema changes 8/31-11/2            */
/* 	                                                                     */
/*      v. 1.1                                                           */
/*      9/24/01  by ebator                                               */
/*      Make all tags black; display:none common elements ;              */
/*      add para, table, and lists to structure                          */
/*                                                                       */
/*      V. 1.0                                                           */
/*      9/10/01  by ebator                                               */
/*      Based on the 9/10/01 ScientificProtocolInfo.css,                 */
/*      Elements matched to the 8/31/01 InScopeProtocol.css (assuming    */
/*      that the ScientificProtocolInfo schema will eventually be        */
/*      updated)                                                         */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/
/*                     DEFAULT PROPERTIES                                 */
/**************************************************************************/
@import "CdrCommonSchema_structure.css";
@import "CommonProtocolInfo_structure.css";

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*	{ white-space: nowrap;
	  text-align: left;
	  margin-left: 10px;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  font-family: Arial, sans-serif;
	  font-size: 10pt; 
	  font-style: normal;
	  font-weight: bold;
	  color: black; }

/* top-level elements */

$DOCUMENT > * 

     { margin-left: 0px;  }

$PROCINS 

     { color: white;
       font-weight: normal;
       background-color: white;}

ScientificProtocolInfo,

	{ background-color: white; }


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 

DateLastModified,
PdqKey,
ScientificProtocolInfo,
   { display: block; }


/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 

DateLastModified       :before { content: "Last Modified "; }
PdqKey                 :before { content: "PDQ Key "; }
ScientificProtocolInfo :before { content: "SCIENTIFIC PROTOCOL INFORMATION "; }


/***************************************************************************/ 
/*                     TAG PROPERTIES FOR SECTION HEADINGS                 */ 
/***************************************************************************/ 
ScientificProtocolInfo:before	
   { font-weight: bold;
     color: black;      }


/***************************************************************************/ 
/*                     TAG PROPERTIES FOR TEXT INPUT FIELDS                */ 
/***************************************************************************/ 
DateLastModified:before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/ 
/*         TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS        */ 
/***************************************************************************/ 
PdqKey:before,
   {  font-weight: bold;
      color: black;  }


/***************************************************************************/ 
/*                           BORDER CONTROL                                */
/***************************************************************************/
ProtocolAmendmentInformation>DatedAction,
   {  border: none;  }


/***************************************************************************/ 
/*                     NON-DISPLAY ELEMENTS                                */ 
/***************************************************************************/ 
Para,
     { display:  none;   }


/***************************************************************************/ 
/*                             HIDE TEXT                                   */ 
/***************************************************************************/ 
DateLastModified,
PdqKey,
   {  color: white;
      background-color: white;  }
  

EnteredBy:before,
EntryDate:before,
	{ background-color: white }  


/***************************************************************************/ 
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */ 
/***************************************************************************/ 
/* Remove negative text-indent settings  */

Patient>Comment,
Professional>Comment,
DateLastModified,
PdqKey,
	{ text-indent: 0pt; }
