/*************************************************************************/
/* 	Summary_structure.css                                            */
/*                                                                       */
/*      v. 3.6                                                           */
/*      10/10/02  by ebator                                              */
/*      Added 4th and 5th level subsections                              */
/*      Removed sub-sub-sub prefix on MetaData, Diagnosis, SectionType   */
/*        since the sub-prefixes were getting cumbersome                 */
/*                                                                       */
/*      v. 3.5                                                           */
/*      7/23/02  by ebator                                               */
/*      Added PatientVersionOf element                                   */
/*                                                                       */
/*      v. 3.4                                                           */
/*      3/19/02  by ebator                                               */
/*      Changed "sans serif" to sans-serif                               */
/*                                                                       */
/*      v. 3.3                                                           */
/*      02/22/02  by ebator                                              */
/*      Syntax in Default Properties modified to work with XMetaL 3      */
/*                                                                       */
/*      v. 3.2                                                           */
/*      12/20/01  by ebator                                              */
/*      Fix paragraph numbering for new SummarySection placement         */
/*                                                                       */
/*      v. 3.1                                                           */
/*      12/18/01  by ebator                                              */
/*      Italicize subsection titles per users' request                   */
/*                                                                       */
/*      v. 3.0                                                           */
/*      12/06-07/01  by ebator                                           */
/*      Edited to import common schema elements                          */
/*                                                                       */
/*      v. 2.7                                                           */
/*      12/05/01  by ebator                                              */
/*      Added TT to before text                                          */
/*                                                                       */
/*      v. 2.6                                                           */
/*      11/09/01  by ebator                                              */
/*      Template-related cosmetic changes                                */
/*      Fixed Table Title style, Table indent                            */
/*                                                                       */
/*      v. 2.5                                                           */
/*      10/31/01  by ebator                                              */
/*      Added counter support for paras; remove for sections             */
/*                                                                       */
/*      v. 2.4                                                           */
/*      10/26/01  by ebator                                              */
/*      Edited to match schema changes                                   */
/*                                                                       */
/*      v. 2.3                                                           */
/*      10/17/01  by ebator                                              */
/*      Adjusted pt. size on metadata elements                           */
/*                                                                       */
/*      v. 2.2                                                           */
/*      10/10/01  by ebator                                              */
/*      Changed style of TranslationOf:before                            */
/*                                                                       */
/*      v. 2.1                                                           */
/*      10/09/01  by ebator                                              */
/*      Removed indented subsequent lines on form elements               */
/*                                                                       */
/*      v. 2.0                                                           */
/*      10/04/01  by ebator                                              */
/*      Form changes per LG and AD                                       */
/*                                                                       */
/*      v. 1.4                                                           */
/*      10/02/01 by ebator                                               */
/*      Counter resets and increments must be in a certain order to      */
/*      work properly                                                    */
/*                                                                       */
/*      v. 1.3                                                           */
/*      9/18/01 by ebator                                                */
/*      Updated styles per conversation with Lakshmi, Ark, Jean, Ann     */
/*                                                                       */
/*      V 1.2                                                            */
/*      9/14/01    by ebator                                             */
/*      Changed Common Elements to Display:none, except for Para         */
/*      (tables, links, etc. don't appear on blank lines in structure)   */
/*                                                                       */
/*      v 1.1                                                            */
/*      2001/09/08 10:00 am  by ebator                                   */
/*      Based on the 9/7/2001 version of the summary.css                 */
/*      Added all common elements and $PROCINS to Hide Text list         */
/*                                                                       */
/*************************************************************************/

/**************************************************************************/ 
/*                     DEFAULT PROPERTIES                                 */ 
/**************************************************************************/ 
@import "CdrCommonSchema_Structure.css";  

@sq-plus-minus;

/* @sq-structure-view-icons; */

/* @sq-start-only-tags;      */

*	{ white-space: nowrap;
	  text-align: left;
	  margin-left: 10px;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  font-family: Arial, sans-serif;
	  font-size: 10pt; 
	  font-style: normal;
	  font-weight: bold;
	  color: black; }

/* top-level elements */

$DOCUMENT > * 
     { margin-left: 0px;  }

$PROCINS 
     { color: white;
       font-weight: normal;
       background-color: white;}


/***************************************************************************/ 
/*                           BLOCK ELEMENTS                                */ 
/***************************************************************************/ 
AltTitle,
Board, 
BoardMember, 
Caption,
ComprehensiveReviewDate,
DateLastModified,
Diagnosis, 
KeyPoint, 
MainTopics,
MediaID,
MediaLink,
PatientVersionOf, 
PDQBoard,
PdqKey, 
QandADiv,
QandAEntry,
QandASet,
SecondaryTopics, 
SectMetaData,
SectionType,
SummaryAudience, 
SummaryDescription,
SummaryLanguage, 
SummaryMetaData, 
SummarySection,
SummarySection>Comment,
SummaryTitle, 
SummaryType, 
SummaryURL,
Term, 
Title, 
TranslationOf,
ReplacementFor
    { display: block; }



/***************************************************************************/ 
/*                       BEFORE AND AFTER TAGS                             */ 
/***************************************************************************/ 
AltTitle:before			{ content: "Alternate Title "; }
Board:before			{ content: "Summary Board "; }
BoardMember:before		{ content: "Board Member "; }
Caption:before          { content: "Caption "; }
ComprehensiveReviewDate:before
                        { content: "Last Reviewed"; }
DateLastModified:before	{ content: "Last Modified"; }
Diagnosis:before		{ content: "Diagnosis "; }
KeyPoint:before			{ content: "Key Point "; }
MainTopics:before		{ content: "Main Topics "; }
MediaID:before          { content: "MediaID "; }
MediaLink:before        { content: "MEDIALINK "; }
Para:before	            { content: counter(para)". Paragraph "; }
SummarySection>SummarySection>Para:before
                        { content: counter(subpara)". Subparagraph "; }
PatientVersionOf:before	{ content: "Patient Version Of "; }
PDQBoard:before			{ content: "PDQ Board "; }
PdqKey:before			{ content: "PDQ Key "; }
QandASet:before         { content: "Q&A Section "; }
QandADiv:before         { content: "Q&A Sub-Section "; }
QandAEntry:before       { content: counter(qanda)". Q&A Entry "; }
SecondaryTopics:before 	{ content: "Secondary Topics " }
SectMetaData:before		{ content: "Section Metadata "; }
SectionType:before		{ content: "Section Type "; }
Summary:before			{ content: "SUMMARY "; }
SummaryID:before		{ content: "Summary ID "; }
SummaryAudience:before	{ content: "Summary Audience "; }
SummaryDescription:before { content: "Summary Description "; }
SummaryLanguage:before	{ content: "Summary Language "; }
SummaryMetaData:before	{ content: "SUMMARY METADATA "; }
SummaryType:before		{ content: "Summary Type "; }
SummaryURL:before		{ content: "Summary URL "; }
SummarySection:before	{ content: "Section "; }
SummarySection>Comment:before 
                        { content: "Comment "; }
SummarySection>SummarySection:before
				        { content: "Sub-section "; }
SummarySection>SummarySection>SummarySection:before
				        { content: "Sub-sub-section "; }
SummarySection>SummarySection>SummarySection>SummarySection:before
				        { content: "Sub-sub-sub-section "; }
SummarySection>SummarySection>SummarySection>SummarySection>SummarySection:before
				        { content: "Sub-sub-sub-sub-section "; }
SummaryTitle:before		{ content: "SUMMARY TITLE "; }
Term:before	            { content: "Term "; }
SummarySection>Title:before	{ content: "Section Title "; }
SummarySection>SummarySection>Title:before   
				        { content: "Sub-section Title "; }
SummarySection>SummarySection>SummarySection>Title:before   
				        { content: "Sub-sub-section Title "; }
SummarySection>SummarySection>SummarySection>SummarySection>Title:before   
				        { content: "Sub-sub-sub-section Title "; }
SummarySection>SummarySection>SummarySection>SummarySection>SummarySection>Title:before   
	        			{ content: "Sub-sub-sub-sub-section Title "; }
TranslationOf:before	{ content: "Translation Of "; }
ReplacementFor:before	{ content: "Replacement For "; }


/***************************************************************************/ 
/*                     COUNTER DEFINITIONS                                 */ 
/***************************************************************************/ 
SummarySection,
	{ counter-reset: para; }

Para,
	{ counter-increment: para; }


SummarySection>SummarySection,
	{ counter-reset: subpara; }

SummarySection>SummarySection>Para,
	{ counter-increment: subpara; }

QandADiv,
    { counter-reset: qanda; }

QandAEntry,
    { counter-increment: qanda; }

/***************************************************************************/ 
/*                             HEADINGS                                    */ 
/***************************************************************************/ 
MainTopics:before,
PDQBoard:before,
SecondaryTopics:before,
SectMetaData:before,
Summary:before,
SummaryMetaData:before,
SummaryTitle:before,
     { color: black; 
       font-weight: bold; }

SummarySection:before,
     { color: navy;
       font-weight: bold; }

Board:before,
BoardMember:before,
MainTopics:before,
PDQBoard:before,
SecondaryTopics:before,
SummaryAudience:before,
SummaryDescription:before,
SummaryLanguage:before,
SummaryType:before,
SummaryURL:before,
Term:before,
	{ font-size: 10pt; }

SummarySection>Comment:before 
    { color: black; 
      background-color: white; }

SummarySection>SummarySection>Title:before,
SummarySection>SummarySection>Title,
	{ font-style: italic; }


/***************************************************************************/ 
/*      TAG PROPERTIES FOR ENUMERATED VALUES AND PICKLIST FIELDS           */ 
/***************************************************************************/ 
Board:before,
BoardMember:before,
Diagnosis:before,
PatientVersionOf:before,
PdqKey:before,
SectionType:before,
SummaryAudience:before, 
SummaryDescription:before, 
SummaryLanguage:before,
SummaryType:before, 
SummaryURL:before, 
Term:before,
TranslationOf:before,
     { color: black; 
       font-weight: bold; }


/***************************************************************************/ 
/*                 TAG PROPERTIES FOR TEXT INPUT FIELDS                    */ 
/***************************************************************************/ 
AltTitle:before,
Caption:before,
ComprehensiveReviewDate:before,
DateLastModified:before,
KeyPoint:before,
MediaID:before,
PatientVersionOf:before,
SummarySection>Para:before,
SummarySection>SummarySection>Para:before,
Title:before,
TranslationOf:before,
ReplacementFor:before
     { color: black; 
       font-weight: bold; 
       font-size: 10pt; }

Title,
     { color: black;  
       font-weight: normal;  }


/***************************************************************************/ 
/*                            BORDER CONTROL                               */ 
/***************************************************************************/ 
MediaLink,
SummaryMetaData,
     { border: none; }


/***************************************************************************/ 
/*                            HIDE TEXT                                    */ 
/***************************************************************************/ 
AltTitle,
Board, 
BoardMember,
Caption,
Comment,
ComprehensiveReviewDate,
DateLastModified,
Diagnosis, 
KeyPoint, 
MainTopics,
MediaID,
PatientVersionOf,
PDQBoard,
PdqKey, 
SecondaryTopics, 
SectMetaData,
SectionType,
SummaryAudience, 
SummaryDescription,
SummaryLanguage, 
SummaryMetaData, 
SummarySection, 
SummarySection>SummarySection, 
SummarySection>SummarySection>Para, 
SummaryTitle, 
SummaryType,
SummaryURL,
Term, 
/*Title, */
TranslationOf,
ReplacementFor,
     { color: white;
       background-color: white; }



/***************************************************************************/ 
/*                     MARGINS FOR ALIGNING TAGS AND TEXT                  */ 
/***************************************************************************/ 

/* Remove negative text-indent settings  */



/***************************************************************************/ 
/*                            FORM CONTROL                                 */ 
/***************************************************************************/ 
Board:before,
BoardMember:before,
SummaryAudience:before,
SummaryDescription:before,
SummaryLanguage:before,
SummaryType:before,
SummaryURL:before,
MainTopics>Term:before,
SecondaryTopics>Term:before,
	{ background-color: white; }


Board,
BoardMember,
Caption,
ComprehensiveReviewDate
DateLastModified,
MainTopics>Term,
MediaID,
PatientVersionOf,
ReplacementFor,
SecondaryTopics>Term,				
SummaryAudience,
SummaryDescription,
SummaryLanguage,
SummaryType,
SummaryURL,
TranslationOf,
	{ text-indent: 0pt; }

